<!--
<div class="col-lg-4 col-md-4 col-sm-7 col-xs-12">
            <h2 class="footer_title">CORPORATE</h2>

            <ul class="personal_info">
              <li>
                <i class="fa fa-envelope"></i>
                Email : <a href="mailto:'{{con_us[0]['email']}}'">{{con_us[0]['email']}}</a>
              </li>
              <li>
                <i class="fa fa-phone"></i>
                Phone : +{{con_us[0]['phone']}}
              </li>
 
              <li>
                <i class="fa fa-map-marker"></i>
                <span>
                  Address :# {{con_us[0]['address1']}}, {{con_us[0]['address2']}} {{con_us[0]['city']}}, {{con_us[0]['state']}} {{con_us[0]['zip_code']}},{{con_us[0]['country']}}.
                </span>
              </li>
            </ul>
          </div> //-->


<div class="col-sm-4 col-md-4 col-lg-4">
        <div class="footer-title">
          Corporate
        </div>
        <ul class="footer-listing">
          <li><a href="mailto:'{{con_us[0]['email']}}'">{{con_us[0]['email']}}</a></li>
          <li><a href="tel: {{con_us[0]['phone']}}"> {{con_us[0]['phone']}}</a></li>
          <li><a>{{con_us[0]['address1']}}, {{con_us[0]['address2']}} <br> {{con_us[0]['city']}} <br> {{con_us[0]['state']}} {{con_us[0]['zip_code']}}<br>{{con_us[0]['country']}}</a></li>
        </ul>
      </div>