
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Neue Helvetica Light';
    font-style: normal;
    font-weight: normal;
    src: local('Neue Helvetica Light'), url('../fonts/helvetica/helvetica-neue-light.woff') format('woff');
    }

@font-face {
    font-family: 'Neue Helvetica Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Neue Helvetica Medium'), url('../fonts/helvetica/helvetica-neue-medium.woff') format('woff');
    }
@font-face {
    font-family: 'Neue Helvetica Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Neue Helvetica Bold'), url('../fonts/helvetica/helvetica-neue-bold.woff') format('woff');
    }
@font-face {
    font-family: 'Neue Helvetica Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Neue Helvetica Heavy'), url('../fonts/helvetica/helvetica-neue-heavy.woff') format('woff');
    }
@font-face {
    font-family: 'Neue Helvetica Black';
    font-style: normal;
    font-weight: normal;
    src: local('Neue Helvetica Black'), url('../fonts/helvetica/helvetica-neue-black.woff') format('woff');
    }

    @font-face {
        font-family: 'BentonSans';
        src: url('../fonts/BentonSans-Bold.woff2') format('woff2'),
            url('../fonts/BentonSans-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'BentonSans';
        src: url('../fonts/BentonSans-Black.woff2') format('woff2'),
            url('../fonts/BentonSans-Black.woff') format('woff');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'BentonSans';
        src: url('../fonts/BentonSans-Bold.eot');
        src: url('../fonts/BentonSans-Bold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/BentonSans-Bold.ttf') format('truetype'),
            url('../fonts/BentonSans-Bold.svg#BentonSans-Bold') format('svg');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }



    @font-face {
        font-family: 'BentonSans_black';
        src: url('../fonts/BentonSans-Bold.eot');
        src: url('../fonts/BentonSans-Bold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/BentonSans-Bold.ttf') format('truetype'),
            url('../fonts/BentonSans-Bold.svg#BentonSans-Bold') format('svg');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }




img{
	max-width: 100%;
}
.site-header {
    position: relative;
    z-index: 99999;

}
.main-bar {
    background: #062145;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px 0 rgb(0 0 0 / 30%);
}
.logo-header{
	display: table;
    float: left;
    vertical-align: middle;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 80px;
    position: relative;
    z-index: 9;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
}
.logo-header a{
	display: table-cell;
    vertical-align: middle;
}
.logo-header img {
    height: auto;
    width: 100%;
    max-width: 80px;
    vertical-align: middle;
    border:2px solid #fff;
    border-radius: 50px;
}

.menu-header{
	float: right;
    position: relative;
    height: 80px;
    z-index: 1;
    width: 400px;
    background: #fff;
    margin-right: -15px;
    /*box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);*/
}

.menu-header:before {
    left: -50px;
    width: 20%;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    transform: skew(-30deg);
}

.menu-header:after, .menu-header:before {
    background-color: #fff;
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    z-index: -1;
}
/*.menu-header:after {
    right: 10%;
    width: 200px;
}*/

.allison-logo{
	display: inline-block;
	    vertical-align: middle;
	    margin: 19px 0px;
}
.allison-logo img{
	width: 180px;
}
.navbar-toggler-menu{
	display: inline-block;
	    vertical-align: middle;
	    margin-left: 15px;
}
.navicon {
    width: 35px;
    height: 35px;
    position: relative;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.navbar-toggler {
    border: 0 solid #efbb20;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    border-radius: 50px;
    background: #EE3426;

}

.navicon span {
    display: block;
    position: relative;
    height: 2px;
    width: 100%;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.navbar-toggler span {
    background: #fff;
}
/*.navicon span:nth-child(1) {
    margin-top: 0;
}*/
.navicon span:nth-child(2) {
    margin-top: 3px;
    margin-bottom: 3px;
}

.navicon[aria-expanded="true"] span:nth-child(1) {
    top: 2px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.navicon[aria-expanded="true"] span:nth-child(2){
display: none;
}
.navicon[aria-expanded="true"] span:nth-child(3) {
    top: 0px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.call-button{
	margin-left: 15px;
	width: 35px;
    height: 35px;
    position: relative;
    font-size: 16px;
    line-height:35px;
   /* padding: 10px;*/
   text-align: center;
    border-radius: 50px;
    background: #EE3426;
    display: inline-block;
    vertical-align: middle;
}
.call-button a{
	color: #fff;
}
/*.navbar-toggler.collapsed:after{
	content: '';
	display: none;
}
.navbar-toggler:after {
    background-color: rgba(0,0,0,.6);
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    right: -20px;
    top: -63px;
    transform: scale(100);
    -o-transform: scale(100);
    -moz-transform: scale(100);
    -webkit-transform: scale(100);
    width: 100%;
    z-index: -1;
    transition: all .5s;
    transform-origin: top right;
    margin: 0 0 0 20px;
    -webkit-box-shadow: 0 0 0 1000px rgb(0 0 0 / 60%);
    box-shadow: 0 0 0 1000px rgb(0 0 0 / 60%);
}*/

.header-nav {
    position: fixed;
    width: 60px;
    right: -280px;
    height: 100vh!important;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    top: 82px;
    background-color: #fff;
    margin: 0;
    z-index: 99;
    box-shadow: 0 0 10px #ccc;
    padding: 0;
}


.header-nav.in {
    right: -1px;
    transition: all .8s;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -o-transition: all .8s;
    margin: 0;
    width: 400px;
}
.header-nav .navbar-nav{
	float: none;
}
.header-nav .nav>li {
	float: none;
	display: block;
}
.header-nav .nav>li>a{
	color: #000;
	padding: 10px 15px;
}
.header-nav .nav>li>a:focus, .nav>li>a:hover{
	background: transparent;
}

/*Slider css*/

.main-slide-area{
	position: relative;
}
.slide-item-wrap {
    padding: 150px 0px 150px;
    position: relative;
    z-index: 10;
}
.slide-item-wrap .slider-overlay {
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    position: absolute;
    background-color: #1b212f;
}
.slider-bg-img{
	position: absolute;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.slider-content{
	position: relative;
	z-index: 12;
	text-align: center;
}
.slider-img img{
	width: 250px!important;
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
.slider-content .slider-heading {
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.071;
}
.slider-content .slider-subheading {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.071;
    padding-bottom: 15px;
}

.slider-content p {
    color: #fff;
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
}


.main-slide-area .owl-dots {
    margin: 0;
    line-height: 1;
    position: absolute;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.main-slide-area .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.main-slide-area .owl-dots .owl-dot span {
    margin: 0 5px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #9b9b9b;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

.main-slide-area .owl-dots .owl-dot.active span{
	 background-color: #fff;
}

.why-section{
    position: relative;
    z-index: 10;
    background: #062145;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-bottom: 100px;
}
/*.why-section:after{
	content:url('../images/shape_down.png');
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	overflow: hidden;
	bottom: 0;
	z-index: -9

}*/

.why-section:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-left: 1920px solid #fff;
    border-bottom: 0 solid #fff;
}
.why-section-img{
	position: relative;
}
.why-section-img img{
	max-width: 100%;
	position: absolute;
	top:0;
	left: 0;
	z-index: 999;
	width: 100%;
}
.rts-title-right{
	text-align: right;
}
.rts-title{
	font-size: 70px;
	color: #000;
	font-weight: 800;
	font-family: 'Neue Helvetica Bold';
	letter-spacing: 3px;
}
.rts-title-white{
	font-size: 70px;
	color: #fff;
	font-weight: 800;
	font-family: 'Neue Helvetica Bold';
	letter-spacing: 3px;
}
.why-section-title{
	margin-bottom: 30px;
}

.rts-subtitle-white{
	font-size: 25px;
	color: #fff;
	font-weight: 600;

}

.rts-subtitle{
	font-size: 25px;
	color: #9A9A9A;
	font-family: 'Neue Helvetica Medium';
	line-height: 1.3;
}
.normal-para-text-white{
	font-size: 18px;
	display: block;
	font-weight: 400;
}
.bold-para-text-white{
	font-family: 'Archivo', sans-serif;
	font-size: 18px;
	font-weight: 800;
}

.why-section-search{
	width:50%;
	margin:50px auto;
}
.search-input-red{
	outline: 0;
    height: 50px;
    width: 90%;
    padding: 13px 16px 0px 16px;
    text-align: center;
    background-color: #fff;
    color: #000;
    border: 0;
    font-size: 20px;
    float: left;
    font-weight: 600;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-family: 'Archivo', sans-serif;
}
.search-button-red{
outline: 0;
  background: none;
  background-color: #EE3426;
  float: left;
  height: 50px;
  width: 10%;
  padding: 0 10px 0 15px;
  text-align: center;
  line-height: 58px;
  border: 0;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-family: 'Archivo', sans-serif;
}


.service-section{
	background: #fff;
	padding: 30px 0 0px 0;
}

.our-support{
	margin-top:-90px;
}
.our-support-box{
	padding: 30px 30px 20px 50px;
	position: relative;
	font-size: 25px;
	color: #fff;
	font-weight: 600;
	font-family: 'Archivo', sans-serif;
}

.our-support-box::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
    background: #ee3426;
}


.our-service-row{
	width: 70%;
	margin: 50px auto;
}
.our-service-row [class*=col-]{
	padding: 0;
}

.our-service-content{
	padding: 0px 60px;
	min-height:260px;
	display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.our-service-content-title{
	font-family: 'Neue Helvetica Bold';
	font-size: 22px;
	color: #000;
}

.our-service-content-para{
	font-size: 18px;
	margin-bottom: 25px;

}

.our-service-content-button{
	padding: 10px 35px 4px 15px;
    position: relative;
    font-size: 13px;
    color: #fff!important;
    font-weight:400;
    font-family: 'Neue Helvetica Medium';
    z-index: 10;
}
.our-service-content-button:hover{
	text-decoration: none!important;
}

.our-service-content-button:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: skew(-25deg);
    -moz-transform: skew(-25deg);
    -ms-transform: skew(-25deg);
    -o-transform: skew(-25deg);
    transform: skew(-25deg);
    background: #ee3426;
}
.alloson-transmission-section{
	position: relative;
}
.alloson-transmission-section:after {
    content: "";
    position: absolute;
    bottom:0px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-left: 1920px solid #062145;
    border-bottom: 0 solid #fff;

}

.export-section{
	background: #062145;
	position: relative;
	padding-bottom: 50px;
}

/*.export-section:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-right: 1920px solid #fff;
    border-bottom: 0 solid #fff;
}
*/

.lightblue-subtitle{
	color:#8ABCDB;
	font-size: 23px;
	margin-bottom: 20px;
}

.export-section .lightblue-subtitle span{
	display: block;
}

.export-wrap-item-content{
	padding: 10px 30px;
	font-family: 'Neue Helvetica Medium';
	font-size: 16px;
	color: #fff;
}
.export-wrap-item-content p{
	margin-bottom: 3px;
}

.export-wrap-item-town{
	color: #DC3328;
	font-size: 25px;
	margin-bottom: 10px;
}

.export-search-answer{
	width: 50%;
	margin: 30px auto;
	background: #1D58A7;
	padding:50px 50px;
}

.export-search-subtitle{
	font-size: 20px;
	font-weight: 800;
	margin-bottom: 0;
	color: #fff;
	text-align: center;
}
.export-search-title{
	font-size: 30px;
	font-weight: 800;
	text-align: center;
	color: #fff;
}
.red-button{
	padding: 10px 35px 4px 25px;
    position: relative;
    font-size: 15px;
    color: #fff!important;
    font-weight: 400;
    font-family: 'Neue Helvetica Medium';
    z-index: 10;
    text-align: center;
    display: inline-block;
}
.red-button:hover{
	text-decoration: none;
}
.red-button:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: skew(-25deg);
    -moz-transform: skew(-25deg);
    -ms-transform: skew(-25deg);
    -o-transform: skew(-25deg);
    transform: skew(-25deg);
    background: #ee3426;
}
.red-button a{
	color: #fff;
	padding-left: 5px;
	text-decoration: underline;
}
.display-full{
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
.mr-b-10{
	margin-bottom: 10px;
}


.technician-section{
	position: relative;
	background: url('../images/technician-bg.jpg') no-repeat right;
	padding-top: 198px;
	z-index: 10;
	overflow: hidden;

}

.technician-section:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 0 solid #062145;
    border-left: 1920px solid #062145;
    border-bottom: 200px solid transparent;
}

.technician-section:after{
	content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    z-index: -1;
}
.technician-wrap{
	padding-top: 100px;
}
.technician-man-img{
	position: absolute;
	top: 0;
	right:0;
	left:0;
	width: 100%;
	z-index: 9;
}
.technician-man-img img{
	display: block;
	margin: 0 auto;
	width: 600px;
}
.technician-wrap-img{
	position: relative;
	z-index: 99;
	text-align: right;
	margin-top: 50px;
}
.technician-wrap-img img{
	width: 150px;
	text-align: right;
}
.technician-wrap-content{
	color: #fff;
	z-index: 99;
	position: relative;
	padding-bottom: 30px;
}
.technician-wrap-content-title{
	font-size: 30px;
	color: #fff;
	font-family: 'Neue Helvetica Bold';
	line-height: 1.4;
	display: block;
	margin-bottom: 25px;
}

.mr-b-5{
	margin-bottom: 5px!important;
}
.careers-red-button{
	padding: 13px 70px 4px 25px;
    position: relative;
    font-size: 18px;
    color: #fff!important;
    font-weight: 400;
    font-family: 'Neue Helvetica Medium';
    z-index: 10;
    margin-bottom: 25px;
    display: inline-block;
    line-height: initial;

}
.careers-red-button:hover{
	text-decoration: none;
}
.careers-red-button:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: skew(-25deg);
    -moz-transform: skew(-25deg);
    -ms-transform: skew(-25deg);
    -o-transform: skew(-25deg);
    transform: skew(-25deg);
    background: #ee3426;
}

/*footer section */

.newsletter-section{
background: #EE3426;
padding: 40px 0;
position: relative;
}
.newsletter-text{
	color: #fff;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Archivo', sans-serif;
    line-height: 1.1;
}
.newsletter-text span{
	display: block;
}

.newsletter-search-input{
outline: 0;
    height: 50px;
    width: 90%;
    padding: 13px 16px 0px 16px;
    text-align: center;
    background-color: #fff;
    color: #000;
    border: 0;
    font-size: 20px;
    float: left;
    font-weight: 600;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-family: 'Archivo', sans-serif;
}
.newsletter-search-button{
outline: 0;
  background: none;
  background-color: #1D58A7;
  float: left;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 58px;
  border: 0;
  color: #FFF;
  font-size: 20px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-family: 'Archivo', sans-serif;
}

.footer{
	background:#062145;
	padding: 60px 20px 0px 20px;
}

.footer-title{
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 20px;
}

.footer-listing{
	padding: 0;
	list-style: none;
	color: #fff;
}
.footer-listing li{
	margin-bottom: 5px;
}
.footer-listing li a{
	color: #fff;
	font-family: 'Archivo', sans-serif;
	font-size: 14px;
	font-weight: 500;
}
.footer-listing li a:hover{
	text-decoration: none;
}
.footer-logo-listing{
	padding: 0;
	text-align: center;
}
.footer-logo-listing li{
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px;
	padding: 0 20px;

}
.footer-logo-listing li:first-child{
	padding: 0;
}
.footer-logo-listing li:first-child img{
	width: 100px;
}
.footer-logo-listing li:last-child{
	border-left:1px solid #fff;
	margin: 0;
}
.footer-logo-listing li:last-child img{
	width: 50px;
}


.footer-social-listing{
	margin-top: 30px;
	list-style: none;
	padding: 0;
	text-align: center;
}
.footer-social-listing li{
	display: inline-block;
	margin: 0 5px;
}
.footer-social-listing li a{
	width: 30px;
	height: 30px;
	display: inline-block;
	line-height: 30px;
	text-align: center;
	color: #000;
	border-radius: 50px;
	background: #fff;
}
.copy-right{
	text-align: center;
	color: #fff;
	padding: 50px 0 20px 0;
}

/*by Suriya */
/* About Us page */

.pl-10 {
  padding-left: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.p-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-50 {
  padding-bottom: 50px;
}
.about-banner-section {
  position: relative;
}
img.about-banner-img {
  z-index: -1;

}
img.allison-img {
    width: 25%;
   /* margin-top: -15%; */
    z-index: 9999;
    position: absolute;
    right: 15%;
    top: 60%;

}

.about-rts-title {
  z-index: 9999;
  position: absolute;
  left: 15%;
  top: 55%;

}

#parallelogram {
  width: 70px;
  height: 20px;
  margin-left: 15px;
    background:#ee3426;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
}

.about-rts-title h1 {
  color: #fff;
  font-size: 6rem;
  font-weight: bolder;
}

.about-rts-para {
    font-size: 17px;
    padding-bottom: 3%;
    /* font-family: Helvetica Neue, Medium; */
  }
.about-rts-para-color {
    color: #9A9A9A;
    font-weight: bolder;
}

#small-parallelogram {
  width: 35px;
  height: 10px;
    margin-left: 15px;
    background:#ee3426;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
    display: inline-block;
}

.about-rts-row{
	width: 70%;
	margin: 30px auto;
}

.about-rts-row [class*=col-]{
	padding: 0;
}

.about-service-section{
	background: #fff;
	padding: 10px 0 0px 0;
}

.about-logo-img {
  width: 40%;
  margin: 0 auto;
  display: block;
}

/* expert.html */
.black-banner {
  background-color: black;

}

.dark-img {
  opacity: 0.5;
  margin-top: -8%;
}

.expert-content-section {
  padding: 20px 30px 30px 30px;
}

.rts-half-width-para {
  width: 70%;
}

.expert-content-section img {
  margin-top: 25%;
  width:70%;
  float: right;
}

.about-rts-para-line-spacing {
  line-height: 1.7;
}

.expert-rts-title {
  font-size: 50px;
  color: #000;
  font-weight: 800;
  font-family: 'Neue Helvetica Bold';
  letter-spacing: 1px;
  float: right;
}

.expert-rts-row{
	width: 80%;
	margin: 30px auto;
}

.expert-rts-row [class*=col-]{
	padding: 0;
}

.expert-training-section {
  font-family: BentonSans;
}

.expert-training-title {
    font-size: 30px;
    /* font-weight: 800; */
    text-align: center;
      margin-bottom: 0;
    color: #fff;
  }
  .expert-training-subtitle {
    font-size: 20px;
    font-weight: 100 !important;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
}

/* Trucks Page */
.dark-img-opacity {
  opacity: 0.5;
}

.trucks-content {
  margin: 0 auto;
  width: 35%;
  text-align: center;
  display: block;
}

/* Locations Page */

#location {
  width: 100%;
margin: 0 auto;
display: block;
padding: 10px;
}

/* Locations Map Page */
a.locations-link, a.locations-link:hover {
  color: #007FFF;
  margin: 0 auto;
  font-weight: bolder;
  text-decoration: underline;
}

.contact-address p {
  padding-bottom: 18px;
}

.phone, .website, .address, .hours {
  color: #9A9A9A;
}

.website, .address {
  text-decoration: underline;
}

.testimonial-section {
  background-color: #EBEBEB;
  padding: 40px 30px 70px 30px;
}

.testimonial-section img, .rts-service-section img {
  margin: 0 auto;
  display: block;
}

/* Service Page */
.rts-service-section {
  /* padding: 30px 50px 200px 50px; */
  padding: 30px 50px;
  position: relative;
}

.why-rts-heading {
  font-size: 50px;
  font-weight: bolder;
}

.testimonial-content-col {
  width: 19% !important;
}

.rts-service-section img {
  width: 60%;
}
.testimonial-content {
  margin: 0 auto;
  padding-top: 25px;
  font-weight: bolder;
  font-size: 12px;
}

.rts-service-section-para {
  padding-top: 75px;
  padding-bottom: 20px;
  font-size: 18px;
}

.rts-service-section-para-2 {
  line-height: 1.7;
  font-size: 16px;
}

/* .rts-service-section:after {
  content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 300px solid transparent;
    border-left: 1920px solid #062145;
    border-bottom: 0 solid #fff;
} */
.why-rts-services-section {
  /* background: #062145; */
  background-image: url('../images/service/rts-service-bg-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 10%;
  padding-top: 15%;
    padding-left: 15%;
    color: #fff;
}

.why-rts-title {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: bolder;
}

.why-rts-hr-line {
    border: 0;
    margin-left: -30px;
    margin-top: 0px;
    border-top: 1px solid #eee;
  }

  .why-rts-para {
    font-size: 16px;
    color: #9A9A9A;
    font-weight: bolder;
  }

.rts-features-row {
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 20%;
}
  .rts-features {
    padding-right: 8%;
  }

  /* Partner Program Page */
  .rts-program-para {
    font-weight: bolder;
    line-height: 1.7;
    padding-bottom: 3%;
    font-size: 20px;
  }
