


@media (max-width:991px) {
	.our-support-box{
		    padding: 30px 30px 20px 20px;
		    font-size: 20px;
	}
	.export-section-search{
		position: relative;
	}
	.newsletter-search{
		position: relative;
	}
	/*.search-button-red{
		position: absolute;
		right: 15px;
	}*/
	.search-input-red{
		
		padding: 13px 60px 0px 16px;
	}
	.why-section-search{
		width: 100%;
		position: relative;
	}
	.why-section-img img{
		position: relative;
	}

	.our-service-content{
		padding: 0px 20px;
		min-height: 100%;
	}
	.our-service-row{
		width: 80%;
	}
	.export-search-answer{
		width: 80%;
	}
	.technician-wrap{
    	padding-top: 0px;
	}
	.technician-wrap-img{
		margin-top: 0px;
		text-align: center;
	}
	.technician-wrap-img img{
		width: 100px;
	}
	.newsletter-text span{
		display: inline-block;
	}
	.newsletter-text{
		text-align: center;
		margin-bottom: 10px;
	}
}

@media (max-width:768px) {
	.rts-title{
		font-size: 50px;
	}
	.rts-subtitle{
		font-size: 20px;
	}
	.rts-title-white{
		font-size: 50px;
	}
	.lightblue-subtitle{
		font-size: 18px;
	}
.our-support-box {
    width: 50%;
    margin: 20px auto;
}
.our-service-content{
		padding: 0px 20px;
	}
	.our-service-content{
		min-height: 100%;
	}

.our-service-content{
		padding: 0px 20px;
		min-height: 100%;
		margin-bottom: 20px;
	}
	.our-service-row{
		width: 90%;
	}
	.export-wrap-item-content{
		text-align: center;
	}
	.newsletter-search-button{
		position: absolute;
		right: 0px;
		width: 60px;
	}
	.search-button-red{
		position: absolute;
		right: 0px;
		width: 60px;
	}
	.search-input-red{
		width: 100%;
		padding: 13px 60px 0px 16px;
	}

}
@media (max-width:600px) {
	.logo-header{
		float: none;
		text-align: center;
		    display: block;
    margin: 0 auto;
	}
	.header-nav{
		top: 160px;
	}
	.navbar-nav {
    margin: 0;
}
}

@media (max-width:530px) {
	.our-service-row [class*=col-] {
    width: 100%;
    margin-bottom: 10px;
}
.our-service-row .row{
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.our-service-row .row:last-child{
	border-bottom: 0px solid #ccc;
}
.export-search-answer{
	width: 90%;
	margin:20px auto;
	padding: 20px;
}
.technician-man-img img{
	width: 100%;
}

}