<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
  <script src="{{ url('<front>') }}themes/RTS/js/jquery.min.js"></script>
  <script src="{{ url('<front>') }}themes/RTS/js/angular.min.js"></script>

  <script>window.broadlyChat={id:"5dd55dc096fd00001d6eb69f"};</script><script src="https://chat.broadly.com/javascript/chat.js" async></script>
  <script src="//assets.adobedtm.com/175f7caa2b90/33075e5c8c08/launch-4d0e6c8aab4c.min.js" async></script>

  <!-- Global site tag (gtag.js) - Google Ads: 452597192 --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-452597192"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-452597192'); </script>

</head>

<div class="page-wraper">
  <header class="site-header">
    <div class="main-bar">
      <div class="container-fluid clearfix">
        <div class="logo-header">
          <a>
            <img src="{{ url('<front>') }}themes/RTS/images/logo_header.png">
          </a>

        </div>
        <div class="menu-header">
          <div class="allison-logo">
           <img src="{{ url('<front>') }}themes/RTS/images/allison.png"> 
          </div>
          <div class="navbar-toggler-menu">
            <button class="navbar-toggler navicon collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
            </button>
          </div>
          <div class="call-button">
            <a><i class="fa fa-phone" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="header-nav navbar-collapse" id="navbarNavDropdown">
          <ul class="nav navbar-nav">
            <li>
            {{ page.primary_menu }}
          </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

{{ page.content }}

{{page.footer_first}}

<footer class="footer">
  <div class="container">
    <div class="row">
        {{page.footer_second}}
        {{page.footer_third}}
        {{page.footer_fourth}}
    </div>

    <div class="copy-right">
      {{page.footer_copy}}
    </div>
  </div>
</footer>



<script type="text/javascript">
$(document).ready(function(){
    var _tg_guidesslider = jQuery('.main-slide-area');
        _tg_guidesslider.owlCarousel({
            loop:true,
            nav:false,
            dots:true,            
            margin:20,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:1
                },
                1000:{
                    items:1
                }
            }
        })
    })
</script>



</body>
</html>