﻿/*@font-face {
    font-family: myfont;
    src: url(fonts/BentonSans-Bold_T.ttf);
}*/

@font-face {
    font-family: 'BentonSans';
    src: url('../fonts/BentonSans Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BentonSans';
    src: url('../fonts/BentonSans Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BentonSans';
    src: url('../fonts/BentonSans Bold.eot');
    src: url('../fonts/BentonSans Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BentonSans Bold.ttf') format('truetype'),
        url('../fonts/BentonSans Bold.svg#BentonSans Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'BentonSans_black';
    src: url('../fonts/BentonSans Bold.eot');
    src: url('../fonts/BentonSans Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BentonSans Bold.ttf') format('truetype'),
        url('../fonts/BentonSans Bold.svg#BentonSans Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body {
    height: 100%;
    font-family: 'BentonSans';
    /* background: linear-gradient(180deg, rgba(255,255,255), rgba(94,164,210) 100%) no-repeat !important; */
    background: linear-gradient(180deg, #ffffff 25%, #5ea4d2 100%) !important;
}


/*common styles*/

.red-color {
    color: #ee3526;
}

.blue-color {
    color: #1d58a8;
}

.white-color {
    color: #ffffff;
}

.bg-red {
    background-color: #ee3526 !important;
}

.bg-blue {
    background-color: #2D5AA8;
}

.m_t_10{
    margin-top:10px;
}

.m_t_3rem {
  margin-top: 3rem !important;
}

.m_t_2rem {
  margin-top: 2rem !important;
}

.m_b_10 {
  margin-bottom: 10px !important;
}

.m_b_40 {
  margin-bottom: 40px !important;
}

.m_b_20 {
  margin-bottom: 20px;
}
.text-center {
  text-align: center;
}
/* homepage styles */
.rts-banner-img {
  width: 100%;

}
.rts-small-logo-img {
    /*max-width: 70px;*/
    max-width: 30%;
}

.rounded
{
    border-radius: 2rem !important;
}

.header_txt{
    font-family: 'BentonSans_black';
    font-size: 66px;
    line-height: 45px !important;
    letter-spacing: -4px;
    margin: -4rem 0 0 0;
}

.header_txt strong{
    color: #ee3526;
}

.header_txt span{
    font-size: 50px;
}

.welcome-section {
    margin-top: -4rem;
    cursor: pointer;
}

.para_sec strong{
    font-size: 20px;
    line-height: 17px;
    margin: 10px 0 0 0;
    display: inline-block;
}

.para_sec span{
    font-size: 15px;
    display: block;
}

.flex-even {
    flex: 1;
}

.welcome-section-content {
  margin-left: 1rem;
}

/*.welcome-section-content button{
    min-width: 230px;
    padding: 15px 30px;
    margin: 0 20px 0 0;
    box-sizing: border-box;
}
*/
.welcome-section-item {


 -moz-box-shadow:    0px 1px 5px rgb(255 255 255 / 80%) inset, 0 -10px 20px -5px #3b3737 inset;
  -webkit-box-shadow: 0px 1px 5px rgb(255 255 255 / 90%) inset, 0 -10px 20px -5px #3b3737 inset;

    box-shadow: 0px 3px 5px rgb(255 255 255 / 60%) inset, 0 -10px 20px -5px #3b3737 inset;
    border: none;
    max-width: 234px;
    width: 234px;
    max-height: 157px;
    height: 157px;
    margin-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

    .welcome-section-item:hover, .welcome-section-item:focus, .welcome-section-item:active {
        background-color: #2D5AA8 !important;
        /* box-shadow: rgba(0, 0, 0, 0.06) 15px 15px 4px 0px inset; */
        border-color: transparent;
    }
.welcome-section-content p {
    line-height: 1 !important;
}

.welcome-section-text {
    /* text-shadow: 2px 2px #6a7b8a;
    -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #6a7b8a; */
            text-shadow: 2px 3px #6a7b8a;
                -webkit-text-stroke-width: 0.5px;
                -webkit-text-stroke-color: #000;
                font-size: 2.75rem;
    margin-top: 5px !important;
    font-family: 'BentonSans_black' !important;
}


.rts-text-bottom {
    margin-top: -0.9rem !important;
    line-height: 35px;
    /* font-weight: bold; */
    /* letter-spacing: -2px; */
    font-weight: 1000;
    font-size: 40px;
    font-family: 'BentonSans_black' !important;
    text-shadow: 2px 2px #6a7b8a;
}

.rts-hino-text-bottom {
      letter-spacing: -2px;
      text-shadow: none;
      margin-top: -0.9rem !important;
    line-height: 35px;
    font-size: 35px;
    font-family: 'BentonSans_black' !important;

}

.rts-hino-text-bottom sup, .allison-bottom-section sup {

  font-size: 60% !important;
  padding-left: 2px !important;
    font-weight: 100 !important;
}


/* Technical Support Page */

.technical-support-page {
   font-family: 'BentonSans_black' !important;
}
.technical-support-para {
  font-size: 20px;
  line-height:1.2;
}

.support-line {
  font-size: 25px;
}

.support-title {
  font-size: 25px;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.support-para {
    font-size: 20px;
    /* text-align: justify; */
    text-align: left;
    font-family: 'BentonSans' !important;
    letter-spacing: -1px;
    line-height:1.2;
}

.m_l_15 {
  margin-left: 15px;
}

.left-book {
  width:60%;
  display: block;
  margin: 0 auto;
}

.right-book {
  width:60%;
  display: block;
  margin: 0 auto;
  /* margin-left:-3rem; */
  /* margin-left: -12rem; */
}
a.download-pdf-link {
  display:block;
  /* width: 80%; */
  text-align: center;
  padding-top: 10px;
}

a.download-pdf-link:hover, a.download-pdf-link:active {
  text-decoration: none;
  color: #ee3526 !important;
}

/* Allison Remans Page */
.warranty-table-header
{
border: 1px solid transparent;
/* -moz-box-shadow:    0px 1px 5px rgb(255 255 255 / 80%) inset, 0 -10px 20px -5px #3b3737 inset;
 -webkit-box-shadow: 0px 1px 5px rgb(255 255 255 / 90%) inset, 0 -10px 20px -5px #3b3737 inset;

   box-shadow: 0px 3px 5px rgb(255 255 255 / 60%) inset, 0 -10px 20px -5px #3b3737 inset; */
    border-radius: 1rem;
    font-size: 30px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /* text-align: center; */
    /* padding-left: 12rem;
    padding-right: 12rem; */
    padding-left: 0rem;
    padding-right: 9rem;
 }
.warranty-table-section table td {
 font-size: 25px;
 padding-top: 1.5rem;
 padding-bottom: 1.5rem;
    /* text-align: center; */
    padding-left: 10rem;
    padding-right: 5rem;
  }
.warranty-table-section table th, .warranty-table-section table td, .allison-bottom-section {
    font-family: 'BentonSans_black' !important;
  }

.rts-left-img {
  width:30%;
  position:absolute;
  display:inline-block;
  left: -110px;
   top: 10rem;
}

.rts-right-img {
  width:30%;
  position:absolute;
  display:inline-block;
  right:-7rem;
  top: 18rem;
}


  .legacy-models {
    border: 1px solid #000;
    padding: 5px;
    width:80%;
    margin:0 auto;
    font-size: 16px;
    border-radius: 20px;
}

.legacy-models p {
  margin: 0px !important;
letter-spacing: -1px;

line-height: 1.1;
}

.legacy-models-title {
  font-size: 25px;
}

.legacy-models-para {
  font-size: 19px;
}
.ft-wt {
  font-weight: 900;
}

.ft-size-20 {
  font-size: 20px;
}

/* back button on all pages */
.hino_menu_icons {
    position:absolute;
    top:15px;
    right:25px;
      padding: 15px;
}

.hino_icons {
  margin-top: 1rem;
  float: right;
  padding: 15px;
}
.hino_icons a.back_btn, .hino_icons a.back_btn:hover {

    /* background: #ED3827; */
    background: #1d58a8;
    padding: 8px 25px;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'BentonSans_black';

  }

  .hino_menu_icons a.home_btn, .hino_menu_icons a.home_btn:hover {

      background: #ED3827;

      padding: 8px 25px;
      color: #fff;
      border-radius: 10px;
      font-size: 18px;
      font-family: 'BentonSans_black';

    }

  .home-icon {
    font-size: 30px;
    vertical-align: middle;
    margin-right: 1rem;
    color: #ED3827;
  }

/*Responsive styles*/
@media (min-width: 1200px) {
    .container {
        max-width: 1280px;
        width: 1280px;
    }
}


@media (max-width: 1200px) {
    .welcome-section {
        margin-top: -3rem;
    }

}

@media (max-width: 1175px) {
  /* Allison Remans Page */

  .warranty-table-header {

  font-size: 20px;

  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem
  }
  .warranty-table-section table td, .allison-bottom-section p
  {
    font-size: 17px !important;
  }


  .rts-text-bottom {
    font-size: 33px;
  letter-spacing: -2px;
  margin-top: 1rem !important;
  }

  .rts-left-img, .rts-right-img
  {
  width: 45%;
  padding-bottom: 10px;
  margin: 0 auto;
  position: static;
  display: block;
}

}

@media (max-width: 1024px) {

  .hino_menu_icons {
      position:absolute;
      top:0px;
      right:10px;
        padding: 10px;
  }
  .hino_icons a.back_btn, .hino_icons a.back_btn:hover {
      padding: 10px;
      color: #fff;
      font-size: 10px;
      background: #1d58a8;
      border-radius: 10px;
    }

    .hino_menu_icons a.home_btn, .hino_menu_icons a.home_btn:hover {
        padding: 10px;
        color: #fff;
        font-size: 10px;
        background: #ED3827;
        border-radius: 10px;
      }
  }

@media (max-width: 992px) {
    .welcome-section {
        margin-top: -2rem;
    }

    .welcome-section-item {
        width: 330px;
        max-width: 330px;
        margin-bottom: 10px;

    }

    .support-title {
      font-size: 18px;
    }
    .support-para {
      font-size: 15px;
    }

}

@media (max-width: 767px){
  .welcome-section-item {
    display: block;
    margin: 0 auto 10px;
  }

.pdf-sm-3 {
  display: inline-block;
}
.pdf-1, .pdf-2 {
    display: inline-block;
    width: 45%;
  }
}



@media (max-width: 575px) {

  .hino_menu_icons {
      position:absolute;
      top:0px;
      right:10px;
        padding: 10px;
  }
  .hino_icons a.back_btn, .hino_icons a.back_btn:hover {
      padding: 10px;

      font-size: 10px;

    }

    .hino_menu_icons a.home_btn, .hino_menu_icons a.home_btn:hover {
      padding: 8px;
    font-size: 8px;

      }



  .header_txt {
    font-size: 40px;
  }
    .welcome-section {
        margin-top: 2rem;
    }
    .welcome-section-item {
      width: 60%;
      margin-left: 20%;
    }

    .header_txt span{
        font-size: 35px;
    }

    .left-book, .right-book, .pdf-1, .pdf-2 {
      display: block;
      margin: 0 auto;
    }

     a.download-pdf-link {
      width:100%;
      margin-left:0 !important;
    }

    /* Allison Remans Page */

    .warranty-table-header {

    font-size: 20px;

    text-align: left;
    /* padding-left: 3rem;
    padding-right: 3rem */
    padding-left: 2rem;
    padding-right: 0rem;
    }

    .warranty-table-section table td {
      padding-left: 2rem;
      padding-right: 0rem;
      font-size: 15px !important;
    }
     .allison-bottom-section p
    {
      font-size: 17px !important;
    }


    .rts-text-bottom {
      font-size: 33px;
    letter-spacing: -2px;
    margin-top: 1rem !important;
    }

    .rts-left-img, .rts-right-img
    {
    width: 70%;
    padding-bottom: 10px;
    margin: 0 auto;
    position: static;
    display: block;
}



}

@media (max-width: 375px) {
    .welcome-section {
        margin-top: 1.5rem;
    }

    .warranty-table-header {

    font-size: 18px;


    }
    .warranty-table-section table td, .allison-bottom-section p
    {
      font-size: 16px !important;
    }

    .warranty-table-section table td
    {
      font-size: 12px !important;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
.welcome-section {
margin-top: 0px !important;
}
.welcome-section-item
{
width:185px;
max-width:185px;
margin-right: 0.6rem;
}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
.warranty-table-section table th:first-child {
padding-left: 12rem;
text-align: left !important;
}
.warranty-table-section table th:last-child {
padding-left: 8rem;
text-align: left !important;
}



.welcome-section-item
{
width:185px;
max-width:185px;
margin-right: 0.3rem;
}
}