<!-- <div class="news_letter">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="footer_newsletter">
              <div class="col-sm-8">
                <h3 class="m-t-0">Subscribe to our <span>Newsletter</span></h3>
                <p>Join RTS Allison Mailing List for Updates and Special Offerings</p>
              </div>
              <div class="newsletter_input col-sm-4">
                <form action="" method="POST">
                  <input type="text" class="form-contact" name="email" placeholder="Enter your email here..." required>
                   <input type="hidden" id="postid" name="postid" value='{{postid}}'>
                  <button type="submit" name="submitNewsletter" class="">
                    SUBSCRIBE
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div> //-->


<div class="newsletter-section">
  <div class="container">
    <div class="col-lg-6">
      <div class="newsletter-text">
        Sign up for our <span>newsletter</span>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="newsletter-search">
          <form action="" method="POST">
            <input type="email" class="newsletter-search-input" name="email" placeholder="Sign me up." required>
            <input type="hidden" id="postid" name="postid" value='{{postid}}'>
            <button type="submit" name="submitNewsletter" class="newsletter-search-button">
              Go
           </button>
          </form> 
      </div>
    </div>
  </div>
</div>