
    <div class="col-md-12 prod_det" id="prod_det">
              <!--FEATURED PRODUCTS-->
      <section class="featured_product">

        <div class="">
          <div class="row">
            <div class="col-sm-12">
              <div class="row-flex">
               <!--  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="(key, value) in products"> -->
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                 <div class="feat_reslt">
                   <div class="result_search">

                     <div class="result_search_ins" ng-hide="partbody == false">
                       <span class="result_search_spn1">results for</span>
                       <span class="result_search_spn2">{{'{{topsearch}}'}}</span>
                     </div>
                     <div class="result_search_ins_1" ng-hide="partbody == false">
                       <div>No Of Products : {{'{{interdata.length}}'}}</div>
                     </div>
               </div>
               </div>
               </div>

               </div>
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="(key, value) in pagedItems[currentPage] | filter:search | orderBy:sortKey:reverse">

                    <div class="featured_item_box">
                      <a class="product_img_head" href="{{ url('<front>') }}product_desc/{{'{{value[0]}}'}}" target="_blank">
                        <div class="featured_img">
                          <img class="img-responsive" ng-src="{{'{{value[6]}}'}}" alt="featured product" />
                        </div>
                         <!--  <span ng-if="value[14] == 1" class="new_brand">New</span>
                          <span ng-if="value[14] == 0 && value[15] == 0" class="new_brand">Best Seller</span>
                          <span ng-if="value[14] == 0 && value[15] == 1" class="new_brand">Only A Few Left</span>
                          <span ng-if="value[14] == 0 && value[15] == 2" class="new_brand">10 % Off</span>
                          <span ng-if="value[14] == 0 && value[15] == 3" class="new_brand">BOGO Sale</span>
                          <span ng-if="value[14] == 0 && value[15] == 4" class="new_brand">Sold Out</span> -->
                      </a>
                      <!-- {{'{{value[20]}}'}} -->
                      <div class="featured_item_price">
                        <div ng-if="value[5] != 0 && value[20] != 'on'">
                           <span class="price_color">${{'{{value[5]}}'}}</span>
                            <span class="price_strike">${{'{{value[13]}}'}}</span>
                        </div>
                        <div ng-if="value[5] == 0 || value[20] == 'on'">
                            Call For Price
                        </div>
                      </div>
                      <div ng-if="value[17]==1" class="product_wishlist">
                          <a id="wishtlist_class" wishvalue="{{'{{value[0]}}'}}">
                           <i ng-if="value[7]==1" id="{{'{{value[0]}}'}}insidewish" class="fa fa-heart" aria-hidden="true"></i>

                            <i ng-if="value[7]==0" id="{{'{{value[0]}}'}}insidewish" class="fa fa-heart-o" aria-hidden="true"> </i>
                          </a>
                      </div>

                      <div class="clearfix"></div>
                      <a href="{{ url('<front>') }}product_desc/{{'{{value[0]}}'}}" target="_blank" data-tooltip="Part#: {{'{{value[3]}}'}} "><h5 class="text-up">{{'{{value[8]}}'}}</h5></a>

                      <div ng-if="value[18]==1" id="comparefull" class="feature_ratings" ng-show="comparecategory">
                        <ul>
                         <li class="" style="color:#333;">
                          <label class="container_lbl"><div class="cmpre">Compare</div>
                            <input type="checkbox" class ="compareselect" id="{{'{{value[0]}}'}}">
                            <span class="checkmark"></span>
                          </label>
                        </li>
                      </ul>
                    </div>
                    <div class="feature_shipping">
                      <i class="fa fa-truck" aria-hidden="true"></i>&nbsp;Free Delivery
                    </div>
                    <!-- <div class="feature_info m-l-10">
                      <button type="button" class="addcart_btn cartbtn_bg">Add to cart</button>
                      <button type="button" class="addcart_btn buybtn_bg">Buy now</button>
                    </div> -->
                      <div style="clear:both"></div>
                     <div class="alert alert-success wish_sets  wish_set{{'{{value[0]}}'}}" style="display: none">
                     </div>
                  </div>

                </div>
              </div>



              <!-- <div class="view_all">
                <button type="button" class="view">View All</button>
              </div> -->
            </div>
          </div>

        </div>
      </section>
        <div ng-show="nodata"> <h4 class="text-center alert-danger">Oops! search result not found..</h4> </div>
    <!-- pagination ui part -->
    <div class="col-xs-12 col-sm-12 col-md-12 ">
      <div class="featured_item_box cust_feat" ng-show="partbody" >
      <!-- <div class="">No Of Products : {{'{{products.length}}'}}</div> -->
      </div>

      <div class="" ng-if="partbody== false" >
        <div style='text-align: center;color: red;font-weight: bolder;font-size: 20px;'>Please Select Year, Make, Model and Engine</div>
      </div>


      </div>
        <div class="pagination pull-right pagi_master" ng-if="pagenos.length > 1 ">
            <ul>
               <!--  <li ng-class="{disabled: currentPage == 0}">
                    <a href ng-click="setfirst()"> First</a>
                </li> -->
                <li ng-class="{disabled: currentPage == 0}">
                    <a href ng-click="prevPage()">« Prev</a>
                </li>
                <li ng-repeat="n in pagenos | limitTo:5"
                    ng-class="{active: n == currentPage}"
                ng-click="setPage()">
                    <a href ng-bind="n + 1">1</a>
                </li>
                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                    <a href ng-click="nextPage()">Next »</a>
                </li>
                <!-- <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                    <a href ng-click="setlast()"> Last</a>
                </li> -->
            </ul>
        </div>
    </div>
