<div class="cart_shopping clck_crt">
                <a>
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  My Cart
                  <span class="shopping_count" id="mycartcount"></span>
                </a>
              </div>
              <div class="widget-shopping-cart-content">
                    <div class="widget-shopping-cart-close-div">
                      <span class="widget-shopping-cart-close">×</span>
                    </div>
                      <ul id="cart-listcom" class="cart-list">

                      </ul>

                      <p class="buttons">
                       <!-- <a href="{{ url('<front>') }}cart" class="view-cart">View cart</a> -->
                        <a href="{{ url('<front>') }}cartpage" class="checkout">Checkout</a>
                      </p>
                  </div>
