<script type="application/ld+json" class="aioseop-schema">{"@context":"https://schema.org","@graph":[{"@type":"Organization","@id":"https://www.rtsallison.com/#organization","url":"https://www.rtsallison.com/","name":"RTS Allison","sameAs":[]},{"@type":"WebSite","@id":"https://www.rtsallison.com/#website","url":"https://www.rtsallison.com/","name":"RTS Allison","publisher":{"@id":"https://www.rtsallison.com/#organization"}},{"@type":"WebPage","@id":"https://www.rtsallison.com/about_us/#webpage","url":"https://www.rtsallison.com/about_us/","inLanguage":"en-US","name":"about_us","isPartOf":{"@id":"https://www.rtsallison.com/#website"},"breadcrumb":{"@id":"https://www.rtsallison.com/about_us/#breadcrumblist"},"description":"RTS Allison is the most respected remanufacturing service provider since 40 years with gold  Standard","datePublished":"2014-12-15T22:49:38+00:00","dateModified":"2021-01-13T07:28:54+00:00"},{"@type":"BreadcrumbList","@id":"https://www.rtsallison.com/about_us/#breadcrumblist","itemListElement":[{"@type":"ListItem","position":1,"item":{"@type":"WebPage","@id":"https://www.rtsallison.com/","url":"https://www.rtsallison.com/","name":"RTS Allison Authorized remanufacturing service provider | RTS Allison"}},{"@type":"ListItem","position":2,"item":{"@type":"WebPage","@id":"https://www.rtsallison.com/about_us/","url":"https://www.rtsallison.com/about_us/","name":"about_us"}}]}]}</script>

{{items|raw }}
<div class="full-content">
	<div class="bnnr-ccnt">
		<div class="banner-image">
			<img src="{{ url('<front>') }}themes/RTSALLISON/image/Aboutusbanner.jpg">
		</div>
		<div class="banner-cnt">
			<div class="container">
				<p>Reliable Transmission Service is one of the most respected Allison remanufactures in the country since 1981.</p>
				<p>We are dedicated to the service and repair of Allison automatic transmissions and are proud to 	be the most requested Allison transmission remanufacturer and service outlet.
				</p>
				<p>We do this because it is our Mission to add value, revenue, and profitability to our Partner. It is not enough just to provide your customers with the best remanufactured Allison in the business, we want to help grow your business. RTS can work with you to develop customized programs to assist you in obtaining new business and provide support to your existing customer base.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="sub-cnt">
		<h1 class="sub-cnt--head">WHY RTS ALLISON?</h1>
		<div class="subb-ccnt">
			<div class="subb-ccnt--icn">
			<img src="{{ url('<front>') }}themes/RTSALLISON/image/icon 1-01.jpg" />
			</div>
			<div class="subb-ccnt--para">
				<h2>ALLISON-ONLY EXPERIENCE</h2>
				<p>RTS has been remanufacturing Allison transmissions for nearly 40 years. It’s all we do. And, because Allison is all we do,™ we know all there is to know about these highly sophisticated and technically advanced transmissions. The lessons learned, and the procedures perfected, make a difference. Believe it. There’s simply nobody who remanufactures an Allison better than RTS, and it is why RTS is recognized as the Gold Standard for remanufactured Allison transmissions.</p>
			</div>
		</div>
		<div class="subb-ccnt">
			<div class="subb-ccnt--icn">
			<img src="{{ url('<front>') }}themes/RTSALLISON/image/icon 2-01.jpg" />
			</div>
			<div class="subb-ccnt--para">
				<h2>ALLISON CERTIFIED RTS TECHNICIANS</h2>
				<p>RTS has been remanufacturing Allison transmissions for nearly 40 years. It’s all we do. And, because Allison is all we do,™ we know all there is to know about these highly sophisticated and technically advanced transmissions. The lessons learned, and the procedures perfected, make a difference. Believe it. There’s simply nobody who remanufactures an Allison better than RTS, and it is why RTS is recognized as the Gold Standard for remanufactured Allison transmissions.</p>
			</div>
		</div>
		
		<div class="subb-ccnt">
			<div class="subb-ccnt--icn">
			<img src="{{ url('<front>') }}themes/RTSALLISON/image/icon 3-01.jpg" />
			</div>
			<div class="subb-ccnt--para">
				<h2>ALLISON AUTHORIZED FOR OVERHAUL (REMANUFACTURING)</h2>
				<p>While there are countless Allison dealers remanufacturing Allison transmissions, you might be surprised to learn that NOT ALL ARE ACTUALLY AUTHORIZED FOR REMANUFACTURING. Why is this important? Because if the dealer is not authorized for OVERHAUL, there is no way for your customers to know for sure how they remanufacture Allison transmissions.</p>
			</div>
		</div>
		<div class="subb-ccnt">
			<div class="subb-ccnt--icn">
			<img src="{{ url('<front>') }}themes/RTSALLISON/image/icon 4-01.jpg" />
			</div>
			<div class="subb-ccnt--para">
				<h2>WARRANTY AND AVAILABILITY</h2>
				<p>Every RTS remanufactured on-highway Allison Transmission comes with our 2-year “Good as Gold” warranty. Why “Good as Gold”? Because the best warranty is the one never needed, and our warranty rarely is. And with a reserve inventory of 300+ remanufactured Allison, and a production inventory of 500+, RTS is ready to serve your customers when they need it.</p>
			</div>
		</div>
	</div>
	</div>
	
</div>