<style type="text/css">
      header,footer, nav {
  display: none !important;
}

 canvas{
  pointer-events:none;
  background-color: green;
  padding: 2px 2px 2px 2px;
}

</style>

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url('<front>') }}themes/RTSALLISON/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url('<front>') }}themes/RTSALLISON/css/rtsallison/hino-styles.css">
    <title>Allison Remans - RTS Allison </title>
    <style>
        /* body {
          background-color: #fff !important;
          background: none !important;
        } */

        @media (min-width: 1200px) {
            .container {
              max-width: 1000px;
              width: 1000px;
            }
        }
        /* .container {
            max-width: 1000px;
            width: 1000px;
        } */
      </style>
</head>
<body style="position:relative;">

<div class="hino_icons">
  <a href="https://rtsallison.com"><i class="fa fa-home home-icon" aria-hidden="true"></i></a>
  <a class="back_btn" href="hino">BACK</a>

</div>

    <div class="container">
          <div class="allison-remans-header m_t_3rem">
          <div class="row mt-5">


                <div class="col-sm-12 text-center">
                    <img class="rts-logo-bottom" style="width:18%;" src="{{ url('<front>') }}themes/RTSALLISON/image/RTS-white.png" /> <br />

                    <h3 class="red-color rts-text-bottom m_b_40">
                       <strong> REMANUFACTURED <br />
                         <span>ALLISON TRANSMISSIONS </span></strong>
                    </h3>



                </div>

            </div>

          </div> <!-- allison-remans-header -->

          <div style="position:relative;" class="warranty-table-section">
              <div class="row">
                    <div class="col-sm-12">
                      <img class="rts-left-img" src="{{ url('<front>') }}themes/RTSALLISON/image/rts-left.png">


                    <table style="width:80%;margin:0 auto;" class="warranty-table">
                      <tr>
                        <th style="border-top-right-radius:0; border-bottom-right-radius:0; border-right: none;" class="warranty-table-header bg-blue white-color text-center"> MODEL </th>
                        <th style="border-top-left-radius:0; border-bottom-left-radius:0; border-left: none;" class="warranty-table-header bg-blue white-color text-center">  WARRANTY </th>
                        </tr>
                        <tr>
                            <td> 1K/2K SERIES  </td>
                            <td> 2 YEAR </td>
                          </tr>

                          <tr>
                              <td> 3000 SERIES </td>
                              <td> 2 YEAR </td>
                            </tr>

                            <tr>
                                <td> 3000R SERIES </td>
                                <td> 2 YEAR</td>
                              </tr>

                              <tr>
                                  <td> 4000 SERIES </td>
                                  <td>2 YEAR </td>
                                </tr>

                                <tr>
                                    <td> 4500 SERIES </td>
                                    <td> 2 YEAR</td>
                                  </tr>

                                  <tr>
                                      <td> 4500R SERIES </td>
                                      <td>2 YEAR </td>
                                    </tr>
</table>



  <img class="rts-right-img" src="{{ url('<front>') }}themes/RTSALLISON/image/rts-right.png">
</div>

</div> <!-- row -->

<div class="allison-bottom-section">
<div class="row">
  <div class="col-sm-12">
<div class="legacy-models">
   <p class="text-center legacy-models-title"><strong class="ft-wt">Legacy models available </strong></p>
   <!-- <p class="text-center"> <strong class="ft-wt">AT-500 Series </strong> (AT-542 & 545), <strong class="ft-wt"> MT-600 Series </strong> (MT-643 & 653), <strong class="ft-wt">HT-700 Series </strong> (HT-740 & 750) </p> -->
   <p class="text-center legacy-models-para"> AT-500 Series <span style="font-family:BentonSans;"> (AT-542 & 545), </span>  MT-600 Series  <span style="font-family:BentonSans;"> (MT-643 & 653), </span> HT-700 Series <span style="font-family:BentonSans;"> (HT-740 & 750) </span> </p>
</div>

<p class="text-center ft-size-20"> <strong class="ft-wt"> Genuine Allison Parts<sup style="color:#000;">&trade;</sup>- RTS cost plus 20%  </strong> </p>
</div> <!-- col -->
</div> <!-- row -->
</div> <!-- allison-bottom-section -->





            </div> <!-- warranty-table-section -->



            </div> <!-- container -->
            <script src="{{ url('<front>') }}themes/RTSALLISON/js/jquery.min.js"></script>
            <script src="{{ url('<front>') }}themes/RTSALLISON/js/popper.min.js"></script>
            <script src="{{ url('<front>') }}themes/RTSALLISON/js/bootstrap.min.js"></script>
</body>
</html>
