<style type="text/css">
  
  fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.popup_form{
      /*position: fixed;*/
      width:100%;
      /*height: 580px;*/
      top:0;
      left:0;
      /*z-index: 99;*/
      /*overflow: auto;*/
    }
/*    .popup_form:after {
      content:'';
     position: absolute;
     width:100%;
    height: 100%;
    top:0;
    left:0;
    background: #000;
    opacity: .5;
    }*/
    .popup_width{
      width:550px;
      margin:20px auto;
      /*background-color: #fff;*/
      padding: 10px;
      display: block;
      /*height: 580px;*/
      overflow: auto;
      position: relative;
      /*z-index: 999;*/
      
    }
    .popup_title{
      font-size: 22px;
      color: #000;
       font-family: 'Open Sans', sans-serif;
    }
    .left-form{
      display: inline-block;
      width:48%;
      margin-right: 10px;
    }
    .right-form{
      display: inline-block;
      width:48%;
    }
    .form-label{
      font-size: 15px;
      font-weight:500;
      display: block;
      margin-bottom: 5px;
      color: #000;
    }

.font_benton {
 font-family: 'BentonSans'; 
}
    .form-textbox{
      display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #232323;
        background-color: #fff;
        background-image: none;
        border: 1px solid #232323;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .blue_txt{
      font-size: 18px;
      color: #1e63ff;

      margin-bottom: 20px;
    }
    .form-group{
       margin-bottom: 15px;
    }
    .radio {
      margin: 0.5rem;
      display: inline-block;
    }
    .radio input[type=radio] {
      position: absolute;
      opacity: 0;
    }
    .radio-label{
      padding: 0!important;
    }
    .radio input[type=radio] + .radio-label:before {
      content: "";
      background: #f4f4f4;
      border-radius: 100%;
      border: 1px solid #eee;
      display: inline-block;
      width: 1.4em;
      height: 1.4em;
      position: relative;
      top: 0;
      margin-right: 1em;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
      transition: all 250ms ease;
    }
    .radio input[type=radio]:checked + .radio-label:before {
      background-color: #000000;
      box-shadow: inset 0 0 0 4px #f4f4f4;
    }
    .radio input[type=radio]:focus + .radio-label:before {
      outline: none;
      border-color: #3197EE;
    }
    .radio input[type=radio]:disabled + .radio-label:before {
      box-shadow: inset 0 0 0 4px #f4f4f4;
      border-color: #b4b4b4;
      background: #b4b4b4;
    }
    .radio input[type=radio] + .radio-label:empty:before {
      margin-right: 0;
    }
    .button_submit{
      text-align: center;
      background: #0068dd;
      color: #fff;
      border-radius: 6px;
      padding: 10px 20px;
      border:0;
      margin: 0 auto;
    }
    .text-center{
      text-align: center;
    }
    .bg_imag{
      position: absolute;
      top:0;
      left:0;
      z-index: -1;
    }
    .bg_imag img{
      max-width: 100%;
    }
    .bg_image{
      background: url("{{ url('<front>') }}/sites/default/files/popup_bg.jpg");
      background-size: 100% 100%;
    }
    .modal-backdrop {
    background-color: #000;
}
button.btn.btn-info.btn-lg {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;
    background: #1d58a8;
}
button.close{
  color: #000 !important;
  
}
h4.modal-title {
    position: relative;
    top: 13px;
    width: 50%;
}
.fflx{
  display: flex;
  height: 100%;
}
.fflx_vt-cnt{
  display: flex;
  align-items: center;
  height: 100%;
}
.modal-content.bg_image {
    height: 580px;
    overflow-y: auto;
}
.fflx_vt-cnt .container{
  display: flex;
  justify-content: center;
}
</style>
<div>
<section class="product_desc">
    <div class="">
      <div class="container">
        <div class="faq-page-breadcrumb">
          <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
           <!--  <div class="breadcrumb-item"><a href="{{ url('<front>') }}">Home</a></div><i class="fa fa-chevron-right"></i> -->
              <div class="breadcrumb-item"><a href="{{ url('<front>') }}/part_search">Part Search</a></div><i class="fa fa-chevron-right"></i>
            <div class="breadcrumb-item current">Product Details</div>
          </div>
        </div>

    <!--product_desc_bg -->
    <!-- img_array -->
    <div class="product_desc_content">
      <div class="container">
        <div class="row fflx">
          <div class="col-sm-12 col-xs-12">
            <div class="row col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="product_image m-t-10">
              <img src="{{ url('<front>') }}sites/default/files/3000.png" alt="slider image" />
               <!-- <div id="owl_1" class="owl-carousel owl-theme">
                  <div class="item productslide_img">
                    <a data-type="iframe" width="420" height="315" href="https://www.youtube.c
                    om/watch?v=Idnsf0W6moM" allowfullscreen class="fancybox">
                      <img src="{{ url('<front>') }}sites/default/files/3000.png" alt="slider image" />
                    </a>
                  </div> 
                {% for key,valuearr in img_array %}
                  <div class="item productslide_img">
                    <img ng-src="{{ url('<front>') }}sites/default/files/{{valuearr}}" alt="" class="image block__pic">
                  </div>
                {% endfor %}
                </div> //-->
                <div id="owl_2" class="owl-carousel owl-theme m-t-20">
                  {% for key,valuearr in img_array %}
                  <div class="item">
                    <img ng-src="{{ url('<front>') }}sites/default/files/{{valuearr}}" alt="" class="image">
                  </div>
                  {% endfor %}
                </div>
                <div class="slide_buttons">
                  <div class="next_btn"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                  <div class="prev_btn"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                </div>
              </div>
            </div>
              <div class="col-md-6" style="margin-left: 30px;">
              <h1 style="color:#c63f55;">Allison 3000 Series Transmission<h1>
              <h3 class="fs-20">Product Details</h3>
              <p style="color:#000;font-weight:500;line-height1.75;"><b>Manufactured By</b> : Allison<br/>
              <b>Condition</b> : Remanufactured<br/>
              <!-- <b>Type </b>: Highway<br/> //-->
              <b>Model</b> :3000 Series</p>
              <button type="button" class="btn btn-info btn-lg m-t-20" data-toggle="modal" data-target="#myModal" style="display:block;">Get a quote</button>
              </div>
            <div class="row col-md-4 fflx_vt-cnt" style="height: 40%;">
              <div class="container">
  <!-- Trigger the modal with a button -->
  

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content bg_image">
        <div class="modal-header" style="padding: 15px;border-bottom: 1px solid #e5e5e5;">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title" style="top:45px;">Contact Details</h4>
          <div style="padding-right: 0;text-align: right;padding-top: 0;margin-top: -32px;">
            <img src="{{ url('<front>') }}sites/default/files/RTS-Logo.png" style="width: 175px;">
          </div>
        </div>
        <div class="modal-body">
          <div class="popup_form">
    <div class="popup_width">
      <!-- <div class="bg_imag">
        <img src="{{ url('<front>') }}sites/default/files/RTS_image.pngpopup_bg.jpg">
      </div> -->
      <!-- <h2 class="popup_title">Contact Details</h2> -->
      <form role="form" method="post" action="allison_3000_series_transmission" id="product_desc_form" onsubmit="return validateForm()" class="font_benton">
      <div class="left-form">
        <div class="form-group">
          <label class="form-label">NAME</label>
          <input type="text" placeholder="Name*" name="name" id="name" required class="form-textbox" value="">
        </div>
        <div class="form-group">
          <label class="form-label">COMPANY</label>
          <input type="text" placeholder="Company*" name="company" id="company" required class="form-textbox" value="">
        </div>
      </div>
      <div class="right-form">
        <div class="form-group">
          <label class="form-label">TITLE</label>
          <input type="text" placeholder="Title*" name="title" id="title" required class="form-textbox" value="">
        </div>
        <div class="form-group">
          <label class="form-label">EMAIL</label>
          <input type="email" placeholder="Email*" name="email" id="email" required class="form-textbox border_gray" >
        </div>
      </div>
      <div class="radio_sec">
          <div class="form-group">
             <div class="radio">
                <input id="radio-1" name="radio" type="radio">
                <label for="radio-1" class="radio-label">PHONE</label>
              </div>
              <div class="radio">
                <input id="radio-2" name="radio" type="radio" checked>
                <label for="radio-2" class="radio-label">MOBILE </label>
              </div>
              <div class="radio">
                <input id="radio-3" name="radio" type="radio">
                <label for="radio-3" class="radio-label">OFFICE</label>
              </div>
            </div>
            <div class="form-group">
            <input type="text" placeholder="Phone*" name="phone" id="phone" required class="form-textbox" style="width: 60%;" value="">
          </div>

      </div>
      <p class="blue_txt">In order to process your quote completely and successfully, all information on the transmission nameplate is required, *including</p>

      <!-- <div class="form-group">
        <label class="form-label">Purchased on </label>
        <input type="date" placeholder="YY-MM-DD" name="purchased_on" id="purchased_on" class="form-textbox">
      </div>
      <div class="form-group">
        <label class="form-label">Proof of installation date </label>
        <input type="date" placeholder="YY-MM-DD" name="installation_date" id="installation_date" class="form-textbox">
      </div> //-->
      <div class="form-group">
        <label class="form-label">TRANSMISSION MODEL NUMBER </label>
        <input type="text" name="model_no" id="model_no" class="form-textbox">
      </div>
      <div class="form-group">
        <label class="form-label">TRANSMISSION SERIAL NUMBER </label>
        <input type="text" name="serial_no" id="serial_no" class="form-textbox">
      </div>
      <div class="form-group">
        <label class="form-label">TRANSMISSION PART NUMBER </label>
        <input type="text" name="part_no" id="part_no" class="form-textbox">
      </div>
      <div class="form-group">
        <label class="form-label">VEHICLE MAKE </label>
        <input type="text" name="make" id="make" class="form-textbox">
      </div>
      <div class="form-group">
        <label class="form-label">VEHICLE MODEL</label>
        <input type="text" name="model" id="model" class="form-textbox">
      </div>
      <!-- <div class="form-group">
        <label class="form-label">VEHICLE MILEAGE</label>
        <input type="text" name="mileage" id="mileage" class="form-textbox">
      </div> //-->
      <div class="form-group">
        <label class="form-label">CUSTOMER'S NAME</label>
        <input type="text" name="customer_name" id="customer_name" class="form-textbox">
      </div>
      <div class="form-group">
        <label class="form-label">CUSTOMER'S VEHICLE NUMBER </label>
        <input type="text" name="vehicle_no" id="vehicle_no" class="form-textbox">
      </div>
      <div class="form-group">
        <label class="form-label">VIN NUMBER </label>
        <input type="text" name="vehicle_info_no" id="vehicle_info_no" class="form-textbox">
      </div>
      <div class="form-group">
        <label class="form-label">VEHICLE VOCATION</label>
        <input type="text" name="vocation" id="vocation" class="form-textbox">
      </div>

      <div class="form-group text-center">
       <!-- <button class="button_submit">Submit</button> //-->
        <button class="button_submit" id="submit" type="submit" value="SEND">
                      Submit                  
                  </button>
      </div>


    </div>
  </div>
  </form>
        </div>
<!--         <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
      
    </div>
  </div>
  
</div>
              
            </div>
 
 
          </div>
        </div>
      </div>
    </div>
          </div>
    </div>
    <!--product_desc_content-->
    <br>
    <div class="container">
      <div class="col-md-12 fl">


      <table>
          {% if interchange_array['field_call_price'] != '' %}
            <tr>
              <td><b>SKU:</b></td>
              <td>
                <span>{{interchange_array['sku']}}</span>
              </td>
            </tr>
          {% endif %}
          {% if interchange_array['field_lester'] != '' %}
            <tr class="pd_rr">
              <td><b>Lester:</b></td>
              <td><span>
                {{interchange_array['field_lester']}}</span>
              </td>
            </tr>
          {% endif %}
      </table>

      </div>
    </div>
    <div class="container">
      <div class="col-md-12 fl">
        {% if interchange_array['field_interchange'] != "" %}
          <table>
            <tr>
              <td><b>Interchange Part Number:</b></td>
            </tr>
            <tr class="pd_rr">

                <td><span>{{interchange_array['field_interchange']}}</span></td>

            </tr>


          </table>
        {% endif %}
      </div>
    </div>

<div class="container maye_div">

   <div style="clear:both"></div>
  <br>


 </div>
 </div>
  </section>

    <div class="container key_features">

      <div class="x-bg-02 x-shao">

        <div id="x-head-pull"></div>
        <div class="x-content">
          <!-- beg left panel -->

            <!-- end left panel -->
            <!-- beg right panel -->
            <div id="x-main" style="border:1px solid #dedede;margin-bottom:15px !important;">

              <!-- listing description -->
            <h4 class="x-ttba x-fftb x-brdt x-bktt" style="background:#bdbdbd;padding:0;">
              <div class="x-tins x-ffac" style="color: white;">Product Description</div></h4>
              <div id="x-main-desc" class="x-tbox x-brdm x-bklt">
                <div class="x-tins">
  <!-- listing specs table -->
                 <!-- <div id="x-main-spec_cst">
                    <br>
                   <h4 style="background: #1F4398 none;color:white" class="x-ttba x-fftb x-brdd x-grdn"><div class="x-tins x-ffac">Product Specifications</div></h4>
                   <div class="x-tbox x-brdm x-bklt">
                    
                   </div>
                  </div> 
                  <br>
                  <p>
                <!-- LISTING DESCRIPTION GOES HERE -->

                </p>
                <div class="container">
                  <p style="text-align: left">
                  Vocations for transmission: Beverage, Cement Mixers, Dock Spotter, Dump Trucks, Emergency/Fire & Rescue, Pick-up & Delivery, Military, Motor Home/RV, Refuse/Garbage/Recycling, Shuttle Bus, Utility, Wrecker
                  </p>
                </div>
               </div>
            </div>

<script type="text/javascript">
var email = $('#email').val();
  function validateForm() {
    if($('#name').val() == ''){
      $('#name').css("border-color","red");
      return false;
    }else{
      $('#name').css("border-color","green");
    }

    if($('#email').val() == ''){
      $('#email').css("border-color","red");
      return false;
    } else {
      $('#email').css("border-color","green");
    }

    if($('#phone').val() == ''){
      $('#phone').css("border-color","red");
      return false;
    }else{
      $('#phone').css("border-color","green");
    } 

    if($('#company').val() == ''){
      $('#company').css("border-color","red");
      return false;
    }else{
      $('#company').css("border-color","green");
      
    }
    return true; 
  }

  function validateEmail(emailField){
          var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

          if (reg.test(emailField.value) == false) 
          {
              alert('Invalid Email Address');
              return false;
          }

          return true;

  }
  </script>



