<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<link rel="canonical" href="https://avada.theme-fusion.com/large-alternate/">

<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel="stylesheet" id="ls-google-fonts-css" href="./Large Alternate - Avada Website Builder_files/css" type="text/css" media="all">
<!--[if IE]>
<link rel='stylesheet' id='avada-IE-css'  href='https://avada.theme-fusion.com/wp-content/themes/Avada/assets/css/dynamic/ie.min.css?ver=7.2.1' type='text/css' media='all' />
<style id='avada-IE-inline-css' type='text/css'>
.avada-select-parent .select-arrow{background-color:#ffffff}
.select-arrow{background-color:#ffffff}
</style>
<![endif]-->
<!-- <link rel="stylesheet" id="fusion-dynamic-css-css" href="css/blog.min.css" type="text/css" media="all"> -->
<script type="text/javascript" src="css/jquery.min.js.download" id="jquery-core-js"></script>
<script type="text/javascript" id="layerslider-utils-js-extra">
/* <![CDATA[ */
var LS_Meta = {"v":"6.11.5","fixGSAP":"1"};
/* ]]> */
</script>
<script type="text/javascript" src="./Large Alternate - Avada Website Builder_files/layerslider.utils.js.download" id="layerslider-utils-js"></script>
<meta name="generator" content="Powered by LayerSlider 6.11.5 - Multi-Purpose, Responsive, Parallax, Mobile-Friendly Slider Plugin for WordPress.">

<link rel="https://api.w.org/" href="https://avada.theme-fusion.com/wp-json/"><link rel="alternate" type="application/json" href="https://avada.theme-fusion.com/wp-json/wp/v2/pages/11849"><link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://avada.theme-fusion.com/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://avada.theme-fusion.com/wp-includes/wlwmanifest.xml">
<link rel="shortlink" href="https://avada.theme-fusion.com/?p=11849">
<link rel="alternate" type="application/json+oembed" href="https://avada.theme-fusion.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Favada.theme-fusion.com%2Flarge-alternate%2F">
<link rel="alternate" type="text/xml+oembed" href="https://avada.theme-fusion.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Favada.theme-fusion.com%2Flarge-alternate%2F&amp;format=xml">
<style type="text/css" id="css-fb-visibility">@media screen and (max-width: 640px){body:not(.fusion-builder-ui-wireframe) .fusion-no-small-visibility{display:none !important;}body:not(.fusion-builder-ui-wireframe) .sm-text-align-center{text-align:center !important;}body:not(.fusion-builder-ui-wireframe) .sm-text-align-left{text-align:left !important;}body:not(.fusion-builder-ui-wireframe) .sm-text-align-right{text-align:right !important;}body:not(.fusion-builder-ui-wireframe) .sm-mx-auto{margin-left:auto !important;margin-right:auto !important;}body:not(.fusion-builder-ui-wireframe) .sm-ml-auto{margin-left:auto !important;}body:not(.fusion-builder-ui-wireframe) .sm-mr-auto{margin-right:auto !important;}body:not(.fusion-builder-ui-wireframe) .fusion-absolute-position-small{position:absolute;top:auto;width:100%;}}@media screen and (min-width: 641px) and (max-width: 1024px){body:not(.fusion-builder-ui-wireframe) .fusion-no-medium-visibility{display:none !important;}body:not(.fusion-builder-ui-wireframe) .md-text-align-center{text-align:center !important;}body:not(.fusion-builder-ui-wireframe) .md-text-align-left{text-align:left !important;}body:not(.fusion-builder-ui-wireframe) .md-text-align-right{text-align:right !important;}body:not(.fusion-builder-ui-wireframe) .md-mx-auto{margin-left:auto !important;margin-right:auto !important;}body:not(.fusion-builder-ui-wireframe) .md-ml-auto{margin-left:auto !important;}body:not(.fusion-builder-ui-wireframe) .md-mr-auto{margin-right:auto !important;}body:not(.fusion-builder-ui-wireframe) .fusion-absolute-position-medium{position:absolute;top:auto;width:100%;}}@media screen and (min-width: 1025px){body:not(.fusion-builder-ui-wireframe) .fusion-no-large-visibility{display:none !important;}body:not(.fusion-builder-ui-wireframe) .lg-text-align-center{text-align:center !important;}body:not(.fusion-builder-ui-wireframe) .lg-text-align-left{text-align:left !important;}body:not(.fusion-builder-ui-wireframe) .lg-text-align-right{text-align:right !important;}body:not(.fusion-builder-ui-wireframe) .lg-mx-auto{margin-left:auto !important;margin-right:auto !important;}body:not(.fusion-builder-ui-wireframe) .lg-ml-auto{margin-left:auto !important;}body:not(.fusion-builder-ui-wireframe) .lg-mr-auto{margin-right:auto !important;}body:not(.fusion-builder-ui-wireframe) .fusion-absolute-position-large{position:absolute;top:auto;width:100%;}}
</style> 

<style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style>
</head>

	<style type="text/css">html.hs-messages-widget-open.hs-messages-mobile,html.hs-messages-widget-open.hs-messages-mobile body{overflow:hidden!important;position:relative!important}html.hs-messages-widget-open.hs-messages-mobile body{height:100%!important;margin:0!important}#hubspot-messages-iframe-container{display:initial!important;z-index:2147483647;position:fixed!important;bottom:0!important}#hubspot-messages-iframe-container.widget-align-left{left:0!important}#hubspot-messages-iframe-container.widget-align-right{right:0!important}#hubspot-messages-iframe-container.internal{z-index:1016}#hubspot-messages-iframe-container.internal iframe{min-width:108px}#hubspot-messages-iframe-container .shadow-container{display:initial!important;z-index:-1;position:absolute;width:0;height:0;bottom:0;content:""}#hubspot-messages-iframe-container .shadow-container.internal{display:none!important}#hubspot-messages-iframe-container .shadow-container.active{width:400px;height:400px}#hubspot-messages-iframe-container iframe{display:initial!important;width:100%!important;height:100%!important;border:none!important;position:absolute!important;bottom:0!important;right:0!important;background:transparent!important}</style>
<a class="skip-link screen-reader-text" href="https://avada.theme-fusion.com/large-alternate/#content">Skip to content</a>
<div id="boxed-wrapper">
<div class="fusion-sides-frame"></div>
<div id="wrapper" class="fusion-wrapper">
<div id="home" style="position:relative;top:-1px;"></div>

<div id="sliders-container">
</div>
<!-- <div class="avada-page-titlebar-wrapper">
<div class="fusion-page-title-bar fusion-page-title-bar-none fusion-page-title-bar-center">
<div class="fusion-page-title-row">
<div class="fusion-page-title-wrapper">
<div class="fusion-page-title-captions">
<h1 class="entry-title fusion-responsive-typography-calculated" data-fontsize="52" data-lineheight="114.4px" style="--fontSize:52; line-height: 2.2;">Large Alternate</h1>
<div class="fusion-page-title-secondary">
<div class="fusion-breadcrumbs"><span class="fusion-breadcrumb-item"><a href="https://avada.theme-fusion.com/" class="fusion-breadcrumb-link"><span>Home</span></a></span><span class="fusion-breadcrumb-sep">/</span><span class="fusion-breadcrumb-item"><span class="breadcrumb-leaf">Large Alternate</span></span></div> </div>
</div>
</div>
</div>
</div>
</div> -->
<main id="main" class="clearfix ">
<div class="fusion-row" style="">
<section id="content" style="float: left;">
<div id="post-11849" class="post-11849 page type-page status-publish hentry">
<span class="entry-title rich-snippet-hidden">Large Alternate</span><span class="vcard rich-snippet-hidden"><span class="fn"><a href="https://avada.theme-fusion.com/author/dario/" title="Posts by Dario Pineda" rel="author">Dario Pineda</a></span></span><span class="updated rich-snippet-hidden">2019-07-31T22:01:07+00:00</span>
<div class="post-content">
<div class="fusion-fullwidth fullwidth-box fusion-builder-row-1 nonhundred-percent-fullwidth non-hundred-percent-height-scrolling" style="background-color: rgba(255,255,255,0);background-position: center center;background-repeat: no-repeat;padding-top:2%;padding-right:0px;padding-bottom:0px;padding-left:0px;margin-bottom: 0px;margin-top: 0px;border-width: 0px 0px 0px 0px;border-color:#eae9e9;border-style:solid;"><div class="fusion-builder-row fusion-row"><div class="fusion-layout-column fusion_builder_column fusion-builder-column-2 fusion_builder_column_1_1 1_1 fusion-one-full fusion-column-first fusion-column-last" style="margin-top:0px;margin-bottom:0px;"><div class="fusion-column-wrapper fusion-flex-column-wrapper-legacy" style="background-position: left top; background-repeat: no-repeat; background-size: cover; padding: 0px; min-height: 0px;"><div class="fusion-blog-shortcode fusion-blog-shortcode-1 fusion-blog-archive fusion-blog-layout-large-alternate fusion-blog-pagination"><div class="fusion-posts-container fusion-posts-container-pagination fusion-blog-rollover" data-pages="1"><article id="blog-1-post-1949" class="fusion-post-large-alternate post-1949 post type-post status-publish format-standard has-post-thumbnail hentry category-blog-page-example category-postsliders">
<style type="text/css">
		
		
		
		
			</style>
<div class="fusion-flexslider flexslider fusion-post-slideshow" style="">
<ul class="slides">
<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
<div class="fusion-image-wrapper fusion-image-size-fixed" aria-haspopup="true">
<img width="669" height="272" src="http://localhost/rtsallison_staging//sites/default/files/mechanic.jpg" class="attachment-blog-large size-blog-large wp-post-image lazyloaded" alt="">
<div class="fusion-rollover">
<div class="fusion-rollover-content">
<a class="fusion-rollover-link" href="https://avada.theme-fusion.com/embed-posts/">Embed Posts</a>
<div class="fusion-rollover-sep"></div>
<a class="fusion-rollover-gallery" href="https://avada.theme-fusion.com/wp-content/uploads/2019/04/blog-featured-image-0.jpg" data-id="1949" data-rel="iLightbox[gallery]" data-title="blog-featured-image-0" data-caption="">
Gallery </a>
<h4 class="fusion-rollover-title fusion-responsive-typography-calculated" data-fontsize="24" data-lineheight="31.2px" style="--fontSize:24; line-height: 1.3; --minFontSize:24;">
<a class="fusion-rollover-title-link" href="https://avada.theme-fusion.com/embed-posts/">
Embed Posts </a>
</h4>
<div class="fusion-rollover-categories"><a href="https://avada.theme-fusion.com/category/blog-page-example/" rel="tag">Blog Page Example</a>, <a href="https://avada.theme-fusion.com/category/postsliders/" rel="tag">Postsliders</a></div>
<a class="fusion-link-wrapper" href="https://avada.theme-fusion.com/embed-posts/" aria-label="Embed Posts"></a>
</div>
</div>
</div>
</li>
</ul>
<ol class="flex-control-nav flex-control-paging"></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev flex-disabled" href="https://avada.theme-fusion.com/large-alternate/#" tabindex="-1"></a></li><li class="flex-nav-next"><a class="flex-next flex-disabled" href="https://avada.theme-fusion.com/large-alternate/#" tabindex="-1"></a></li></ul></div>
<div class="fusion-date-and-formats"><div class="fusion-date-box updated"><span class="fusion-date">11</span><span class="fusion-month-year">04, 2019</span></div>
<!-- <div class="fusion-format-box"><i class="fusion-icon-pen" aria-hidden="true"></i></div> -->
</div><div class="fusion-post-content post-content"><h2 class="blog-shortcode-post-title entry-title fusion-responsive-typography-calculated" data-fontsize="24" data-lineheight="36px" style="--fontSize:24; line-height: 1.5; --minFontSize:24;"><a href="https://avada.theme-fusion.com/embed-posts/">Embed Posts</a></h2><p class="fusion-single-line-meta"><span class="vcard" style="display: none;"><span class="fn"><a href="https://avada.theme-fusion.com/author/admin/" title="Posts by admin" rel="author">admin</a></span></span><span class="updated" style="display:none;">2019-07-31T22:08:12+00:00</span><span>April 11th, 2019</span><span class="fusion-inline-sep">|</span>Categories: <a href="https://avada.theme-fusion.com/category/blog-page-example/" rel="category tag">Blog Page Example</a>, <a href="https://avada.theme-fusion.com/category/postsliders/" rel="category tag">Postsliders</a><span class="fusion-inline-sep">|</span><span class="fusion-comments"><a href="https://avada.theme-fusion.com/embed-posts/#respond">0 Comments</a></span></p><div class="fusion-post-content-container"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur felis est, scelerisque vel venenatis eu, pretium vel nunc. Fusce accumsan libero non massa malesuada auctor.</p></div></div><div class="fusion-clearfix"></div><div class="fusion-meta-info"><div class="fusion-alignright"><a class="fusion-read-more" href="https://avada.theme-fusion.com/embed-posts/" aria-label="More on Embed Posts">Read More</a></div></div></article>
<article id="blog-1-post-1945" class="fusion-post-large-alternate post-1945 post type-post status-publish format-audio has-post-thumbnail hentry category-blog-page-example post_format-post-format-audio">
<style type="text/css">
		
		
		
		
			</style>
<div class="fusion-flexslider flexslider fusion-post-slideshow" style="">
<ul class="slides">
<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
<div class="fusion-image-wrapper fusion-image-size-fixed" aria-haspopup="true">
<img width="669" height="272" src="http://localhost/rtsallison_staging//sites/default/files/mechanic.jpg" class="attachment-blog-large size-blog-large wp-post-image lazyloaded" alt="" data-orig-src="https://avada.theme-fusion.com/wp-content/uploads/2019/04/blog-featured-image-1-669x272.jpg" draggable="false">
<div class="fusion-rollover">
<div class="fusion-rollover-content">
<a class="fusion-rollover-link" href="https://avada.theme-fusion.com/design-freedom/">Design Freedom</a>
<div class="fusion-rollover-sep"></div>
<a class="fusion-rollover-gallery" href="https://avada.theme-fusion.com/wp-content/uploads/2019/04/blog-featured-image-1.jpg" data-id="1945" data-rel="iLightbox[gallery]" data-title="blog-featured-image-1" data-caption="">
Gallery </a>
<h4 class="fusion-rollover-title fusion-responsive-typography-calculated" data-fontsize="24" data-lineheight="31.2px" style="--fontSize:24; line-height: 1.3; --minFontSize:24;">
<a class="fusion-rollover-title-link" href="https://avada.theme-fusion.com/design-freedom/">
Design Freedom </a>
</h4>
<div class="fusion-rollover-categories"><a href="https://avada.theme-fusion.com/category/blog-page-example/" rel="tag">Blog Page Example</a></div>
<a class="fusion-link-wrapper" href="https://avada.theme-fusion.com/design-freedom/" aria-label="Design Freedom"></a>
</div>
</div>
</div>
</li>
</ul>
<ol class="flex-control-nav flex-control-paging"></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev flex-disabled" href="https://avada.theme-fusion.com/large-alternate/#" tabindex="-1"></a></li><li class="flex-nav-next"><a class="flex-next flex-disabled" href="https://avada.theme-fusion.com/large-alternate/#" tabindex="-1"></a></li></ul></div>
<div class="fusion-date-and-formats"><div class="fusion-date-box updated"><span class="fusion-date">11</span><span class="fusion-month-year">04, 2019</span></div>
<!-- <div class="fusion-format-box"><i class="fusion-icon-headphones" aria-hidden="true"></i></div> -->
</div>
<div class="fusion-post-content post-content"><h2 class="blog-shortcode-post-title entry-title fusion-responsive-typography-calculated" data-fontsize="24" data-lineheight="36px" style="--fontSize:24; line-height: 1.5; --minFontSize:24;"><a href="https://avada.theme-fusion.com/design-freedom/">Design Freedom</a></h2><p class="fusion-single-line-meta"><span class="vcard" style="display: none;"><span class="fn"><a href="https://avada.theme-fusion.com/author/admin/" title="Posts by admin" rel="author">admin</a></span></span><span class="updated" style="display:none;">2020-06-09T05:41:51+00:00</span><span>April 11th, 2019</span><span class="fusion-inline-sep">|</span>Categories: <a href="https://avada.theme-fusion.com/category/blog-page-example/" rel="category tag">Blog Page Example</a><span class="fusion-inline-sep">|</span><span class="fusion-comments"><a href="https://avada.theme-fusion.com/design-freedom/#respond">0 Comments</a></span></p><div class="fusion-post-content-container"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur felis est, scelerisque vel venenatis eu, pretium vel nunc. Fusce accumsan libero non massa malesuada auctor.</p></div></div><div class="fusion-clearfix"></div><div class="fusion-meta-info"><div class="fusion-alignright"><a class="fusion-read-more" href="https://avada.theme-fusion.com/design-freedom/" aria-label="More on Design Freedom">Read More</a></div></div></article>
<article id="blog-1-post-1942" class="fusion-post-large-alternate post-1942 post type-post status-publish format-chat has-post-thumbnail hentry category-blog-page-example post_format-post-format-chat">
<style type="text/css">
		
		
		
		
			</style>
<div class="fusion-flexslider flexslider fusion-post-slideshow" style="">
<ul class="slides">
<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
<div class="fusion-image-wrapper fusion-image-size-fixed" aria-haspopup="true">
<img width="669" height="272" src="http://localhost/rtsallison_staging//sites/default/files/mechanic.jpg" class="attachment-blog-large size-blog-large wp-post-image lazyloaded" alt="" data-orig-src="https://avada.theme-fusion.com/wp-content/uploads/2019/04/blog-featured-image-2-669x272.jpg" draggable="false">
<div class="fusion-rollover">
<div class="fusion-rollover-content">
<a class="fusion-rollover-link" href="https://avada.theme-fusion.com/choose-different-layouts/">Choose Different Layouts</a>
<div class="fusion-rollover-sep"></div>
<a class="fusion-rollover-gallery" href="https://avada.theme-fusion.com/wp-content/uploads/2019/04/blog-featured-image-2.jpg" data-id="1942" data-rel="iLightbox[gallery]" data-title="blog-featured-image-2" data-caption="">
Gallery </a>
<h4 class="fusion-rollover-title fusion-responsive-typography-calculated" data-fontsize="24" data-lineheight="31.2px" style="--fontSize:24; line-height: 1.3; --minFontSize:24;">
<a class="fusion-rollover-title-link" href="https://avada.theme-fusion.com/choose-different-layouts/">
Choose Different Layouts </a>
</h4>
<div class="fusion-rollover-categories"><a href="https://avada.theme-fusion.com/category/blog-page-example/" rel="tag">Blog Page Example</a></div>
<a class="fusion-link-wrapper" href="https://avada.theme-fusion.com/choose-different-layouts/" aria-label="Choose Different Layouts"></a>
</div>
</div>
</div>
</li>
</ul>
<ol class="flex-control-nav flex-control-paging"></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev flex-disabled" href="https://avada.theme-fusion.com/large-alternate/#" tabindex="-1"></a></li><li class="flex-nav-next"><a class="flex-next flex-disabled" href="https://avada.theme-fusion.com/large-alternate/#" tabindex="-1"></a></li></ul></div>
<div class="fusion-date-and-formats"><div class="fusion-date-box updated"><span class="fusion-date">11</span><span class="fusion-month-year">04, 2019</span></div>
<!-- <div class="fusion-format-box"><i class="fusion-icon-bubbles" aria-hidden="true"></i></div> -->
</div>
<div class="fusion-post-content post-content"><h2 class="blog-shortcode-post-title entry-title fusion-responsive-typography-calculated" data-fontsize="24" data-lineheight="36px" style="--fontSize:24; line-height: 1.5; --minFontSize:24;"><a href="https://avada.theme-fusion.com/choose-different-layouts/">Choose Different Layouts</a></h2><p class="fusion-single-line-meta"><span class="vcard" style="display: none;"><span class="fn"><a href="https://avada.theme-fusion.com/author/admin/" title="Posts by admin" rel="author">admin</a></span></span><span class="updated" style="display:none;">2019-07-31T22:07:50+00:00</span><span>April 11th, 2019</span><span class="fusion-inline-sep">|</span>Categories: <a href="https://avada.theme-fusion.com/category/blog-page-example/" rel="category tag">Blog Page Example</a><span class="fusion-inline-sep">|</span><span class="fusion-comments"><a href="https://avada.theme-fusion.com/choose-different-layouts/#respond">0 Comments</a></span></p><div class="fusion-post-content-container"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur felis est, scelerisque vel venenatis eu, pretium vel nunc. Fusce accumsan libero non massa malesuada auctor.</p></div></div><div class="fusion-clearfix"></div><div class="fusion-meta-info"><div class="fusion-alignright"><a class="fusion-read-more" href="https://avada.theme-fusion.com/choose-different-layouts/" aria-label="More on Choose Different Layouts">Read More</a></div></div></article>
<article id="blog-1-post-1939" class="fusion-post-large-alternate post-1939 post type-post status-publish format-gallery has-post-thumbnail hentry category-blog-page-example post_format-post-format-gallery">
<style type="text/css">
		
		
		
		
			</style>
<div class="fusion-flexslider flexslider fusion-post-slideshow" style="">
<ul class="slides">
<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
<div class="fusion-image-wrapper fusion-image-size-fixed" aria-haspopup="true">
<img width="669" height="272" src="http://localhost/rtsallison_staging//sites/default/files/mechanic.jpg" class="attachment-blog-large size-blog-large wp-post-image lazyloaded" alt="Guitar singer" data-orig-src="https://avada.theme-fusion.com/wp-content/uploads/2019/04/pexels-markus-spiske-92080-sized-669x272.jpg" draggable="false">
<div class="fusion-rollover">
<div class="fusion-rollover-content">
<a class="fusion-rollover-link" href="https://avada.theme-fusion.com/avada-wordpress-theme/">Avada WordPress Theme</a>
<div class="fusion-rollover-sep"></div>
<a class="fusion-rollover-gallery" href="https://avada.theme-fusion.com/wp-content/uploads/2019/04/pexels-markus-spiske-92080-sized.jpg" data-id="1939" data-rel="iLightbox[gallery]" data-title="Guitar singer" data-caption="">
Gallery </a>
<h4 class="fusion-rollover-title fusion-responsive-typography-calculated" data-fontsize="24" data-lineheight="31.2px" style="--fontSize:24; line-height: 1.3; --minFontSize:24;">
<a class="fusion-rollover-title-link" href="https://avada.theme-fusion.com/avada-wordpress-theme/">
Avada WordPress Theme </a>
</h4>
<div class="fusion-rollover-categories"><a href="https://avada.theme-fusion.com/category/blog-page-example/" rel="tag">Blog Page Example</a></div>
<a class="fusion-link-wrapper" href="https://avada.theme-fusion.com/avada-wordpress-theme/" aria-label="Avada WordPress Theme"></a>
</div>
</div>
</div>
</li>
</ul>
<ol class="flex-control-nav flex-control-paging"></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev flex-disabled" href="https://avada.theme-fusion.com/large-alternate/#" tabindex="-1"></a></li><li class="flex-nav-next"><a class="flex-next flex-disabled" href="https://avada.theme-fusion.com/large-alternate/#" tabindex="-1"></a></li></ul></div>
<div class="fusion-date-and-formats"><div class="fusion-date-box updated"><span class="fusion-date">11</span><span class="fusion-month-year">04, 2019</span></div>
<!-- <div class="fusion-format-box"><i class="fusion-icon-images" aria-hidden="true"></i></div> -->
</div>
<div class="fusion-post-content post-content"><h2 class="blog-shortcode-post-title entry-title fusion-responsive-typography-calculated" data-fontsize="24" data-lineheight="36px" style="--fontSize:24; line-height: 1.5; --minFontSize:24;"><a href="https://avada.theme-fusion.com/avada-wordpress-theme/">Avada WordPress Theme</a></h2><p class="fusion-single-line-meta"><span class="vcard" style="display: none;"><span class="fn"><a href="https://avada.theme-fusion.com/author/admin/" title="Posts by admin" rel="author">admin</a></span></span><span class="updated" style="display:none;">2020-08-27T14:10:58+00:00</span><span>April 11th, 2019</span><span class="fusion-inline-sep">|</span>Categories: <a href="https://avada.theme-fusion.com/category/blog-page-example/" rel="category tag">Blog Page Example</a><span class="fusion-inline-sep">|</span><span class="fusion-comments"><a href="https://avada.theme-fusion.com/avada-wordpress-theme/#respond">0 Comments</a></span></p><div class="fusion-post-content-container"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur felis est, scelerisque vel venenatis eu, pretium vel nunc. Fusce accumsan libero non massa malesuada auctor.</p></div></div><div class="fusion-clearfix"></div><div class="fusion-meta-info"><div class="fusion-alignright"><a class="fusion-read-more" href="https://avada.theme-fusion.com/avada-wordpress-theme/" aria-label="More on Avada WordPress Theme">Read More</a></div></div></article>


</div></div>
</div>
</div>
</div>
</section>
<aside id="sidebar" class="sidebar fusion-widget-area fusion-content-widget-area fusion-sidebar-right fusion-blogsidebar" style="float: right;">
<!-- <section id="social_links-widget-3" class="widget social_links"><div class="heading"><h4 class="widget-title fusion-responsive-typography-calculated" data-fontsize="20" data-lineheight="26px" style="--fontSize:20; line-height: 1.3; --minFontSize:20;">Get Social</h4></div>
<div class="fusion-social-networks boxed-icons">
<div class="fusion-social-networks-wrapper">
<a class="fusion-social-network-icon fusion-tooltip fusion-facebook fusion-icon-facebook" href="https://www.facebook.com/pages/Themefusion/101565403356430" data-placement="top" data-title="Facebook" data-toggle="tooltip" data-original-title="Facebook" title="" aria-label="Facebook" rel="nofollow noopener noreferrer" target="_blank" style="border-radius:50%;padding:12px;font-size:18px;color:#ffffff;background-color:#3b5998;border-color:#3b5998;"><i class="fa fa-facebook"></i></a>
<a class="fusion-social-network-icon fusion-tooltip fusion-twitter fusion-icon-twitter" href="https://twitter.com/Theme_Fusion" data-placement="top" data-title="Twitter" data-toggle="tooltip" data-original-title="Twitter" title="" aria-label="Twitter" rel="nofollow noopener noreferrer" target="_blank" style="border-radius:50%;padding:12px;font-size:18px;color:#ffffff;background-color:#55acee;border-color:#55acee;"></a>
<a class="fusion-social-network-icon fusion-tooltip fusion-youtube fusion-icon-youtube" href="https://www.youtube.com/channel/UC_C7uAOAH9RMzZs-CKCZ62w" data-placement="top" data-title="Youtube" data-toggle="tooltip" data-original-title="YouTube" title="" aria-label="YouTube" rel="nofollow noopener noreferrer" target="_blank" style="border-radius:50%;padding:12px;font-size:18px;color:#ffffff;background-color:#cd201f;border-color:#cd201f;"></a>
<a class="fusion-social-network-icon fusion-tooltip fusion-instagram fusion-icon-instagram" href="https://www.instagram.com/themefusion/" data-placement="top" data-title="Instagram" data-toggle="tooltip" data-original-title="Instagram" title="" aria-label="Instagram" rel="nofollow noopener noreferrer" target="_blank" style="border-radius:50%;padding:12px;font-size:18px;color:#ffffff;background-color:#3f729b;border-color:#3f729b;"></a>
<a class="fusion-social-network-icon fusion-tooltip fusion-mail fusion-icon-mail" href="mailto:support@theme-fusion.com" data-placement="top" data-title="Mail" data-toggle="tooltip" data-original-title="Mail" title="" aria-label="Mail" rel="nofollow noopener noreferrer" target="_blank" style="border-radius:50%;padding:12px;font-size:18px;color:#ffffff;background-color:#000000;border-color:#000000;"></a>
</div>
</div>
</section> -->
<section id="pyre_tabs-widget-2" class="widget fusion-tabs-widget"> <div class="fusion-tabs-widget-wrapper fusion-tabs-widget-2 fusion-tabs-clean fusion-tabs-image-default tab-holder">
<nav class="fusion-tabs-nav">
<ul class="tabset tabs">
<li class="active"><a href="https://avada.theme-fusion.com/large-alternate/#" data-link="fusion-tab-popular">Popular</a></li>
<li><a href="https://avada.theme-fusion.com/large-alternate/#" data-link="fusion-tab-recent">Recent</a></li>
</ul>
</nav>
<div class="fusion-tabs-widget-content tab-box tabs-container">
<div class="fusion-tab-popular fusion-tab-content tab tab_content" data-name="fusion-tab-popular">
<ul class="fusion-tabs-widget-items news-list">
<li>
<div class="image">
<a href="https://avada.theme-fusion.com/taking-it-back-to-the-old-school/" aria-label="Taking it back to the old school"><img width="66" height="66" src="./Large Alternate - Avada Website Builder_files/blog-post1-66x66.webp" class="attachment-recent-works-thumbnail size-recent-works-thumbnail wp-post-image lazyautosizes lazyloaded" alt="" srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/blog-post1-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/blog-post1-150x150.jpg 150w" data-orig-src="https://avada.theme-fusion.com/wp-content/uploads/2019/07/blog-post1-66x66.jpg" data-srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/blog-post1-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/blog-post1-150x150.jpg 150w" data-sizes="auto" sizes="52px"></a>
</div>
<div class="post-holder">
<a href="https://avada.theme-fusion.com/taking-it-back-to-the-old-school/">Taking it back to the old school</a>
<div class="fusion-meta">
July 23rd, 2019 </div>
</div>
</li>
<li>
<div class="image">
<a href="https://avada.theme-fusion.com/the-flavor-of-rock/" aria-label="The flavor of rock"><img width="66" height="66" src="./Large Alternate - Avada Website Builder_files/blog_flavor_rock-66x66.jpg" class="attachment-recent-works-thumbnail size-recent-works-thumbnail wp-post-image lazyautosizes lazyloaded" alt="" srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/blog_flavor_rock-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/blog_flavor_rock-150x150.jpg 150w" data-orig-src="https://avada.theme-fusion.com/wp-content/uploads/2019/07/blog_flavor_rock-66x66.jpg" data-srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/blog_flavor_rock-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/blog_flavor_rock-150x150.jpg 150w" data-sizes="auto" sizes="52px"></a>
</div>
<div class="post-holder">
<a href="https://avada.theme-fusion.com/the-flavor-of-rock/">The flavor of rock</a>
<div class="fusion-meta">
July 23rd, 2019 </div>
</div>
</li>
<li>
<div class="image">
<a href="https://avada.theme-fusion.com/embed-posts/" aria-label="Embed Posts"><img width="66" height="66" src="./Large Alternate - Avada Website Builder_files/blog-featured-image-0-66x66.jpg" class="attachment-recent-works-thumbnail size-recent-works-thumbnail wp-post-image lazyautosizes lazyloaded" alt="" srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/04/blog-featured-image-0-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/04/blog-featured-image-0-150x150.jpg 150w, https://avada.theme-fusion.com/wp-content/uploads/2019/04/blog-featured-image-0-200x199.jpg 200w, https://avada.theme-fusion.com/wp-content/uploads/2019/04/blog-featured-image-0-300x298.jpg 300w, https://avada.theme-fusion.com/wp-content/uploads/2019/04/blog-featured-image-0-400x398.jpg 400w, https://avada.theme-fusion.com/wp-content/uploads/2019/04/blog-featured-image-0-600x597.jpg 600w, https://avada.theme-fusion.com/wp-content/uploads/2019/04/blog-featured-image-0.jpg 740w" data-orig-src="https://avada.theme-fusion.com/wp-content/uploads/2019/04/blog-featured-image-0-66x66.jpg" data-srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/04/blog-featured-image-0-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/04/blog-featured-image-0-150x150.jpg 150w, https://avada.theme-fusion.com/wp-content/uploads/2019/04/blog-featured-image-0-200x199.jpg 200w, https://avada.theme-fusion.com/wp-content/uploads/2019/04/blog-featured-image-0-300x298.jpg 300w, https://avada.theme-fusion.com/wp-content/uploads/2019/04/blog-featured-image-0-400x398.jpg 400w, https://avada.theme-fusion.com/wp-content/uploads/2019/04/blog-featured-image-0-600x597.jpg 600w, https://avada.theme-fusion.com/wp-content/uploads/2019/04/blog-featured-image-0.jpg 740w" data-sizes="auto" sizes="52px"></a>
</div>
<div class="post-holder">
<a href="https://avada.theme-fusion.com/embed-posts/">Embed Posts</a>
<div class="fusion-meta">
April 11th, 2019 </div>
</div>
</li>
</ul>
</div>
<div class="fusion-tab-recent fusion-tab-content tab tab_content" data-name="fusion-tab-recent" style="display: none;">
<ul class="fusion-tabs-widget-items news-list">
<li>
<div class="image">
<a href="https://avada.theme-fusion.com/technology-and-music/" aria-label="Technology and music"><img width="66" height="66" src="./Large Alternate - Avada Website Builder_files/pexels-markus-spiske-193349-sized-66x66.jpg" class="attachment-recent-works-thumbnail size-recent-works-thumbnail lazyload wp-post-image" alt="Matrix code" srcset="data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271750%27%20height%3D%27875%27%20viewBox%3D%270%200%201750%20875%27%3E%3Crect%20width%3D%271750%27%20height%3D%273875%27%20fill-opacity%3D%220%22%2F%3E%3C%2Fsvg%3E" data-orig-src="https://avada.theme-fusion.com/wp-content/uploads/2019/07/pexels-markus-spiske-193349-sized-66x66.jpg" data-srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/pexels-markus-spiske-193349-sized-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/pexels-markus-spiske-193349-sized-150x150.jpg 150w" data-sizes="auto"></a>
</div>
<div class="post-holder">
<a href="https://avada.theme-fusion.com/technology-and-music/">Technology and music</a>
<div class="fusion-meta">
July 23rd, 2019 </div>
</div>
</li>
<li>
<div class="image">
<a href="https://avada.theme-fusion.com/taking-it-back-to-the-old-school/" aria-label="Taking it back to the old school"><img width="66" height="66" src="./Large Alternate - Avada Website Builder_files/blog-post1-66x66.webp" class="attachment-recent-works-thumbnail size-recent-works-thumbnail lazyload wp-post-image" alt="" srcset="data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%27800%27%20height%3D%271200%27%20viewBox%3D%270%200%20800%201200%27%3E%3Crect%20width%3D%27800%27%20height%3D%2731200%27%20fill-opacity%3D%220%22%2F%3E%3C%2Fsvg%3E" data-orig-src="https://avada.theme-fusion.com/wp-content/uploads/2019/07/blog-post1-66x66.jpg" data-srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/blog-post1-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/blog-post1-150x150.jpg 150w" data-sizes="auto"></a>
</div>
<div class="post-holder">
<a href="https://avada.theme-fusion.com/taking-it-back-to-the-old-school/">Taking it back to the old school</a>
<div class="fusion-meta">
July 23rd, 2019 </div>
</div>
</li>
<li>
<div class="image">
<a href="https://avada.theme-fusion.com/while-my-guitar-gently-weeps/" aria-label="While my guitar gently weeps"><img width="66" height="66" src="./Large Alternate - Avada Website Builder_files/blog-post3-66x66.jpg" class="attachment-recent-works-thumbnail size-recent-works-thumbnail lazyload wp-post-image" alt="" srcset="data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%27800%27%20height%3D%271200%27%20viewBox%3D%270%200%20800%201200%27%3E%3Crect%20width%3D%27800%27%20height%3D%2731200%27%20fill-opacity%3D%220%22%2F%3E%3C%2Fsvg%3E" data-orig-src="https://avada.theme-fusion.com/wp-content/uploads/2019/07/blog-post3-66x66.jpg" data-srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/blog-post3-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/blog-post3-150x150.jpg 150w" data-sizes="auto"></a>
</div>
<div class="post-holder">
<a href="https://avada.theme-fusion.com/while-my-guitar-gently-weeps/">While my guitar gently weeps</a>
<div class="fusion-meta">
July 23rd, 2019 </div>
</div>
</li>
</ul>
</div>
</div>
</div>
</section>
<section id="recent-posts-2" class="widget widget_recent_entries">
<div class="heading"><h4 class="widget-title fusion-responsive-typography-calculated" data-fontsize="20" data-lineheight="26px" style="--fontSize:20; line-height: 1.3; --minFontSize:20;">Recent Posts</h4></div>
<ul>
<li>
<a href="https://avada.theme-fusion.com/technology-and-music/">Technology and music</a>
</li>
<li>
<a href="https://avada.theme-fusion.com/taking-it-back-to-the-old-school/">Taking it back to the old school</a>
</li>
<li>
<a href="https://avada.theme-fusion.com/while-my-guitar-gently-weeps/">While my guitar gently weeps</a>
</li>
<li>
<a href="https://avada.theme-fusion.com/it-just-sounds-better/">It just sounds better</a>
</li>
<li>
<a href="https://avada.theme-fusion.com/sharing-the-stage-with-a-legend/">Sharing the stage with a legend</a>
</li>
</ul>
</section>
<!-- <section id="search-2" class="widget widget_search"> <form role="search" class="searchform fusion-search-form  fusion-search-form-clean" method="get" action="https://avada.theme-fusion.com/">
<div class="fusion-search-form-content">
<div class="fusion-search-field search-field">
<label><span class="screen-reader-text">Search for:</span>
<input type="search" value="" name="s" class="s" placeholder="Search..." required="" aria-required="true" aria-label="Search...">
</label>
</div>
<div class="fusion-search-button search-button">
<input type="submit" class="fusion-search-submit searchsubmit" aria-label="Search" value="">
</div>
</div>
</form>
</section> -->
<section id="categories-2" class="widget widget_categories"><div class="heading"><h4 class="widget-title fusion-responsive-typography-calculated" data-fontsize="20" data-lineheight="26px" style="--fontSize:20; line-height: 1.3; --minFontSize:20;">Categories</h4></div>
<ul>
<li class="cat-item cat-item-6"><a href="https://avada.theme-fusion.com/category/blog-page-example/">Blog Page Example</a>
</li>
<li class="cat-item cat-item-15"><a href="https://avada.theme-fusion.com/category/masonry/">Masonry</a>
</li>
<li class="cat-item cat-item-14"><a href="https://avada.theme-fusion.com/category/postsliders/">Postsliders</a>
</li>
</ul>
</section><section id="recent_works-widget-2" class="widget recent_works"><div class="heading"><h4 class="widget-title fusion-responsive-typography-calculated" data-fontsize="20" data-lineheight="26px" style="--fontSize:20; line-height: 1.3; --minFontSize:20;">Recent Works</h4></div>
<div class="recent-works-items clearfix">
<a href="https://avada.theme-fusion.com/portfolio-items/donec-et-sagittis/" target="_self" rel="" title="Donec Et Sagittis">
<img width="66" height="66" src="./Large Alternate - Avada Website Builder_files/port-project-17-66x66.webp" class="attachment-recent-works-thumbnail size-recent-works-thumbnail wp-post-image lazyautosizes lazyloaded" alt="" srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-17-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-17-150x150.jpg 150w" data-orig-src="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-17-66x66.jpg" data-srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-17-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-17-150x150.jpg 150w" data-sizes="auto" sizes="66px"> </a>
<a href="https://avada.theme-fusion.com/portfolio-items/enim-pellentesque/" target="_self" rel="" title="Enim Pellentesque">
<img width="66" height="66" src="./Large Alternate - Avada Website Builder_files/port-project-11-66x66.webp" class="attachment-recent-works-thumbnail size-recent-works-thumbnail wp-post-image lazyautosizes lazyloaded" alt="" srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-11-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-11-150x150.jpg 150w" data-orig-src="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-11-66x66.jpg" data-srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-11-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-11-150x150.jpg 150w" data-sizes="auto" sizes="66px"> </a>
<a href="https://avada.theme-fusion.com/portfolio-items/cras-mollis-nons/" target="_self" rel="" title="Cras Mollis Nons">
<img width="66" height="66" src="./Large Alternate - Avada Website Builder_files/port-project-13-66x66.webp" class="attachment-recent-works-thumbnail size-recent-works-thumbnail wp-post-image lazyautosizes lazyloaded" alt="" srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-13-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-13-150x150.jpg 150w" data-orig-src="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-13-66x66.jpg" data-srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-13-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-13-150x150.jpg 150w" data-sizes="auto" sizes="66px"> </a>
<a href="https://avada.theme-fusion.com/portfolio-items/proin-tortor-orcus/" target="_self" rel="" title="Proin Tortor Orcus">
<img width="66" height="66" src="./Large Alternate - Avada Website Builder_files/port-project-15-66x66.webp" class="attachment-recent-works-thumbnail size-recent-works-thumbnail wp-post-image lazyautosizes lazyloaded" alt="" srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-15-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-15-150x150.jpg 150w" data-orig-src="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-15-66x66.jpg" data-srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-15-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-15-150x150.jpg 150w" data-sizes="auto" sizes="66px"> </a>
<a href="https://avada.theme-fusion.com/portfolio-items/cras-commodo-ets/" target="_self" rel="" title="Cras Commodo Ets">
<img width="66" height="66" src="./Large Alternate - Avada Website Builder_files/port-project-12-66x66.webp" class="attachment-recent-works-thumbnail size-recent-works-thumbnail wp-post-image lazyautosizes lazyloaded" alt="" srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-12-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-12-150x150.jpg 150w" data-orig-src="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-12-66x66.jpg" data-srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-12-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-12-150x150.jpg 150w" data-sizes="auto" sizes="66px"> </a>
<a href="https://avada.theme-fusion.com/portfolio-items/class-et-aptent/" target="_self" rel="" title="Class Et Aptent">
<img width="66" height="66" src="./Large Alternate - Avada Website Builder_files/port-project-13-66x66.webp" class="attachment-recent-works-thumbnail size-recent-works-thumbnail wp-post-image lazyautosizes lazyloaded" alt="" srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-13-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-13-150x150.jpg 150w" data-orig-src="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-13-66x66.jpg" data-srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-13-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-13-150x150.jpg 150w" data-sizes="auto" sizes="66px"> </a>
<a href="https://avada.theme-fusion.com/portfolio-items/iaculis-eu-gigni/" target="_self" rel="" title="Iaculis Eu Gigni">
<img width="66" height="66" src="./Large Alternate - Avada Website Builder_files/port-project-16-66x66.webp" class="attachment-recent-works-thumbnail size-recent-works-thumbnail wp-post-image lazyautosizes lazyloaded" alt="" srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-16-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-16-150x150.jpg 150w" data-orig-src="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-16-66x66.jpg" data-srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-16-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-16-150x150.jpg 150w" data-sizes="auto" sizes="66px"> </a>
<a href="https://avada.theme-fusion.com/portfolio-items/donec-magna-velit/" target="_self" rel="" title="Donec Magna Velit">
<img width="66" height="66" src="./Large Alternate - Avada Website Builder_files/port-project-14-66x66.webp" class="attachment-recent-works-thumbnail size-recent-works-thumbnail wp-post-image lazyautosizes lazyloaded" alt="" srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-14-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-14-150x150.jpg 150w" data-orig-src="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-14-66x66.jpg" data-srcset="https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-14-66x66.jpg 66w, https://avada.theme-fusion.com/wp-content/uploads/2019/07/port-project-14-150x150.jpg 150w" data-sizes="auto" sizes="66px"> </a>
</div>
</section> </aside>
</div> 
</main> 

<div class="fusion-sliding-bar-wrapper">
</div>
</div> 
</div> 
<div class="fusion-top-frame"></div>
<div class="fusion-bottom-frame"></div>
<div class="fusion-boxed-shadow"></div>
<a class="fusion-one-page-text-link fusion-page-load-link"></a>
</div>
</div>

<style type="text/css">.fss-wrapper-1 .fss-sidebar { flex: 1 0 275px;}.fss-wrapper-1 .fss-demo-grid { flex: 1 1 calc(100% - 275px);}.fss-wrapper-1 .fss-demo-grid { grid-gap: 8px;padding: 8px 8px 0 0;}.fss-wrapper-1 .fss-sidebar-content { padding: 25px 25px 25px 25px;}.fss-wrapper-1 { font-size: 14px;}.fss-wrapper-1 { color: #000000;}.fss-wrapper-1 .fss-policy-sep { color: #dfdfdf;}.fss-wrapper-1 .fss-separator,.fss-wrapper-1 .fss-demo-tag-search-wrapper,.fss-wrapper-1 .fss-toggle-icon,.fss-wrapper-1 .fss-filters-cotainer,.fss-wrapper-1 .fss-filter .fss-checkmark,.fss-wrapper-1 .fss-color-radio-wrapper { border-color: #dfdfdf;}.fss-wrapper-1 .fss-demo-tag-search-icon { fill: #dfdfdf;}.fss-wrapper-1 .fss-demo-tag-search-wrapper ::placeholder { color: #dfdfdf; opacity: 1; } .fss-wrapper-1 .fss-demo-tag-search-wrapper :-ms-input-placeholder,.fss-wrapper-1 .fss-demo-tag-search-wrapper ::-ms-input-placeholder { color: #dfdfdf;}.fss-wrapper-1 .fss-sidebar-content { background-color: #ffffff;}.fss-wrapper-1 .fss-content, .fss-sidebar, .fss-demo-grid { background-color: #ffffff;}.fss-wrapper-1 .fss-demo-grid { grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));}.fss-wrapper-1 .fss-demo-grid .fss-demo-thumb.fss-new-demo:after { font-size: 1em;}.fss-wrapper-1 .fss-buy-button,.fss-wrapper-1 .fss-demo-grid .fss-demo-thumb.fss-new-demo:after { background-color:#65bc7b;}.fss-wrapper-1 .fss-policies a:hover,.fss-wrapper-1 .fss-filter-current,.fss-wrapper-1 .fss-filter:hover,.fss-wrapper-1 .fss-filter:focus,.fss-wrapper-1 .fss-filter:active,.fss-wrapper-1  .fss-demo-name:hover { color:#65bc7b;}.fss-wrapper-1 .fss-demo-tag-search-wrapper:focus-within,.fss-wrapper-1 .fss-filter:hover input ~ .fss-checkmark,.fss-wrapper-1 .fss-filter input:checked ~ .fss-checkmark,.fss-wrapper-1 .fss-filter input:checked ~ .fss-checkmark:after,.fss-wrapper-1 .fss-filter .fss-checkmark:after { border-color:#65bc7b;}.fss-wrapper-1 .fss-toggle-buy-price { color:#65bc7b;}.fss-wrapper-1 .fss-buy-button:hover { background-color:#5aa86c;}</style> </div>
<script type="text/javascript">var fusionNavIsCollapsed=function(e){var t;window.innerWidth<=e.getAttribute("data-breakpoint")?(e.classList.add("collapse-enabled"),e.classList.contains("expanded")||(e.setAttribute("aria-expanded","false"),window.dispatchEvent(new Event("fusion-mobile-menu-collapsed",{bubbles:!0,cancelable:!0})))):(null!==e.querySelector(".menu-item-has-children.expanded .fusion-open-nav-submenu-on-click")&&e.querySelector(".menu-item-has-children.expanded .fusion-open-nav-submenu-on-click").click(),e.classList.remove("collapse-enabled"),e.setAttribute("aria-expanded","true"),null!==e.querySelector(".fusion-custom-menu")&&e.querySelector(".fusion-custom-menu").removeAttribute("style")),e.classList.add("no-wrapper-transition"),clearTimeout(t),t=setTimeout(function(){e.classList.remove("no-wrapper-transition")},400),e.classList.remove("loading")},fusionRunNavIsCollapsed=function(){var e,t=document.querySelectorAll(".fusion-menu-element-wrapper");for(e=0;e<t.length;e++)fusionNavIsCollapsed(t[e])};function avadaGetScrollBarWidth(){var e,t,n,s=document.createElement("p");return s.style.width="100%",s.style.height="200px",(e=document.createElement("div")).style.position="absolute",e.style.top="0px",e.style.left="0px",e.style.visibility="hidden",e.style.width="200px",e.style.height="150px",e.style.overflow="hidden",e.appendChild(s),document.body.appendChild(e),t=s.offsetWidth,e.style.overflow="scroll",t==(n=s.offsetWidth)&&(n=e.clientWidth),document.body.removeChild(e),t-n}fusionRunNavIsCollapsed(),window.addEventListener("fusion-resize-horizontal",fusionRunNavIsCollapsed);</script><link rel="stylesheet" id="wp-block-library-css" href="css/style.min.css" type="text/css" media="all">
<link rel="stylesheet" id="wp-block-library-theme-css" href="css/theme.min.css" type="text/css" media="all">

 </div>
<div class="to-top-container to-top-left to-top-floating">
<a href="https://avada.theme-fusion.com/large-alternate/#" id="toTop" class="fusion-top-top-link">
<span class="screen-reader-text">Go to Top</span>
</a>
</div>


