<div class="container">
     <!-- Slider -->
     <div class="">
      <div class="faq-page-breadcrumb">
        <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
          <div class="breadcrumb-item"><a href="{{ url('<front>') }}">Home</a></div><i class="fa fa-chevron-right"></i><div class="breadcrumb-item current">Brands</div>
        </div>
      </div>
     </div>

     <!-- Middle Content -->
    <div class="line-card-section">
      <div class="">
          <div id="div1" class="line_card_view">
            <div class="">
            <h1 class="h1-title text-center">Brands</h1>
        <!--    <h2 class="h2-title text-center">H2 Tage goes here</h2> //-->
            </div>
              {% for key,value in items%}
              <a class="img_main&quot;" href="{{ url('<front>') }}part_search?bd_id={{value[3]}}">
                <img class="img_view center" src="{{value[2]}}">
              </a>
              {% endfor %}
            </div>
        </div>
      </div>
    </div>