<div class="container">


      <div class="faq-page-breadcrumb">
        <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
          <div class="breadcrumb-item"><a href="{{ url('<front>') }}">Home</a></div><i class="fa fa-chevron-right"></i><div class="breadcrumb-item current">Compare</div>
        </div>
      </div>

      <div id="about-section" class="about-section">
    <h1 class="h1-title text-center">Compare Product</h1>

        <div class="compare-table-div m-t-40">
           <table cellspacing="0" cellpadding="0" border="0" class="compare-table">
              <thead class="fixedHeader">
                 <tr>
                    <th></th>
                     {% for key,value in product_name %}
                        <th class="compare_title text-center">
                           <!-- <div class="but_close_comp"> <a href=""> <i class="remove_x fa fa-times-circle"></i> </a> </div> -->
                           <div class=""> <a title="" href="" class=""> {{value}}</a> </div>
                        </th>
                      {% endfor %}
                 </tr>
              </thead>
              <tbody class="">
                 <tr>
                    <td> &nbsp; </td>
                    {% for key,value in product_image %}
                      <td class="text-center">
                        <a title="" href="">
                         <img width="120" alt="" class="" src="sites/default/files/{{value}}">
                       </a>
                      </td>
                    {% endfor %}
                 </tr>
                 <tr>
                    <td class="text-center"> Price </td>
                    {% for key,value in product_price %}
                      <td class="text-center compare_price "> <span class="rupee">$</span>{{value}} </td>
                    {% endfor %}
                 </tr>
                 <tr>
                    <td class="text-center"> Brand </td>
                    {% for key,value in brand %}
                      <td class="text-center compare_price "> {{value}} </td>
                    {% endfor %}
                 </tr>

                 <!-- <tr class="feature_info">
                    <td class="text-center"> </td>
                    {% for key,value in product_id %}
                      <td class="text-center">
                        <button id="{{value}}" type="button" class="addtocart_class addcart_btn cartbtn_bg">Add to cart</button>
                      </td>
                    {% endfor %}
                 </tr> -->

              </tbody>
           </table>
        </div>
      </div>
    </div>
