<style type="text/css">
      header,footer {
  display: none;
}
iframe {
    visibility: hidden;
    position: absolute;
    left: 0; top: 0;
    height:0; width:0;
    border: none;
}
    </style>
<div class="hle-scnd">

<div class="containerq container ccntr">

<div class="scnd_abt">
<div class="row mg0">
<div class="col-md-5">
<div class="scnd">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
</div>

</div>
<div class="col-md-7">
<div class="scndabt-cnt">
  <div class="scndabt-cnt_img">
    <img src="{{ url('<front>') }}themes/RTSALLISON/image/Allison.png">
  </div>
<h1>ALLISON AUTHORIZED FOR OVERHAUL (REMANUFACTURING)</h1>
<p>There are many Authorized Allison dealers that remanufacture Allison transmissions. Some national, many local. But you might be surprised to learn that <b>not
all dealers are actually authorized for remanufacturing.</b> An Allison dealer may just be authorized for Parts/Sales, Reprogramming, Maintenance, and/or Retran. But when it comes to remanufacturing, <b>authorized for overhaul</b> is what you need to know, and want. Why? Because if a dealer is <b>not authorized for overhaul,</b> there is no way for you to know how they remanufacture an Allison transmission. Are they using Allison Genuine Parts, or meeting Allison specifications? Can you really trust they have done it right? <b>RTS is authorized for overhaul.</b> You can trust we use only Allison Genuine Parts, meet and often exceed Allison specs, perform engineering updates, meet the FTC (Federal Trade Commission) guidelines, and so much more. Now combine that with 40 years of Allison-only experience, and the finest Allison certified technicians, why risk using anyone else? RTS is a no-brainer.</p>
</div>
</div>

</div>
<div class="row mg0 sccnd">
<div class="col-md-5">
<div class="scnd_cnt">
<p>To learn more about how we can help with your Allison transmission maintenance program:</p>
<h1>Call: 800.344.0485</h1>
<h1>Email: info@rtsallison.com</h1>
<h1 class="itl">or use our <span style="color:#0067ac">Contact Form</span></h1>
</div>
</div>
<div class="col-md-7">

<div class="abt_lst">
<div class="abt-lst_img">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
</div>
<div class="abt-lst_cnt"><a href="{{ url('<front>') }}c19warranty">
<h2>Warranty and Availability</h2>
<h4>Learn what makes our warranty different</h4>
</a>
</div>
</div>
<div class="btm">
<div class="bck_btn">
  <a href="{{ url('<front>') }}c19certified">back</a>
</div>
<div class="btm_img1">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
<div class="ins_btm_img2">

<img style="width:70%;margin-top:35px;" src="{{ url('<front>') }}themes/RTSALLISON/image/Industry.png">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/because.png" style="position: relative;top: 7px;width: 50%;">
</div>
</div>

<div class="lst">
<ul>
<li>(866) 442-1023</li>
<li>Privacy Policy</li>
<li>info@rtsallison.com</li>
</ul>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
  /*setTimeout(function() {
    $('#mydiv').fadeOut('fast');
}, 1000);*/
  var myVar = setInterval(myTimer, 500);

function myTimer() {
  $('#broadly-widget').fadeOut('fast');
}
</script>