<style type="text/css">
	header,footer {
		display: none;
	}

	#cpatchaTextBox{
		margin-bottom: 5px;
	}
	canvas{
		pointer-events:none;
		background-color: green;
		padding: 2px 2px 2px 2px;
	}
</style>

<div class="hletwo">
<section class="bannertwo">
  <div class="container">


<img src="{{ url('<front>') }}themes/RTSALLISON/image/banner.png">
<div class="bnr_cnttwo">
<h1>AMERICA’S NEW BEGINNING</h1>
</div>
<div class="arrow bounce ps_abs">
  <a class="fa fa-arrow-down fa-2x" href="#abbt"></a>
</div>
</div>
</section>
<div class="container ccntr">
<div class="intro-head h1-blacktwo">
<h1>MUCH LIKE REMANUFACTURING AN ALLISON TRANSMISSION, WE CAN MAKE AMERICA BETTER. STRONGER THAN EVER BEFORE. BUT WHEN IT COMES TO ALLISON TRANSMISSIONS,
THIS IS NO TIME TO CUT CORNERS.</h1>
<span><p>Gary Phillips, CEO, Reliable Transmission Service</p></span>
</div>
<div class="abttwo" id="abbt">
<div class="row mg0">
<div class="col-md-5">
<!-- <div class="scndtwo-inx2">
<iframe width="450" height="300" src="https://www.youtube.com/embed/dknYgYdfx9c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> //-->
<!--
<div class="scndtwo-inx2">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
 //-->
<div class="vdo_cnttwo">
<p>To learn more about how we can help with your Allison transmission maintenance program:</p>
<h1>Call: 800.344.0485</h1>
<h1>Email: info@rtsallison.com</h1>
<h1 class="itl">or use our Contact Form</h1>
</div>
<div class="cnttwo">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <form method="post" data-form-title="CONTACT US" action="covid2" method="post" id="contact_form">
              <input type="hidden" data-form-email="true">
              <input type="hidden" id="postid" name="postid" value='{{postid}}'>
              <div class="form-group">
                <input type="text" class="form-control" name="fname" id="fname" required="" placeholder="First Name*" data-form-field="First Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="lname" id="lname" required="" placeholder="Last Name*" data-form-field="Last Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" required="" placeholder="Email*" data-form-field="Email">
              </div>
              <div class="form-group">
                <input type="tel" class="form-control" name="phone" placeholder="Phone" data-form-field="Phone">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="order_num" id="order_num" placeholder="Order Number" data-form-field="Order Number">
              </div>	
              <div class="form-group">
                <textarea class="form-control" name="message" id="message" placeholder="Message" rows="5" data-form-field="Message"></textarea>
              </div>
			  <div class="form-group">
                      <div id="captcha" style=" width: 130px;margin-bottom:10px;">
                      </div>
                      <input type="text" placeholder="Captcha" id="cpatchaTextBox" autocomplete="off" />
                  </div> 
              <div>
                <!-- <button type="submit" class="btn btn-lg btn-danger">SEND MESSAGE</button> -->
                   <button type="submit" class="btn btn-lg btn-danger" onclick="validateCaptcha()">SEND MESSAGE </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-7">

<div class="abt-cnttwo">
<h1>DURING THIS TIME WHEN BUSINESS IS <span class="reditalic">ANYTHING BUT USUAL</span>, CHOOSING AN ALLISON DEALER WITH THE KNOWLEDGE, EXPERIENCE AND FULL SERVICE CAPABILITY WILL BE VITAL TO MAXIMIZE THE UPTIME AND LONGEVITY OF YOUR ALLISON TRANSMISSIONS.</h1>
<p>Let’s face it, 2020 has been <span class="italic">Blindsided by COVID-19</span>. All plans, revenue projections, budgets - you name it - they’re all out the window. For many, that likely includes any semblance of the vehicle replacement program anticipated at the start of the year. As that relates to your Allison maintenance program, it’s more important than ever to choose a partner with the experience and knowledge to give you solutions you can trust when servicing your transmissions, and remanufacturing Allisons. That’s why for nearly 40 years, customers have trusted RTS to be their Allison transmission partner. Why? <span class="bld">Because Allison is all we do.</span>™ And for the reasons below, our customers understand what that really means for them.</p>
<div class="abt_lsttwo">
<div class="abt-lst_imgtwo">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
</div>
<div class="abt-lst_cnttwo"><a href="{{ url('<front>') }}c19diagnos">
<h2>Diagnosing the problem, Correctly</h2>
<h4>What does that REALLY mean for you?</h4>
</a>
</div>
</div>
<div class="abt_lsttwo">
<div class="abt-lst_imgtwo">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
</div>
<div class="abt-lst_cnttwo"><a href="{{ url('<front>') }}c19gold">
<h2>Trust in RTS Remanufactured Gold</h2>
<h4>Learn the four reasons RTS sets the standard for remanufactured Allison transmissions.</h4>
</a>
</div>
</div>
<div class="abt_lsttwo">
<div class="abt-lst_imgtwo">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
</div>
<div class="abt-lst_cnttwo"><a href="{{ url('<front>') }}c19specialist">
<h2>Basic Training by Allison Specialists</h2>
<h4>What does RTS training really mean for your technicians, and for the life of your fleet’s Allison transmissions?</h4>
</a>
</div>
</div>
<div class="abt_lsttwo">
<div class="abt-lst_imgtwo">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/Logo-on-Mask.png">
</div>
<div class="abt-lst_cnttwo"><a href="{{ url('<front>') }}c19quality">
<h2>Quality over Price in post-COVID-19</h2>
<h4>Learn why Quality will be a more cost-effective solution if uncertainty has affected your vehicle replacement schedule.</h4>
</a>
</div>
</div>

</div>
<div class="abt_lst-btntwo">
<a href="http://rtsallison.com">RTS HOME</a>
<img src="{{ url('<front>') }}themes/RTSALLISON/image/Allison.png">
</div>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
  /*setTimeout(function() {
    $('#mydiv').fadeOut('fast');
}, 1000);*/
  var myVar = setInterval(myTimer, 500);

function myTimer() {
  $('#broadly-widget').fadeOut('fast');
}

window.onload = function() {
      createCaptcha();
    };
    var code;

function createCaptcha() {
      document.getElementById('captcha').innerHTML = "";
      var charsArray ="0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ@!#$%^&*";
      var lengthOtp = 6;
      var captcha = [];
      for (var i = 0; i < lengthOtp; i++) {
        var index = Math.floor(Math.random() * charsArray.length + 1);
        if (captcha.indexOf(charsArray[index]) == -1)
          captcha.push(charsArray[index]);
        else i--;
      }
      var canv = document.createElement("canvas");
      canv.id = "captcha";
      canv.width = 100;
      canv.height = 50;
      var ctx = canv.getContext("2d");
      ctx.font = "25px Georgia";
      ctx.strokeText(captcha.join(""), 0, 30);
      code = captcha.join("");
      document.getElementById("captcha").appendChild(canv); 
  
  }
    function validateCaptcha() {


    if($('#fname').val() == ''){
      $('#fname').css("border-color","red");
      return false;
    }else{
      $('#fname').css("border-color","green");
    }
    if($('#lname').val() == ''){
      $('#lname').css("border-color","red");
      return false;
    }else{
      $('#lname').css("border-color","green");
    }


    if($('#email').val() == ''){
      $('#email').css("border-color","red");
      return false;
    }else{
      $('#email').css("border-color","green");
    }

    if($('#phone').val() == ''){
      $('#phone').css("border-color","red");
      return false;
    }else{
      $('#phone').css("border-color","green");
    } 

    if($('#order_num').val() == ''){
      $('#order_num').css("border-color","red");
      return false;
    }else{
      $('#order_num').css("border-color","green");
    } 
      if($('#message').val() == ''){
      $('#message').css("border-color","red");
      return false;
    }else{
      $('#message').css("border-color","green");
    } 

    event.preventDefault();
    var capchaval=document.getElementById("cpatchaTextBox").value;
    if(capchaval == '' || capchaval == undefined){
      $('#cpatchaTextBox').css("border-color","red");
    }else{
      if (capchaval == code) {
       $( "#contact_form" ).submit();
      }else{
        $('#cpatchaTextBox').css("border-color","red");
        $('#cpatchaTextBox').val("");
        createCaptcha();
      }
    }
    
  }
  function isNumber(evt) {
    evt = (evt) ? evt : window.event;  
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}
</script>