<style type="text/css">
	header,footer {
		display: none;
	}
</style>
<div class="hle-scndtwo">

<div class="containerq container ccntr">

<div class="scnd_abttwo">
<div class="row mg0">
<div class="col-md-5">
<div class="scndtwo">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
</div>

</div>
<div class="col-md-7">
<div class="scndabt-cnttwo">
	<div class="scndabt-cnt_imgtwo">
		<img src="{{ url('<front>') }}themes/RTSALLISON/image/Allison.png">
	</div>
<h1>TRUST IN RTS REMANUFACTURED GOLD</h1>
<p>RTS has been remanufacturing Allison transmissions for nearly 40 years. And, because Allison is all we do, we know all there is to know about these incredibly complex transmissions. You better believe the lessons learned, and the procedures perfected, make a difference. Because it does. <b class="itl">There’s simply nobody who remanufactures an Allison better than RTS.</b> It is why RTS is recognized as the industry’s Gold Standard for remanufactured Allison transmissions. Want to learn more, click on the four reasons below that makes RTS different.</p>
</div>
</div>

</div>
<div class="row mg0 sccndtwo">
<div class="col-md-5">
<div class="scnd_cnttwo">
<p>To learn more about how we can help with your Allison transmission maintenance program:</p>
<h1>Call: 800.344.0485</h1>
<h1>Email: info@rtsallison.com</h1>
<h1 class="itl">or use our <span style="color:#0067ac">Contact Form</span></h1>
</div>
</div>
<div class="col-md-7">

<div class="bbdtwo">
<div class="bbd_inltwo">
<div class="inr_bbd_1two">
<h4>Allison-Only Experience</h4>
</div>
<div class="inr_bbd_2two">
<h4>Alliison Certified RTS Technicians</h4>
</div>
</div>
<div class="bbd_inl1two">
<div class="inr_bbd_1two">
<h4>Allison Authorized for Overhaul</h4>
</div>
<div class="inr_bbd_2two">
<h4>Warranty and Availability</h4>
</div>
</div>
</div>
<div class="abt_lsttwo">
<div class="abt-lst_imgtwo">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
</div>
<div class="abt-lst_cnttwo"><a href="{{ url('<front>') }}c19specialist">
<h2>Basic Training by Allison Specialists</h2>
<h4>What does RTS training really mean for your technicians, and for the life of your fleet’s Allison transmissions?</h4>
</a>
</div>
</div>
<div class="abt_lsttwo">
<div class="abt-lst_imgtwo">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/aboutus_logo.png">
</div>
<div class="abt-lst_cnttwo"><a href="{{ url('<front>') }}c19quality">
<h2>Quality over Price in post-COVID-19</h2>
<h4>Learn why Quality will be a more cost-effective solution if uncertainty has affected your vehicle replacement schedule.</h4>
</a>
</div>
</div>
<div class="btmtwo">
<div class="bck_btntwo">
	<a href="{{ url('<front>') }}c19diagnos">back</a>
</div>
<div class="btm_img1two">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png" >
<div class="ins_btm_img2two">
<img style="width:70%;margin-top:40px;" src="{{ url('<front>') }}themes/RTSALLISON/image/Industry.png">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/because.png" style="position: relative;top: 7px;width: 50%;">
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
