<style type="text/css">
	header,footer {
		display: none;
	}
</style>	
<div class="hle-scndtwo">

<div class="containerq container ccntr">

<div class="scnd_abttwo">
<div class="row mg0">
<div class="col-md-5">
<div class="scndtwo">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
</div>

</div>
<div class="col-md-7">
<div class="scndabt-cnttwo">
	<div class="scndabt-cnt_imgtwo">
		<img src="{{ url('<front>') }}themes/RTSALLISON/image/Allison.png">
	</div>
<h1>DIAGNOSING THE PROBLEM, CORRECTLY.</h1>
<p>When you have Allison’s in your fleet, you understand the complexity of these highly sophisticated, and technically advanced transmissions. So when one goes down, you don’t want just anybody servicing it. Who you trust to diagnose and service the issue, correctly, is vital to the uptime of your fleet. <b class="italic">With nearly 40 years of experience, there simply is nobody who knows Allison transmissions better than RTS.</b> So whether a transmission needs a repair, or needs to be replaced. We get it right. The first time. This is our reputation we earn every day.</p>
</div>
</div>
</div>
<div class="row mg0 sccndtwo">
<div class="col-md-5">
<div class="scnd_cnttwo">
<p>To learn more about how we can help with your Allison transmission maintenance program:</p>
<h1>Call: 800.344.0485</h1>
<h1>Email: info@rtsallison.com</h1>
<h1 class="itl">or use our <span style="color:#0067ac">Contact Form</span></h1>
</div>
</div>
<div class="col-md-7">
<div class="abt_lsttwo">
<div class="abt-lst_imgtwo">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
</div>
<div class="abt-lst_cnttwo"><a href="{{ url('<front>') }}c19gold">
<h2>Trust in RTS Remanufactured Gold</h2>
<h4>Learn the four reasons RTS sets the standard for remanufactured Allison transmissions.</h4>
</a>
</div>
</div>
<div class="abt_lsttwo">
<div class="abt-lst_imgtwo">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
</div>
<div class="abt-lst_cnttwo"><a href="{{ url('<front>') }}c19specialist">
<h2>Basic Training by Allison Specialists</h2>
<h4>What does RTS training really mean for your technicians, and for the life of your fleet’s Allison transmissions?</h4>
</a>
</div>
</div>
<div class="abt_lsttwo">
<div class="abt-lst_imgtwo">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
</div>
<div class="abt-lst_cnttwo"><a href="{{ url('<front>') }}c19quality">
<h2>Quality over Price in post-COVID-19</h2>
<h4>Learn why Quality will be a more cost-effective solution if uncertainty has affected your vehicle replacement schedule</h4>
</a>
</div>
</div>
<div class="btmtwo">
<div class="bck_btntwo">
	<a href="{{ url('<front>') }}covid2">back</a>
</div>
<div class="btm_img1two">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png" >
<div class="ins_btm_img2two">
<img style="width:70%;margin-top:40px;" src="{{ url('<front>') }}themes/RTSALLISON/image/Industry.png">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/because.png" style="position: relative;top: 7px;width: 50%;">
</div>
</div>

</div>
</div>
</div>

</div>

</div>

</div>