<style type="text/css">
      header,footer {
  display: none;
}
iframe {
    visibility: hidden;
    position: absolute;
    left: 0; top: 0;
    height:0; width:0;
    border: none;
}
    </style>
<div class="hle-scnd">

<div class="containerq container ccntr">

<div class="scnd_abt">
<div class="row mg0">
<div class="col-md-5">
<div class="scnd">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
</div>

</div>
<div class="col-md-7">
<div class="scndabt-cnt">
  <div class="scndabt-cnt_img">
    <img src="{{ url('<front>') }}themes/RTSALLISON/image/Allison.png">
  </div>
<h1>WARRANTY AND AVAILABILITY</h1>
<p>As for warranties, every RTS remanufactured, on-highway Allison transmission comes with our 2-year “Good as Gold” warranty. Why “Good as Gold?” Because the best
warranty is the one never needed, and <b>our warranty rarely is. What this really means to you over the long haul is increased uptime.</b> And with a reserve inventory of 300+ remanufactured Allisons, and a production inventory of 500+ Allisons, our nine U.S. locations are ready to serve you when you need it.</p>
</div>
</div>

</div>
<div class="row mg0 sccnd">
<div class="col-md-5">
<div class="scnd_cnt">
<p>To learn more about how we can help with your Allison transmission maintenance program:</p>
<h1>Call: 800.344.0485</h1>
<h1>Email: info@rtsallison.com</h1>
<h1 class="itl">or use our <span style="color:#0067ac">Contact Form</span></h1>
</div>
</div>
<div class="col-md-7">
<div class="btm">
<div class="bck_btn">
  <a href="{{ url('<front>') }}c19coverhaul">back</a>
</div>
<div class="btm_img1">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
<div class="ins_btm_img2">

<img style="width:70%;margin-top:35px;" src="{{ url('<front>') }}themes/RTSALLISON/image/Industry.png">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/because.png" style="position: relative;top: 7px;width: 50%;">
</div>
</div>

<div class="lst">
<ul>
<li>(866) 442-1023</li>
<li>Privacy Policy</li>
<li>info@rtsallison.com</li>
</ul>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
  /*setTimeout(function() {
    $('#mydiv').fadeOut('fast');
}, 1000);*/
  var myVar = setInterval(myTimer, 500);

function myTimer() {
  $('#broadly-widget').fadeOut('fast');
}
</script>