<style type="text/css">
      header,footer {
  display: none;
}

 #cpatchaTextBox{
  margin-bottom: 5px;
 }
 canvas{
  pointer-events:none;
  background-color: green;
  padding: 2px 2px 2px 2px;
}
    </style>
<div class="hle">
<section class="banner">
  <div class="container">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/banner.png">
<div class="bnr_cnt">
<h1>AMERICA’S NEW BEGINNING</h1>
</div>
<div class="arrow bounce ps_abs">
  <a class="fa fa-arrow-down fa-2x" href="#abbt"></a>
</div>
</div>
</section>
<div class="container ccntr">
<div class="intro-head h1-black">
<h1>MUCH LIKE REMANUFACTURING AN ALLISON TRANSMISSION, WE CAN MAKE AMERICA BETTER. STRONGER THAN EVER BEFORE.
BUT EVERYTHING MUST BE DONE RIGHT. NO CUTTING CORNERS.</h1>
<span><p>Gary Phillips, CEO, Reliable Transmission Service</p></span>
</div>
<div class="abt" id="abbt">
<div class="row mg0">
<div class="col-md-6">
<!--<div class="vdo">
<iframe width="450" height="300" style="margin-left:30px" src="https://www.youtube.com/embed/dknYgYdfx9c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<img src="{{ url('<front>') }}themes/RTSALLISON/image/director.png"> 
</div> //-->
<div class="vdo_cnt">
<p>To learn more about how we can help with your Allison transmission maintenance program:</p>
<h1>Call: 800.344.0485</h1>
<h1>Email: info@rtsallison.com</h1>
<h1 class="itl">or use our Contact Form</h1>
</div>
<div class="cnt">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
             
          <div class="col-sm-12">
                {% if error != '' %}
               <p id="msg"  class="alert-danger" style="padding:10px">{{error}}</p> 
              {% elseif success != '' %}
               <p id="msg" class="alert-success" style="padding:10px">{{success}}</p>
              {% endif %}
           <form method="post" data-form-title="CONTACT US" action="covid" method="post" id="contact_form">
              <input type="hidden" data-form-email="true">
              <input type="hidden" id="postid" name="postid" value='{{postid}}'>
              <div class="form-group">
                <input type="text" class="form-control" name="fname" id="fname" required="" placeholder="First Name*" data-form-field="First Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="lname" id="lname" required="" placeholder="Last Name*" data-form-field="Last Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" required="" placeholder="Email*" data-form-field="Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="phone" id="phone" required="" placeholder="Phone" data-form-field="Phone" onkeypress="return isNumber(event)">
              </div>
              <div class="form-group">
                <input type="text" class="form-control"  required="" name="order_num" id="order_num" placeholder="Order Number" data-form-field="Order Number">
              </div>  
              <div class="form-group">
                <textarea class="form-control" name="message" id="message" required="" placeholder="Message" rows="5" data-form-field="Message"></textarea>
              </div>
                 <div class="form-group">
                      <div id="captcha" style=" width: 130px;margin-bottom:10px;">
                      </div>
                      <input type="text" placeholder="Captcha" id="cpatchaTextBox" autocomplete="off" />
                  </div> 
              <div>
                <!-- <button type="submit" class="btn btn-lg btn-danger">SEND MESSAGE</button> -->
                   <button type="submit" class="btn btn-lg btn-danger" onclick="validateCaptcha()">SEND MESSAGE </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">

<div class="abt-cnt">
<h1>NOW, MORE THAN EVER,THE FOUR REASONS TO CHOOSE RTS AS YOUR PARTNER FOR YOUR ALLISON TRANSMISSION MAINTENANCE PROGRAM</h1>
<p>The fallout from COVID-19 has been vehicle replacement, as companies halted or greatly delayed new vehicle orders. Fleet maintenance managers will now face the unexpected challenge of continued maintenance for vehicles once scheduled for replacement. As this relates to your Allison transmissions, it’s more important than ever before to choose a partner with the experience and knowledge to give you solutions you can trust when servicing your transmissions, and providing remanufactured Allisons. That’s why for nearly 40 years, customers have trusted RTS to be their Allison transmission partner. Why? Because Allison is all we do.™ And for the reasons below, our customers understand what that really means for them.</p>
<div class="abt_lst">
<div class="abt-lst_img">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
</div>
<div class="abt-lst_cnt"><a href="{{ url('<front>') }}c19experience">
<h2>Allison-Only Experience</h2>
<h4>Learn why this is important</h4>
</a>
</div>
</div>
<div class="abt_lst">
<div class="abt-lst_img">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
</div>
<div class="abt-lst_cnt"><a href="{{ url('<front>') }}c19certified">
<h2>Allison Certified RTS Technicians</h2>
<h4>Learn what a difference this makes</h4>
</a>
</div>
</div>
<div class="abt_lst">
<div class="abt-lst_img">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">

</div>
<div class="abt-lst_cnt"><a href="{{ url('<front>') }}c19coverhaul">
<h2>Allison Authorized for Overhaul</h2>
<h4>Learn what this really means</h4>
</a>
</div>
</div>
<div class="abt_lst">
<div class="abt-lst_img">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
</div>
<div class="abt-lst_cnt"><a href="{{ url('<front>') }}c19warranty">
<h2>Warranty and Availability</h2>
<h4>Learn what makes our warranty different</h4>
</a>
</div>
</div>


<div class="abt_lst-btn">  
<a style="margin-left:22px;" href="http://rtsallison.com">RTS HOME</a>
<img src="{{ url('<front>') }}themes/RTSALLISON/image/Allison.png">
</div>

</div>
</div>

</div>
</div>
</div>
<div class="frst_btm">
<ul>
<li>(866) 442-1023</li>
<li>Privacy Policy</li>
<li>info@rtsallison.com</li>
</ul>
</div>
 
</div>

<script type="text/javascript">
  /*setTimeout(function() {
    $('#mydiv').fadeOut('fast');
}, 1000);*/
  var myVar = setInterval(myTimer, 500);

function myTimer() {
  $('#broadly-widget').fadeOut('fast');
}



window.onload = function() {
      createCaptcha();
    };
    var code;

function createCaptcha() {
      document.getElementById('captcha').innerHTML = "";
      var charsArray ="0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ@!#$%^&*";
      var lengthOtp = 6;
      var captcha = [];
      for (var i = 0; i < lengthOtp; i++) {
        var index = Math.floor(Math.random() * charsArray.length + 1);
        if (captcha.indexOf(charsArray[index]) == -1)
          captcha.push(charsArray[index]);
        else i--;
      }
      var canv = document.createElement("canvas");
      canv.id = "captcha";
      canv.width = 100;
      canv.height = 50;
      var ctx = canv.getContext("2d");
      ctx.font = "25px Georgia";
      ctx.strokeText(captcha.join(""), 0, 30);
      code = captcha.join("");
      document.getElementById("captcha").appendChild(canv); 
  
  }
    function validateCaptcha() {


    if($('#fname').val() == ''){
      $('#fname').css("border-color","red");
      return false;
    }else{
      $('#fname').css("border-color","green");
    }
    if($('#lname').val() == ''){
      $('#lname').css("border-color","red");
      return false;
    }else{
      $('#lname').css("border-color","green");
    }


    if($('#email').val() == ''){
      $('#email').css("border-color","red");
      return false;
    }else{
      $('#email').css("border-color","green");
    }

    if($('#phone').val() == ''){
      $('#phone').css("border-color","red");
      return false;
    }else{
      $('#phone').css("border-color","green");
    } 

    if($('#order_num').val() == ''){
      $('#order_num').css("border-color","red");
      return false;
    }else{
      $('#order_num').css("border-color","green");
    } 
      if($('#message').val() == ''){
      $('#message').css("border-color","red");
      return false;
    }else{
      $('#message').css("border-color","green");
    } 

    event.preventDefault();
    var capchaval=document.getElementById("cpatchaTextBox").value;
    if(capchaval == '' || capchaval == undefined){
      $('#cpatchaTextBox').css("border-color","red");
    }else{
      if (capchaval == code) {
       $( "#contact_form" ).submit();
      }else{
        $('#cpatchaTextBox').css("border-color","red");
        $('#cpatchaTextBox').val("");
        createCaptcha();
      }
    }
    
  }
  function isNumber(evt) {
    evt = (evt) ? evt : window.event;  
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}
</script>