<style type="text/css">
	header,footer {
		display: none;
	}
</style>
<div class="hle-scndtwo">

<div class="containerq container ccntr">

<div class="scnd_abttwo">
<div class="row mg0">
<div class="col-md-5">
<div class="scndtwo">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
</div>

</div>
<div class="col-md-7">
<div class="scndabt-cnttwo">
	<div class="scndabt-cnt_imgtwo">
		<img src="{{ url('<front>') }}themes/RTSALLISON/image/Allison.png">
	</div>
<h1>BASIC TRAINING BY ALLISON SPECIALISTS</h1>
<p>Even a transmission as tough as an Allison deserves the TLC necessary to maximize its uptime and lifecycle. Treat an Allison right, and it will treat you better than right, by delivering the longest possible life, at the lowest possible maintenance cost over the course of its lifecycle. <b class="bldfr">Allison TLC begins with the training of your technicians,</b> because an Allison is no playground for the untrained. Educating your technicians is key to an effective Allison maintenance program. And education is where RTS comes in. As an RTS customer, <b class="bldfr"> we offer an extensive training course by our own Certified Allison Specialists,</b> who will teach everything your technicians need to know about basic maintenance, and proper diagnosis of potential issues affecting your Allison transmissions.</p>
<br/>
</div>
</div>

</div>
<div class="row mg0 sccndtwo">
<div class="col-md-5">
<div class="scnd_cnttwo">
<p>To learn more about how we can help with your Allison transmission maintenance program:</p>
<h1>Call: 800.344.0485</h1>
<h1>Email: info@rtsallison.com</h1>
<h1 class="itl">or use our <span style="color:#0067ac">Contact Form</span></h1>
</div>
</div>
<div class="col-md-7">

<div class="abt_lsttwo">
<div class="abt-lst_imgtwo">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
</div>
<div class="abt-lst_cnttwo"><a href="{{ url('<front>') }}c19quality">
<h2>Quality over Price in post-COVID-19</h2>
<h4>Learn why Quality will be a more cost-effective solution if uncertainty has affected your vehicle replacement schedule.</h4>
</a>
</div>
</div>
<div class="btmtwo">
<div class="bck_btntwo">
	<a href="{{ url('<front>') }}c19gold">back</a>
</div>
<div class="btm_img1two">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png" >
<div class="ins_btm_img2two">
<img style="width:70%;margin-top:40px;" src="{{ url('<front>') }}themes/RTSALLISON/image/Industry.png">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/because.png" style="position: relative;top: 7px;width: 50%;">
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
