<style type="text/css">
	header,footer {
		display: none;
	}
</style>	
<div class="hle-scndtwo">

<div class="containerq container ccntr">

<div class="scnd_abttwo">
<div class="row mg0">
<div class="col-md-5">
<div class="scndtwo">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
</div>
</div>
<div class="col-md-7">
<div class="scndabt-cnttwo">
  <div class="scndabt-cnt_imgtwo">
    <img src="{{ url('<front>') }}themes/RTSALLISON/image/Allison.png">
  </div>
<h1>WARRANTY AND AVAILABILITY</h1>
<p>As for warranties, every RTS remanufactured, on-highway Allison transmission comes with our standard 2-year “Good as Gold” warranty, with 3-year and 1-year warranty options available based on your specific needs. Why is our warranty “Good as Gold?” Because the best warranty is the one never needed, and<b class="bldsx"> our warranty rarely is.</b> <b class="bldsxitl">What this really means to you over the long haul is increased uptime.</b> Now, that is true peace of mind. And with a reserve inventory of 300+ remanufactured Allisons, and a production inventory of 500+ Allisons, our nine U.S. locations are ready to serve you when you need it.</p>
<br/>
</div>
</div>

</div>
<div class="row mg0 sccndtwo">
<div class="col-md-5">
<div class="scnd_cnttwo">
<p>To learn more about how we can help with your Allison transmission maintenance program:</p>
<h1>Call: 800.344.0485</h1>
<h1>Email: info@rtsallison.com</h1>
<h1 class="itl">or use our <span style="color:#0067ac">Contact Form</span></h1>
</div>
</div>
<div class="col-md-7">
<div class="btmtwo">
<div class="bck_btntwo">
  <a href="{{ url('<front>') }}covid2">back</a>
</div>
<div class="btm_img1two">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png" >
<div class="ins_btm_img2two">
<img style="width:70%;margin-top:40px;" src="{{ url('<front>') }}themes/RTSALLISON/image/Industry.png">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/because.png" style="position: relative;top: 7px;width: 50%;">
</div>
</div>
 
</div>
</div>
</div>
</div>
</div>
</div>