<style type="text/css">
	header,footer {
		display: none;
	}
</style>
<div class="hle-scndtwo">

<div class="containerq container ccntr">

<div class="scnd_abttwo">
<div class="row mg0">
<div class="col-md-5">
<div class="scndtwo">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png">
</div>

</div>
<div class="col-md-7">
<div class="scndabt-cnttwo">
	<div class="scndabt-cnt_imgtwo">
		<img src="{{ url('<front>') }}themes/RTSALLISON/image/Allison.png">
	</div>
<h1>QUALITY OVER PRICE IN POST COVID-19</h1>
<p>Is your company’s vehicle replacement program in a COVID-19 upheaval? For many, vehicle replacement has indeed become a casualty to the virus. At this time, when
vehicle replacement returns to normal, is anybody’s guess. So for many, this means vehicles scheduled for replacement in 2020 will be sticking around much longer
than anticipated, and, in turn, vehicles behind them may be pushed back even further, as well. Because of this, now, more than ever, when it comes to transmission
replacement, choosing quality over price will be the most cost-effective solution for fleet managers. Why? Because buying price, more often than not, leads to a
sleigh ride of continuous repairs that results in expensive, unanticipated vehicle downtime - not covered in that “peace of mind” reman warranty. Fact is, when you buy quality, you’re really trading that short-term savings for long-term vehicle uptime. You save in the long run. And with 40 years of Allison-only experience, quality is what RTS delivers.<b class="itlbld"> So, the question is this, what’s most important to you, the price you pay upfront, or the real value you get from extended uptime?</b></p>
<br/>
</div>
</div>

</div>
<div class="row mg0 sccnd">
<div class="col-md-5">
<div class="scnd_cnttwo">
<p>To learn more about how we can help with your Allison transmission maintenance program:</p>
<h1>Call: 800.344.0485</h1>
<h1>Email: info@rtsallison.com</h1>
<h1 class="itl">or use our <span style="color:#0067ac">Contact Form</span></h1>
</div>
</div>
<div class="col-md-7">
<div class="btmtwo">
<div class="bck_btntwo">
	<a href="{{ url('<front>') }}c19specialist">back</a>
</div>
<div class="btm_img1two">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/rtslogotwo.png" >
<div class="ins_btm_img2two">
<img style="width:70%;margin-top:40px;" src="{{ url('<front>') }}themes/RTSALLISON/image/Industry.png">
<img src="{{ url('<front>') }}themes/RTSALLISON/image/because.png" style="position: relative;top: 7px;width: 50%;">
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
