<style type="text/css">
      header,footer, nav {
  display: none !important;
}

 canvas{
  pointer-events:none;
  background-color: green;
  padding: 2px 2px 2px 2px;
}

</style>

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url('<front>') }}themes/RTSALLISON/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url('<front>') }}themes/RTSALLISON/css/rtsallison/hino-styles.css">
    <title>Home - RTS Allison </title>
</head>
<body>

    <div class="container">
        <div class="rts-banner-section m_t_3rem">

            <div class="row" style="position:relative;">
                <div class="col-sm-12">
                    <img class="rts-banner-img" src="{{ url('<front>') }}themes/RTSALLISON/image/RTS-banner-img.png" />
                </div>

                <div class="hino_menu_icons">
                  <a class="home_btn" href="{{ url('<front>') }}" >HOME</a>

                </div>

            </div>
        </div>

        <div class="welcome-section">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center red-color header_txt"> <strong> WELCOME <br /> <span class="blue-color">HINO DEALERS </span></strong> </h1>
                </div>
            </div>


            <div class="row welcome-section-content m_t_10 mb-1">
                <button class="col-sm-2 welcome-section-item bg-red white-color rounded text-center">
                    <a style="text-decoration:none;" href="warranty" target="_blank">
                    <img class="img-fluid rts-small-logo-img" src="{{ url('<front>') }}themes/RTSALLISON/image/RTS-small-logo-b-white.png" /> <br />
                    <p class="white-color para_sec"> <strong>WARRANTY <span>INFORMATION </span></strong> </p>
                    </a>
                </button>

                <button class="col-sm-2 welcome-section-item bg-red white-color rounded text-center">
                    <a style="text-decoration:none;" href="core_policy" target="_blank">
                    <img class="img-fluid rts-small-logo-img" src="{{ url('<front>') }}themes/RTSALLISON/image/RTS-small-logo-b-white.png" /> <br />
                    <p class="white-color para_sec"> <strong> CORE  <span>POLICY </span></strong></p>
                    </a>
                </button>

                <a style="text-decoration:none;" href="allison_remans" > <button class="col-sm-2 welcome-section-item bg-red white-color rounded text-center">
                    <img class="img-fluid  rts-small-logo-img" src="{{ url('<front>') }}themes/RTSALLISON/image/RTS-small-logo-b-white.png" /> <br />
                    <p class="white-color para_sec"> <strong> ALLISON <span>REMANS </span></strong> </p>
                </button> </a>

                <button class="col-sm-2 welcome-section-item bg-red white-color rounded text-center">
                <a style="text-decoration:none;" href="under_construction" >
                    <img class="img-fluid rts-small-logo-img" src="{{ url('<front>') }}themes/RTSALLISON/image/RTS-small-logo-b-white.png" /> <br />
                    <p class="white-color para_sec"> <strong> SHIPPING <span>INFORMATION </span></strong> </p>
                    </a>
                </button>

                <a style="text-decoration:none;" href="technical_support"> <button class="col-sm-2 welcome-section-item bg-red white-color rounded text-center">
                    <img class="img-fluid rts-small-logo-img" src="{{ url('<front>') }}themes/RTSALLISON/image/RTS-small-logo-b-white.png" /> <br />
                    <p class="white-color para_sec"> <strong> TECH <span>SUPPORT </span></strong> </p>
                </button> </a>

            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h3 class="welcome-section-text text-center white-color">THE HINO SOLUTION FOR REMANUFACTURED ALLISON TRANSMISSIONS</h3>
                </div>

                <div class="col-sm-12 text-center">
                    <img class="img-fluid rts-logo-bottom" src="{{ url('<front>') }}themes/RTSALLISON/image/RTS-small-logo.png" /> <br />
                    <h3 class="red-color rts-hino-text-bottom">
                        <strong>
                            THE <em>ALLISON </em> EXPERT<sup class="red-color">&trade; </sup> <br />
                          <span class="blue-color">
                             BECAUSE ALLISON IS ALL WE DO<sup class="blue-color">&trade;</sup>.
                          </span>
                        </strong>
                    </h3>
                </div>

            </div>

        </div>

            </div> <!-- container -->
            <script src="{{ url('<front>') }}themes/RTSALLISON/js/jquery.min.js"></script>
            <script src="{{ url('<front>') }}themes/RTSALLISON/js/popper.min.js"></script>
            <script src="{{ url('<front>') }}themes/RTSALLISON/js/bootstrap.min.js"></script>
</body>
</html>
