<script type="application/ld+json" class="aioseop-schema">{"@context":"https://schema.org","@graph":[{"@type":"Organization","@id":"https://www.rtsallison.com/#organization","url":"https://www.rtsallison.com/","name":"RTSAllison","sameAs":[]},{"@type":"WebSite","@id":"https://www.rtsallison.com/#website","url":"https://www.rtsallison.com/","name":"RTS Allison","publisher":{"@id":"https://www.rtsallison.com/#organization"}},{"@type":"WebPage","@id":"https://www.rtsallison.com/
#webpage","url":"https://www.rtsallison.com/","inLanguage":"e<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
    <!--[if !mso]--><!-- -->
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700' rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel="stylesheet">
    <!-- <![endif]-->

    <title> Automation Flyer USA</title>

    <style type="text/css">
        body {
            width: 100%;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            mso-margin-top-alt: 0px;
            mso-margin-bottom-alt: 0px;
            mso-padding-alt: 0px 0px 0px 0px;
        }
       .b{
        color: #FE346E;
       } 

    </style>
</head>
<body style="Margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%;background-color:#ffffff;">
<center style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
<table style="width:640px; max-width:100%;">
              <tr>
                 <td style="text-align:center;">
                   <a href="https://www.apaengineering.com/?utm_source=germany_lang&utm_medium=email&utm_campaign=automation"> <img src="http://apaengineering.com/email_flyer/dive/apa_logo.png" alt="wwww.apaengineering.com" width="200"></a>
                </td>
              </tr>
          </table>
          <hr style="border: 0.5px solid #DCDCDC;width:640px;">
          <br>
          <table align="center" style="border-spacing:0;text-align:left; font-family:Arial, Helvetica, sans-serif;color:#333333;margin:0 auto;width:100%;max-width:640px;">
              <tr>
                <td style="padding-top:10px;padding-bottom:10px;padding-right:0px;padding-left:0px; font-size: 13px">
                   <table width="100%" style="border-spacing:0;color:#333333; margin: 0 auto; font-size: 13px;">
                    <tr>
                  
                      <td align="left" style="color:#00000; font-size: 13px; line-height: 25px; font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-align: justify">APA Engineering is an ISO:9001-2015 certified company, offering engineering services to global automation companies and line builders for more than a decade now. We can support you on tasks such as legacy drawings, 2D to 3D, manufacturing drawings, concept design, etc. at highly competitive rates so that you can focus on more cutting-edge engineering solutions. 
                    <br>
                      <br>We are currently offering <b class="b">20 hours of free services*</b> for you to evaluate our capabilities. Looking forward to connect with you.</td>
                    </tr>
                  </table>
                </td>
              </tr>
          </table>
          <table align="center" style="border-spacing:0;text-align: center; font-family:sans-serif;color:#333333;margin:0 auto;width:100%;max-width:640px;font-size: 11px;">
              <tr>
                <td style="padding-top:10px;padding-bottom:10px;padding-right:20px;padding-left:20px;">
                   <table width="100%" style="border-spacing:0;color:#333333; margin: 0 auto;">
                    <tr>
                     <td align="center">  
                    <a href="https://apaengineering.com/contact-us/?utm_source=casting_us_es&utm_medium=email&utm_campaign=casting_us_es"><img width="230" border="0" style="display: block;" src="https://marketing-image-production.s3.amazonaws.com/uploads/6311c38e2c7475505ab0c691dd238ccc2f35fed33d942056a330f4c1b40413b70c6088d662affa8932e75ec40a8758ec3f1711035df820e0f9f7cd422bd3191a.png" alt="logo" width="300"></a> 
                    </td>
                </tr>
                  </table>
                </td>
              </tr>
          </table>
           <table>
    <tr>
    <td style="height:5px;">&nbsp;</td>
    </tr>
</table>
          <table style="width:640px; max-width:100%;">
            <tr><td style="font-family: Arial, Helvetica, sans-serif; text-align: center; font-size:14px;"> Assembly line Automation I Individual work stations / SPM I EOAT (End Of Arm Tools) </td></tr>
            <tr>
              <td style="height:5px;">&nbsp;</td>
            </tr>
              <tr>
                 <td style="text-align:center;">
                    <img src="https://marketing-image-production.s3.amazonaws.com/uploads/7bd70eb766fd13420069a8388d76920cc6a260e3799c9f7ca2f4b7c01eaca7224c94874e736ae55f209358fb89266ebd1ed68fb650d123d4585b00a6e0cae432.png" alt="Casting Flyer" width="640">
                </td>
              </tr>
          </table>
          <table style="width:640px; max-width:100%;">
            <tr><td style="font-family: Arial, Helvetica, sans-serif; text-align: center; font-size:14px;"> Assembly Fixture I Welding Fixture I Machining Fixture I Testing Fixture </td></tr>
            <tr>
              <td style="height:5px;">&nbsp;</td>
            </tr>
              <tr>
                 <td style="text-align:center;">
                    <img src="https://marketing-image-production.s3.amazonaws.com/uploads/ae5a600e3dcc786b144e2940651968f1e24bc1b7e066eff6c5b4f50473946de0cfbf9af1b95933c890bdfe0e286930f5ce3e4131510764ef7c2661eabf8c320f.png" alt="Casting Flyer" width="640">
                </td>
              </tr>
          </table>
    <table>
    <tr>
    <td style="height:5px;">&nbsp;</td>
    </tr>
</table>
<table>
    <tr>
        <td align="center" style="color:#000000; font-size: 13px; line-height: 25px; font-weight:normal; font-family: Arial, Helvetica, sans-serif; text-align: center;"><b>US Office:</b> APA Engineering Inc,502 Carnegie Ctr Suite 102, Princeton, NJ 08540 <br> +1 574 329 1623 / +1 313 209 8705 | engg@apaengineering.com</td>
    </tr>
    <table>
        <tr style="text-align:center;">
            <td>
                <a href="https://www.facebook.com/APA-Engineering-Inc-103179027911194/" style="display: block; border-style: none !important; border: 0 !important;"><img width="24" border="0" style="display: block;" src="https://apauxteam.com/flyer/email/casting/apa_fb.png" alt="APA Facebook"></a>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
            <a href="https://twitter.com/apa_engg" style="display: block; border-style: none !important; border: 0 !important;"><img width="24" border="0" style="display: block;" src="https://apauxteam.com/flyer/email/casting/apa_twitter.png" alt="APA Twitter"></a>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
            <a href="https://www.linkedin.com/company/apaengineering/" style="display: block; border-style: none !important; border: 0 !important;"><img width="24" border="0" style="display: block;" src="https://apauxteam.com/flyer/email/casting/apa_linkedin.png" alt="APA LinkedIn"></a>
            </td>
            </tr>
    </table>
    <table align="center">
            <br>
             <tr><td style="text-align:right; font-size:10px;"> <a href="[unsubscribe]">Unsubscribe</a></td></tr>
          </table>  
</table>
</center>
</body>n-US","name":"RTS Allison","isPartOf":{"@id":"https://www.rtsallison.com/
#website"},"breadcrumb":{"@id":"https://www.rtsallison.com#breadcrumblist"},"description":"RTS Allison is a complete dealer for support, service and partnership program with effective cost and warranty","datePublished":"2015-05-28T11:30:14+00:00","dateModified":"2021-01-29T12:24:42+00:00","about":{"@id":"https://www.rtsallison.com/#organization"}},{"@type":"BreadcrumbList","@id":"https://www.rtsallison.com#breadcrumblist","itemListElement":[{"@type":"ListItem","position":1,"item":{"@type":"WebPage","@id":"https://www.rtsallison.com/","url":"https://www.rtsallison.com/","name":"Support and Service for Allison Transmissions Remanufatured | RTS Allison"}}]}]}</script>

<section class="banner_slider m-b-5">
    <div class="container">
      <div id="carousel" class="slide carousel carousel-fade">
        <div class="carousel-inner">
          <div class="item active">
            <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/slider-1.jpg" alt="sliderImg" />
          </div>
          <div class="item">
            <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/slider-2.jpg" alt="sliderImg" />
          </div>
          <div class="item">
            <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/slider-3.jpg" alt="sliderImg" />
          </div>
        </div>
        <a class="carousel-control right" href="#carousel" data-slide="next">
          <i class="fa fa-angle-right m-control-right"></i>
        </a>
        <a class="carousel-control left" href="#carousel" data-slide="prev">
          <i class="fa fa-angle-left m-control-left"></i>
        </a>
      </div>
    </div>
  </section>

<div class="featured_item_box">
 <ul>
 {% for key,value in items %}
 <h5> <li>{{ value }}</li></h5>
 {% endfor %}
 </ul>
 </div>
 <section class="our_categories">
    <div class="container">
      <div class="row">
        <div class="main_title">Our Categories</div>
        <div class="col-sm-12">
          <div class="">
            <div class="featured_item_box">
              <a href="#">
                <h4>AUDI</h4>
                <div class="category_circle">
                  <img class="category_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/audi_logo.jpg" alt="featured product">
                </div>
                <div class="category_view">View products <i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
              </a>
            </div>
            <div class="featured_item_box">
              <a href="#">
                <h4>Volkswagen</h4>
                <div class="category_circle">
                  <img class="category_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/volkswagen_logo.png" alt="featured product">
                </div>
                <div class="category_view">View products <i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
              </a>
            </div>
            <div class="featured_item_box">
              <a href="#">
                <h4>Fiat</h4>
                <div class="category_circle">
                  <img class="category_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/fiat_logo.jpg" alt="featured product">
                </div>
                <div class="category_view">View products <i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
              </a>
            </div>
            <div class="featured_item_box">
              <a href="#">
                <h4>Aston Martin</h4>
                <div class="category_circle">
                  <img class="category_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/aston_logo.png" alt="featured product">
                </div>
                <div class="category_view">View products <i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
              </a>
            </div>
          </div>
          <div class="view_all">
            <button type="button" class="view">View All</button>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class="featured_product">
    <div class="container">
      <div class="row">
        <div class="main_title">Featured Products</div>
        <div class="col-sm-12">
          <div class="">
            <div class="featured_item_box">
              <a href="product_description.html">
                <img class="featured_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/mers.jpg" alt="featured product">
                <span class="new_brand">New</span>
                <span class="stock_status in">In Stock</span>
                <div class="featured_item_price">
                  Total Price: <span class="price_color">$184,900</span>
                </div>
                </a><div class="product_wishlist"><a href="product_description.html">
                  </a><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <h5>MERCEDES-AMG GT / GT S</h5>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                  </ul>
                </div>

              <div class="feature_info">
                <a href="product_description.html">More Info</a>|
                <a href="product_description.html">Add to Cart</a>|
                <a href="#">Compare</a>
              </div>
            </div>
            <div class="featured_item_box">
              <a href="product_description.html">
                <img class="featured_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/aston.jpg" alt="featured product">
                <span class="new_brand">New</span>
                <span class="stock_status out">Out of Stock</span>
                <div class="featured_item_price">
                  Total Price: <span class="price_color">$160,700</span>
                </div>
                </a><div class="product_wishlist"><a href="product_description.html">
                  </a><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <h5>ASTON-AMT GT-5</h5>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                  </ul>
                </div>

              <div class="feature_info">
                <a href="product_description.html">More Info</a>|
                <a href="product_description.html">Add to Cart</a>|
                <a href="#">Compare</a>
              </div>
            </div>
            <div class="featured_item_box">
              <a href="product_description.html">
                <img class="featured_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/audi.jpg" alt="featured product">
                <span class="stock_status in">In Stock</span>
                <div class="featured_item_price">
                  Total Price: <span class="price_color">$177,850</span>
                </div>
                </a><div class="product_wishlist"><a href="product_description.html">
                  </a><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <h5>AUDI-A8 GT / F1</h5>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                  </ul>
                </div>

              <div class="feature_info">
                <a href="product_description.html">More Info</a>|
                <a href="product_description.html">Add to Cart</a>|
                <a href="#">Compare</a>
              </div>
            </div>
            <div class="featured_item_box">
              <a href="product_description.html">
                <img class="featured_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/jaguar.jpg" alt="featured product">
                <span class="new_brand">New</span>
                <span class="stock_status out">Out of Stock</span>
                <div class="featured_item_price">
                  Total Price: <span class="price_color">$204,000</span>
                </div>
                </a><div class="product_wishlist"><a href="product_description.html">
                  </a><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <h5>JAGUAR-AMT SPORT - S</h5>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                  </ul>
                </div>

              <div class="feature_info">
                <a href="product_description.html">More Info</a>|
                <a href="product_description.html">Add to Cart</a>|
                <a href="#">Compare</a>
              </div>
            </div>
            <div class="featured_item_box">
              <a href="product_description.html">
                <img class="featured_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/audi.jpg" alt="featured product">
                <span class="new_brand">New</span>
                <span class="stock_status out">Out of Stock</span>
                <div class="featured_item_price">
                  Total Price: <span class="price_color">$184,900</span>
                </div>
                </a><div class="product_wishlist"><a href="product_description.html">
                  </a><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <h5>AUDI MOTO A9 </h5>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                  </ul>
                </div>

              <div class="feature_info">
                <a href="product_description.html">More Info</a>|
                <a href="product_description.html">Add to Cart</a>|
                <a href="#">Compare</a>
              </div>
            </div>
            <div class="featured_item_box">
              <a href="product_description.html">
                <img class="featured_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/jaguar.jpg" alt="featured product">
                <span class="stock_status in">In Stock</span>
                <div class="featured_item_price">
                  Total Price: <span class="price_color">$134,899</span>
                </div>
                </a><div class="product_wishlist"><a href="product_description.html">
                  </a><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <h5>JAGUAR STREET ST</h5>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                  </ul>
                </div>

              <div class="feature_info">
                <a href="product_description.html">More Info</a>|
                <a href="product_description.html">Add to Cart</a>|
                <a href="#">Compare</a>
              </div>
            </div>
            <div class="featured_item_box">
              <a href="product_description.html">
                <img class="featured_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/mers.jpg" alt="featured product">
                <span class="stock_status in">In Stock</span>
                <div class="featured_item_price">
                  Total Price: <span class="price_color">$154,000</span>
                </div>
                </a><div class="product_wishlist"><a href="product_description.html">
                  </a><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <h5>MERCEDES-AMG GT / GT S</h5>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                  </ul>
                </div>

              <div class="feature_info">
                <a href="product_description.html">More Info</a>|
                <a href="product_description.html">Add to Cart</a>|
                <a href="#">Compare</a>
              </div>
            </div>
            <div class="featured_item_box">
              <a href="product_description.html">
                <img class="featured_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/aston.jpg" alt="featured product">
                <span class="new_brand">New</span>

                <span class="stock_status out">Out of Stock</span>
                <div class="featured_item_price">
                  Total Price: <span class="price_color">$136,000</span>
                </div>
                </a><div class="product_wishlist"><a href="product_description.html">
                  </a><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <h5>ASTON-AMG S</h5>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                  </ul>
                </div>

              <div class="feature_info">
                <a href="product_description.html">More Info</a>|
                <a href="product_description.html">Add to Cart</a>|
                <a href="#">Compare</a>
              </div>
            </div>
          </div>
          <div class="view_all">
            <button type="button" class="view">View All</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about_us">
    <div class="container">
      <div class="row">
        <div class="main_title">About Us</div>
        <div class="col-sm-12">
          <div class="col-sm-4">
            <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/about-bg.jpg" alt="About" style="max-width:100%;">
          </div>
          <div class="col-sm-8 text-left">
            <strong>Lorem ipsum dolor sit amet, consectetur adipissed do eiusmod tempor incididunt</strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisthe nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseqenim
              ipsam voluptatem quia volupta.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tdidunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua dolor
              sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.</p>
            <span><a href="#" class="color_blue">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></span>
            <!-- <div class="view_all m-t-25">
              <button type="button" class="view float-l">Read More</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="">
    <div class="main_title">Brands</div>
    <div class="client_block">
      <div class="container">
        <div class="col-md-12">
          <div class="carousel our-partners slide" id="ourPartners">
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand.png" alt="brand-1">
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand1.png" alt="brand-2">
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand2.png" alt="brand-3">
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand3.png" alt="brand-4">
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand4.png" alt="brand-4">
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand5.png" alt="brand-4">
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand.png" alt="brand-1">
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand1.png" alt="brand-2">
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand2.png" alt="brand-3">
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand3.png" alt="brand-4">
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand4.png" alt="brand-4">
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand5.png" alt="brand-4">
                  </a>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#ourPartners" data-slide="prev"><i class="fa fa-chevron-left icon-prev"></i></a>
            <a class="right carousel-control" href="#ourPartners" data-slide="next"><i class="fa fa-chevron-right icon-next"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonial">
    <div class="container">
      <div class="row">
        <div class="main_title">Testimonials</div>
        <div class="col-md-12">
          <div id="testimonial" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item">
                <div class="col-sm-1 col-md-1"></div>
                <div class="col-xs-2 col-sm-3 col-md-2">
                  <div class="testimonial_img">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/testimonial_img.jpg" alt="About">
                  </div>
                </div>
                <div class="col-xs-10 col-sm-7 col-md-8">
                  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipissed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam,
                    quisthe nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseqenim ipsam voluptatem quia volupta. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tdidunt ut labore et dolore magna
                    aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-1 col-md-1"></div>
              </div>
              <div class="item">
                <div class="col-sm-1 col-md-1"></div>
                <div class=" col-xs-2 col-sm-3 col-md-2">
                  <div class="testimonial_img">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/testimonial_img.jpg" alt="About">
                  </div>
                </div>
                <div class="col-xs-10 col-sm-7 col-md-8">
                  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipissed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam,
                    quisthe nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseqenim ipsam voluptatem quia volupta. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tdidunt ut labore et dolore magna
                    aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-1 col-md-1"></div>
              </div>
              <div class="item active">
                <div class="col-sm-1 col-md-1"></div>
                <div class="col-xs-2 col-sm-3 col-md-2">
                  <div class="testimonial_img">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/testimonial_img.jpg" alt="About">
                  </div>
                </div>
                <div class="col-xs-10 col-sm-7 col-md-8">
                  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipissed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam,
                    quisthe nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseqenim ipsam voluptatem quia volupta. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tdidunt ut labore et dolore magna
                    aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-1 col-md-1"></div>
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#testimonial" data-slide="prev">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#testimonial" data-slide="next">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="video_block m-b-30">
    <div class="container">
      <div class="row">
        <div class="main_title">Videos</div>
        <div class="col-md-12">
          <div class="container">
            <div class="video_slide">
              <ul class="videoslide_img" style="position: relative; width: 750px; height: 300px; list-style: none; padding: 0px; margin: 0px 0px 0px 50%; left: -375px; top: 1431.25px;">
                <li style="display: block; position: absolute; z-index: 9999; overflow: hidden; width: 97.2px; height: 64.8px; left: 0px; top: 117.6px;">
                  <a data-type="iframe" width="420" height="315" href="https://www.youtube.com/channel/UCSAhbGQ1ZwQBhdiKUVJ1bRw" allowfullscreen="" class="fancybox">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/slider-1.jpg" alt="slider image" style="width: 100%; height: 100%;">
                  </a>
                </li>
                <li style="display: block; position: absolute; z-index: 10000; overflow: hidden; width: 162px; height: 108px; left: 50px; top: 96px;">
                  <a data-type="iframe" width="420" height="315" href="https://www.youtube.com/channel/UCSAhbGQ1ZwQBhdiKUVJ1bRw" allowfullscreen="" class="fancybox">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/slider-3.jpg" alt="slider image" style="width: 100%; height: 100%;">
                  </a>
                </li>
                <li style="display: block; position: absolute; z-index: 10001; overflow: hidden; width: 270px; height: 180px; left: 100px; top: 60px;">
                  <a data-type="iframe" width="420" height="315" href="https://www.youtube.com/channel/UCSAhbGQ1ZwQBhdiKUVJ1bRw" allowfullscreen="" class="fancybox">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/slider-2.jpg" alt="slider image" style="width: 100%; height: 100%;">
                  </a>
                </li>
                <li style="display: block; position: absolute; z-index: 10002; overflow: hidden; width: 450px; height: 300px; left: 150px; top: 0px;">
                  <a data-type="iframe" width="420" height="315" href="https://www.youtube.com/channel/UCSAhbGQ1ZwQBhdiKUVJ1bRw" allowfullscreen="" class="fancybox">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/slider-1.jpg" alt="slider image" style="width: 100%; height: 100%;">
                  </a>
                </li>
                <li style="display: block; position: absolute; z-index: 9998; overflow: hidden; width: 270px; height: 180px; left: 380px; top: 60px;">
                  <a data-type="iframe" width="420" height="315" href="https://www.youtube.com/channel/UCSAhbGQ1ZwQBhdiKUVJ1bRw" allowfullscreen="" class="fancybox">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/slider-3.jpg" alt="slider image" style="width: 100%; height: 100%;">
                  </a>
                </li>
                <li style="display: block; position: absolute; z-index: 9997; overflow: hidden; width: 162px; height: 108px; left: 538px; top: 96px;">
                  <a data-type="iframe" width="420" height="315" href="https://www.youtube.com/channel/UCSAhbGQ1ZwQBhdiKUVJ1bRw" allowfullscreen="" class="fancybox">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/slider-1.jpg" alt="slider image" style="width: 100%; height: 100%;">
                  </a>
                </li>
                <li style="display: block; position: absolute; z-index: 9996; overflow: hidden; width: 97.2px; height: 64.8px; left: 652.8px; top: 117.6px;">
                  <a data-type="iframe" width="420" height="315" href="https://www.youtube.com/channel/UCSAhbGQ1ZwQBhdiKUVJ1bRw" allowfullscreen="" class="fancybox">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/slider-2.jpg" alt="slider image" style="width: 100%; height: 100%;">
                  </a>
                </li>
                <span class="left" style="position: absolute; left: 10px; top: 50%; z-index: 10007;">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                </span>
                <span class="right" style="position: absolute; right: 10px; top: 50%; z-index: 10007;">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
