<script type="application/ld+json" class="aioseop-schema">{"@context":"https://schema.org","@graph":[{"@type":"Organization","@id":"https://www.rtsallison.com/#organization","url":"https://www.rtsallison.com/","name":"RTS Allison","sameAs":[]},{"@type":"WebSite","@id":"https://www.rtsallison.com/#website","url":"https://www.rtsallison.com/","name":"RTS Allison","publisher":{"@id":"https://www.rtsallison.com/#organization"}},{"@type":"WebPage","@id":"https://www.rtsallison.com/our_location/indianapolis/#webpage","url":"https://www.rtsallison.com/our_location/indianapolis/","inLanguage":"en-US","name":"Data Management","isPartOf":{"@id":"https://www.rtsallison.com/#website"},"breadcrumb":{"@id":"https://www.rtsallison.com/our_location/indianapolis/#breadcrumblist"},"description":"Get contact and location information for Allison Transmission Dealer in indianpolis":"2020-11-02T11:50:17+00:00"},{"@type":"BreadcrumbList","@id":"https://www.rtsallison.com/our_location/indianapolis/#breadcrumblist","itemListElement":[{"@type":"ListItem","position":1,"item":{"@type":"WebPage","@id":"https://www.rtsallison.com/","url":"https://www.rtsallison.com/","name":"Transmission Repair Dealer in Indianapolis | RTS Allison"}},{"@type":"ListItem","position":2,"item":{"@type":"WebPage","@id":"https://www.rtsallison.com/our_location/","url":"https://www.rtsallison.com/our_location/","name":"our_location"}},{"@type":"ListItem","position":3,"item":{"@type":"WebPage","@id":"https://www.rtsallison.com/our_location/indianapolis/","url":"https://www.rtsallison.com/our_location/indianapolis/","name":"Data Management"}}]}]}</script>

<section class="page-header page-header-xs dark">
				<div class="container">
					<h1>Our Location</h1>
					<!-- breadcrumbs -->
					<ol class="breadcrumb">
						<li><a href="{{ url('<front>') }}our_location">Our Location</a></li>
						<li class="active">Current Location</li>
					</ol><!-- /breadcrumbs -->
				</div>
		</section>
<div class="custom_container" style="margin: 12px 0;">
	<div class="container">
	
<div class="row">
	<div class="col-md-3 col-xs-12 col-sm-6 col-lg-3 col-xl-3 pd0">
		<div class="loc dtl">
			<div class="loc-img">
				<img src="{{ url('<front>') }}themes/RTSALLISON/image/Greenwood_Location.jpg">
			</div>
			<div class="head-cnt dtl">
				<h1>INDIANAPOLIS, INDIANA</h1>
				<span>Authorized Allison Dealer</span>
			</div>
			<!-- <div class="loc-cnt">
				<p>Our Riverview location is our corporate headquarters. They are responsible for all of central Florida.</p>
			</div> -->
			<div class="loc-icons dtl">
				<div class="loc-phne">
					<div class="loc-phne-ins">
						<i class="fa fa-map-marker"></i>
					</div>
					<div class="loc-phne-cnt">
						<div class="ins-dtl">
							325 E. Stop 18 Road
							Greenwood, IN 46143
						</div>
					</div>
				</div>
				<div class="loc-pos">
					<div class="loc-pos-ins">
						<i class="fa fa-user"></i>
					</div>
					<div class="loc-pos-cnt">
						<div class="ins-pos">
							General Manager: <span>Dave Johnsen</span>
						</div>
					</div>
				</div>
			</div>
			<div class="toll dtl">
				<div class="toll-ins">
					<span>Toll Free :</span>877-542-0506
				</div>
				<div class="toll-border">
					
				</div>
				<div class="toll-ins">
					<span>Local :</span>317-889-8130
				</div>
			</div>
			<div class="drct_tble">
				<div class="drct">
					<img src="{{ url('<front>') }}themes/RTSALLISON/image/icon.png"><span>Get Direction</span>
				</div>
			</div>
			
		</div>
	</div>
	<div class="col-md-9 col-xs-12 col-sm-12 col-lg-9 col-xl-9 pd0">

	<div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="597" id="gmap_canvas" src="https://maps.google.com/maps?q=325%20E.%20Stop%2018%20Road%20Greenwood%2C%20IN%2046143&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://embedgooglemap.net/mapv2/"></a></div><style>.mapouter{position:relative;text-align:right;height:auto;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:597px;width:100%;}</style></div>
	</div>
	
</div>
</div>
</div>
