<div class="custom_container">
	<div class="container">
	location detail page	
	
<div class="row">
	<div class="col-md-3 col-xs-12 col-sm-6 col-lg-3 col-xl-3">
		<div class="loc">
			<div class="loc-img">
				<img src="{{ url('<front>') }}themes/RTSALLISON/image/Atlanta Location.jpg">
			</div>
			<div class="head-cnt">
				<h1>RIVERVIEW, FLORIDA</h1>
				<span>Corporate Headquarters</span>
			</div>
			<!-- <div class="loc-cnt">
				<p>Our Riverview location is our corporate headquarters. They are responsible for all of central Florida.</p>
			</div> -->
			<div class="loc-icons">
				<div class="loc-phne">
					<div class="loc-phne-ins">
						<i class="fa fa-map-marker"></i>
					</div>
					<div class="loc-phne-cnt">
						<div class="ins-dtl">
							6613 78th South Riverview, FL 33578
						</div>
					</div>
				</div>
				<div class="loc-pos">
					<div class="loc-pos-ins">
						<i class="fa fa-user"></i>
					</div>
					<div class="loc-pos-cnt">
						<div class="ins-pos">
							General Manager : <span>Claude Peppers</span>
						</div>
					</div>
				</div>
			</div>
			<div class="toll">
				<div class="toll-ins">
					<span>Toll Free :</span>800-3440485 
				</div>
				<div class="toll-border">
					
				</div>
				<div class="toll-ins">
					<span>Local :</span>813-677-8883
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-xs-12 col-sm-6 col-lg-3 col-xl-3">
		<div class="loc">
			<div class="loc-img">
				<img src="{{ url('<front>') }}themes/RTSALLISON/image/Houston location.jpg">
			</div>
			<div class="head-cnt">
				<h1>JACKSONVILLE, FLORIDA</h1>
				<span>Authorized Allison Dealer</span>
			</div>
			<!-- <div class="loc-cnt">
				<p>Our Jacksonville location covers the north Florida area and south Georiga.</p>
			</div> -->
			<div class="loc-icons">
				<div class="loc-phne">
					<div class="loc-phne-ins">
						<i class="fa fa-map-marker"></i>
					</div>
					<div class="loc-phne-cnt">
						<div class="ins-dtl">
							6740 Highway Avenue Jacksonville, 
							FL 32254
						</div>
					</div>
				</div>
				<div class="loc-pos">
					<div class="loc-pos-ins">
						<i class="fa fa-user"></i>
					</div>
					<div class="loc-pos-cnt">
						<div class="ins-pos">
							General Manager: <span>Claude Peppers</span>
						</div>
					</div>
				</div>
			</div>
			<div class="toll">
				<div class="toll-ins">
					<span>Toll Free :</span>877-592-5420
				</div>
				<div class="toll-border">
					
				</div>
				<div class="toll-ins">
					<span>Local :</span>904-378-1703
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-xs-12 col-sm-6 col-lg-3 col-xl-3">
		<div class="loc">
			<div class="loc-img">
				<img src="{{ url('<front>') }}themes/RTSALLISON/image/Jacksonville Location.jpg">
			</div>
			<div class="head-cnt">
				<h1>HOUSTON, TEXAS</h1>
				<span>Authorized Allison Dealer</span>
			</div>
			<!-- <div class="loc-cnt">
				<p>Our Houston, TX location</p>
			</div> -->
			<div class="loc-icons">
				<div class="loc-phne">
					<div class="loc-phne-ins">
						<i class="fa fa-map-marker"></i>
					</div>
					<div class="loc-phne-cnt">
						<div class="ins-dtl">
							12209 Aldine Westfield Road Houston, 
							TX 77093
						</div>
					</div>
				</div>
				<div class="loc-pos">
					<div class="loc-pos-ins">
						<i class="fa fa-user"></i>
					</div>
					<div class="loc-pos-cnt">
						<div class="ins-pos">
							Branch Manager: <span>Marcia Moya</span>
						</div>
					</div>
				</div>
			</div>
			<div class="toll">
				<div class="toll-ins">
					<span>Toll Free :</span>877-211-1839
				</div>
				<div class="toll-border">
					
				</div>
				<div class="toll-ins">
					<span>Local :</span>713-742-9633
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-xs-12 col-sm-6 col-lg-3 col-xl-3">
		<div class="loc">
			<div class="loc-img">
				<img src="{{ url('<front>') }}themes/RTSALLISON/image/Lebanon Location.jpg">
			</div>
			<div class="head-cnt">
				<h1>LEBANON, INDIANA</h1>
				<span>Authorized Allison Transmission Dealer</span>
			</div>
			<!-- <div class="loc-cnt">
				<p>This location helps maintain and support Allison transmissions throughout surrounding areas of North Indianpolis.</p>
			</div> -->
			<div class="loc-icons">
				<div class="loc-phne">
					<div class="loc-phne-ins">
						<i class="fa fa-map-marker"></i>
					</div>
					<div class="loc-phne-cnt">
						<div class="ins-dtl">
							450 North Enterprise Blvd.
							Lebanon, IN 46052
						</div>
					</div>
				</div>
				<div class="loc-pos">
					<div class="loc-pos-ins">
						<i class="fa fa-user"></i>
					</div>
					<div class="loc-pos-cnt">
						<div class="ins-pos">
							Branch Manager: <span>Dave Johnsen</span>
						</div>
					</div>
				</div>
			</div>
			<div class="toll">
				<div class="toll-ins">
					<span>Toll Free :</span>
				</div>
				<div class="toll-border">
					
				</div>
				<div class="toll-ins">
					<span>Local :</span>765-482-6525
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-xs-12 col-sm-6 col-lg-3 col-xl-3">
		<div class="loc">
			<div class="loc-img">
				<img src="{{ url('<front>') }}themes/RTSALLISON/image/Mobile Location.jpg">
			</div>
			<div class="head-cnt">
				<h1>INDIANAPOLIS, INDIANA</h1>
				<span>Authorized Allison Dealer</span>
			</div>
			<!-- <div class="loc-cnt">
				<p>Our Indianapolis location</p>
			</div> -->
			<div class="loc-icons">
				<div class="loc-phne">
					<div class="loc-phne-ins">
						<i class="fa fa-map-marker"></i>
					</div>
					<div class="loc-phne-cnt">
						<div class="ins-dtl">
							325 E. Stop 18 Road
							Greenwood, IN 46143
						</div>
					</div>
				</div>
				<div class="loc-pos">
					<div class="loc-pos-ins">
						<i class="fa fa-user"></i>
					</div>
					<div class="loc-pos-cnt">
						<div class="ins-pos">
							General Manager: <span>Dave Johnsen</span>
						</div>
					</div>
				</div>
			</div>
			<div class="toll">
				<div class="toll-ins">
					<span>Toll Free :</span>877-542-0506
				</div>
				<div class="toll-border">
					
				</div>
				<div class="toll-ins">
					<span>Local :</span>317-889-8130
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-xs-12 col-sm-6 col-lg-3 col-xl-3">
		<div class="loc">
			<div class="loc-img">
				<img src="{{ url('<front>') }}themes/RTSALLISON/image/Atlanta Location.jpg">
			</div>
			<div class="head-cnt">
				<h1>DAYTON, OHIO</h1>
				<span>Authorized Allison Dealer</span>
			</div>
			<!-- <div class="loc-cnt">
				<p>Our Dayton location</p>
			</div> -->
			<div class="loc-icons">
				<div class="loc-phne">
					<div class="loc-phne-ins">
						<i class="fa fa-map-marker"></i>
					</div>
					<div class="loc-phne-cnt">
						<div class="ins-dtl">
							1930 Kuntz Rd
							Dayton, OH 45404
						</div>
					</div>
				</div>
				<div class="loc-pos">
					<div class="loc-pos-ins">
						<i class="fa fa-user"></i>
					</div>
					<div class="loc-pos-cnt">
						<div class="ins-pos">
							Branch Manager: <span>Jim Sweeney</span>
						</div>
					</div>
				</div>
			</div>
			<div class="toll">
				<div class="toll-ins">
					<span>Toll Free :</span>888-868-2391
				</div>
				<div class="toll-border">
					
				</div>
				<div class="toll-ins">
					<span>Local :</span>937-226-1050
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-xs-12 col-sm-6 col-lg-3 col-xl-3">
		<div class="loc">
			<div class="loc-img">
				<img src="{{ url('<front>') }}themes/RTSALLISON/image/Houston location.jpg">
			</div>
			<div class="head-cnt">
				<h1>SLIDELL, LOUSIANA</h1>
				<span>Authorized Allison Dealer</span>
			</div>
			<!-- <div class="loc-cnt">
				<p>Our newest addition to the RTS family. A fully authorized Allison dealer located in Slidell, LA</p>
			</div> -->
			<div class="loc-icons">
				<div class="loc-phne">
					<div class="loc-phne-ins">
						<i class="fa fa-map-marker"></i>
					</div>
					<div class="loc-phne-cnt">
						<div class="ins-dtl">
							129 Industrial drive Slidell, LA 70460
						</div>
					</div>
				</div>
				<div class="loc-pos">
					<div class="loc-pos-ins">
						<i class="fa fa-user"></i>
					</div>
					<div class="loc-pos-cnt">
						<div class="ins-pos">
							Branch Manager: <span>George Schmitt</span>
						</div>
					</div>
				</div>
			</div>
			<div class="toll">
				<div class="toll-ins">
					<span>Toll Free :</span> 
				</div>
				<div class="toll-border">
					
				</div>
				<div class="toll-ins">
					<span>Local :</span>985-200-0400
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-3 col-xs-12 col-sm-6 col-lg-3 col-xl-3">
		<div class="loc">
			<div class="loc-img">
				<img src="{{ url('<front>') }}themes/RTSALLISON/image/Jacksonville Location.jpg">
			</div>
			<div class="head-cnt">
				<h1>CONLEY, GEORGIA</h1>
				<span>Non authorized Allison Transmission Partner</span>
			</div>
			<!-- <div class="loc-cnt">
				<p>This location helps maintain and support Allison transmissions throughout surrounding areas of Atlanta and beyond.</p>
			</div> -->
			<div class="loc-icons">
				<div class="loc-phne">
					<div class="loc-phne-ins">
						<i class="fa fa-map-marker"></i>
					</div>
					<div class="loc-phne-cnt">
						<div class="ins-dtl">
							4541 Thurman Road Conley, GA 30288
						</div>
					</div>
				</div>
				<div class="loc-pos">
					<div class="loc-pos-ins">
						<i class="fa fa-user"></i>
					</div>
					<div class="loc-pos-cnt">
						<div class="ins-pos">
							Branch Manager: <span>Jerry Delagarza</span>
						</div>
					</div>
				</div>
			</div>
			<div class="toll">
				<div class="toll-ins">
					<span>Toll Free :</span> 
				</div>
				<div class="toll-border">
					
				</div>
				<div class="toll-ins">
					<span>Local :</span>404-361-8033
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-xs-12 col-sm-6 col-lg-3 col-xl-3">
		<div class="loc">
			<div class="loc-img">
				<img src="{{ url('<front>') }}themes/RTSALLISON/image/Jacksonville Location.jpg">
			</div>
			<div class="head-cnt">
				<h1>MOBILE, ALABAMA</h1>
				<span>Authorized Allison Transmission Dealer</span>
			</div>
			<!-- <div class="loc-cnt">
				<p>This location helps maintain and support Allison transmissions throughout surrounding areas of Mobile.</p>
			</div> -->
			<div class="loc-icons">
				<div class="loc-phne">
					<div class="loc-phne-ins">
						<i class="fa fa-map-marker"></i>
					</div>
					<div class="loc-phne-cnt">
						<div class="ins-dtl">
							5560 Todd Acres Dr.Mobile, FL 36619
						</div>
					</div>
				</div>
				<div class="loc-pos">
					<div class="loc-pos-ins">
						<i class="fa fa-user"></i>
					</div>
					<div class="loc-pos-cnt">
						<div class="ins-pos">
							Branch Manager: <span>Fred Borszem</span>
						</div>
					</div>
				</div>
			</div>
			<div class="toll">
				<div class="toll-ins">
					<span>Toll Free :</span> 
				</div>
				<div class="toll-border">
					
				</div>
				<div class="toll-ins">
					<span>Local :</span>251-260-8510
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
