
<section class="page-header page-header-xs dark">
				<div class="container">

					<h1>Locations</h1>

					<!-- breadcrumbs -->
					<ol class="breadcrumb">
						<li><a href="{{ url('<front>') }}">Home</a></li>
						<li class="active">Locations</li>
					</ol><!-- /breadcrumbs -->

				</div>
			</section>
<section id="portfolio" class="nopadding-bottom">
{% set arr_len = items|length %}
{% for key,value in items %}

{% if  value[1] == '237' %}
	{% set res = 'Riverview' %}
{% endif %}

{% if  value[1] == '238' %}
	{% set res = 'Jacksonville' %}
{% endif %}

{% if  value[1] == '239' %}
	{% set res = 'Houston' %}
{% endif %}

{% if  value[1] == '240' %}
	{% set res = 'Lebanon' %}
{% endif %}

{% if  value[1] == '241' %}
	{% set res = 'Indianapolis' %}
{% endif %}

{% if  value[1] == '242' %}
	{% set res = 'Dayton' %}
{% endif %}

{% if  value[1] == '243' %}
	{% set res = 'Slidell' %}
{% endif %}

{% if  value[1] == '244' %}
	{% set res = 'Conley' %}
{% endif %}

{% if  value[1] == '245' %}
	{% set res = 'Mobile' %}
{% endif %}

<a href="{{ url('<front>') }}location/{{res}}">
 {{ value[0]|raw }}
  </a>
   {% if key < arr_len-1 %}
    	<div class="divider divider-right"><!-- divider -->
	    <i class="fa fa-star-o"></i>
	   </div>
   {% endif %}
  
 {% endfor %}
</section>
