
{% if payemtorconfig == 'payment' %}
<div>
<img src="{{ url('<front>') }}sites/default/files/loader_paypal.gif"  height="150px"  style="margin-left:50%;margin-top:25%;display: block;"/>
<form style="display:none;" action='{{paypal_url}}' id="paypal_id"
            method="post" target="_top">
              <input type="hidden" class="payemtorconfig" value='{{payemtorconfig}}'> 
              <input type='hidden' name='business' value='{{email}}'> 
              <input type='hidden' name='item_name' value='{{orderid}}'>
              <input type='text' name='amount' value='{{price}}'> 
              <input type='hidden' name='no_shipping' value='1'> 
              <input type='hidden' name='currency_code' value='USD'> 
              <input type='hidden' name='notify_url' value="{{ url('<front>') }}/nofify">
              <input type='hidden' name='cancel_return' value="{{ url('<front>') }}">
              <input type='hidden' name='return'
              value="{{ url('<front>') }}/payment">
              <input type="hidden" name="cmd" value="_xclick"> 
              <input type="submit" name="pay_now" id="pay_now" Value="Pay Now">
</form>
</div>
{% endif %}

{% if payemtorconfig == 'config' %}
<div class="container">
   
    <div class="line-card-section">
      <div class="">
          <div id="div1" class="">
              <div class="">
                 
                <div class="container">

                    <div id="success" class="sccss">
                      <div class="order_placed">
                        
                        <div class="order_header order_error">
                          <img src="{{ url('<front>') }}themes/AUTOTECH/images/notfound.png" alt="payment success" class="img-responsive m-r-15" /> Sorry! Please Configure Your Paypal Payment Details
                        </div>
                        <div class="display:inline-block;">
                          <!-- <a href="#" type="button" class="view btn btn_bg_even dis-inline-block m-r-10 p-10">&nbsp;&nbsp;Print Receipt&nbsp;&nbsp;</a> -->
                        <a href="{{ url('<front>') }}" type="button" class="backsite view btn btn_bg dis-inline-block p-10"> &nbsp;&nbsp;continue shopping&nbsp;&nbsp; </a>
                        <input type="hidden" class="payemtorconfig" value='{{payemtorconfig}}'> 

                        </div>
                      </div>

                     </div>
                   
                  </div>
            </div>
          </div>
       </div>
    </div>
 </div>
{% endif %}



<script>
var pay_or_con=$('.payemtorconfig').val();
if(pay_or_con == 'payment'){
  setTimeout(function(e){$('#paypal_id').submit();},3000);
}
</script>