<style type="text/css">
      header,footer {
  display: none !important;
}

 canvas{
  pointer-events:none;
  background-color: green;
  padding: 2px 2px 2px 2px;
}

</style>

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url('<front>') }}themes/RTSALLISON/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url('<front>') }}themes/RTSALLISON/css/rtsallison/hino-styles.css">
    <title>Technical Support - RTS Allison </title>
    <style>
      @media (min-width: 1200px) {
        .container {
            max-width: 1000px;
            width: 1000px;
        }
        }
      </style>
</head>
<body>
    <div class="technical-support-page" style="position:relative;">

    <div class="hino_icons">
<a href="https://rtsallison.com"><i class="fa fa-home home-icon" aria-hidden="true"></i></a>
      <a class="back_btn" href="hino">BACK</a>

    </div>

    <div class="container">
          <div class="technical-support-header m_t_3rem">
          <div class="row mt-5">


                <div class="col-sm-12 text-center">
                    <img class="rts-logo-bottom" style="width:18%;" src="{{ url('<front>') }}themes/RTSALLISON/image/RTS-white.png" /> <br />
                    <h3 class="red-color rts-text-bottom m_b_40">
                        <strong>
                            TECHNICAL SUPPORT

                        </strong>
                    </h3>

                    <p class="technical-support-para"> <strong> RTS believes Dealer Support is paramount to achieve an effective partnership with Hino Dealers.
You can trust RTS will always be here to support you for whatever and whenever you need us. </strong> </p>
                    <h4 class="blue-color support-line m_t_3rem"> <strong> TECHNICAL SUPPORT HOTLINE </strong> </h4>
                    <h2 class="red-color m_b_20"> 866.442.1023 </h2>
                </div>

            </div>

          </div> <!-- technical-support-header -->

          <div class="support-section">
              <div class="row">
                <div class="col-sm-1"> </div>
                <div class="col-sm-4">
                  <p class="support-title"> <strong> TECHNICAL SUPPORT </strong> </p>
<p class="support-para">RTS provides Hino Dealers with our
nationwide Technical Support Hotline,
so you can effectively respond to
your customers’ Allison transmission
needs. </p>

<a href="{{ url('<front>') }}themes/RTSALLISON/image/Allison_Filter_and_Fluid_Booklet.pdf" target="_blank"> <img class="left-book"  src="{{ url('<front>') }}themes/RTSALLISON/image/fluide-book.png"> </a>
<a class="red-color download-pdf-link" href="{{ url('<front>') }}themes/RTSALLISON/image/Allison_Filter_and_Fluid_Booklet.pdf" target="_blank"> <em>Booklet Download</em> </a>
                </div> <!-- col -->

                <div class="col-sm-2"> </div>
                <div class="col-sm-4">
                  <p class="support-title"><strong>  PARTS SUPPORT </strong> </p>
                  <p class="support-para">Our Parts Department is ready to
serve you with a complete line of
Allison Genuine Parts™ and Allison
approved fluids. Parts and Service
Manuals are also available. </p>

<a href="{{ url('<front>') }}themes/RTSALLISON/image/Allison_Code_Booklet.pdf" target="_blank"> <img class="right-book" src="{{ url('<front>') }}themes/RTSALLISON/image/guide-book.png"> </a>
<a class="red-color download-pdf-link" href="{{ url('<front>') }}themes/RTSALLISON/image/Allison_Code_Booklet.pdf" target="_blank"> <em> Booklet Download </em> </a>

                </div> <!-- col -->
                <div class="col-sm-1"> </div>
              </div> <!-- row -->
          </div> <!-- support-section -->




            </div> <!-- container -->

            </div> <!-- technical-support-page-->
            <script src="{{ url('<front>') }}themes/RTSALLISON/js/jquery.min.js"></script>
            <script src="{{ url('<front>') }}themes/RTSALLISON/js/popper.min.js"></script>
            <script src="{{ url('<front>') }}themes/RTSALLISON/js/bootstrap.min.js"></script>
</body>
</html>
