   <div class="container">
      <!-- Slider -->
      <div class="">
        <div class="faq-page-breadcrumb">
          <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
            <div class="breadcrumb-item"><a href="index.html">Home</a></div><i class="fa fa-chevron-right"></i>
            <div class="breadcrumb-item current">Terms and Conditions</div>
          </div>
        </div>
      </div>
      <!-- Middle Content -->
      <div class="policies-page-section">
        <h1 class="h1-title text-center">Terms and Conditions</h1>
    <!--    <h2 class="h2-title text-center">H2 Tage goes here</h2> //-->
        <div class="">
          <div class="policies-container">
            <div class="row">
              <div class="col-md-12">
              {% for key,value in items%}
                <div class="policies-content">
                
                  <h4>{{value[0]}}</h4>
                  {{value[1]|raw}}
                </div>
               {% endfor %} 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>   
