<div class="container">
      <div class="">
        <div class="">
          <div class="faq-page-breadcrumb">
            <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
<!--               <div class="breadcrumb-item"><a href="{{ url('<front>') }}">Home</a></div><i class="fa fa-chevron-right"></i>

 -->         {% for key,value in seo_array%}
                  {% if value[0] != '' %}
                      <div class="breadcrumb-item current">{{value[0]}}</div>
                      {% else %}
                       <div class="breadcrumb-item current">Testimonial</div>
                  {% endif %}
              {% endfor %}      
           <!--  <div class="breadcrumb-item current">Testimonial</div> -->
            </div>
          </div>
        </div>
        <!-- Middle Content -->
        <!-- Testimonial Content -->
        <div class="testimonial-page-section">
          <div class="">
                    {% for key,value in seo_array%}
                        {% if value[1] != '' %}
                          
                          
                           <h1 class="h1-title text-center">{{value[1]}}</h1>
                          {% else %}
                           <h1 class="h1-title text-center">Testimonial</h1>

                        {% endif %}
                    {% endfor %}
            
            <div class="testimonial revealOnScroll" data-animation="fadeIn">
              <!-- Consumers Testimonials -->
              <div class="consumers-testimonials">
                <div class="row" id="consumers-testimonials-container">
                   {% for key,value in items %}
                  <div class="col-xs-12 col-sm-6 col-lg-4">
                    
                    <div class="item">
                      <div class="content-testimonials text-center">
                        <div class="testi-details">
                          <h4><i class="fa fa-quote-left text-thm2"></i></h4>
                          <p>{{value['raw_html']|raw}}</p>
                        </div>
                        <hr />
                        <div class="testi-thumb">
                          <img class="img-responsive img-circle" src="{{value['img_url']}}" alt="{{value['altvalue']}}">
                          <h4>{{value['title']}}</h4>
                          <h6><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{value['location']}}</h6>
                          <!-- <p><em>-Designer</em></p> -->
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  {% endfor %}
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>