  <section class="why-section">
    <div class="container">

      <div class="our-support">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="our-support-box">
              Service
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="our-support-box">
              Remanufacturing
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="our-support-box">
              Locations
            </div>
          </div>
        </div>
      </div>

      <div class="why-section-search clearfix">
        <input type="text" class="search-input-red" placeholder="Help me find...">
            <button type="submit" class="search-button-red">
              Go
           </button>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="why-section-img">
            <img src="{{ url('<front>') }}themes/RTS/images/allison-product.png">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="why-section-content">
            <div class="why-section-title">
              <h1 class="rts-title-white rts-title-right">Why RTS?</h1>
              <h2 class="rts-subtitle-white rts-title-right">Learn what makes us differents.</h2>
            </div>
            <p class="bold-para-text-white rts-title-right">Allison Only <span class="normal-para-text-white">Experience</span></p>
            <p class="bold-para-text-white rts-title-right">Allison Authorized<span class="normal-para-text-white">for Remanufacturing and Repair</span></p>
            <p class="bold-para-text-white rts-title-right">Allison Certified <span class="normal-para-text-white">RTS Technicians</span></p>
            <p class="bold-para-text-white rts-title-right">Warranty and <span class="normal-para-text-white">Avaliability</span></p>
          </div>
        </div>
      </div>
    </div>
      
    </div>
    
  </section>