{{items|raw}}
<!-- <section class="about_us section_border p-b-30">
     <div class="container">
					<div class="text-center">
						<img class="img-responsive wow fadeInUp animated" data-wow-delay="0.4s" src="/rtsallison/sites/default/files/allison-primary.jpg" alt="Allison Transmissions Corporate logo" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
					</div>

					<div class="text-center">
						<h1>Welcome to the world of <span>Allison Transmissions</span>.</h1>
						<h2 class="col-sm-10 col-sm-offset-1 nomargin-top nomargin-bottom weight-400">At Reliable Transmission Service (RTS), we are dedicated to providing the best support and service for those using Allison automatic transmissions.</h2>
					</div>
    </div>
</section>
          <section class="p-t-30">
				<div class="container">

					<div class="row">

						<div class="col-sm-6 col-md-4 col-lg-4">

							<div class="box-icon box-icon-left">
								<a class="box-icon-title" href="reman_allison.html">
									<i class="fa fa-cogs"></i>
									<h2>Remanufactured Allisons</h2>
								</a>
								<p class="">1000 series, 2000 series, 3000 series, and more</p>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4">

							<div class="box-icon box-icon-left">
								<a class="box-icon-title" href="services.html">
									<i class="fa fa-list"></i>
									<h2>Services</h2>
								</a>
								<p class="">Complete list of Allison services and more</p>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4">

							<div class="box-icon box-icon-left">
								<a class="box-icon-title" href="#">
									<i class="fa fa-users "></i>
									<h2>Partner Program</h2>
								</a>
								<p class="">So you want to sell more Allison products, ask about our partner program!</p>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4">

							<div class="box-icon box-icon-left">
								<a class="box-icon-title" href="#">
									<i class="fa fa-exchange"></i>
									<h2>Exchange Program</h2>
								</a>
								<p class="">Quality remanufactured Allison transmissions delivered right to your shop.</p>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4">

							<div class="box-icon box-icon-left">
								<a class="box-icon-title" href="telma.html">
									<i class="fa fa-envira"></i>
									<h2>Telma</h2>
								</a>
								<p class="">Telma Electro-magnetic Braking System. </p>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4">

							<div class="box-icon box-icon-left">
								<a class="box-icon-title" href="warranty.html">
									<i class="fa fa-trophy"></i>
									<h2>"Gold" Warranty</h2>
								</a>
								<p class="">Our transmissions are as good as gold. Standard two year warranty</p>
							</div>

						</div>


					</div>

				</div>
			</section> -->
