<section class="parallax parallax-2 nopadding-bottom" style="background-image: url({{url('<front>')}}/sites/default/files/mechanic.jpg); background-position: 50% -39px;">
        <div class="overlay dark-6">
        </div>
        <div class="container-fluid">
          <div class="text-center m-t-60">
            <h3 class="nomargin">Authorized Allison Dealer</h3>
            <p class="font-lato weight-300 lead nomargin-top">Do not settle for anything less than genuine Allison parts and service!</p>
          </div>
          <div class="margin-top-80 text-center">
            {% for key,value in service_array %}
              <div class="item active">
                <img class="img-responsive wow fadeInUp animated" data-wow-delay="0.4s" src="{{value.file}}" alt="{{value.altvalue}}" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"/>
              </div>
          {% endfor %}
            <!-- <img class="img-responsive wow fadeInUp animated" data-wow-delay="0.4s" src="/rtsallison/sites/default/files/4500RDS transmission.png" alt="Allison transmissions logo" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"> -->
          </div>
        </div>
      </section>