﻿/*@font-face {
    font-family: myfont;
    src: url(fonts/BentonSans-Bold_T.ttf);
}*/

@font-face {
    font-family: 'BentonSans';
    src: url('fonts/BentonSans Bold.woff2') format('woff2'),
        url('fonts/BentonSans Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BentonSans';
    src: url('fonts/BentonSans Black.woff2') format('woff2'),
        url('fonts/BentonSans Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BentonSans';
    src: url('fonts/BentonSans Bold.eot');
    src: url('fonts/BentonSans Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/BentonSans Bold.ttf') format('truetype'),
        url('fonts/BentonSans Bold.svg#BentonSans Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'BentonSans_black';
    src: url('fonts/BentonSans Bold.eot');
    src: url('fonts/BentonSans Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/BentonSans Bold.ttf') format('truetype'),
        url('fonts/BentonSans Bold.svg#BentonSans Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body {
    height: 100%;
    font-family: 'BentonSans';
    background: linear-gradient(180deg, rgba(255,255,255), rgba(94,164,210) 100%) no-repeat !important;
}


/*common styles*/

.red-color {
    color: #ee3526;
}

.blue-color {
    color: #1d58a8;
}

.white-color {
    color: #ffffff;
}

.bg-red {
    background-color: #DB322A;
}

.bg-blue {
    background-color: #2D5AA8;
}

.m_t_10{
    margin-top:10px;
}

.m_t_3rem {
  margin-top: 3rem;
}

.m_b_20 {
  margin-bottom: 20px;
}

/* homepage styles */
.rts-banner-img {
  width: 100%;

}
.rts-small-logo-img {
    /*max-width: 70px;*/
    max-width: 30%;
}

.rounded
{
    border-radius: 2rem !important;
}

.header_txt{
    font-family: 'BentonSans_black';
    font-size: 66px;
    line-height: 45px;
    letter-spacing: -4px;
    margin: -4rem 0 0 0;
}

.header_txt strong{
    color: #ee3526;
}

.header_txt span{
    font-size: 50px;
}

.welcome-section {
    margin-top: -4rem;
    cursor: pointer;
}

.para_sec strong{
    font-size: 20px;
    line-height: 17px;
    margin: 10px 0 0 0;
    display: inline-block;
}

.para_sec span{
    font-size: 15px;
    display: block;
}

.flex-even {
    flex: 1;
}

.welcome-section-content {
  margin-left: 1rem;
}

/*.welcome-section-content button{
    min-width: 230px;
    padding: 15px 30px;
    margin: 0 20px 0 0;
    box-sizing: border-box;
}
*/
.welcome-section-item {


 -moz-box-shadow:    0px 1px 5px rgb(255 255 255 / 80%) inset, 0 -10px 20px -5px #3b3737 inset;
  -webkit-box-shadow: 0px 1px 5px rgb(255 255 255 / 90%) inset, 0 -10px 20px -5px #3b3737 inset;

    box-shadow: 0px 3px 5px rgb(255 255 255 / 60%) inset, 0 -10px 20px -5px #3b3737 inset;
    border: none;
    max-width: 234px;
    width: 234px;
    max-height: 157px;
    height: 157px;
    margin-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

    .welcome-section-item:hover, .welcome-section-item:focus, .welcome-section-item:active {
        background-color: #2D5AA8;
        box-shadow: rgba(0, 0, 0, 0.06) 15px 15px 4px 0px inset;
        border-color: transparent;
    }
.welcome-section-content p {
    line-height: 1 !important;
}

.welcome-section-text {
    text-shadow: 2px 2px #6a7b8a;
    -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #6a7b8a;
    font-size: 2.75rem;
    margin-top: 5px !important;
}


.rts-text-bottom {
    margin-top: -0.9rem;
    line-height: 35px;
    /* font-weight: bold; */
    /* letter-spacing: -2px; */
    font-weight: 1000;
    font-size: 40px;
    font-family: 'BentonSans_black' !important;
    text-shadow: 2px 2px #6a7b8a;
}


/* Technical Support Page */
.technical-support-para {
  font-size: 20px;
}

.support-line {
  font-size: 25px;
}

.support-title {
  font-size: 25px;
}

.support-para {
  font-size: 17px;
  text-align: justify;
}

.m_l_15 {
  margin-left: 15px;
}
a.download-pdf-link {
  display:block;
  width: 80%;
  text-align: center;
  padding-top: 10px;
}
/*Responsive styles*/
@media (min-width: 1200px) {
    .container {
        max-width: 1280px;
        width: 1280px;
    }
}


@media (max-width: 1200px) {
    .welcome-section {
        margin-top: -3rem;
    }

}

@media (max-width: 992px) {
    .welcome-section {
        margin-top: -2rem;
    }

    .welcome-section-item {
        width: 50%;
        margin-bottom: 10px;
    }

}

@media (max-width: 575px) {
    .welcome-section {
        margin-top: -1rem;
    }
}

@media (max-width: 375px) {
    .welcome-section {
        margin-top: -0.5rem;
    }
}
