/*Common Css*/
p {
	line-height: 1.7
}

svg {
	max-width: 100%;
  width:100%!important;
}

a {
	color: inherit;
}

a:hover {
	outline: 0;
	text-decoration: none
}

a:active {
	outline: 0;
	text-decoration: none
}

a:focus {
	outline: 0;
	text-decoration: none
}
img{
	max-width: 100%;
}

ul, li{
	list-style: none;
}
h1,h2,h3,h4{
	margin: 0;
}
*{margin:0;padding:0;list-style:none;}
pre{border:solid 1px #e7e1cd;background-color:#fffdef;overflow:auto;font-size:12px;line-height:14px;margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;}
span.bld {
    font-weight: bold !important;
    font-size: 20px !important;
}
span.bldfr{
    font-weight: bold !important;
    font-family: inherit !important;
}
span.bldsxitl{
    font-weight: bold !important;
    font-family: inherit !important;
    font-style: italic;
}
span.bldsx{
    font-weight: bold !important;
    font-family: inherit !important;
}
span.italic {
    font-weight: 900;
    font-size: 20px;
    font-family: "BentonSans Book Italic";
}
span.reditalic {
    font-style: italic;
    color: #ED3827;
    }
/*End Common Css*/
/*First*/
.row.mg0{
	margin-left: 0;
	margin-right: 0;
}
.banner img{
    height: 85vh;
    width: 100%;
    object-fit: cover;
}
.cnt {
    background-color: #F6F6F6;
}
.bnr_cnt h1{
	text-align: center;
    font-family: 'Conv_BentonSans Black';
    font-size: 40px;
    padding: 20px 0;
    color: #fff;
}
.bnr_cnt {
    background: #ED3827;
    margin-bottom: 15px;
}
.h1-black h1{
	font-family: 'Conv_BentonSans Black';
	font-size: 25px;
	text-align: center;
	color: #0067AC;
}
.intro-head span p{
	text-align: center;
}
.intro-head span p {
    text-align: center;
    font-family: "BentonSans Book Italic";
    font-size: 21px;
}
.abt-cnt h1{
	font-family: 'Conv_BentonSans Black';
	font-size: 23px;
	/*text-align: justify;*/
	color: #0067AC;
}
.abt-cnt p {
    font-family: 'Conv_BentonSans Book';
    font-size: 18px;
    line-height: 1.3;
    /*text-align: justify;*/
}
.form-control{
    font-family: 'Conv_Helvetica';
}
.abt_lst {
    display: flex;
    margin: 15px 0;
}
.abt-lst_img {
    flex: none;
    vertical-align: middle;
    margin-right: 10px;
}
.abt-lst_cnt {
    /*display: inline-block;
    vertical-align: middle;*/
    /*flex: none;
    vertical-align: middle;*/
}
.abt-lst_img img{
	width: 50px;
    margin: 0;
    padding: 0;
}
.abt-cnt {
    margin: 0 20px;
}
.abt-lst_cnt h4{
    text-align: left;
    font-family: "BentonSans Book Italic";
    font-size: 26px;
    color: #0067AC;
}
.abt-lst_cnt h2 {
    font-weight: 400;
    font-family: 'Conv_BentonSans Regular';
    color: #ED3827;
}
.vdo_cnt {
    display: table;
    margin: 0 auto;
    padding:0 15px;
}
.vdo_cnt p {
    text-align: center;
    font-family: "BentonSans Book Italic";
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
}
.vdo_cnt h1{
	text-align: center;
	font-family: 'Conv_BentonSans Bold';
    font-size: 30px;
}
.vdo_cnt h1.itl{
	font-style: italic;
}
.abt_lst-btn a{
	font-family: 'Conv_Helvetica';
}
.abt_lst-btn {
    display: table;
    margin: 50px auto;
    width: 50%;
}
.abt_lst-btn a {
    font-family: 'Conv_Helvetica';
    background: #ED3827;
    padding: 15px 50px;
    color: #fff;
    border-radius: 10px;
    font-size: 22px;
    display: table;
    margin: 0 auto;
}
.abt_lst-btn img {
    width: 50%;
    position: relative;
    top: 25px;
    /*left: 50px;*/
    display: table;
    margin: 0 auto;
}
.cnt form{
	display: table;
    margin: 0 auto;
    width: 86%;
    margin-top: 25px;
}
.cnt button,.cnt button:hover{
    font-family: 'Conv_Helvetica';
    background-color: #0067AC;
    color: #fff;
    border: none;
    padding: 8px 25px;
}
.vdo {
    margin-bottom: 45px;
    position: relative;
}
.vdo img{
    display: table;
    margin:0 auto;
    width: 90%;
    object-fit: contain;
}
.frst_btm {
    display: table;
    margin: 0 auto;
}
.frst_btm ul{
   margin-top: 1rem;
}
.frst_btm ul li {
    display: inline-block;
    font-family: 'Conv_BentonSans Regular';
    font-size: 19px;
    font-weight: 600;
    padding: 0px 30px;
}
.vdo_inr img:nth-child(1){
	width: 80%;
}
@media only screen and (min-width: 1000px) and (max-width: 1099px) {
.abt_lst-btn a {
    padding: 15px 50px;
}
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
.vdo_cnt h1 {
    font-size: 30px;
}
}
@media only screen and (min-width: 1000px) and (max-width: 1099px) {
.vdo_cnt h1 {
    font-size: 25px;
}
}
.vdo_inr {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
}
/*End First*/
/*second*/
.scnd {
    display: flex;
    align-items: center;
    justify-content: center;
}
.scnd_cnt h1{
	text-align: center;
	font-family: 'Conv_BentonSans Bold';
	font-size: 34px;
}
.scnd_cnt p {
    text-align: center;
    font-family: "BentonSans Book Italic";
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
}
.scnd_cnt {
}
.scnd_cnt h1.itl{
	font-style: italic;
}
.containerq{
	padding:0 70px;
}
.scndabt-cnt p{
	/*text-align: justify;*/
}
.scndabt-cnt_img img {
    width: 20%;
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
}
.scndabt-cnt h1 {
    font-family: 'Conv_BentonSans Black';
    font-size: 29px;
    text-align: left;
    color: #ED3827;
    margin-bottom: 10px;
    letter-spacing: -3px;
}
.scndabt-cnt_img {
    margin: 30px 0;
}
.scndabt-cnt p {
    font-family: 'Conv_BentonSans Book';
    font-size: 25px;
    line-height: 1.3;
    color: #000;
}
.sccnd .abt_lst {
    display: flex;
    margin: 0px 0;
    margin-bottom: 15px;
}
.scnd img{
	width: 540px;
	transform: rotate(-20deg);
}
.hle-scnd {
    background-image: url('../image/Blue-Background.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 40%;
}
.btm_img1 img{
	display: block;
}
.ins_btm_img2 img{
	display: block;
}
.btm_img1 img {
    display: table;
    margin: 0 auto;
    width: 40%;
}
.btm {
    display: table;
    margin: 0 auto;
    width: 100%;
    margin-top: 40px;
}
.bck_btn {
    display: table;
    margin: 0 auto;
    margin-bottom: 0px;
    width: 100%;
}
.bck_btn a {
    background: #0067ac;
    color: #fff;
    font-family: 'Conv_Helvetica';
    padding: 15px 70px;
    border-radius: 10px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: -2px;
    display: table;
    margin: 0 auto;
    width: 35%;
    text-align: center;
}
.ins_btm_img2 img {
    display: block;
}
.ins_btm_img2 {
    position: relative;
    top: -20px;
}
.ins_btm_img2 img {
    display: block;
    width: 40%;
}
.lst {
    display: table;
    margin: 0 auto;
}
.lst ul li {
    display: inline-block;
    padding: 0 15px;
    font-family: 'Conv_BentonSans Regular';
    font-size: 19px;
    font-weight: 600;
}
@media only screen and (min-width: 1100px) and (max-width: 1289px) {
.abt-lst_cnt h2 {
    font-size: 30px;
}
.scnd_cnt h1 {
    font-size: 25px;
}
.lst ul li {
    padding: 0 12px;
}
}
@media only screen and (min-width: 1000px) and (max-width: 1099px) {
.abt-lst_cnt h2 {
    font-size: 26px;
}
.scnd_cnt h1 {
    font-size: 22px;
}
.lst ul li {
    font-size: 15px;
}
}
.scndabt-cnt span{
	font-family: "BentonSans Book Italic";
    font-weight: bolder;
    font-size: 29px;
}
/*End second*/
/*index2*/
.vdo.indx2 img {
    display: table;
    margin: 0 auto;
    width: 26%;
    object-fit: contain;
}
/*End index2*/
/*index3*/
.bbd_inl {
    display: block;
    margin: 8px 0px;
}

.inr_bbd_1 {
    border: 1px solid #ED3827;
    border-radius: 10px;
    flex: auto;
    margin: 0 10px;
}
.inr_bbd_2 {
    border: 1px solid red;
    padding: 0px 3px;
    border-radius: 10px;
    flex: auto;
    margin: 0 10px;
}
.bbd {
    display: table;
    margin: 0 auto;
}
.bbd_inl {
    display: flex;
    margin: 8px 0px;
}
.bbd_inl1 {
    display: flex;
    margin: 8px 0px;
}
.inr_bbd_1 h4 {
    text-align: center;
    font-size: 15px;
    padding: 0 20px;
    color: #ED3827;
}
.inr_bbd_2 h4 {
    font-size: 15px;
    text-align: center;
    padding: 0 20px;
    color: #ED3827;
}
/*End index3*/