/*Common Css*/
p {
    line-height: 1.7
}

svg {
    max-width: 100%;
  width:100%!important;
}

a {
    color: inherit;
}

a:hover {
    outline: 0;
    text-decoration: none
}

a:active {
    outline: 0;
    text-decoration: none
}

a:focus {
    outline: 0;
    text-decoration: none
}
img{
    max-width: 100%;
}

ul, li{
    list-style: none;
}
h1,h2,h3,h4{
    margin: 0;
}
*{margin:0;padding:0;list-style:none;}
pre{border:solid 1px #e7e1cd;background-color:#fffdef;overflow:auto;font-size:12px;line-height:14px;margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;}
span.bld {
    font-weight: bold !important;
}
span.bldfr{
    font-weight: bold !important;
    font-family: inherit !important;
}
span.bldsxitl{
    font-weight: bold !important;
    font-family: inherit !important;
    font-style: italic;
}
span.bldsx{
    font-weight: bold !important;
    font-family: inherit !important;
}
span.italic {
    font-weight: 900;
    font-family: "BentonSans Book Italic";
}
span.reditalic {
    font-style: italic;
    color: #ED3827;
    }
b.bldsxitl,b.itlbld {
    font-style: italic;
}
a.site-logo img {
    width: 78px;
}
/*End Common Css*/
/*First*/
.row.mg0.sccndtwo,.row.mg0.sccnd{
    margin-top: 0;
}
.row.mg0{
    margin-left: 0;
    margin-right: 0;
}
.bannertwo img{
    /*height: 85vh;*/
    width: 100%;
    object-fit: contain;
}
.cnttwo {
    background-color: #F6F6F6;
}
.bnr_cnttwo h1{
    text-align: center;
    font-family: 'Conv_BentonSans Black';
    font-size: 40px;
    padding: 20px 0;
    color: #fff;
}
.bnr_cnttwo {
    background: #ED3827;
    margin-bottom: 15px;
}
.h1-blacktwo h1{
    font-family: 'Conv_BentonSans Black';
    font-size: 25px;
    text-align: center;
    color: #0067AC;
}
.intro-headtwo span p{
    text-align: center;
}
.intro-headtwo span p {
    text-align: center;
    font-family: "BentonSans Book Italic";
    font-size: 21px;
}
.abt-cnttwo h1{
    font-family: 'Conv_BentonSans Black';
    font-size: 23px;
    /*text-align: justify;*/
    color: #0067AC;
}
.abt-cnttwo p {
    font-family: 'Conv_BentonSans Book';
    font-size: 18px;
    line-height: 1.3;
    /*text-align: justify;*/
    color: #000;
}
.form-control{
    font-family: 'Conv_Helvetica';
}
.cnttwo .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.abt_lsttwo {
    display: flex;
    margin: 15px 0;
}
.abt-lst_imgtwo {
    flex: none;
    vertical-align: middle;
    margin-right: 10px;
}
.abt-lst_cnttwo {
    /*display: inline-block;
    vertical-align: middle;*/
    /*flex: none;
    vertical-align: middle;*/
}
.abt-lst_imgtwo img{
    width: 50px;
    margin: 0;
    padding: 0;
}
.abt-cnttwo {
    margin: 0 20px;
}
.abt-lst_cnttwo h4{
    text-align: left;
    font-family: "BentonSans Book Italic";
    font-size: 26px;
    color: #0067AC;
    font-weight: normal;
}
.abt-lst_cnttwo h2 {
    font-weight: 400;
    font-family: 'Conv_BentonSans Regular';
    color: #ED3827;
}
.vdo_cnttwo {
    display: table;
    margin: 0 auto;
    padding:0 15px;
}
.vdo_cnttwo p {
    text-align: center;
    font-family: "BentonSans Book Italic";
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    color: #212529;
}
.vdo_cnttwo h1{
    text-align: center;
    font-family: 'Conv_BentonSans Bold';
    font-size: 25px;
    color: #212529;
}
.vdo_cnttwo h1.itl{
    font-style: italic;
}
.abt_lst-btntwo a{
    font-family: 'Conv_Helvetica';
}
.abt_lst-btntwo {
    display: table;
    margin: 50px auto;
    width: 50%;
}
.abt_lst-btntwo a,.abt_lst-btntwo a:hover {
    font-family: 'Conv_Helvetica';
    background: #ED3827;
    padding: 15px 50px;
    color: #fff;
    border-radius: 10px;
    font-size: 22px;
    display: table;
    margin: 0 auto;
}
.abt_lst-btntwo img {
    width: 50%;
    position: relative;
    top: 25px;
    /*left: 50px;*/
    display: table;
    margin: 0 auto;
}
.cnttwo form{
    display: table;
    margin: 0 auto;
    width: 86%;
    margin-top: 25px;
}
.cnttwo button,.cnttwo button:hover{
    font-family: 'Conv_Helvetica';
    background-color: #0067AC;
    color: #fff;
    border: none;
    padding: 8px 25px;
}
.vdotwo {
    margin-bottom: 45px;
    position: relative;
}
.vdotwo img{
    display: table;
    margin:0 auto;
    width: 90%;
    object-fit: contain;
}
.frst_btmtwo {
    display: table;
    margin: 0 auto;
}
.frst_btmtwo ul{
   margin-top: 1rem;
}
.frst_btmtwo ul li {
    display: inline-block;
    font-family: 'Conv_BentonSans Regular';
    font-size: 19px;
    font-weight: 600;
    padding: 0px 30px;
}
.vdo_inrtwo img:nth-child(1){
    width: 80%;
}
@media only screen and (min-width: 1000px) and (max-width: 1099px) {
.abt_lst-btntwo a {
    padding: 15px 50px;
}
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
.vdo_cnttwo h1 {
    font-size: 25px;
}
}
@media only screen and (min-width: 1000px) and (max-width: 1099px) {
.vdo_cnttwo h1 {
    font-size: 25px;
}
}
.vdo_inrtwo {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
}
/*End First*/
/*second*/
.scndtwo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 80px;
}
.scnd_cnttwo h1{
    text-align: center;
    font-family: 'Conv_BentonSans Bold';
    font-size: 25px;
    color: #212529;
}
.scnd_cnttwo p {
    text-align: center;
    font-family: "BentonSans Book Italic";
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    color: #212529;
}
.scnd_cnttwo {
}
.scnd_cnttwo h1.itl{
    font-style: italic;
    color: #212529;
}
.containerq{
    padding:0 70px;
}
.scndabt-cnttwo p{
    /*text-align: justify;*/
}
.scndabt-cnt_imgtwo img {
    width: 20%;
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
}
.scndabt-cnttwo h1 {
    font-family: 'Conv_BentonSans Black';
    font-size: 29px;
    text-align: left;
    color: #ED3827;
    margin-bottom: 10px;
    letter-spacing: -3px;
}
.scndabt-cnt_imgtwo {
    margin: 30px 0;
}
.scndabt-cnttwo p {
    font-family: 'Conv_BentonSans Book';
    font-size: 25px;
    line-height: 1.3;
    color: #000;
}
.sccnd .abt_lsttwo {
    display: flex;
    margin: 0px 0;
    margin-bottom: 15px;
}
.scndtwo img{
    width: 345px;
    transform: rotate(-20deg);
}
.hle-scndtwo {
    background-image: url('../image/Blue-Background.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 40%;
    margin-top: 50px;
}
.btm_img1two img{
    display: block;
}
.ins_btm_img2two img{
    display: block;
}
.btm_img1two {
    margin-top: 25px;
}
.btm_img1two img {
    display: table;
    width: 25%;
    margin-top: 25px;
    margin: 0 auto;
}
.btmtwo {
    display: table;
    margin: 0 auto;
    width: 100%;
    margin-top: 40px;
}
.bck_btntwo {
    display: table;
    margin: 0 auto;
    margin-bottom: 0px;
    width: 100%;
}
.bck_btntwo a,.bck_btntwo a:hover {
    background: #0067ac;
    color: #fff;
    font-family: 'Conv_Helvetica';
    padding: 15px 70px;
    border-radius: 10px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: -2px;
    display: table;
    margin: 0 auto;
    width: 35%;
    text-align: center;
}
.ins_btm_img2two img {
    display: block;
}
.ins_btm_img2two {
    position: relative;
    top: -38px;
}
.ins_btm_img2two img {
    display: block;
    width: 40%;
}
.lsttwo {
    display: table;
    margin: 0 auto;
}
.lsttwo ul li {
    display: inline-block;
    padding: 0 15px;
    font-family: 'Conv_BentonSans Regular';
    font-size: 19px;
    font-weight: 600;
}
@media only screen and (min-width: 1100px) and (max-width: 1289px) {
.abt-lst_cnttwo h2 {
    font-size: 30px;
}
.scnd_cnttwo h1 {
    font-size: 25px;
}
.lsttwo ul li {
    padding: 0 12px;
}
}
@media only screen and (min-width: 1000px) and (max-width: 1099px) {
.abt-lst_cnttwo h2 {
    font-size: 26px;
}
.scnd_cnttwo h1 {
    font-size: 22px;
}
.lsttwo ul li {
    font-size: 15px;
}
}
.scndabt-cnttwo span{
    font-family: "BentonSans Book Italic";
    font-weight: bolder;
    font-size: 29px;
}
/*End second*/
/*index2*/
.vdo.indx2two img {
    display: table;
    margin: 0 auto;
    width: 26%;
    object-fit: contain;
}
/*End index2*/
/*index3*/
.bbd_inltwo {
    display: block;
    margin: 8px 0px;
}

.inr_bbd_1two {
    border: 1px solid #ED3827;
    border-radius: 10px;
    flex: auto;
    margin: 0 10px;
}
.inr_bbd_2two {
    border: 1px solid red;
    padding: 0px 3px;
    border-radius: 10px;
    flex: auto;
    margin: 0 10px;
}
.bbdtwo {
    display: table;
    margin: 0 auto;
}
.bbd_inltwo {
    display: flex;
    margin: 8px 0px;
}
.bbd_inl1two {
    display: flex;
    margin: 8px 0px;
}
.inr_bbd_1two h4 {
    text-align: center;
    font-size: 15px;
    padding: 0 20px;
    color: #ED3827;
}
.inr_bbd_2two h4 {
    font-size: 15px;
    text-align: center;
    padding: 0 20px;
    color: #ED3827;
}
.scndtwo-inx2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.scndtwo-inx2 img {
    width: 345px;
    transform: rotate(-20deg);
}
/*End index3*/