/*Common Css*/
p {
	line-height: 1.7
}

svg {
	max-width: 100%;
  width:100%!important;
}

a {
	color: inherit;
}

a:hover {
	outline: 0;
	text-decoration: none
}

a:active {
	outline: 0;
	text-decoration: none
}

a:focus {
	outline: 0;
	text-decoration: none
}
.bck_btn a:focus{
    color: #fff !important;
}
.abt_lst-btn a:focus{
    color: #fff !important;
}
img{
	max-width: 100%;
}

ul, li{
	list-style: none;
}
#block-rtsallison-content h1,#block-rtsallison-content h2,#block-rtsallison-content h3,#block-rtsallison-content h4{
	margin: 0;
}
#block-rtsallison-content h1{
    line-height:1.3;
}
*{margin:0;padding:0;list-style:none;}
pre{border:solid 1px #e7e1cd;background-color:#fffdef;overflow:auto;font-size:12px;line-height:14px;margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;}
#block-rtsallison-content section{
    padding: 0;
    border-bottom: none;
}
/*End Common Css*/
/*First*/
.row.mg0{
	margin-left: 0;
	margin-right: 0;
    display: flex;
}
.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.cnt {
    background-color: #F6F6F6;
    padding: 10px 0;
}
.row.mg0.sccnd {
    margin-top: 25px !important;
}
.bnr_cnt h1{
	text-align: center;
    font-family: 'Conv_BentonSans Black';
    font-size: 40px;
    padding: 20px 0;
    color: #fff;
}
.bnr_cnt {
    background: #ED3827;
    margin-bottom: 15px;
}
.h1-black h1{
	font-family: 'Conv_BentonSans Black';
	font-size: 27px;
	text-align: center;
	color: #0067AC;
}
.intro-head span p{
	text-align: center;
}
.intro-head span p {
    text-align: center;
    font-family: "BentonSans Book Italic";
    font-size: 21px;
}
.abt-cnt h1{
	font-family: 'Conv_BentonSans Black';
	font-size: 23px;
	text-align: left;
	color: #0067AC;
}
.abt-cnt p {
    font-family: 'Conv_BentonSans Book';
    font-size: 18px;
    line-height: 1.3;
	/*text-align:justify;*/
    color: #000;
}
.form-control{
    font-family: 'Conv_Helvetica';
}
.abt_lst {
    display: block;
    margin: 15px 0;
}
.abt-lst_img {
    display: inline-block;
    vertical-align: middle;
}
.abt-lst_cnt {
    display: inline-block;
    vertical-align: middle;
}
.abt-lst_img img{
	width: 50px;
    margin: 0;
    padding: 0;
}
.abt-lst_cnt h4{
    text-align: left;
    font-family: "BentonSans Book Italic";
    font-size: 21px;
    color: #0067AC;
    margin:0;
    font-weight: 200;
}
.abt-lst_cnt h2 {
    font-weight: 400;
    font-family: 'Conv_BentonSans Regular';
    color: #ED3827;
    margin: 0;
    line-height: 1;
}
.vdo_cnt {
    display: table;
    margin: 0 auto;
    padding:0 15px;
}
.vdo_cnt p {
    text-align: center;
    font-family: "BentonSans Book Italic";
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    color: #414141;
}
.vdo_cnt h1{
	text-align: center;
	font-family: 'Conv_BentonSans Bold';
    font-size: 25px;
}
.vdo_cnt h1.itl{
	font-style: italic;
}
.abt_lst-btn a{
	font-family: 'Conv_Helvetica';
}
.abt_lst-btn {
    display: table;
    margin: 50px auto;
    width: 50%;
}
.abt_lst-btn a,.abt_lst-btn a:hover {
    font-family: 'Conv_Helvetica';
    background: #ED3827;
    padding: 15px 40px;
    color: #fff;
    border-radius: 10px;
    font-size: 22px;
    display: table;
    margin: 0 auto;
}
.abt_lst-btn img {
    width: 50%;
    position: relative;
    top: 25px;
    display: table;
    margin: 0 auto;
}
.cnt form{
	display: table;
    margin: 0 auto;
    width: 86%;
    margin-top: 25px;
}
.cnt button,.cnt button:hover{
    font-family: 'Conv_Helvetica';
    background-color: #0067AC;
    color: #fff;
    border: none;
    padding: 8px 25px;
}
.vdo {
    margin-bottom: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.vdo img{
    display: table;
    margin:0 auto;
    width: 90%;
    object-fit: contain;
}
.frst_btm {
    display: table;
    margin: 0 auto;
    margin-top: 20px;
}
.frst_btm ul{
   margin-top: 1rem;
}
.frst_btm ul li {
    display: inline-block;
    font-family: 'Conv_BentonSans Regular';
    font-size: 19px;
    font-weight: 600;
    padding: 0px 30px;
    color: #414141;
}
.vdo_inr img:nth-child(1) {
    width: 80% !important;
}
.vdo_inr img {
    width: 60% !important;
}
@media only screen and (min-width: 1000px) and (max-width: 1099px) {
.abt_lst-btn a {
    padding: 15px 50px;
}
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
.vdo_cnt h1 {
    font-size: 30px;
}
}
@media only screen and (min-width: 1000px) and (max-width: 1099px) {
.vdo_cnt h1 {
    font-size: 25px;
}
}
.vdo_inr {
    position: absolute;
    bottom: -35px;
    left: 0;
    right: 0;
}
.cnt .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/*End First*/
/*second*/
.scnd {
    display: flex;
    align-items: center;
    justify-content: center;
    /*height: 100%;*/
    position: relative;
    top: 120px;
}
.scnd_cnt h1{
	text-align: center;
	font-family: 'Conv_BentonSans Bold';
	font-size: 30px;
    color: #222222;
}
.scnd_cnt p {
    text-align: center;
    font-family: "BentonSans Book Italic";
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    color: #414141;
}
.scnd_cnt h1.itl{
	font-style: italic;
}
.containerq{
	padding:0 0px;
}
.scndabt-cnt p{
	/*text-align: justify;*/
}
.scndabt-cnt_img img {
    width: 20%;
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
}
.scndabt-cnt h1 {
    font-family: 'Conv_BentonSans Black';
    font-size: 29px;
    text-align: left;
    color: #ED3827;
    margin-bottom: 10px;
    letter-spacing: -3px;
}
.scndabt-cnt_img {
    margin: 30px 0;
}
.scndabt-cnt p {
    font-family: 'Conv_BentonSans Book';
    font-size: 25px;
    line-height: 1.3;
    color: #000;
}
.sccnd .abt_lst {
    display: block;
    margin: 0px 0;
    margin-bottom: 15px;
}
.scnd img{
	/*width: 380px;*/
    width: 300px;
	transform: rotate(-20deg);
}
.row.mg0.sccnd {
    margin-top: 50px;
}
.hle-scnd {
    background-image: url('../image/Blue-Background.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 40%;
}
.btm_img1 img{
	display: block;
}
.ins_btm_img2 img{
	display: block;
}
.btm_img1 img {
    display: table;
    margin: 0 auto;
    width: 25%;
}
.btm {
    display: table;
    margin: 0 auto;
    width: 100%;
    margin-top: 40px;
}
.bck_btn {
    display: table;
    margin: 0 auto;
    margin-bottom: 50px;
}
.bck_btn a,.bck_btn a:hover,.bck_btn a:active ,.bck_btn a:focus {
    background: #0067ac;
    color: #fff;
    font-family: 'Conv_Helvetica';
    padding: 15px 90px;
    border-radius: 10px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: -2px;
}
.ins_btm_img2 img {
    display: block;
}
.ins_btm_img2 {
    position: relative;
    top: -28px;
}
.ins_btm_img2 img {
    display: block;
    width: 40%;
}
.lst {
    display: table;
    margin: 0 auto;
    margin-top: 30px;
}
.lst ul li {
    display: inline-block;
    padding: 0 15px;
    font-family: 'Conv_BentonSans Regular';
    font-size: 19px;
    font-weight: 600;
    color: #333;
}
@media only screen and (min-width: 1100px) and (max-width: 1289px) {
.abt-lst_cnt h2 {
    font-size: 30px;
}
.scnd_cnt h1 {
    font-size: 25px;
}
.lst ul li {
    padding: 0 12px;
}
}
@media only screen and (min-width: 1000px) and (max-width: 1099px) {
.abt-lst_cnt h2 {
    font-size: 26px;
}
.scnd_cnt h1 {
    font-size: 22px;
}
.lst ul li {
    font-size: 15px;
}
}
.scndabt-cnt span{
	font-family: "BentonSans Book Italic";
    font-weight: bolder;
    font-size: 29px;
}
/*End second*/
/*index2*/
.vdo.indx2 img {
    display: table;
    margin: 0 auto;
    width: 40%;
    object-fit: contain;
}
/*End index2*/

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.arrow.bounce.ps_abs{
    margin: 0;
    position: absolute;
    bottom: 24%;
    right: 10%;
}
.arrow.bounce.ps_abs a{
    color: #ED3827;
    font-size: 3em;
}

.fa-2x {
    font-size: 4em;
}
/*.ccntr{
    display: table !important;
    margin: 0 auto;
}*/
.wdt{
    width: 95%;
}
@media (min-width:1400px) and (max-width:1900px){
.container {
    width: 95%;
}
}
@media (min-width:1900px){
  .container {
    width: 1800px;
    padding: 0px 30px;
}
  .cnttwo form{
     width: 100%;
     margin-top: 0px;
     padding:15px 10px;
  }
#contact_form .form-group{
    float:left;
    width:50%;
    padding:0 15px;
}
#contact_form .form-group:nth-last-child(2){
    float:none;
    width:100%;
    display: inline-block;
}
#contact_form div:last-child{
  padding: 0 15px;
}
#contact_form #cpatchaTextBox{
  width:200px;
}
}