html {
    scroll-behavior: smooth;
    min-height: 100%
}

.dis_none {
    display: none!important
}

a:focus,
a:hover {
    text-decoration: none!important
}

.htt_ld {
    min-height: calc(100vh - 330px)
}

.brd_btm {
    border-bottom: 2px solid #f1eeea
}

.iee .pop_clr_lft {
    width: auto
}

.top_cart a:focus {
    color: #fff
}

.lf-hle {
    display: inline-block;
    width: 80%
}

.lft {
    float: left;
    width: 90%
}

.rgt {
    float: right
}

.hlle {
    float: left;
    width: 100%
}

.fnt_sze span {
    font-size: 12px;
    position: relative;
    top: 1px
}

.fl_rgt {
    display: inline-block;
    margin-left: 5px
}

.fl_lf {
    float: left
}

.fnt_sze span {
    font-weight: 700;
    font-size: 12px
}

.fl_lftt {
    float: left
}

a {
    cursor: pointer
}

.topbar_phone {
    padding: 5px 0 10px 0;
    font: 600 12px 'Open Sans', sans-serif;
    border-right: 1px solid #eee
}

.top_searchbox button i {
    padding: 0 20px
}

ul#searchResult_head li:hover {
    background: #d8d8d8
}

.prt_no_sear {
    margin-bottom: 10px;
    margin-top: 10px
}

.prt_no_sear img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    object-fit: contain
}

.prt_no_sear a {
    font-weight: 600;
    color: #272727;
    font-size: 13px
}

.tp_search_wle {
    display: block;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    width: 100%;
    overflow: auto;
    padding-left: 20px;
    -moz-box-shadow: 6px 6px 43px 0 rgba(0, 0, 0, .67);
    -webkit-box-shadow: 1px 2px 51px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 2px 51px -4px rgba(0, 0, 0, 1);
    box-shadow: 1px 2px 51px -4px rgba(0, 0, 0, 1);
    height: auto
}

.rtt {
    color: #c00232
}

.nav_mainlogo {
    padding: 10px 0;
    position: relative;
    color: #fff
}

.nav_logo {
    float: left;
    padding: 8px 0 0 0;
    text-transform: uppercase
}

.nav_logo h3 {
    margin: 0;
    font-size: 26px;
    line-height: 20px
}

.nav_logo h3 a {
    text-decoration: none;
    font: 700 26px 'Titillium Web', sans-serif
}

.nav_logo h2 {
    margin: 0;
    line-height: 15px;
    font-size: 11px;
    margin-top: -5px
}

.nav_logo h2 a {
    font: 300 11px 'Open Sans', sans-serif;
    text-decoration: none
}

.nav_main_list ul {
    margin-top: 5px;
    padding-left: 0;
    margin-bottom: 0
}

.navbar-collapse.in {
    overflow-y: initial
}

.navbar-nav-menu>li>.dropdown-menu {
    display: block!important;
    height: 0;
    overflow: hidden;
    opacity: 0
}

.navbar-nav-menu>li.open>.dropdown-menu {
    height: auto;
    padding-bottom: 3px;
    opacity: 1;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s
}

.navbar-toggle .icon-bar {
    background: #f0f8ff
}

.sub_nav li {
    display: block;
    float: none!important
}

.sub_nav {
    margin-top: 0!important
}

.sub_nav li a {
    display: block!important;
    text-align: left;
    padding: 10px 14px!important
}

.navbar-collapse {
    padding: 0
}

.sticky-header.sticky {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    background: #fff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .1), 0 3px 1px rgba(0, 0, 0, .1);
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: .9s;
    animation-duration: .9s;
    -webkit-animation-timing-function: cubic-bezier(.2, 1, .22, 1);
    animation-timing-function: cubic-bezier(.2, 1, .22, 1);
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    border-bottom: 0
}

.banner_slider .slide {
    border: 1px solid #f2f2f2;
    padding: 6px
}

.carousel-control,
.carousel-control:hover {
    background-image: none!important
}

#searchRequest,
#searchpartno,
#searchsupplier,
.path-frontpage #searchResult {
    position: absolute;
    max-height: 100px!important
}

.banner_slider .carousel-inner .item>img {
    width: 100%;
    height: 450px
}

.carousel-control.right i.fa {
    height: 65px;
    width: 35px;
    border-top-left-radius: 65px;
    border-bottom-left-radius: 65px;
    right: 6px;
    position: absolute;
    top: 50%;
    margin-top: -32.5px;
    padding-top: 20px;
    padding-left: 9px;
    text-align: center;
    background: rgba(0, 0, 0, .5)
}

.carousel-control.left i.fa {
    height: 65px;
    width: 35px;
    border-top-right-radius: 65px;
    border-bottom-right-radius: 65px;
    left: 6px!important;
    position: absolute;
    top: 50%;
    margin-top: -32.5px;
    padding-top: 20px;
    padding-right: 9px;
    text-align: center;
    background: rgba(0, 0, 0, .5)
}

.carousel-fade .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity
}

.carousel-fade .active {
    opacity: 1
}

.carousel-fade .active.left,
.carousel-fade .active.right {
    left: 0;
    opacity: 0;
    z-index: 1
}

.carousel-fade .next.left,
.carousel-fade .prev.right {
    opacity: 1
}

.carousel-fade .carousel-control {
    z-index: 2
}

.testimonial .carousel-control {
    width: 0
}

.testimonial_img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    background: #ccc
}

.testimonial_img img {
    width: 100%;
    height: 100%
}

.our_categories .category_circle:hover {
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .1), 0 6px 5px 0 rgba(0, 0, 0, .1);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.featured_item_box {
    width: 260px;
    float: left;
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 15px;
    margin: 0 11px 30px 11px;
    border-radius: 0;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1)
}

div#read_review {
    display: none
}

.featured_item_box:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .1), 0 6px 5px 0 rgba(0, 0, 0, .1)
}

.featured_item_box>a {
    position: relative;
    display: block
}

.featured_item_box .m-leasing,
.featured_item_box .new_brand {
    background-color: #679025;
    color: #fff;
    font: 600 10px 'Open Sans', sans-serif;
    padding: 5px 10px;
    text-transform: uppercase;
    position: absolute;
    top: -30px;
    right: 0
}

.featured_item_box .stock_status {
    font: 600 14px 'Open Sans', sans-serif;
    padding: 2px 2px;
    text-transform: uppercase;
    position: absolute;
    top: -30px;
    left: 0
}

.featured_item_box .in {
    color: #128026
}

.featured_item_box .out {
    color: #d1252a
}

.feature_info {
    text-align: left;
    display: table-row
}

.feature_ratings {
    display: block;
    padding: 0 3px
}

.product_brand>.feature_ratings {
    display: inline-block
}

.feature_ratings ul {
    display: flex;
    list-style: none;
    padding: 0;
    color: #e7a200;
    margin: 0;
    padding: 0 0 0 6px
}

.feature_ratings li {
    color: #333
}

.featured_img {
    transition: all .3s ease-out 0s;
    -webkit-transition: all .3s ease-out 0s;
    width: 200px;
    height: 140px!important;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding: 5px;
    position: relative;
    box-sizing: border-box
}

.featured_item_price {
    padding: 5px 5px;
    font: 500 14px Roboto, sans-serif;
    color: #1d1d1d;
    float: left;
    text-align: left;
    margin-left: 5px;
    line-height: 2
}

.price_color {
    font: 600 16px Nunito, sans-serif;
    color: #c42706;
    letter-spacing: 1px
}

.featured_item_box h5 {
    font: 600 14px 'Open Sans', sans-serif;
    color: #333;
    padding: 15px 5px 3px 5px;
    margin: 0;
    clear: both;
    text-align: left;
    border-top: 1px solid #b4b4b4;
    position: relative;
    height: 50px;
    white-space: initial;
    text-overflow: ellipsis;
    line-height: 1.25
}

.featured_item_box h5:after {
    background: url(../images/down_arrow.png) center no-repeat;
    content: " ";
    font-family: FontAwesome;
    width: 15px;
    left: 20px;
    height: 7px;
    position: absolute;
    top: -1px;
    display: block
}

.product_wishlist {
    position: relative;
    float: right;
    bottom: 0;
    right: 15px;
    padding: 5px
}

.product_wishlist i {
    font-size: 22px;
    color: #e7a200
}

.price_strike {
    font: 500 14px Roboto, sans-serif;
    text-decoration: line-through;
    color: #464646;
    padding-left: 5px;
    letter-spacing: 1px
}

.about_us {
    padding: 0;
    text-align: center;
    position: relative
}

.about_us img {
    max-width: 100%
}

.about_us p {
    margin: 10px 0
}

.video_block .video_slide .videoslide_img {
    top: 0!important
}

.video_block .video_slide .left {
    position: absolute!important;
    left: -50px!important;
    top: 43%!important;
    cursor: pointer
}

.video_block .video_slide .right {
    position: absolute!important;
    right: -50px!important;
    top: 43%!important;
    cursor: pointer
}

.video_block .video_slide .left i,
.video_block .video_slide .right i {
    font-size: 46px
}

.fancybox-overlay {
    z-index: 11111!important
}

.client_block {
    padding: 40px 0;
    background-image: url(../images/client-bg.jpg);
    background-repeat: repeat;
    background-position: center;
    position: relative;
    text-align: center
}

.client_block .carousel-inner ul {
    list-style-type: none;
    display: block
}

.client_block .carousel-inner ul li {
    display: inline-block
}

.client_block .carousel-control.right i.fa {
    height: 65px;
    width: 35px;
    border-top-left-radius: 65px;
    border-bottom-left-radius: 65px;
    right: 6px;
    position: absolute;
    top: 50%;
    margin-top: -32.5px;
    padding-top: 14px;
    padding-left: 9px;
    text-align: center
}

.client_block .carousel-control.left i.fa {
    height: 65px;
    width: 35px;
    border-top-right-radius: 65px;
    border-bottom-right-radius: 65px;
    left: 6px!important;
    position: absolute;
    top: 50%;
    margin-top: -32.5px;
    padding-top: 14px;
    padding-right: 9px;
    text-align: center
}

.tooltipcustom {
    position: relative;
    text-align: left;
    padding: 0 5px 3px 10px;
    margin: 5px 0 0 0
}

.tooltipcustom .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #35bff3;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 12px;
    position: absolute;
    z-index: 1;
    bottom: 115%;
    left: 30%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity .3s;
    font-weight: 800
}

.hover_bkgr_fricc {
    background: rgba(0, 0, 0, .4);
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000
}

.hover_bkgr_fricc .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.hover_bkgr_fricc>div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%
}

.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: 700;
    position: absolute;
    top: -18px;
    right: -20px;
    font-size: 14px;
    line-height: 25px;
    width: 30px;
    height: 30px;
    text-align: center
}

.hover_bkgr_fricc.cartadded div p {
    vertical-align: middle;
    line-height: 58px;
    font-size: 20px;
    color: red
}

.popupCloseButton:hover {
    background-color: #ccc
}

.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: 700
}

.simplePopup {
    display: none;
    position: fixed;
    background: #fff;
    z-index: 9;
    padding: 12px
}

.simplePopupClose {
    float: right;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: 700
}

.simplePopupBackground {
    display: none;
    background: #000;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1
}

.path-checkout select {
    color: inherit;
    font: inherit;
    margin: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #dcdcdc;
    height: 40px;
    padding: 0 15px;
    color: #636363;
    background: #f5f5f5;
    font-size: 12px;
    outline: 0;
    border-radius: 5px
}

.path-checkout div.address-container-inline>.form-item {
    display: unset!important;
    margin-right: 0;
    margin: 0
}

.path-checkout .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-payment-information-billing-information-address-0-address-family-name.form-item-payment-information-billing-information-address-0-address-family-name {
    width: 48%;
    display: block;
    float: left;
    margin-left: 14px
}

.path-checkout .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-payment-information-billing-information-address-0-address-given-name.form-item-payment-information-billing-information-address-0-address-given-name {
    width: 48%;
    float: left;
    display: block;
    margin-right: 14px
}

@media only screen and (max-width:1199px) {
    .path-checkout .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-payment-information-billing-information-address-0-address-family-name.form-item-payment-information-billing-information-address-0-address-family-name {
        width: 100%;
        display: block;
        float: left;
        margin-left: 0
    }
    .path-checkout .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-payment-information-billing-information-address-0-address-given-name.form-item-payment-information-billing-information-address-0-address-given-name {
        width: 100%;
        float: left;
        display: block;
        margin-right: 0
    }
}

@media only screen and (max-width:1000px) {
    .path-checkout .button {
        height: auto;
        position: unset;
        cursor: pointer
    }
    .path-checkout input#edit-sidebar-coupon-redemption-form-apply {
        width: auto;
        display: table;
        margin: auto!important
    }
    .path-checkout .form-actions.js-form-wrapper.form-wrapper {
        margin: 10px auto!important
    }
}

.path-checkout .form-actions.js-form-wrapper.form-wrapper {
    width: auto;
    display: table;
    margin: 0 auto;
    text-align: center
}

.path-checkout .form-actions.js-form-wrapper.form-wrapper a {
    font-weight: 700;
    padding: 12px 25px;
    background: #bf0131;
    color: #fff;
    border: none;
    border-radius: 2px;
    text-transform: capitalize;
    display: block;
    margin: 10px
}

.path-checkout .view-content table {
    border-collapse: separate;
    border-spacing: 15px
}

.path-checkout .order-total-line {
    padding: 0 15px
}

.path-checkout td.views-field.views-field-unit-price__number {
    text-align: center
}

.path-checkout input#edit-sidebar-coupon-redemption-form-apply {
    margin: 0 auto;
    width: auto;
    display: table;
    font-weight: 700
}

.path-checkout .fieldset-wrapper {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize
}

.path-checkout td.views-field.views-field-quantity-1 {
    text-align: center
}

.path-checkout .layout-region-checkout-secondary {
    box-shadow: 0 0 10px #afadad;
    padding: 8px 12px;
    margin-bottom: 18px
}

.path-checkout .view-content th {
    display: none
}

.path-checkout input#edit-sidebar-coupon-redemption-form-code {
    background: #fff
}

.path-checkout .containersss td {
    font-weight: 700
}

.path-checkout .order-total-line-label {
    font-weight: 700
}

.path-checkout .order-total-line-value {
    float: none;
    font-weight: 700
}

.path-checkout .field.field--name-title.field--type-string.field--label-hidden.field__item {
    word-break: break-all
}

.container_lbl {
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.cmpre {
    font-size: 14px;
    color: #333;
    margin: 0;
    line-height: 1
}

.container_lbl input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    border: .1px solid #a0a0a0
}

.container_lbl:hover input~.checkmark {
    background-color: #ccc
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none
}

.container_lbl input:checked~.checkmark:after {
    display: block
}

.container_lbl .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #bf0131;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.ovr .slide.carousel .carousel-inner {
    position: unset;
    width: auto;
    overflow: unset
}

body.iee .slideInRight {
    animation-name: none!important
}

.login-banner {
    background-image: url(../images/login_bg.png);
    background-color: #fff;
    background-position: center center;
    padding: 80px 0 120px 0
}

.text-center {
    text-align: center
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none!important
}

.login-form-block {
    margin: -80px 0 0;
    background: #fff;
    -webkit-box-shadow: 1px 5px 20px rgba(0, 0, 0, .5);
    box-shadow: 1px 5px 20px rgba(0, 0, 0, .5);
    padding: 30px
}

.login-text h1 {
    margin: 0
}

.login-content {
    margin-top: 30px
}

.form-group.with-addon {
    position: relative
}

.form-group {
    margin-bottom: 15px
}

.form-group.with-addon .input-addon {
    color: #bbb;
    border-right: 1px solid #ddd;
    padding-right: 10px;
    position: absolute;
    top: 14px;
    left: 15px;
    z-index: 2
}

.form-group.with-addon .input-addon+.form-control {
    padding-left: 50px;
    border-width: 1px;
    border-radius: 4px;
    height: 46px
}

.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-group.with-addon {
    position: relative
}

.form-group {
    margin-bottom: 15px
}

.login-button {
    background-color: #48b14c;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgba(0, 0, 0, .1);
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px
}

.sign-up-text {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif
}

.text-muted {
    color: #98a6ad!important
}

body.simplelogin {
    background-color: unset!important
}

.simplelogin {
    width: 100%;
    display: unset!important;
    flex-wrap: unset!important;
    justify-content: unset!important;
    align-items: unset!important;
    background-repeat: unset!important;
    background-position: unset!important;
    background-size: unset!important;
    -ms-background-size: unset!important;
    -o-background-size: unset!important;
    -moz-background-size: unset!important;
    -webkit-background-size: unset!important;
    background-attachment: unset!important;
    position: unset!important
}

.path-user input#edit-submit {
    background-color: #48b14c;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgba(0, 0, 0, .1);
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    border: none
}

.path-user input[type=password],
.path-user input[type=text] {
    font-size: 14px;
    border-width: 1px;
    border-radius: 4px;
    background-color: #fff
}

.simplelogin h1 {
    font-size: 36px;
    color: #545454;
    font-family: inherit
}

@media screen and (max-width:1000px) {
    .path-user .button {
        width: unset!important;
        height: unset!important;
        position: unset!important;
        right: unset!important;
        top: -56px;
        cursor: unset!important;
        z-index: unset!important
    }
}

input#edit-mail,
input#edit-user-picture-0-upload {
    font-size: 14px;
    border-width: 1px;
    border-radius: 4px;
    height: 46px;
    background-color: #fff
}

.path-user input#edit-user-picture-0-upload {
    height: auto
}

.form-composite>.fieldset-wrapper>.description,
.form-item .description {
    font: 400 13px 'Open Sans', sans-serif;
    line-height: 18px
}

.path-user input[type=checkbox],
.path-user input[type=radio] {
    margin: -5px 0 0;
    line-height: normal
}

.simplelogin summary {
    font: 400 13px 'Open Sans', sans-serif!important
}

.path-user optgroup,
.path-user select,
.path-user textarea {
    color: inherit;
    font-size: 15px;
    margin: 0
}

.path-user .simplelogin .form-wrapper .label,
.simplelogin .form-item label {
    font-size: 14px!important
}

.path-user .block {
    width: 100%!important
}

input#edit-name {
    height: auto
}

body.simplelogin.path-user.iee {
    background-color: #fff;
    display: block
}

.compare-switcher {
    width: 250px;
    position: fixed;
    top: 110px;
    bottom: 0;
    height: 100%;
    z-index: 1008;
    border-radius: 0;
    right: 0
}

.compare-switcher .compare-switcher-open {
    background-color: #696969;
    border-radius: 6px 0 0 6px;
    color: #fff;
    display: block;
    font-size: 13px;
    height: 30px;
    left: -31px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 35px;
    width: 30px
}

.compare-switcher .compare-switcher-wrap {
    margin: 0;
    overflow-y: auto;
    padding: 15px 10px;
    position: relative;
    background: #fff;
    box-shadow: 0 0 5px #ccc
}

.compare-switcher-box {
    position: relative;
    border: 1px solid #cdcfd0;
    margin-bottom: 10px
}

.compare-close-icons {
    position: absolute;
    right: -4px;
    top: -6px;
    width: 15px;
    height: 15px;
    background: #333;
    border-radius: 30px;
    color: #fff;
    cursor: pointer
}

.compare-switcher-box img {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    display: block
}

.compare-switcher-box h6 {
    color: #5a5a59;
    font-size: 12px;
    padding: 5px;
    margin: 0;
    text-align: center;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.compare-switcher.open {
    right: -250px
}

.compare-close-icons i {
    line-height: 15px;
    display: block;
    text-align: center;
    font-size: 10px
}

.compare-button a {
    color: #fff;
    font-weight: 600;
    padding: 5px;
    display: block
}

.compare-button a:hover {
    text-decoration: none;
    color: #fff
}

ul#searchResult_head {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 9;
    background: #fff;
    color: #000;
    border: 1px solid #dacccc;
    max-height: 300px;
    overflow: auto
}

ul#searchResult_head li {
    padding: 10px 10px;
    cursor: pointer
}

.m-t-40 {
    margin-top: 40px
}

.compare-table {
    font-size: 16px;
    color: #333;
    border-left: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    width: 100%;
    margin-bottom: 30px
}

.compare-table td {
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    line-height: 22px;
    word-break: break-all;
    font: 400 16px 'Open Sans', sans-serif
}

.path-compare .feature_info {
    text-align: left;
    display: table-row
}

.compare-table .fixedHeader th a {
    color: #454545
}

.compare-table th {
    padding: 20px 10px;
    vertical-align: top;
    font-size: 16px;
    color: #666;
    font-weight: 400;
    border-right: 1px solid #e3e3e3;
    min-width: 150px;
    max-width: 800px;
    line-height: 16px;
    height: auto;
    position: relative;
    font: 600 16px 'Open Sans', sans-serif
}

.compare-table .but_close_comp {
    position: absolute;
    left: 0;
    top: -12px;
    width: 100%;
    text-align: center
}

.path-compare table {
    max-width: 100%;
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1em
}

.stock-out {
    color: #d1252a
}

.stock-in {
    color: #128026
}

.compare-table .star i {
    color: #e7a200
}

.feature_info .addcart_btn {
    height: 33px;
    width: auto;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 10px;
    margin-right: 5px;
    line-height: 35px
}

.feature_info .cartbtn_bg {
    background: #bf0131
}

.compare-table .but_close_comp i {
    color: #999;
    font-size: 25px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 20px
}

.compare-table .fixedHeader tr {
    background-color: #f5f5f5
}

[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer
}

[data-tooltip]:after,
[data-tooltip]:before {
    visibility: hidden;
    opacity: 0;
    pointer-events: none
}

[data-tooltip]:before {
    position: absolute;
    bottom: 90%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, .93);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2
}

[data-tooltip]:after {
    position: absolute;
    bottom: 89%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, .9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0
}

[data-tooltip]:hover:after,
[data-tooltip]:hover:before {
    visibility: visible;
    opacity: 1
}

.region.region-content {
    display: block;
    margin: 0 auto
}

.path-checkout input {
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: table;
    margin: 0 auto
}

.upt_btn.text-center input {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background: #bf0131;
    border: none;
    color: #fff;
    padding: 8px 12px
}

.cust_wd_8 {
    width: 60%;
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, .75);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, .75);
    box-shadow: 1px 1px 16px 6px rgba(228, 227, 227, .75)
}

.cust_wd_4 {
    width: 35%;
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, .75);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, .75);
    box-shadow: 1px 1px 16px 6px rgba(228, 227, 227, .75);
    margin-left: 15px
}

.mg_b {
    margin-bottom: 30px
}

.cart-list-left {
    float: left;
    width: 80px
}

.cart-list-right {
    margin-left: 10px
}

.cart-list {
    padding: 15px;
    margin: 0;
    max-height: 373px;
    overflow: auto;
    border-bottom: 1px solid #f1eeea
}

.cust_wd_4 .quantity {
    margin: 0;
    border: none
}

.cust_wd_4 .cart-list img {
    float: left;
    padding: 10px;
    margin: 0 20px 0 0;
    width: 85px;
    height: 85px;
    border: 2px solid #f1eeea
}

.cst_brnd {
    font-weight: 700
}

.cust_wd_4 span.removeItem.link {
    float: left
}

.cust_wd_4 .quantity {
    height: 20px
}

.cust_wd_4 .table>tbody>tr>td {
    border: none
}

.fl_l {
    float: left;
    font-family: inherit;
    font-size: 16px
}

.fl_r {
    float: right;
    font-weight: 700
}

.cust_wd_4 span {
    padding-left: 0!important
}

.cst_cl_nm {
    float: left;
    width: auto;
    color: initial;
    margin-left: 4px
}

.prcc {
    float: left
}

@media only screen and (max-width:991px) {
    .cust_wd_8 {
        width: 100%
    }
    .cust_wd_4 {
        width: 100%;
        margin-left: 0
    }
    .layout-region.col-md-4.cust_wd_4 h3 {
        text-align: center;
        padding-top: 20px
    }
}

:focus {
    outline: 0
}

.field {
    position: relative
}

.field input[type=text] {
    font: 15px/24px Lato, Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px
}

.field input[type=email] {
    font: 15px/24px Lato, Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px
}

ul.cart-list_ord_inf {
    display: inline-block;
    margin: 0;
    padding: 0
}

.cart-list-left_ord_inf {
    width: 25%;
    float: left
}

.lf-hle_ord_inf {
    float: left;
    width: 75%
}

.fl_lff {
    float: left;
    width: 60%
}

.fl_rgg {
    float: right
}

.brand_ord_inf {
    font-size: 14px;
    line-height: 1.75
}

.rw1,
.rw2,
.rw3,
.rw4 {
    font: 600 16px Nunito, sans-serif;
    display: inline-block;
    width: 100%
}

.price_color_ord_inf {
    font: 600 14px Nunito, sans-serif;
    color: #c42706;
    line-height: 1.75
}

img.product-image_ord_inf {
    float: left;
    padding: 10px;
    margin: 0 20px 0 0;
    width: 85px;
    height: 85px;
    border: 2px solid #f1eeea
}

@media only screen and (min-width:992px) and (max-width:1499px) {
    .price_color_ord_inf {
        font: 600 12px Nunito, sans-serif
    }
    img.product-image_ord_inf {
        width: 50px;
        height: auto
    }
    .brand_ord_inf {
        font-size: 12px
    }
}

@media only screen and (max-width:991px) {
    .cart-list-left_ord_inf {
        display: none
    }
    ul.cart-list_ord_inf {
        display: block
    }
    .brd_btm {
        border: none
    }
    .ord h4 {
        padding-top: 15px
    }
    .cust_wd_4 .table>tbody>tr>td {
        padding-left: 0
    }
    .lf-hle_ord_inf {
        width: 100%
    }
}

li.menu-item.menu-item--expanded.main ul li a {
    display: block
}

.menu-item.menu-item--expanded.main ul {
    display: table;
    position: absolute;
    top: 25px;
    float: left;
    min-width: 200px;
    padding: 5px 5px;
    margin: 2px 0 0;
    font-size: 14px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px
}

ul.menu {
    margin-left: 0
}

li.menu-item.menu-item--expanded ul {
    display: none
}

li.menu-item.menu-item--expanded.active ul {
    display: block!important
}

li.menu-item.menu-item--expanded.active ul li a {
    background: #cecbcb;
    padding: 7px 7px;
    color: #000
}

.menu-item.menu-item--expanded ul.menu.show {
    position: absolute;
    margin: 0;
    z-index: 9;
    width: 250px;
    min-width: 300px;
    -moz-box-shadow: 0 0 12px 0 rgba(127, 127, 127, .57);
    -webkit-box-shadow: 0 0 12px 0 rgba(127, 127, 127, .57);
    box-shadow: 0 0 12px 0 rgba(127, 127, 127, .57);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    overflow: auto;
    background: #333;
    z-index: 999
}

.menu-item.menu-item--expanded ul.menu.show li {
    display: block;
    float: none;
    padding: 0;
    overflow: auto;
    border-bottom: 1px solid #3c3c3c;
    background: #333;
    color: #fff!important
}

.menu-item.menu-item--expanded ul.menu.show li a {
    padding: 7px 12px;
    color: #fff;
    border: none;
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 11px;
    font-weight: 400;
    letter-spacing: .71px
    font-family: 'futuralightbt';
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
}

.menu-item.menu-item--expanded ul.menu.show li:hover a {
    text-decoration: none;
    border-bottom: 2px solid #00bff3
}

.path-user .region.region-content {
    display: table;
    margin: 40px auto;
    width: 90%
}

.path-user .view-content,
.path-user .view-content a {
    color: #000
}

.path-user .view td,
.path-user .view th {
    text-align: center;
    background: #fff;
    padding: 6px;
    border: 1px solid #e7e3df
}

.path-user .view td p.address {
    width: 200px
}

.path-user .view,
.path-user .view:hover {
    background-color: #fff!important
}

.ng-cloak,
.x-ng-cloak,
[data-ng-cloak],
[ng-cloak],
[ng\:cloak],
[x-ng-cloak] {
    display: none!important
}

.term .modal-header {
    padding: 0
}

.term .close {
    color: #000!important;
    margin-right: 10px;
    font-size: 23px
}

.term .modal-body h2 {
    font-size: 20px;
    text-align: center;
    margin: 0;
    margin-bottom: 18px;
    color: #bf0131;
    font-weight: 700
}

.term .modal-body h4 {
    color: #272727;
    font-weight: 700;
    font-size: 16px
}

.path-user-create input.login-button {
    background-color: #48b14c;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgba(0, 0, 0, .1);
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    border: none
}

.iee .region.region-content {
    display: block;
    margin: 20px auto
}

.path-user.iee .region.region-content {
    display: table;
    margin: 40px auto;
    width: auto
}

.ng-cloak,
.x-ng-cloak,
[data-ng-cloak],
[ng-cloak],
[ng\:cloak],
[x-ng-cloak] {
    display: none!important
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0 0;
    border-radius: 4px
}

.pagi_master li {
    list-style-type: none;
    display: inline-block
}

.pagi_master li a {
    list-style-type: none;
    display: inline-block;
    margin: 0 1px;
    background: #377ab7;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    padding: 4px 8px
}

.pagi_master li.active a {
    background: #4b5f71
}

.pagi_master li.disabled a {
    background: #6b6b6b
}

.alert-danger {
    padding: 10px;
    border-radius: 3px
}

.padd-left {
    padding-left: 0
}

.select_compact {
    width: 128px!important;
    cursor: pointer
}

.select_medium {
    width: 175px!important;
    cursor: pointer
}

.filter-options {
    text-align: center;
    clear: both;
    margin: 6px 0 2px
}

.filter-options div {
    display: inline-block;
    width: 61px
}

.filter-options div a {
    display: inline-block;
    color: #6b6b6b;
    font-weight: 600;
    text-align: center;
    position: relative
}

.filter-options div a i.fa-check {
    color: #fff;
    position: absolute;
    top: 7px;
    margin-left: 9px;
    opacity: 0;
    text-shadow: 0 0 1px #000;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.filter-options div a.active i.fa-check {
    opacity: 1
}

.filter-options a.color-all img {
    width: 30px
}

.filter-options div a img {
    display: inline-block;
    margin-bottom: 8px;
    -webkit-box-shadow: 3px 1px 6px rgba(0, 0, 0, .5);
    box-shadow: 3px 1px 6px rgba(0, 0, 0, .5)
}

.filter-options div a span {
    display: block
}

.filter-options div a.active,
.filter-options div a:hover {
    color: #222!important
}

@media only screen and (min-width:550px) and (max-width:767px) {
    .path-part-search .col-xs-12.col-sm-4.col-md-4.col-lg-3.ng-scope {
        width: 50%
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .path-part-search .featured_item_box {
        width: auto
    }
    .path-part-search .featured_img {
        width: 120px!important;
        height: 120px!important
    }
}

.dis-tble-at {
    display: table;
    margin: 0 auto
}

span.result_search_spn1 {
    font-size: 14px;
    color: #333;
    margin: 0;
    line-height: 1;
    font-weight: 700
}

span.result_search_spn2 {
    font-size: 14px;
    color: #bf0131;
    margin: 0;
    line-height: 1;
    font-weight: 700
}

.feat_reslt {
    padding-top: 0;
    margin: 0 11px 0 11px;
    border-radius: 0;
    border: none
}

.result_search_ins_1 {
    float: right
}

.result_search_ins_1 div {
    font-size: 14px;
    color: #bf0131;
    margin: 0;
    line-height: 1;
    font-weight: 700
}

.result_search_ins {
    float: left
}

span.price_color {
    display: inline-block!important
}

.prc_clr_pop {
    float: left;
    padding-right: 3px
}

span.price_color.pos_rel {
    float: left
}

.price_color.rt {
    float: left
}

.price_color.bgg {
    width: 10px;
    height: 10px;
    float: left;
    position: relative;
    top: 3px
}

.clr_bgg {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: #002191
}

.variantname.quantity.pop {
    width: auto;
    position: relative;
    top: 0;
    left: 10px
}

.quantity.pop {
    width: 100%
}

span.pls {
    padding: 0 5px
}

.fnt_style {
    font-weight: 700;
    display: block;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #08203a
}

.fnt_sze {
    position: relative;
    top: 1px
}

.lft_wdt {
    float: left;
    display: table;
    height: 110px
}

.tbl_cll {
    display: table-cell;
    vertical-align: bottom
}

.flt_nne img {
    float: none!important;
    width: auto!important;
    height: auto!important;
    margin: 0!important;
    padding: 0!important;
    border: none!important;
    cursor: pointer
}

.featured_item_box.cust_feat {
    box-shadow: none;
    font-weight: 700;
    color: #bf0131
}

div.mm-dropdown {
    border: 1px solid #9e9c9c;
    width: 308px;
    border-radius: 3px;
    margin-bottom: 25px;
    position: relative
}

div.mm-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    background: #fff;
    z-index: 1;
    width: 100%;
    max-height: 170px;
    overflow-x: hidden;
    margin-top: 1px
}

.textfirst {
    position: relative
}

div.mm-dropdown div.textfirst,
div.mm-dropdown ul li {
    padding: 0;
    color: #333;
    padding: 7px 10px;
    font-size: 14px;
    font-weight: 700
}

div.mm-dropdown div.textfirst img.down {
    float: right;
    margin-top: 5px
}

div.mm-dropdown ul li:last-child {
    border-bottom: 0
}

div.mm-dropdown ul li {
    display: none;
    padding-left: 25px
}

div.mm-dropdown ul li.main {
    display: block
}

div.mm-dropdown ul li img {
    width: 20px;
    height: 20px
}

.cclr {
    width: 40px;
    height: 20px;
    display: block;
    float: left;
    margin-right: 10px;
    border: 1px solid #dad2d2
}

.clr1 {
    background-color: #141414
}

.clr2 {
    background-color: #000
}

.clr3 {
    background-color: #000
}

.clr4 {
    background-color: #ffb7d5
}

.clr5 {
    background-color: #2c3968
}

.clr6 {
    background-color: #237cbf
}

.clr7 {
    background-color: #0078d7
}

.clr8 {
    background-color: #293749
}

.clr9 {
    background-color: #002191
}

.clr10 {
    background-color: #89cff0
}

.clr11 {
    background-color: #e6eafa
}

.clr12 {
    background-color: #f1f1ff
}

.clr13 {
    background-color: #415d6c
}

.clr14 {
    background-color: #dbe4eb
}

.clr15 {
    background-color: #7ad752
}

.clr16 {
    background-color: #9bbc88
}

.clr17 {
    background-color: #39ff14
}

.clr18 {
    background-color: #d06723
}

.clr19 {
    background-color: #fd651c
}

.clr20 {
    background-color: #ff6e00
}

.clr21 {
    background-color: #d2461d
}

.clr22 {
    background-color: #ff69b4
}

.clr23 {
    background-color: purple
}

.clr24 {
    background-color: #5b0a91
}

.clr25 {
    background-color: #9474b8
}

.clr26 {
    background-color: #a0f
}

.clr27 {
    background-color: #e4717a
}

.clr28 {
    background-color: #cc5057
}

.clr29 {
    background-color: #b3446c
}

.clr30 {
    background-color: #a62c2b
}

.clr31 {
    background-color: #d4e1ec
}

.clr32 {
    background-color: #8e130f
}

.clr33 {
    background-color: #eef4f4
}

.clr34 {
    background-color: #f69b02
}

.dataTables_wrapper {
    border-radius: 10px;
    overflow-x: auto
}

.keywords {
    font-size: 1.2em;
    border-radius: 10px;
    width: 1080px;
    border: 1px solid #dedede
}

.keywords thead {
    cursor: pointer;
    background: #c9dff0
}

.keywords thead tr th {
    font-weight: 400;
    padding: 12px 30px;
    padding-left: 10px;
    color: #fff
}

.keywords thead tr th span {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 100%
}

.keywords thead tr th.headerSortDown,
.keywords thead tr th.headerSortUp {
    background: #acc8dd
}

.keywords tbody tr {
    color: #555
}

.keywords tbody tr td {
    padding: 15px 10px
}

.keywords tbody tr td.lalign {
    text-align: left;
    text-transform: capitalize
}

.keywords tbody tr:nth-child(even) {
    background-color: #f5f5f5
}

.keywords thead tr th {
    background: #272727;
    outline: 0
}

.keywords tbody tr:hover {
    color: #555;
    background-color: #f5f5f5;
    cursor: pointer
}

.keywords input[type=text] {
    border-radius: 5px;
    border: 1px solid #efe4e4
}

.keywords tbody tr td {
    padding: 15px 10px;
    font: 500 15px 'Open Sans', sans-serif
}

.keywords thead tr th {
    font: 500 15px 'Open Sans', sans-serif
}

.bttn {
    width: auto
}

.search-table.cust {
    width: 215px;
    float: right;
    border-color: #ababab;
    border-radius: 3px;
    max-width: 250px
}

.prd_desc_search {
    display: inline-block;
    float: right;
    margin-bottom: 10px
}

.tble.table-responsive {
    width: 100%
}

.bttn button {
    font: 500 13px 'Open Sans', sans-serif;
    width: 70px;
    line-height: 0;
    padding: 0;
    margin: 0;
    height: 30px;
    border-radius: 2px
}

.fl tr {
    float: left
}

.fl td {
    padding: 10px 5px
}

.search-table {
    padding: 5px 22px 5px 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d8e3ec;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-image: url(../images/search.png)!important;
    background-position: 95%!important;
    background-repeat: no-repeat!important;
    max-width: 100px
}

@media only screen and (min-width:1080px) {
    .keywords {
        width: 100%
    }
}

.tablesorter-default {
    width: 100%;
    font: 12px/18px Arial, Sans-serif;
    color: #333;
    background-color: #fff;
    border-spacing: 0;
    margin: 10px 0 15px;
    text-align: left
}

.tablesorter-default th,
.tablesorter-default thead td {
    font-weight: 700;
    color: #000;
    background-color: #fff;
    border-collapse: collapse;
    border-bottom: #ccc 2px solid;
    padding: 8px 0;
    border: 1px solid #ccc
}

.tablesorter-default tfoot td,
.tablesorter-default tfoot th {
    border: 0
}

.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
    white-space: normal;
    padding: 4px 20px 4px 4px
}

.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc,
.tablesorter-default thead .tablesorter-headerSortUp {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
    border-bottom: #000 2px solid
}

.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc,
.tablesorter-default thead .tablesorter-headerSortDown {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
    border-bottom: #000 2px solid
}

.tablesorter-default thead .sorter-false {
    background-image: none;
    cursor: default;
    padding: 4px
}

.tablesorter-default td {
    padding: 15px!important;
    text-align: center
}

.tablesorter-default tfoot .tablesorter-headerAsc,
.tablesorter-default tfoot .tablesorter-headerDesc,
.tablesorter-default tfoot .tablesorter-headerSortDown,
.tablesorter-default tfoot .tablesorter-headerSortUp {
    border-top: #000 2px solid
}

.tablesorter-default td {
    background-color: #fff;
    border-bottom: #ccc 1px solid;
    padding: 4px;
    vertical-align: top
}

.tablesorter-default tbody>tr.even:hover>td,
.tablesorter-default tbody>tr.hover>td,
.tablesorter-default tbody>tr.odd:hover>td,
.tablesorter-default tbody>tr:hover>td {
    background-color: #fff;
    color: #000
}

.tablesorter-default tr.odd>td {
    background-color: #dfdfdf
}

.tablesorter-default tr.even>td {
    background-color: #efefef
}

.tablesorter-default tr.odd td.primary {
    background-color: #bfbfbf
}

.tablesorter-default td.primary,
.tablesorter-default tr.even td.primary {
    background-color: #d9d9d9
}

.tablesorter-default tr.odd td.secondary {
    background-color: #d9d9d9
}

.tablesorter-default td.secondary,
.tablesorter-default tr.even td.secondary {
    background-color: #e6e6e6
}

.tablesorter-default tr.odd td.tertiary {
    background-color: #e6e6e6
}

.tablesorter-default td.tertiary,
.tablesorter-default tr.even td.tertiary {
    background-color: #f2f2f2
}

.tablesorter-default>caption {
    background-color: #fff
}

.tablesorter-default .tablesorter-filter-row {
    background-color: #eee
}

.tablesorter-default .tablesorter-filter-row td {
    background-color: #eee;
    border-bottom: #ccc 1px solid;
    line-height: normal;
    text-align: center;
    -webkit-transition: line-height .1s ease;
    -moz-transition: line-height .1s ease;
    -o-transition: line-height .1s ease;
    transition: line-height .1s ease
}

.tablesorter-default .tablesorter-filter-row .disabled {
    opacity: .5;
    cursor: not-allowed
}

.tablesorter-default .tablesorter-filter-row.hideme * {
    height: 1px;
    min-height: 0;
    border: 0;
    padding: 0;
    margin: 0;
    opacity: 0
}

.tablesorter-default input.tablesorter-filter,
.tablesorter-default select.tablesorter-filter {
    width: 95%;
    height: auto;
    margin: 4px auto;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #bbb;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height .1s ease;
    -moz-transition: height .1s ease;
    -o-transition: height .1s ease;
    transition: height .1s ease
}

.tablesorter .filtered {
    display: none
}

.tablesorter .tablesorter-errorRow td {
    text-align: center;
    cursor: pointer;
    background-color: #e6bf99
}

.dataTables_filter label,
.dataTables_length.bs-select label {
    font-weight: 400
}

.rgg a {
    font-size: 1.5rem!important
}

.tablesorter input[type=text] {
    width: 100%;
    background: #fff;
    border: 1px solid #ced4da;
    height: 30px;
    padding: 0 15px;
    color: #636363;
    font-size: 12px;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, .075);
    outline: 0;
    border-radius: 5px
}

.col8 {
    width: 75%;
    float: left
}

.mb0 {
    margin-bottom: 10px
}

.dte {
    padding: 5px 20px
}

.immg {
    width: 100px
}

.dte a {
    color: #337ab7;
    padding: 7px 5px;
    border-radius: 3px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600
}

.dtl_fll {
    width: 100%;
    display: inline-block;
    padding: 18px 10px
}

.col-5 {
    width: 20%;
    float: left
}

.col-3 {
    width: 20%;
    float: left
}

.col-8 {
    width: 20%;
    float: left
}

.col-8 a {
    font-weight: 700;
    white-space: nowrap
}

.ord_fll {
    border: 1px solid #d7d7d7
}

.ord_header {
    padding: 10px 0;
    background: #f9f9f9;
    display: inline-block;
    width: 100%
}

.col-1-12_fl {
    font-weight: 700;
    float: left;
    width: 10%
}

.col-1-12_cl {
    float: left;
    width: 10%
}

.col-1-12 {
    float: left;
    width: 10%;
    font-weight: 700
}

.col-3-12 {
    float: left;
    width: 20%
}

.status_cmplt {
    font-weight: 700
}

.pay_fll {
    width: 100%;
    display: inline-block;
    padding: 10px 10px;
    background: #f9f9f9
}

.col-6-12_disp_none {
    float: right
}

.disp_none {
    display: none
}

.col-6-12_disp_none span {
    font-weight: 600;
    font-size: 16px
}

.col-6-12 {
    float: right;
    padding-right: 15px;
    padding-top: 4px
}

.mg0 {
    margin: 0
}

span.ord_ttl {
    text-transform: capitalize
}

span.ord_ttl-inr {
    font-weight: 600;
    font-size: 16px
}

.modal-confirm.modal-dialog {
    margin-top: 80px
}

.modal-confirm {
    color: #636363
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
    padding: 8px;
    text-align: center
}

.modal-confirm .modal-header span {
    font-size: 25px;
    color: #398439
}

.modal-confirm .modal-body {
    padding: 8px
}

.modal-confirm .modal-body p {
    font-size: 18px
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 8px
}

.order_header_nav {
    background-color: #fff;
    box-shadow: 1px 2px 2px #e3e3e3;
    padding: 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3)
}

.order_placed {
    margin: 100px 0 75px 0;
    padding: 75px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #e8e8e8;
    background-color: #f9f9f9
}

.orderplaced_logo {
    margin: 20px 0
}

.order_placed .order_header {
    font-size: 28px;
    font-weight: 500;
    vertical-align: middle;
    color: #55a546;
    text-align: center;
    margin: 30px 0
}

.order_error {
    color: #d0403f!important
}

.order_notfound {
    color: #4a4a4a!important
}

.order_placed>.order_header>img {
    width: 50px;
    display: inline-block
}

.order_placed h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 30px 0
}

.order_placed h4 {
    padding: 30px 0;
    border-top: 1px solid #e8e8e8
}

.order_placed_ads {
    text-align: center
}

.order_placed_ads img {
    width: auto;
    margin: 0 auto
}

.ordered_feature_product {
    width: 160px;
    height: 100%;
    float: left;
    display: inline-block;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3)
}

.ordered_feature_product img {
    max-width: 70px;
    max-height: 70px;
    margin: 0 auto
}

.ordered_feature_img {
    width: 150px;
    height: 70px;
    margin: 5px;
    padding: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all .3s ease-out 0s;
    -webkit-transition: all .3s ease-out 0s
}

.ordered_feature_product h5 {
    font: 600 14px 'Open Sans', sans-serif;
    color: #333;
    padding: 15px 5px 3px 5px;
    margin: 0;
    clear: both;
    text-align: left;
    border-top: 1px solid #b4b4b4;
    position: relative
}

.ordered_feature_product h5:after {
    background: url(../images/down_arrow.png) center no-repeat;
    content: " ";
    font-family: FontAwesome;
    width: 15px;
    left: 20px;
    height: 7px;
    position: absolute;
    top: -1px;
    display: block
}

.p-10 {
    padding: 10px 10px!important
}

.btn_bg {
    background: #00bff3;
    color: #fff
}

.btn_bg:hover {
    color: #fff
}

@media only screen and (max-width:600px) {
    .mbl_tp_1 {
        display: none
    }
}

@media only screen and (max-width:992px) {
    .topbar_phone {
        display: none
    }
}

@media only screen and (max-width:750px) {
    .region.region-topbar-fourth,
    .region.region-topbar-second,
    .region.region-topbar-third {
        display: none
    }
    .container.mbll .col-lg-9.col-sm-9 {
        width: auto;
        padding: 0
    }
    .topbar_nav {
        float: left
    }
    .topbar_nav li {
        float: left
    }
    .container.mbll {
        width: 100%;
        padding: 0
    }
    .full_width {
        width: 100%!important
    }
    .nav_logo {
        float: none;
        padding: 0;
        display: table;
        margin: 0 auto
    }
    .top_cart {
        text-align: unset;
        width: auto;
        display: table;
        margin: auto
    }
    .dsp_nne {
        display: none
    }
    .navbar-header {
        display: table;
        margin: 0 auto
    }
    .topbar_nav ul.navv {
        display: table;
        margin: auto
    }
}

@media only screen and (min-width:751px) and (max-width:1024px) {
    .region.region-topbar-fourth,
    .region.region-topbar-second,
    .region.region-topbar-third {
        display: none
    }
    .container.mbll .col-lg-9.col-sm-9 {
        width: auto;
        padding: 0
    }
    .topbar_nav {
        float: left
    }
    .topbar_nav li {
        float: left
    }
    .container.mbll {
        width: 100%;
        padding: 0
    }
    .full_width {
        width: 100%!important
    }
    .nav_logo {
        float: none;
        padding: 0;
        display: table;
        margin: 0 auto
    }
    .top_cart {
        text-align: unset;
        width: auto;
        display: table;
        margin: auto
    }
    .dsp_nne {
        display: none
    }
    .navbar-header {
        display: table;
        margin: 0 auto
    }
    .topbar_nav ul.navv {
        display: table;
        margin: auto
    }
    .container.mbll .col-md-3.col-xs-3 {
        display: none
    }
    .container.mbll .col-lg-9.col-sm-9 {
        width: 100%;
        padding: 0
    }
    .topbar_nav {
        float: none!important
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .nav_main_list ul li a {
        padding: 0 8px 10px 10px
    }
}

@media only screen and (max-width:850px) {
    .widget-shopping-cart-content {
        width: 310px!important;
        right: -45px
    }
    .widget-shopping-cart-content .cart-list li .cart-list-left {
        display: none
    }
    .lf-hle {
        width: 100%
    }
    .widget-shopping-cart-content .widget-shopping-cart-close {
        height: auto;
        font-size: 17px!important
    }
}

@media only screen and (min-width:851px) and (max-width:1024px) {
    .widget-shopping-cart-content {
        right: -180px;
        width: 450px!important
    }
}

@media only screen and (min-width:1025px) and (max-width:1199px) {
    .container.mbll .col-md-3 {
        width: 18%
    }
    .container.mbll .col-sm-9 {
        width: 82%
    }
}

@media only screen and (max-width:620px) {
    .region.region-content {
        display: unset!important;
        margin: unset!important
    }
}

@media only screen and (min-width:650px) and (max-width:767px) {
    section.our_categories .col-xs-12.col-sm-6.col-md-4.col-lg-3 {
        width: 50%
    }
    section.featured_product .col-xs-12.col-sm-6.col-md-4.col-lg-3.ng-scope {
        width: 50%
    }
}

@media only screen and (max-width:400px) {
    .video_block .video_slide .left {
        left: 140px!important
    }
    .video_block .video_slide .right {
        right: 130px!important
    }
}

@media only screen and (min-width:401px) and (max-width:550px) {
    .video_block .video_slide .left {
        left: 85px!important
    }
    .video_block .video_slide .right {
        right: 85px!important
    }
}

@media only screen and (min-width:551px) and (max-width:750px) {
    .video_block .video_slide .left {
        left: 15px!important
    }
    .video_block .video_slide .right {
        right: 15px!important
    }
}

@media only screen and (max-width:25000px) {
    .video_slide {
        width: auto!important
    }
}

@media only screen and (max-width:800px) {
    .testimonial .col-sm-1.col-md-1,
    .testimonial .col-xs-2.col-sm-3.col-md-2 {
        display: none
    }
    .testimonial .col-xs-10.col-sm-7.col-md-8 {
        width: 100%;
        padding: 0 35px
    }
}

@media only screen and (max-width:765px) {
    .footer_main .footer_newsletter {
        display: block
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .path-part-search .featured_product .col-xs-12.col-sm-6.col-md-4.col-lg-4.ng-scope {
        width: 50%
    }
}

.path-part-search .dis-inline-block .input-text_1 {
    width: 175px
}

input.reset-button-icons {
    background: #bf0131;
    border: 1px solid #bf0131
}

input.reset-button-icons:hover {
    background-color: #cc3e62;
    border: 1px solid #cc3e62
}

@media only screen and (max-width:550px) {
    .line_card_view a {
        display: table;
        margin: 10px auto
    }
}

@media only screen and (min-width:551px) and (max-width:750px) {
    .line_card_view a {
        max-width: unset;
        display: table;
        width: 49%;
        margin: 6px auto;
        float: left;
        margin-right: 6px
    }
}

@media only screen and (min-width:751px) and (max-width:1150px) {
    .line_card_view a {
        max-width: unset;
        display: table;
        width: 30%;
        margin: 6px auto;
        float: left;
        margin-right: 6px
    }
}

ul.shw {
    box-shadow: 0 2px 6px 1px #d8cdcd
}

div.mm-dropdown ul.shw li {
    width: 308px;
    cursor: pointer
}

@media only screen and (min-width:500px) and (max-width:780px) {
    .owl-carousel .owl-stage-outer {
        bottom: 10px
    }
}

@media only screen and (min-width:620px) and (max-width:767px) {
    .product_image .productslide_img img {
        margin-top: 0
    }
    .product_image {
        width: auto
    }
}

@media only screen and (min-width:300px) and (max-width:500px) {
    div.mm-dropdown {
        width: auto
    }
    div.mm-dropdown ul.shw li {
        width: auto
    }
}

.path-product-desc .region.region-content {
    display: unset
}

.col-md-12.fl {
    margin: 0;
    padding: 0
}

.col-md-12.pd0_mg0 {
    margin: 0;
    padding: 0
}

.col-md-12.fl tr td {
    padding: 0 0;
    margin: 0 0;
    padding-bottom: 10px
}

tr.pd_rr {
    padding-left: 10px
}

@media only screen and (min-width:768px) and (max-width:1199px) {
    .path-testimonial .item {
        height: 400px
    }
}

.product_search_switcher {
    width: 220px;
    position: fixed;
    top: 200px;
    bottom: 0;
    height: 100%;
    z-index: 1008;
    border-radius: 0;
    left: 0;
    transition: ease all .5s
}

.product_search_switcher.open {
    left: -220px;
    transition: ease all .5s
}

.product_search_switcher .product_search_switcher-open {
    background-color: #696969;
    border-radius: 0 6px 6px 0;
    color: #fff;
    display: block;
    font-size: 13px;
    height: 30px;
    right: -31px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 35px;
    width: 30px
}

.product_search_switcher .product_search_wrap {
    margin: 0;
    overflow-y: auto;
    padding: 15px 15px;
    position: relative;
    background: #fff;
    box-shadow: 2px 1px 10px #ccc
}

.product_search_input {
    border-radius: 0;
    border: 1px solid #ebebeb;
    color: #121111
}

.crt_clr {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px
}

.crt_prc {
    float: left
}

.clr_prc,
.crt_prc_dl {
    display: inline-block
}

.crt_chng_clr {
    display: block
}

.mb-5 {
    margin-bottom: 5px
}

.hover_bkgr_fricc.changecolorvariations>div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    vertical-align: middle;
    width: auto;
    position: relative;
    border-radius: 8px;
    padding: 30px 5%
}

.pop_clr_lft {
    width: 70%;
    float: left
}

.pop_clr_rgt {
    float: left;
    margin-left: 10px
}

.fl td span {
    word-break: break-all
}

@media only screen and (max-width:850px) {
    .path-cartpage .ship_handling {
        float: none!important;
        width: auto!important;
        text-align: center!important
    }
    .cart-total {
        float: none;
        width: auto;
        padding: 0 20px
    }
}

.path-cartpage .region.region-content {
    display: block!important;
    width: auto!important;
    margin: unset!important
}

.blld td {
    font-weight: 600;
    font-size: 16px;
    color: #2e2e2e
}

.wish_sets {
    margin-top: 3px;
    margin-bottom: 0;
    padding: 0
}

.selected {
    background: red
}

.highlight {
    background: red
}

.select2-container {
    height: 41px;
    width: 100%!important
}

.select2-container .select2-selection--single {
    height: 40px!important
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px!important
}

.location_footer .field__label {
    display: none
}
.login-main-logo.text-center img {
    width: 220px;
}
.contact-page-location .sde_lft h1{
    font: normal normal bold 40px/70px Raleway;
    letter-spacing: 0px;
    color: #1C1C1C;
}
.contact-page-location .sde_lft h2{
    font: normal normal bold 40px/70px Raleway;
    letter-spacing: 0px;
    color: #1D58A8;
}
.contact-page-location .form-control input::placeholder{
    font: normal normal medium 20px/24px Raleway;
    letter-spacing: 0.5px;
    color: #8E8E8E;
}
.contact-page-location .radio {
  	margin: 0rem;
  	line-height: 1.1;
    font: normal normal medium 20px/24px Raleway;
    letter-spacing: 0.5px;
    color: #8E8E8E;
    padding-left: 0px;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.contact-page-location .radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.contact-page-location .radio input[type="radio"] + .radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.contact-page-location .radio input[type="radio"]:checked + .radio-label:before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.contact-page-location .radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3197EE;
}
.contact-page-location .radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.contact-page-location .radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

.contact-page-location .form-group input,.contact-page-location .form-group textarea{
background: #F3F3F3 0% 0% no-repeat padding-box;
border-radius: 25px;
border: none;
padding: 25px 28px;
}
/*.contact-page-location .form-group input{
    width: 60%;
}*/
.bbtn button{
display: table;
margin: 0 auto;
width: 120px;
margin-bottom: 10px;
background: #1D58A8 0% 0% no-repeat padding-box;
border-radius: 25px;
font: normal normal 800 13px/22px Raleway;
letter-spacing: 1.25px;
color: #FFFFFF;
}
.sde_rgt {
    width: 75%;
    margin: 0 auto;
}
.fflx {
    display: flex;
}
select.selectpicker{
    height: auto;
    margin-left: 10px;
    font-size: 14px;
}
.nav_mainlogo .col-lg-3.col-sm-3.col-xs-3.full_width {
    width: auto;

}
.nav_main {
    top: 5px;
}
.pos_rel_cnt {
    position: absolute;
    right: 10px;
    top: 31px;
    display: flex;
    z-index: 999;
}
.clnw{
    display: flex;
    align-items: center;
    font-family: 'futuralightbt';
    text-transform: capitalize;
    font-size: 15px;
    color: #656565;
    padding-right: 30px;
}
.sgnw{
    border-radius: 20px;
    background: #1D58A8 0% 0% no-repeat padding-box;
    padding: 7px 14px;
    font-size: 12px;
    display: none;
}
.top_border .col-lg-9.col-sm-9 {
    display: none;
}
.sgnw span{
    font-family: 'futuralightbt';
    text-transform: capitalize;
    color: #FFFFFF;
}
@media only screen and (max-width:1199px) {
.pos_rel_cnt{
    right: -51px;
}
}
@media only screen and (max-width:1092px) {
.pos_rel_cnt {
    display: none;
}
}

@media only screen and (min-width:768px) and (max-width:1024px) {
nav.nav_main.col-lg-9.col-sm-9.col-xs-12.m-t-9 .nav_main_list ul.navbar-nav-menu{
    display: table;
    margin: 0 auto;
}
}
@media only screen and (max-width:767px) {
.nav_main_list ul li{
    float: none;
}
}
/*location*/
.head-cnt h1{
	font: normal normal 600 17px/30px Raleway;
	color: #1D58A8;
	letter-spacing: 0.63px;
}
.head-cnt span{
	font: normal normal 300 16px/21px futura_book;
	/*color: #8F8F8F;*/
    color: #000;
}
.loc-cnt p{
	font: normal normal normal 16px/21px futura_book;
	letter-spacing: 0px;
	color: #8F8F8F;
}
.loc-icons {
    /*display: flex;*/
    margin: 10px 0;
}
.loc-phne {
    display: flex;
    margin: 10px 0;
}
.loc-phne-ins {
    display: flex;
    align-items: center;
    justify-content: center;
}
.loc-phne-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.loc-pos {
    display: flex;
}
.loc-pos-ins {
    align-items: center;
    display: flex;
}
.toll {
    /*display: flex;*/
    font:normal normal 600 14px/21px Raleway;
    padding:8px 0;
    padding-bottom: 13px;
}
.toll-ins {
    display: flex;
}
.custom_container {
    display: block;
    margin: 0 0px;
}
.ins-pos {
    padding-left: 10px;
    font:normal normal 600 14px/21px Raleway;
    color: #000;
}
.loc-phne-ins .fa,.loc-pos-ins .fa {
    color: #1D58A8;
}
.ins-dtl{
	font:normal normal 600 14px/21px Raleway;
    color: #000;
}
.ins-pos span{
	color: #000;
	font-weight: bold;
    white-space: nowrap;
}
.toll-ins span{
	color: #1D58A8;
	white-space: nowrap;
    padding-right: 2px;
}
.toll-ins{
	color: #1C1C1C;
}
.loc-img img {
    display: table-cell;
    width: 100%;
    height: 190px;
    object-fit: fill;
}
.loc {
    margin-bottom: 50px;
    padding: 0 0px;
    -webkit-box-shadow: 0px 6px 3px -2px rgba(0,0,0,0.31); 
	box-shadow: 0px 6px 3px -2px rgba(0,0,0,0.31);
}
/*.toll-border::after {
    margin: 0px 5px;
    content: '';
    position: relative;
    border: 1px solid #1C1C1C;
    background: #1C1C1C;
    top: 4px;
    height: 15px;
    width: 3px;
}*/
.toll-ins:nth-of-type(1){
	width: 100%;
    margin: 10px 0;
}
.toll-ins:nth-of-type(3) {
    display: flex;
    align-items: end;
    width: 100%;
    /*justify-content: flex-end;*/
}
.head-cnt {
    margin: 5px 0;
}
.loc-cnt {
    margin: 15px 0;
}
.path-our-location .custom_container .row{
    display: flex;
    flex-wrap: wrap;
}
.path-our-location .custom_container .row .col-md-3.col-xs-12.col-sm-6.col-lg-3.col-xl-3{
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (min-width:600px) and (max-width:768px) {
.custom_container {
    display: table;
    margin: 0 auto;
    width: 95%;
}
.path-our-location .custom_container .row .col-md-3.col-xs-12.col-sm-6.col-lg-3.col-xl-3{
width: 50%;
}
}
@media only screen and (max-width:599px) {
.custom_container {
    display: table;
    margin: 0 auto;
    width: 95%;
}
.loc-pos-cnt {
    display: flex;
    align-items: center;
}
.loc-pos {
    display: flex;
    width: 100%;
}
}
@media only screen and (min-width:992px) and (max-width:1500px) {
.path-our-location .custom_container .row .col-md-3.col-xs-12.col-sm-6.col-lg-3.col-xl-3{
width: 33.3%;
}
.loc-icons {
    display: block;
    margin: 10px 0;
}
.loc-phne {
    margin: 10px 0;
}
.toll {
     display: block;
}
.toll-ins:nth-of-type(3) {
    display: block;
}
.toll-ins:nth-of-type(1){
    margin: 10px 0;
}
.toll-ins span{
    margin-right: 2px;
}
}
@media only screen and (max-width:991px) {
.loc-icons {
    display: block;
    margin: 10px 0;
}
.loc-phne {
    margin: 10px 0;
}
.toll {
     display: block;
}
.toll-ins:nth-of-type(3) {
    display: block;
}
.toll-ins:nth-of-type(1){
    margin: 10px 0;
}
.toll-ins span{
    margin-right: 2px;
}
}
/*location*/
.loc-img.logoo {
    margin-bottom: 10px;
}
.loc-img{
    margin-bottom: 10px;
}
.loc-img.logoo img {
    object-fit: contain;
    border: 2px solid #1D58A8;
    padding: 10px 0;
}
.head-cnt.dtl{
    margin: 0px 0;
    background: #1D58A8;
    padding: 10px 10px;
}
.head-cnt.dtl h1 {
    color: #fff;
}
.head-cnt.dtl span {
    font: normal normal 300 16px/21px futura_book;
    /* color: #8F8F8F; */
    color: #fff;
}
.loc-icons.dtl{
    padding: 6px 12px;
}
.toll.dtl{
    padding: 0px 12px;
}
.loc.dtl{
    -webkit-box-shadow: unset;
    box-shadow: unset;
    margin: 0 0;
}
.drct {
    background: #1D58A8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    border-radius: 15px;
    padding: 6px 0;
}
.drct span{
    font: normal normal 600 17px/30px Raleway;
    color: #fff;
    text-align: center;
    width: 70%;
    /* display: block; */
}
.drct_tble {
    display: table;
    margin: 0 auto;
    width: 180px;
}
.drct img {
    width: 30px;
}
@media only screen and (max-width:992px) {
.drct_tble {
    width: 180px;
}
.loc.dtl{
    margin-bottom: 20px;
}
}
@media only screen and (min-width:768px) and (max-width:992px) {
.custom_container .col-md-3.col-xs-12.col-sm-6.col-lg-3.col-xl-3{
    display: table;
    margin: 0 auto;
    width: 50%;
    float: none;
}
}
@media only screen and (min-width:768px){
.path-our-location-dtl .pd0{
padding:0;
}
}
/*End location-detail*/

/*End location-detail*/
.path-about-us img.pull-left{
    margin: 15px 20px 10px 0;
    width: 15%;
}
/*about us*/
body.path-about-us section {
    display: none;
}
body.path-about-us a.btn.btn-red.btn-lg.btn-block{
    display: none;
}
.banner-cnt {
    background: #1D58A8;
    color: #fff;
    padding: 45px 0;
}
.subb-ccnt--para h2 {
    color: #1D58A8;
}
h1.sub-cnt--head{
    text-align: center;
    color: #1D58A8;
}
.banner-image img{
    width: 100%;
}
h1.sub-cnt--head {
    font-weight: 600;
    color: #1D58A8;
    font-size: 24px;
    padding: 40px 0;
}
.subb-ccnt--para {
    margin: 0 45px;
}
.subb-ccnt {
    display: flex;
    margin-bottom: 45px;
}
.subb-ccnt--para h2 {
    font-size: 20px;
    padding-bottom: 12px;
}
.subb-ccnt--icn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8%;
    float: left;
}
.subb-ccnt--icn img {
    width: 240px;
    object-fit: contain;
}
.banner-cnt p {
    padding: 8px 0;
    font-size: 17px;
    line-height: 1.5;
}
@media only screen and (min-width:1000px) and (max-width:1199px) {
.subb-ccnt--icn img {
    width: 400px;
    object-fit: contain;
}
.subb-ccnt--icn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11%;
    float: left;
}
}
@media only screen and (min-width:768px) and (max-width:999px) {
.subb-ccnt--icn img {
    width: 240px;
    object-fit: contain;
}
.subb-ccnt--icn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    float: left;
}
}
@media only screen and (min-width:600px) and (max-width:767px) {
.subb-ccnt--icn img {
    width: 125px;
    object-fit: contain;
}
.subb-ccnt {
    display: table;
    margin-bottom: 45px;
}
.subb-ccnt--icn {
    display: flex;
    justify-content: center;
     width: 100%; 
     float: none;
     margin-bottom: 15px;
}
}
@media only screen and (max-width:600px) {
.subb-ccnt {
    display: block;
    margin-bottom: 45px;
}
.subb-ccnt--icn {
    margin-bottom: 20px;
}
.subb-ccnt--para {
    margin: 0 0px; 
    padding: 0 15px;
}
.subb-ccnt--para h2 {
    font-size: 18px;
}
.subb-ccnt--icn img {
    width: 100px;
    object-fit: contain;
}
.subb-ccnt {
    display: table;
    margin-bottom: 45px;
}
.subb-ccnt--icn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    float: none;
}
.subb-ccnt--para {
    margin: 0 10px !important;
    width: auto !important;
    float: none !important; 
}
}
.subb-ccnt--para {
    margin: 0 45px;
    width: 80%;
    float: left;
}
.subb-ccnt--para p {
    color: #000;
}
/*End about us*/
/*warrenty*/
body.path-warranty section {
    display: none;
}
body.path-warranty a.btn.btn-red.btn-lg.btn-block.bor_rad_0{
    display: none;
}
.warranty-bnr img {
    width: 100%;
}
h4.sub_title_ltalign {
    font-size: 20px;
    padding: 40px 0px;
}
.container.warranty-info {
    padding: 0 60px;
}
.container.warranty-info ul li {
    list-style: outside;
    color: #000;
    padding: 8px 0;
    line-height: 1.5;
    font-size: 16px;
}
.warranty-cover-fl ul li{
    list-style: outside;
    color: #000;
    padding: 8px 0;
    line-height: 1.5;
    font-size: 16px;
}
.warranty-cover-fl{
    padding: 0 60px;
}
.warranty-cover{
    margin-top: 25px;
    background: #1D58A8;
}
.warranty-cover h4{
    color: #fff;
    padding: 45px 0;
    font-size: 28px;
}
.warranty-lst {
    margin: 40px 0;
}
@media only screen and (max-width:600px) {
h4.sub_title_ltalign {
    font-size: 14px;
    line-height: 1.8;
}
.warranty-cover h4 {
    color: #fff;
    padding: 20px 0;
    font-size: 18px;
}
}
.series-cover h4 ,.Vocational-cover h4{
    color: #1D58A8;
}
.series {
    margin-bottom: 40px;
    margin-top: 30px;
}
.Vocational-cover-dtl {
    color: #000;
    margin: 20px 0;
    font-size: 16px;
}
.Vocational-series {
    margin-top: 40px;
    margin-bottom: 70px;
}
.Vocational-cover-bdr {
    border: 5px solid #1D58A8;
    padding: 50px 50px;
    color: #1D58A8;
    font-size: 16px;
}
.series-para {
    color: #000;
}
.series-para {
    color: #000;
    padding-bottom: 40px;
}
.series-para p {
    padding-bottom: 10px;
}
/*End warrenty*/