<!-- <style>
#searchResult,#searchRequest,#searchsupplier,#searchpartno{
        /*border: 1px solid #aaa;*/
        border:none !important;
        overflow-y: auto;
        width: 100%;
        margin-left: 0px;
        padding-bottom: 0px;
        min-height: 10px;
        max-height: 150px;
        margin-top: 0px;
        background: #fff;
        z-index: 99;
        padding-left: 1px;

      }
      #searchResult li,#searchRequest li,#searchsupplier li,#searchpartno li{
        background: lavender;
        padding: 4px;
        margin-bottom: 1px;
      }
      #searchResult li:nth-child(even),#searchRequest li:nth-child(even),#searchsupplier li:nth-child(even),#searchpartno li:nth-child(even){
        background: cadetblue;
        color: white;
      }
      #searchResult li:hover,#searchRequest li:hover,#searchsupplier li:hover,#searchpartno li:hover{
        cursor: pointer;
      }
</style>
<section id="slider" class="fullheight m-0" data-background-delay="3500" data-background-fade="1000" style="background-image: url({{url('<front>')}}sites/default/files/allison_slider.jpg); height: 756px;">

		<div class="display-table">
		<div class="display-table-cell vertical-align-middle">

			<div class="container text-center">

				<div class="rounded-logo wow fadeIn animated animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
					<img src="{{url('<front>')}}sites/default/files/aboutus_logo.png" alt="logo">
				</div>

				<h1 class="fw-600 mt-30 mb-0 wow fadeIn animated animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">Authorized Allison Dealer</h1>

			</div>
		</div>

	</div> //-->
			<!-- overlay + raster [optional] -->
<!-- <span class="raster overlay dark-3"> //--><!-- dark|light overlay [0 to 9 opacity] --><!--</span>
</section> //-->
<!-- <section class="banner_slider m-b-5">
    <div class="container">
        {% for key,value in service_array %}

              <div class="item active">
                <img src="{{value.file}}" alt="{{value.altvalue}}" />
              </div>

          {% endfor %} //-->
      <!-- <div id="carousel" class="slide carousel carousel-fade">
        <div class="carousel-inner">
          {% for key,value in service_array %}
            {% if key == 0 %}
              <div class="item active">
                <img src="{{value.file}}" alt="{{value.altvalue}}" />
              </div>
            {% else %}
               <div class="item">
                <img src="{{value.file}}" alt="{{value.altvalue}}" />
              </div>
            {% endif %}
          {% endfor %}

        </div>

      </div> Need close tag
    </div>
  </section> -->


<div class="slider-section">
  <div class="slider-wrapper">
    <div class="main-slide-area owl-carousel owl-theme">
      {% for key,value in service_array %}
      <div class="slide-item-wrap">
        <div class="slider-overlay"></div>
        
        <div class="slider-bg-img" style="background-image: url('{{value.file}}')" ></div>
        <div class="container">
          <div class="slider-content">
            <div class="slider-img">
              <img src="{{ url('<front>') }}themes/RTS/images/logo_header.png">
            </div>
            
            <h4 class="slider-heading">{{value.heading}}.</h4>
            <h5 class="slider-subheading">{{value.subheading}}.</h5>
            
            <p>{{ value.slidercontent |striptags }}</p> 

          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>

