/*------------------------------------------------------------------
[Table of contents]

	- Top Bar
	- Nav
	- Slider
	- Search
	- Featured
	- Welcome
	- World
	- Asks
	- Auto
	- Count
	- Contact
	- Review
	- Features
	- Info
	- Footer

*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Nunito');

/* TOP BAR */
a:focus, a:hover {
  text-decoration: none;
}

.top_border {
  border-bottom: 1px solid #eeeeee;
}

/* .topbar_addr,.topbar_phone{
    padding: 20px 0 20px 0;
    font:600 12px 'Open Sans',sans-serif;
    text-transform: uppercase;
    border-right:1px solid #eeeeee;
}

.topbar_addr{
    padding-left: 35px;
    border-right:1px solid #eeeeee;
    border-left:1px solid #eeeeee;
    margin-right: 10px;
}
.topbar_addr i.fa, .topbar_phone i.fa{
    font-size:17px;
    color:#00bff3;
    margin-right: 10px;
    vertical-align: middle;
}
*/
.topbar_phone {
  padding: 5px 0 10px 0;
  font: 600 12px 'Open Sans', sans-serif;
  border-right: 1px solid #eeeeee;
}

.topbar_phone i.fa {
  font-size: 17px;
  color: #00bff3;
  margin-right: 10px;
  vertical-align: middle;
}

.topbar_nav {
  overflow: hidden;
  border-right: 1px solid #eeeeee;
  float: right;
  display: block;
}
.topbar_nav ul {
  margin-bottom: 0;
}
.topbar_nav li {
  float: right;
  list-style: none;
  padding: 0px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
}
.topbar_nav li i {
  padding-right: 10px;
  font-size: 16px;
  vertical-align: text-top;
}
/* .topbar_nav li:last-child {
  border-left: 1px solid #eeeeee;
} */

.topbar_nav li a {
  display: block;
  width: 100%;
  padding: 8px 23px;
  border-right: 1px solid #eeeeee;
  font-weight: 500;
  color: #333;
}
.topbar_nav li:last-child a {
  color:#00b0e0;
}
.topbar_nav li:first-child a {
  border-right: 0;
}

.topbar_nav li a:hover, .b-topBar__lang a:hover {
  text-decoration: underline;
}

.top_searchbox {
  position: relative;
  width: 100%;
}
.top_searchbox button i {
  padding: 0 20px;
  color: #fff;
}

button {
  position: absolute;
  background: #00bff3;
  color: #fff;
  top: 0;
  right: 0;
  height: 40px;
  width: auto;
  border: none;
  padding: 0px 5px;
}
input:hover, input:focus {
  /* border:1px solid #e8e8e8; */
  outline: none;
}

button:hover, button:focus {
  outline: none;
}



.top_cart {
  display: flex;
  float: right;
}

.top_cart a {
  color: #333;
  text-decoration: none;
}

.cart_wishlist, .cart_shopping {
  display: flex;
  margin-right: 10px;
}

.cart_wishlist i, .cart_shopping i {
  font-size: 36px;
  margin-right: 10px;
}

.cart_wishlist .wishlist_count {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #00bff3;
  position: absolute;
  top: -2px;
  left: 75px;
  color: #fff;
  text-align: center;
  /* padding: 5px; */
}

.cart_shopping .shopping_count {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #00bff3;
  position: absolute;
  top: -2px;
  right: 75px;
  color: #fff;
  text-align: center;
}

/* NAVBAR */
.nav_main {
  padding: 8px 0px 0px;
  ;
  position: relative;
  z-index: 99;
}

.nav_mainlogo {
  padding: 10px 0px;
  position: relative;
  z-index: 99;
}

.nav_logo {
  float: left;
  padding: 8px 0 0 0px;
  text-transform: uppercase;
}

.nav_logo h3 {
  margin: 0;
  font-size: 26px;
  line-height: 20px
}

.nav_logo h3 a {
  text-decoration: none;
  font: 700 26px 'Titillium Web', sans-serif;
}

.nav_logo h2 {
  margin: 0;
  line-height: 15px;
  font-size: 11px;
  margin-top: -5px;
}

.nav_logo h2 a {
  font: 300 11px 'Open Sans', sans-serif;
  text-decoration: none;
}

.nav_main_list {
  /* float: right; */
  float: left;
}

.nav_main_list ul {
  /* margin-top: 20px; */
  padding-left: 0;
  margin-bottom: 0;
}

.nav_main_list ul li {
  float: left;
  list-style: none;
  height: 38px;
}

.navbar-nav-menu>li>.dropdown-menu {
  display: block !important;
  height: 0px;
  overflow: hidden;
  opacity: 0;
}

.navbar-nav-menu>li.open>.dropdown-menu {
  height: auto;
  padding-bottom: 3px;
  opacity: 1;
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}

.nav_main_list ul li a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 0 15px 15px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.71px;
  color: #565656;
}

.nav_main_list ul li a:hover {
  border-bottom: 2px solid #00bff3;
}

.nav_main_list ul li a i.fa {
  margin-left: 4px;
}

.sub_nav li {
  display: block;
  float: none !important;
}

.sub_nav {
  margin-top: 0 !important;
}

.sub_nav li a {
  display: block !important;
  text-align: left;
  padding: 10px 14px !important;
}

i.fa-caret-down {
  color: #00bff3;
}

.navbar-collapse {
  padding: 0;
}

.sticky-header.sticky {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  background: #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0px 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
  animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  border-bottom: 0;
}

/* Slider */
.banner_slider .slide {
  border: 1px solid #f2f2f2;
  padding: 6px;
}

.carousel-control, .carousel-control:hover {
  background-image: none !important;
}

.banner_slider .carousel-inner .item>img {
  width: 100%;
  height: 450px;
}

.carousel-control.right i.fa {
  height: 65px;
  width: 35px;
  border-top-left-radius: 65px;
  border-bottom-left-radius: 65px;
  right: 6px;
   !important;
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  padding-top: 20px;
  padding-left: 9px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-control.left i.fa {
  height: 65px;
  width: 35px;
  border-top-right-radius: 65px;
  border-bottom-right-radius: 65px;
  left: 6px !important;
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  padding-top: 20px;
  padding-right: 9px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .active {
  opacity: 1;
}

.carousel-fade .active.left,
.carousel-fade .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .next.left,
.carousel-fade .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/* Search */
/* .b-search {
  height: 300px;
}

.b-search__main {
  text-align: center;
  height: 480px;
  margin-top: -125px;
  padding: 35px 60px 50px 60px;
  z-index: 1000;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.b-search__main-title {
  padding: 15px 20px;
  display: inline-block;
  margin-bottom: 45px;
}

.b-search__main-title h2 {
  font: 700 18px 'Open Sans', sans-serif;
  margin: 0;
  padding: 0 10px;
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
  line-height: 1.1;
}

.b-search__main-type {
  margin-bottom: 35px;
  overflow: hidden;
}

.b-search__main-type svg, .b-search__main-type h5 {
  cursor: pointer;
}

.b-search__main-type svg:hover g {
  fill: #f76d2b;
}

.b-search__main-type-svg {
  display: block;
  margin: 0;
}

.b-search__main-type input[type='radio'] {
  visibility: hidden;
  position: absolute;
}

.b-search__main-type input[type='radio']:checked+label.b-search__main-type-svg+h5 {
  border-bottom: 1px solid #B4B4B4;
  text-align: center;
  margin-bottom: -1px;
}

.b-search__main-type input[type='radio']:checked+label.b-search__main-type-svg+h5:after {
  background: url(../images/elements/chevron-down.png) center no-repeat;
  width: 100%;
  height: 7px;
  content: '';
  position: absolute;
  top: 100%;
  display: block;
}

.b-search__main-type h4 {
  text-transform: uppercase;
  font: 600 14px 'Open Sans', sans-serif;
  text-align: right;
  margin: 20px 0 0 0;
}

.b-search__main-type h5 {
  color: #999999;
  text-transform: uppercase;
  font: 600 10px 'Open Sans', sans-serif;
  padding: 0 0 20px 0;
  margin: 0 0 7px 0;
  position: relative;
}

.b-search__main-type h5 label {
  cursor: pointer;
  margin: 0;
}

.b-search__main-form select {
  width: 100%;
  padding: 10px 20px 10px 25px;
  border: 1px solid #eeeeee;
  border-radius: 30px;
  font: 400 13px 'Open Sans', sans-serif;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none !important;
  cursor: pointer;
}

.b-search__main-form select+i.fa {
  top: 14px;
  right: 45px;
  position: absolute;
}

.b-search__main-form select:focus {
  outline: none;
}

.b-search__main-form p {
  text-align: left;
  font: 400 10px 'Open Sans', sans-serif;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.m-firstSelects {
  margin-bottom: 45px;
  overflow: hidden;
}

.b-search__main-form label {
  text-transform: uppercase;
  font: 600 14px 'Open Sans', sans-serif;
  text-align: right;
  margin: 11px 0 0 0;
  float: left;
  display: block;
}

.b-search__main-form-submit {
  text-align: right;
}

.b-search__main-form-submit a {
  font: 400 10px 'Open Sans', sans-serif;
  text-transform: uppercase;
  margin-right: 13px;
}

.b-search__main-form-submit button {
  padding: 3px 3px 3px 20px !important;
  text-transform: uppercase;
}

.b-search__main-form-submit button:focus.b-search__main-form-submit button:active {
  outline: none;
}

.b-search__main-form-range {
  margin-bottom: 105px;
}

.b-search__main-form-range span.min, .b-search__main-form-range span.max {
  position: absolute;
  top: 150%;
  left: -3px;
  font: 400 12px 'Open Sans', sans-serif;
  text-decoration: none;
}

/*.b-search__main-form-range span{
    display: inline-block;
    width:225px;
    margin-left: 15px;
}
*/
/*.slider {
  height: 12px;
  width: 230px;
  position: relative;
  border: 1px solid #eee;
  border-radius: 5px;
  float: left;
  margin-top: 15px;
  margin-left: 15px;
}

.ui-slider-handle {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;
  border-radius: 100%;
  border: 2px solid #eee;
  text-align: center;
}

.ui-slider-handle:after {
  width: 12px;
  height: 12px;
  display: inline-block;
  content: '';
  border-radius: 100%;
  vertical-align: text-top;
}

.ui-slider-handle:last-of-type {
  margin-left: -20px;
}

.ui-slider-handle:focus {
  outline: none;
}

.ui-widget-header {
  height: 100%;
  position: absolute;
} */
/* Featured */
.featured_product {
  padding: 0px 0 0px 0;
  text-align: center;
  position: relative;
  /* box-shadow: 0px 30px 100px -38px rgba(0, 0, 0, 0.3); */
  z-index: 100;
}

.featured_item_box {
  width: 260px;
  float: left;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 25px 30px 0;
  border-radius: 0;
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.featured_item_box:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.10), 0 6px 5px 0 rgba(0, 0, 0, 0.10);
}

.featured_item_box>a {
  position: relative;
  display: block;
  /* margin-bottom: 15px; */
}

.featured_item_box .new_brand, .featured_item_box .m-leasing {
  background-color: #00bff3;
  color: #fff;
  font: 600 10px 'Open Sans', sans-serif;
  padding: 5px 10px;
  text-transform: uppercase;
  position: absolute;
  top: -15px;
  right: 0px;
  z-index: 1000;
}

.featured_item_box .stock_status {
  font: 600 14px 'Open Sans', sans-serif;
  padding: 2px 2px;
  text-transform: uppercase;
  position: absolute;
  top: -15px;
  left: 0px;
  z-index: 1000;
}

.featured_item_box .in {
  color: #128026;
}

.featured_item_box .out {
  color: #d1252a;
}
.feature_info {
  text-align: left;
  display: block;
}
.feature_info a{
  padding: 8px;
  color: #00bff3 !important;
  /* margin-right: 6px; */
}
.feature_ratings {
  display: block;
  padding: 0px 3px;
}
.feature_ratings ul {
  display: flex;
  list-style: none;
  padding: 5px 6px;
  color:#e7a200;
  margin: 0;
}

.featured_img {
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  width: 200px;
  height: 115px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.featured_item_price {
  padding: 3px 5px;
  font: 500 14px 'Roboto', sans-serif;
  color: #1d1d1d;
  float: left;
  text-align: left;
  margin-left: 5px;
  line-height: 2;
}

.price_color {
  font: 600 16px 'Nunito', sans-serif;
  color: #31353c;
  padding-left: 5px;
  letter-spacing: 1px;
}

.featured_item_box h5 {
  font: 600 14px 'Open Sans', sans-serif;
  padding: 15px 5px 3px 10px;
  margin: 5px 0px 0px 0px;
  clear: both;
  text-align: left;
  border-top: 1px solid #B4B4B4;
  position: relative;
}

.featured_item_box a {
  color: #31353c;
  text-decoration: none;
}

.featured_item_box h5:after {
  background: url(../images/down_arrow.png) center no-repeat;
  /* content: "\f107"; */
  content: " ";
  font-family: "FontAwesome";
  width: 15px;
  left: 20px;
  height: 7px;
  position: absolute;
  top: -1px;
  display: block;
}
.view_all {
    display: block;
    margin: 10px;
    padding: 0;
    clear: both;
}
.view_all button{
    outline: none;
    background: #696969;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0px auto;
}
.view {
    color: #fff;
    cursor: pointer;
    display: block;
    position: relative;
    border: 2px solid #F7CA18;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
.view:hover {
    color: #fff !important;
    background-color: #343434;
}
  /* Abpout us */
.about_us {
  padding: 0px 0 0px 0;
  text-align: center;
  position: relative;
  /* box-shadow: 0px 30px 100px -38px rgba(0, 0, 0, 0.3); */
  z-index: 100;

}
.about_us img{
  max-width:100%;
}
.about_us p{
  margin:10px 0;
}
.client_block{
    margin: 20px 0 0 0;
    padding: 40px 0;
    background-image: url(../images/client-bg.jpg);
    background-repeat: repeat;
    background-position: center;
    position: relative;
    text-align: center;
}

.client_block .carousel-control.right i.fa {
  height: 65px;
  width: 35px;
  border-top-left-radius: 65px;
  border-bottom-left-radius: 65px;
  right: 6px;
   !important;
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  padding-top: 20px;
  padding-left: 9px;
  text-align: center;
}

.client_block .carousel-control.left i.fa {
  height: 65px;
  width: 35px;
  border-top-right-radius: 65px;
  border-bottom-right-radius: 65px;
  left: 6px !important;
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  padding-top: 20px;
  padding-right: 9px;
  text-align: center;
}
/*FOOTER*/
footer {
    width: 100%;
    background: #111;
    color: #7c7e83;
    padding-bottom: 20px;
}

.footer_main .footer_newsletter {
  background: #181818;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
}
.footer_main .footer_newsletter h3 {
    font-size: 22px;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    margin-bottom: 3px;
}
/* .footer_main .footer_newsletter .newsletter_input {
    width: 50%;
    margin: 10px 0 0 0;
} */
/* .newsletter_input input {
    width: 50%;
} */
.newsletter_input button {
    width:100px;
    text-transform: uppercase;
    font: 500 14px 'Open Sans', sans-serif;
    color: #fff;
}
.footer_info {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
.footer_info .footer_title {
  color: #c5c5c5;
  font:600 16px 'Open Sans', sans-serif;
  letter-spacing: 1px;
  border-bottom: solid 1px #3a3a3a;
  padding-bottom: 20px;
  margin: 0 0 30px;
  text-transform: uppercase;
}
.footer_info ul, .social_icons ul {
  margin:0;
  padding: 0;
  list-style: none;
}
.footer_info li {
  color: #7c7e83;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
  letter-spacing: 0.5px;
}
.footer_info li i {
  font-size: 18px;
  color: #999999;
  margin-right: 20px;
  float: left;
  width: 20px;
}
.personal_info a {
  color: #7c7e83;
  text-decoration: none;
}
.personal_info a:hover, .social_icons li i:hover {
  color: #fff;
  text-decoration: none;
}
.social_icons li i{
  font-size: 20px;
  color: #999999;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  width: auto;
}

/* .footer_main button:hover, .footer_main button:focus {
  outline: none;
}

.footer_main button {
  position: absolute;
  background: #00bff3;
  color: #fff;
  height: 40px;
  width: 60px;
  border: none;
  padding: 0px 5px;
} */
