/* _functions.scss */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:600,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300);
@import url(https://fonts.googleapis.com/css?family=Rokkitt);

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local("Ubuntu Light"), local("Ubuntu-Light"), url(https://themes.googleusercontent.com/static/fonts/ubuntu/v4/_aijTyevf54tkVDLy-dlnD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), url(https://themes.googleusercontent.com/static/fonts/ubuntu/v4/_xyN3apAT_yRRDeqB3sPRg.woff) format("woff");
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(https://themes.googleusercontent.com/static/fonts/ubuntu/v4/OsJ2DjdpjqFRVUSto6IffD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: local("Quicksand Light"), local("Quicksand-Light"), url(https://themes.googleusercontent.com/static/fonts/quicksand/v2/qhfoJiLu10kFjChCCTvGlHhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  src: local("MontserratAlternates-Bold"), url(https://themes.googleusercontent.com/static/fonts/montserratalternates/v1/YENqOGAVzwIHjYNjmKuAZgHIHA8NZDzxmj0AXZzWWdj3rGVtsTkPsbDajuO5ueQw.woff) format("woff");
}

/* line 5, scss/index.scss */

/* BODY {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  background: url("../images/bg.png") repeat scroll 0% 0% transparent;
  color: #505050;
  margin: 0;
  padding: 0;
} */

/* line 14, scss/index.scss */
/*
DIV {
  margin: 0;
  padding: 0;
} */

/* line 18, scss/index.scss */

/* line 36, scss/index.scss */

#header {
  width: 960px;
  margin: 0 auto 0;
}

/* line 40, scss/index.scss */

#header h1 {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 100;
  letter-spacing: 2px;
  color: #ebebeb;
  text-shadow: rgba(0, 0, 0, 0.9) 2px 2px 4px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 5%;
  text-align: center;
}

/* line 55, scss/index.scss */

#progressbar {
  width: 960px;
  height: 3px;
  margin-top: -3px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(130, 130, 130, 0.8)), color-stop(90%, rgba(215, 215, 235, 0.85)), color-stop(95%, rgba(225, 225, 255, 0.9)), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left, rgba(130, 130, 130, 0.8) 0%, rgba(215, 215, 235, 0.85) 90%, rgba(225, 225, 255, 0.9) 95%, #ffffff 100%);
  background-image: -moz-linear-gradient(left, rgba(130, 130, 130, 0.8) 0%, rgba(215, 215, 235, 0.85) 90%, rgba(225, 225, 255, 0.9) 95%, #ffffff 100%);
  background-image: -o-linear-gradient(left, rgba(130, 130, 130, 0.8) 0%, rgba(215, 215, 235, 0.85) 90%, rgba(225, 225, 255, 0.9) 95%, #ffffff 100%);
  background-image: -ms-linear-gradient(left, rgba(130, 130, 130, 0.8) 0%, rgba(215, 215, 235, 0.85) 90%, rgba(225, 225, 255, 0.9) 95%, #ffffff 100%);
  background-image: linear-gradient(left, rgba(130, 130, 130, 0.8) 0%, rgba(215, 215, 235, 0.85) 90%, rgba(225, 225, 255, 0.9) 95%, #ffffff 100%);
  -moz-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

/* line 64, scss/index.scss */

#gallery-con {
  width: 100%;
  float: left;
  height: 100%;
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #eaeaea;
}

/* line 72, scss/index.scss */

#gallery-con #gallery-main {
  margin: 0;
  padding: 0;
  /* position: absolute; */
  z-index: -1;
  width: 100%;
  height: 240px;
}
.product_image img {
    display: block;
    width: 100%;
    height: 100%;
}
/* line 79, scss/index.scss */

#gallery-con #gallery-hidden {
  margin: 0;
  padding: 0;
  position: absolute;
  display: none;
  z-index: -1;
}

/* line 87, scss/index.scss */

#gallery-con #thumbnails {
  width: 410px !important;
  height: auto;
  /* background: rgba(130, 130, 130, 0.6); */
  z-index: 10;
  margin-top: 10px;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0.6;
}

/* line 97, scss/index.scss */

#gallery-con #thumbnails:hover {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
}

/* line 102, scss/index.scss */

#gallery-con #thumbnails #thumbcon {
  width: 100%;
  height: 75px;
  display: inline-block;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  float: left;
}

/* line 111, scss/index.scss */

#gallery-con #thumbnails #thumbcon .thumb {
  width: 25%;
  height: auto;
  display: inline;
  margin: 12px 5px;
  opacity: 0.6;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

/* line 121, scss/index.scss */

#gallery-con #thumbnails #thumbcon .thumb:hover {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
}

/* line 128, scss/index.scss */

#gallery-con #thumbnails #thumbcon .selected {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
}

/* line 135, scss/index.scss */

#gallery-con #thumbnails .ui-button {
  width: 16px;
  height: 16px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(170, 170, 170, 0.85)), color-stop(100%, rgba(215, 215, 215, 0.85)));
  background-image: -webkit-linear-gradient(top, rgba(170, 170, 170, 0.85) 0%, rgba(215, 215, 215, 0.85) 100%);
  background-image: -moz-linear-gradient(top, rgba(170, 170, 170, 0.85) 0%, rgba(215, 215, 215, 0.85) 100%);
  background-image: -o-linear-gradient(top, rgba(170, 170, 170, 0.85) 0%, rgba(215, 215, 215, 0.85) 100%);
  background-image: -ms-linear-gradient(top, rgba(170, 170, 170, 0.85) 0%, rgba(215, 215, 215, 0.85) 100%);
  background-image: linear-gradient(top, rgba(170, 170, 170, 0.85) 0%, rgba(215, 215, 215, 0.85) 100%);
  padding: 8px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 2px;
  opacity: 0.60;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 145, scss/index.scss */

#gallery-con #thumbnails .ui-button:hover {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 3px;
  -o-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 3px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 3px;
}

/* line 152, scss/index.scss */

#gallery-con #thumbnails #left-arrow {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  float: left;
}

/* line 161, scss/index.scss */

#gallery-con #thumbnails #right-arrow {
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
  float: left;
}

/* line 170, scss/index.scss */

#gallery-con #thumbnails #playtoggle {
  float: right;
  margin-top: -40px;
  margin-right: 10px;
}

/* line 176, scss/index.scss */

#gallery-con #thumbnails .icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../images/sprites.png);
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 22;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 187, scss/index.scss */

#gallery-con #thumbnails .icon-play {
  background-position: 0 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 191, scss/index.scss */

#gallery-con #thumbnails .icon-pause {
  background-position: -32px 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 195, scss/index.scss */

#gallery-con #thumbnails .icon-arrow-right {
  background-position: -64px 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 199, scss/index.scss */

#gallery-con #thumbnails .icon-arrow-left {
  background-position: -96px 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
