<div class="col-lg-2 col-md-3 col-sm-5 col-xs-12">
            <h2 class="footer_title">SOCIAL AREA</h2>
            <ul class="social_icons">
            	<li><a href="https://www.facebook.com/RTSAllison/" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
						<i class="fa fa-facebook-square"></i>
					</a></li>
					<li><a href="https://www.linkedin.com/company/rts-allison" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
						<i class="fa fa-linkedin-square"></i>
					</a>						
					</li>
             <!--  <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li> -->
              <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
              <li><a href="#"><i class="fa fa-envelope"></i></a></li> -->
            </ul>
          </div>
