<!--<div class="col-lg-3 col-md-2 col-sm-7 col-xs-12">
      <h2 class="footer_title">RTS ALLISON LINKS</h2>
          <div class="col-sm-12">
              <ul class="personal_info">
                <li>
                  <a href="{{ url('<front>') }}articles">Home</a>
                </li>
                <li>
                  <a href="{{ url('<front>') }}about_us">About Us</a>
                </li>
                <li>
                  <a href="{{ url('<front>') }}services">Our Services</a>
                </li>
                <li>
                  <a href="{{ url('<front>') }}partner">Partner Program</a>
                </li>
                <li>
                  <a href="{{ url('<front>') }}our_location">Our Locations</a>
                </li>
                <li>
                  <a href="{{ url('<front>') }}rts_careers">Careers</a>
                </li>
                <li>
                  <a href="mailto:info@rtsallison.com">Contact Us</a>
                </li>
              </ul>
          </div>
</div>
 //-->

 <div class="col-sm-4 col-md-2 col-lg-2">
        <div class="footer-title">
          RTS Links
        </div>
        <ul class="footer-listing">
          <li><a href="{{ url('<front>') }}articles">Home</a></li>
          <li><a href="{{ url('<front>') }}about_us">About Us</a></li>
          <li><a href="{{ url('<front>') }}services">Our Services</a></li>
          <li><a href="{{ url('<front>') }}partner">Partner Program</a></li>
          <li><a href="{{ url('<front>') }}our_location">Our Locations</a></li>
          <li><a href="{{ url('<front>') }}rts_careers">Careers</a></li>
          <li><a href="{{ url('<front>') }}contact_us">Contact Us</a></li>
        </ul>
      </div>