 <script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
  <div ng-app="postApp" ng-cloak ng-controller="postController">
    <div class="">
            <div class="content">
               <div class="container-fluid">
                <div class="page-title-box">
                     <h4 class="page-title">Custom Page</h4>
                     <div class="float-right">
                             <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
                     </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card mt-10">
                        <div class="card-header card-header-toggle">
                          <h3 class="card-title"><span>Click Here to Add </span> Custom Page</h3>
                        </div>
                        <div  class="alert alert-success" {% if title == "" %} style="display:none" {% endif %}>
                            {{title}}
                          </div>
                          <div  class="alert alert-danger" {% if error == "" %} style="display:none" {% endif %}>
                            {{error}}
                          </div>
                          <div class="card-body card-body-toggle">
                            <div class="row">
                              <div class="col-md-7">
                                <form method="post" id="resetform" action="" enctype="multipart/form-data">
                                  <div class="form-group row">
                                    <div class="col-md-6 col-lg-4">
                                      <label class="label-text">Page Name<span class="red-text">*</span> </label>
                                    </div>
                                     <div class="col-md-6 col-lg-8">
                                      <input type="text" pattern=".*\S+.*" required="" maxlength="50" placeholder="Maximum 50 words" name="page_name" id="cus_name" class="form-control">
                                     </div>
                                  </div>                                 
                                  <div class="form-group row">
                                    <div class="col-md-6 col-lg-4">
                                      <label class="label-text">Page Content<span class="red-text">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-lg-8">
                                       <textarea  autocomplete="off" pattern=".*\S+.*" 
                                       name="editor1" required="" type="text" ng-model="content" class="form-control">
                                       </textarea>
                                    </div>

                                  </div>
                                  <div class="form-group row">
                                    <div class="col-md-6 col-lg-4">
                                      <label class="label-text">Menu Name<span class="red-text">*</span> </label>
                                    </div>
                                     <div class="col-md-6 col-lg-8">
                                      <input type="text" pattern=".*\S+.*" required="" maxlength="50"  name="menu_name" id="menu_name" class="form-control">
                                     </div>
                                  </div> 
                                  <div class="form-group row">
                                    <div class="col-md-6 col-lg-4">
                                      <label class="label-text">Menu URL<span class="red-text">*</span> </label>
                                    </div>
                                     <div class="col-md-6 col-lg-8">
                                      <input type="url" pattern=".*\S+.*" required="" maxlength="50" placeholder="Maximum 50 words" name="menu_url" id="menu_url" class="form-control">
                                     </div>
                                  </div> 

                                  <div class="form-group row">
                                      <input type="hidden" id="hidden_id" name="hidden_id">
                                      <input type="hidden" id="menu_id" name="menu_id">
                                  </div>
                                  <div class="form-group row">
                                      <input type="hidden" id="postid" name="postid" value='{{postid}}'>
                                  </div>
                                 
                                  <div class="form-group row">
                                    <div class="col-md-6 col-lg-4"></div>
                                    <div class="col-md-6 col-lg-8">
                                      <div>
                                        <input type="submit" class="button-normal btn-save-icon" type="submit">
                                        <button class="button-normal btn-reset-icon" id="resets" type="reset">Reset</button>
                                      </div>
                                   </div>
                                  </div>
                                  <div class="row">
                                    <div class="rel_lf mand">* All Inputs Should  Begin Without Spaces</div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                      </div>
                      </div>
                      <div class="col-md-12 pad-0">
                      <div class="card">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table-striped table-sort">
                            <thead>
                            <tr>
                              <th>Custom Name</th>
                              <th>Custom Body</th>
                              <th>Menu Name</th>
                              <th>Menu url</th>
                              <th>Edit</th>
                              <th>Delete</th>
                            </tr>
                            </thead>
                            <tfoot>
                              <tr>
                              <td><input ng-change="cusnamesearch()" ng-model="cusname_search" type="text" name="" class="search-table"></td>
                              <td><input ng-change="cusbodysearch()" ng-model="cusbody_search" type="text" name="" class="search-table"></td>
                              <td><input ng-change="menunamesearch()" ng-model="menuname_search" type="text" name="" class="search-table"></td>
                              <td><input ng-change="menuurlsearch()" ng-model="menuurl_search" type="text" name="" class="search-table"></td>
                              <td></td>
                              <td></td>
                              </tr>
                            </tfoot>
                            <tbody>
                            <tr ng-repeat="(key, value) in pagedItems[currentPage]">
                              <td>{{'{{value.title}}'}}</td>
                              <td>{{'{{value.body}}'}}</td>
                              <td>{{'{{value.menu_name}}'}}</td>
                              <td>{{'{{value.url}}'}}</td>
                              <td><a class="edit-icons" ng-click='editcustom(value.id)'><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                              <td><a id="{{'{{value.id}}'}}" ng-click="deleteconfirm_custom(value.id,value.menu_id)" class="delete-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="container-fluid pad-0 bg-pagination">
                          <ul class="pagination pull-right pagi_master ">
                            <li ng-class="{disabled: currentPage == 0}">
                                <a href ng-click="prevPage()">«</a>
                            </li>
                            <li ng-repeat="n in pagenos | limitTo:5"
                                ng-class="{active: n == currentPage}"
                            ng-click="setPage()">
                                <a href ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                <a href ng-click="nextPage()">»</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                  </div>
                  </div>
                    </div>
                    </div>
               </div>
            </div>

            <div id="myModal" class="modal fade">
              <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                  <div class="modal-content_in">
                    <div class="icon-box">
                      <i data-dismiss="modal" class="fa fa-close"></i>
                    </div>
                    <h4 class="modal-title cclr">Are you sure?</h4>
                      <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  </div>
                  <div class="modal-body">
                    <p   id="confirms">Do you really want to delete these records?</p>
                    <p   id="menu_id_data"></p>
                  </div>
                  <div class="modal-footer svv">
                    <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button  ng-click="deletecustom()" type="button" class="btn btn-danger">Delete</button>
                  </div>
                </div>
              </div>
          </div>
</div>
  <script>
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace( 'editor1' );
  </script>