<style type="text/css">
  td[colspan="5"] {
    text-align: center;
}
</style>
<div ng-app="postApp" ng-cloak ng-controller="postController">
<div class="content dgt_ast">
   <div class="container-fluid">
      <div class="page-title-box">
         <h4 class="page-title">Digital Assets</h4>
         <div class="float-right">
                             <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
                     </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card mt-10">
            <div class="card-header card-header-toggle">
              <h3 class="card-title"><span>Click Here to </span><font id="updateservice">Add Digital Assets
              </font></h3>
            </div>
            <div class="card-body card-body-toggle">
            <div class="card-header">
              <h3 class="card-title">Bulk Upload Images</h3>
              <!-- <div class="float-right">
                  <a href="javascript://" class="button-normal btn-down-xml-icon">Download XLS</a>
              </div> -->
              <div class="alert alert-success" style="display: none"></div>
            </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                         <label class="label-text">Upload Image</label>

                          <div class="upoad-img-div">
                            <input type="file" accept="image/x-png,image/gif,image/jpeg" multiple ng-model="digitalassetsproductimage" id="inputFile" class="upl_cl" onchange="angular.element(this).scope().digitalassetsimage(this)"/>
                            <p>Drag your files here or click in this area.</p>
                          </div>
                          <div ng-repeat="filelist in totalfilesonchange">
                        <span>{{'{{filelist.name}}'}} <button type="button" class="images_close" id="fileid_{{filelist.name}}" ng-click="digitalassetsimage_remove(filelist.name)">&times;</button></span>
                      </div>
                          <!-- <button type="submit" class="image-upload-button">Upload</button> -->
                        <div class="float-right mt-4">
                            <button class="button-normal btn-upload-icon" ng-click="digitalassetsimageupload()">Upload</button>
                        </div>
                  </div>
                  <!-- <div class="col-md-1 text-center">
                      <div class="orstyle">
                        (or)
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group row">
                      <div class="col-md-12 mb-3">
                          <div class="label-text">Upload Part Image Or Video</div>
                      </div>
                      <div class="col-md-12">
                          <form>
                            <div class="upoad-img-button-div">
                              <div class="button-div button-upload upoad-img-button">
                                <span>Choose file</span>
                                <input type="file" multiple>
                              </div>
                              <p></p>
                            </div>
                          </form>
                          <div class=" float-right mt-4">
                            <button class="button-normal btn-upload-icon">Upload</button>
                          </div>

                      </div>
                    </div>
                  </div>
-->
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header mb-0">
                    <div class="media-toolbar wp-filter">
                      <div class="media-toolbar-secondary">
                            <!-- <select id="media-attachment-filters" class="attachment-filters">
                              <option value="all">All media items</option>
                              <option value="image">Images</option>
                              <option value="video">Video</option>
                            </select> -->
                            <select id="media-attachment-filters" ng-model="mediacategories" ng-change="searchmediacategory()" class="attachment-filters">
                              <option value="" ng-selected="selected" >All Media Categories</option>
                              <option value="JPEG">JPEG</option>
                              <option value="PNG">PNG</option>
                            </select>
                            <!-- <input type="text" name="daterange" id="datepicker" class="date-range-input-small" placeholder="Select Date Range"> -->
                        </div>
                    <div class="media-toolbar-primary search-form">
                      <input type="search" ng-model="globalmediasearch" ng-change="searchglobalmedia()" placeholder="Search media items..."  class="search">
                    </div>
                  </div>
                </div>
                <div class="card-body">
                     <div class="table-responsive">
                           <table class="table-striped table-sort" id="digital_table">
                              <thead>
                              <tr>
                                <th>Image Name</th>
                                <th>Image</th>
                                <th>Image Type</th>
                                <th>Created On</th>
                                <th>Delete</th>
                              </tr>
                              </thead>
                              <tbody>
                               <tr ng-repeat="(key, value) in pagedItems[currentPage]">
                                <td>{{'{{value.digital_image_name}}'}}</td>
                                <td><img class="wdtt" height="8%" width="10%" src="../sites/default/files/digitalassetsimages/{{'{{value.digital_image_name}}'}}"></td>
                                <td>{{'{{value.digital_image_type}}'}}</td>
                                <td>{{'{{value.created_on}}'}}</td>
                                <td><a class="delete-icons" id="{{'{{value.digital_id}}'}}" ng-click="deletedigitalimage(value.digital_id)" ><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
                              </tr>

                              </tbody>
                            </table>
                        </div>
                </div>
                 <div class="container-fluid pad-0 bg-pagination">
                        <ul class="pagination pull-right pagi_master ">
                          <li ng-class="{disabled: currentPage == 0}">
                            <a href ng-click="prevPage()">«</a>
                          </li>
                          <li ng-repeat="n in pagenos | limitTo:5"
                                ng-class="{active: n == currentPage}"
                            ng-click="setPage()">
                              <a href ng-bind="n + 1">1</a>
                          </li>
                          <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                              <a href ng-click="nextPage()">»</a>
                          </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>


   </div>
</div>

 <div id="digitalmyModal" class="modal fade">
              <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                  <div class="modal-content_in">
                    <div class="icon-box">
                      <i data-dismiss="modal" class="fa fa-close"></i>
                    </div>
                    <h4 class="modal-title cclr">Are you sure?</h4>
                      <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  </div>
                  <div class="modal-body">
                    <p   id="digitalconfirms">Do you really want to delete these records?</p>
                  </div>
                  <div class="modal-footer svv">
                    <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button  id="deletedigitalassetsimage" type="button" class="btn btn-danger">Delete</button>
                  </div>
                </div>
              </div>
          </div>
</div>
