<!-- <script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script> -->
<style>
  .card-header{
    background: #2399f7;
    color: #fff;
  }
  </style>
<div ng-app="postApp" ng-cloak ng-controller="postController">
            <div class="content">
               <div class="container-fluid">
                  <div class="page-title-box">
                    <h4 class="page-title">Services</h4>
                     <div  class="alert alert-success" {% if title == "" %} style="display:none" {% endif %}>
                        {{title}}
                      </div>
                      <div  class="alert alert-danger" {% if error == "" %} style="display:none;color:red" {% endif %}>
                        {{error}}
                      </div>
                    <div class="float-right">
                      
                      <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card mt-10">
                        <div class="card-header show-card">
                          <h5 class=""><!-- <span>Click Here to </span> --><font id="updateservice"> Services
                          </font></h5>
                        </div>

                          <div class="card-body card-body-toggle" style="display: block;">
                            <div class="row">
                              <div class="col-md-7">
                                <form action="servicesetting" id="resetform" method="post" enctype="multipart/form-data">
                                  <div class="form-group row">
                                    <div class="col-md-3">

                                       <label class="label-text">Heading<span class="red-text">*</span></label>

                                    </div>
                                    <div class="col-md-9">
                                      <input id="headings" maxlength="50" placeholder="Maximum 50 words" ng-model="heading"  autocomplete="off" required="" pattern=".*\S+.*" name="head" type="text" class="form-control">
                                    </div>
                                  </div>
                                   <div class="form-group row">
                                    <div class="col-md-3">

                                       <label class="label-text">Content<span class="red-text">*</span></label>

                                     </div>
                                       <div class="col-md-9">
                                       <!-- <textarea  autocomplete="off" pattern=".*\S+.*" name="editor1" required="" type="text" ng-model="contents" class="form-control">

                                       </textarea> -->
                                        <textarea rows="5" name="editor1" id="summernote"></textarea>
                                       </div>
                                   </div>
                                  

                                    <div class="form-group row">
                                      <input type="hidden" id="hidden_id" name="hidden_id">
                                    </div>
                                    <div class="form-group row">
                                      <input type="hidden" id="postid" name="postid" value='{{postid}}'>
                                    </div>
                                   
                                  <div class="form-group row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-9">
                                      <div>
                                        <button class="button-normal btn-save-icon" type="submit">Save</button>
                                        <button class="button-normal btn-reset-icon resets" type="reset">Reset</button>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="rel_lf mand">* All Inputs Should  Begin Without Spaces</div>
                                  </div>
                              </form>
                            </div>
                            </div>
                          </div>
                      </div>
                      




                    </div>
                    <!-- <div class="col-md-5">
                      <div class="card">
                        <div class="card-header">
                             <h3 class="card-title">Selected Theme</h3>
                        </div>
                          <div class="card-body px-3 py-3">
                              <div class="demo-item">
                                <div class="demo-thumb" style="background-image:url(assets/images/template_1.png)">
                                  <a href="" class="image" target="_blank"></a>
                                </div>
                                <div class="demo-content">
                                  <span class="change-theme"><a href="javascript://">Change Theme</a></span>
                                  <span class="change-theme"><a href="https://www.apagreen.com/apadesign/catapult/theme1/" target="_blank">Demo</a></span>
                                </div>
                              </div>
                           </div>
                        </div>
                      </div> -->
                    </div>

                    </div>


               </div>
            </div>


<!-- <div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-content_in">
          <div class="icon-box">
            <i data-dismiss="modal" class="fa fa-close"></i>
          </div>
          <h4 class="modal-title cclr">Are you sure?</h4>
            <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p  id="confirms" typess="services">Do you really want to delete these records?</p>
        </div>
        <div class="modal-footer svv">
          <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          <button  id="delid" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div> -->

  <script>
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    /*CKEDITOR.replace( 'editor1' );*/
  </script>
