<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
<div ng-app="postApp" ng-cloak ng-controller="postController">
        <div class="content">
           <div class="container-fluid">
              <div class="page-title-box">
                <h4 class="page-title">SMTP Settings</h4>
                 <div class="float-right">
                       <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
                </div>
              </div>
              <div  class="alert alert-success" {% if success == "" %} style="display:none" {% endif %} >
               {{success}}
              </div>
              <div  class="alert alert-danger" {% if error == "" %} style="display:none" {% endif %} >
               {{error}}
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card mt-10">
                    <div class="card-header card-header-toggle">
                      <h3 class="card-title"><span>Click Here to </span><font id="updateservice"> Add SMTP Settings
                      </font></h3>
                    </div>
                      <div class="card-body card-body-toggle">
                        <div class="row">
                          <div class="col-md-7">
                            <form action="smtpsetting" id="resetform" method="post" enctype="multipart/form-data">
                              <div class="form-group row">
                                <div class="col-md-3">
                                   <label class="label-text">Email Id<span class="red-text">*</span></label>
                                </div>
                                <div class="col-md-9">
                                  <input maxlength="50" placeholder="xxxxx@xxxx.xxx" id="emailid" ng-model="emailid"  autocomplete="off" required="" name="emailid" type="email" class="form-control">
                                </div>
                              </div>
                               <div class="form-group row">
                                <div class="col-md-3">
                                   <label class="label-text">User Name<span class="red-text">*</span></label>
                                </div>
                                <div class="col-md-9">
                                  <input maxlength="50" placeholder="xxxxxxx" id="username" ng-model="username"  autocomplete="off" required="" name="username" type="text" class="form-control">
                                </div>
                               </div>
                               <div class="form-group row">
                                <div class="col-md-3">
                                   <label class="label-text">Password<span class="red-text">*</span></label>
                                </div>
                                <div class="col-md-9">
                                  <input maxlength="50" placeholder="xxxxxxx" id="password" ng-model="password"  autocomplete="off" required="" name="password" type="password" class="form-control">
                                </div>
                               </div>
                              <div class="form-group row">
                                <div class="col-md-3">
                                   <label class="label-text">Host<span class="red-text">*</span></label>
                                </div>
                                <div class="col-md-9">
                                  <input maxlength="50" placeholder="smtp.gmail.com" id="hostid" ng-model="hostid"  autocomplete="off" required="" name="hostid" type="text" class="form-control">
                                </div>
                               </div>
                                <div class="form-group row">
                                <div class="col-md-3">
                                   <label class="label-text">Protocol<span class="red-text">*</span></label>
                                </div>
                                <div class="col-md-9">
                                  <input maxlength="50" placeholder="tls" id="protocol" ng-model="protocol"  autocomplete="off" required="" name="protocol" type="text" class="form-control">
                                </div>
                               </div>
                                <div class="form-group row">
                                <div class="col-md-3">
                                   <label class="label-text">Port<span class="red-text">*</span></label>
                                </div>
                                <div class="col-md-9">
                                  <input maxlength="50" placeholder="587" id="portno" ng-model="portno"  autocomplete="off" required="" name="portno" type="number" class="form-control">
                                </div>
                               </div>
                                <div class="form-group row" id="update_status" style="display: none">
                                <div class="col-md-3">
                                   <label class="label-text">Status<span class="red-text">*</span></label>
                                </div>
                                <div class="col-md-1">
                                  <input id="status" ng-model="status"  name="status" type="checkbox" value="Y" class="form-control">
                                </div>
                                <div class="col-md-8">Check the checkbox to Active</div>
                               </div>
                                <div class="form-group row">
                                  <input type="hidden" id="smtp_hidid" name="smtp_hidid" value=''>
                                </div>
                                <div class="form-group row">
                                  <input type="hidden" id="postid" name="postid" value='{{postid}}'>
                                </div>
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="float-right">
                                    <button class="button-normal btn-save-icon" type="submit">Save</button>
                                    <button class="button-normal btn-reset-icon" id="resets" type="reset">Reset</button>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div>* All Inputs Should  Begin Without spaces</div>
                              </div>
                          </form>
                        </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-12 pad-0">
                  <div class="card">
                  <div class="table-responsive">
                  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper">
                    <table class="table-striped table-sort dataTable" id="DataTables_Table_0" role="grid">
                      <thead>
                        <tr role="row">
                          <th  class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" aria-sort="descending" aria-label="Heading: activate to sort column ascending">EMail Id</th>
                          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" aria-label="Content: activate to sort column ascending" >Username</th>
                          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" aria-label="Image: activate to sort column ascending">Host</th>
                          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" aria-label="Sequence: activate to sort column ascending">Protocol</th>
                          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" aria-label="Sequence: activate to sort column ascending">Port</th>
                          <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Edit" style="width: 46px;">Edit</th>
                          <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Delete" style="width: 69px;">  Delete
                          </th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <td rowspan="1" colspan="1">
                            <input ng-change="emailsearch()" ng-model="email_search" type="text" name="" class="search-table">
                          </td>
                          <td rowspan="1" colspan="1">
                            <input ng-change="usernamesearch()" ng-model="username_search" type="text" name="" class="search-table">
                          </td>
                          <td rowspan="1" colspan="1">
                            <input ng-change="hostsearch()" ng-model="host_search" type="text" name="" class="search-table">
                          </td>
                          <td rowspan="1" colspan="1">
                            <input ng-change="protocolsearch()" ng-model="protocol_search" type="text" name="" class="search-table"></td>
                          <td rowspan="1" colspan="1">
                            <input ng-change="portsearch()" ng-model="port_search" type="text" name="" class="search-table">
                          </td>
                          <td rowspan="1" colspan="1"></td>
                          <td rowspan="1" colspan="1"></td>
                        </tr>
                      </tfoot>
                      <tbody>
                       <tr ng-repeat="(key, value) in pagedItems[currentPage]">
                          <td>{{'{{value.emailid}}'}}</td>
                          <td>{{'{{value.username }}'}}</td>
                          <td>{{'{{value.hostid }}'}}</td>
                          <td>{{'{{value.protocol}}'}}</td>
                          <td>{{'{{value.portno}}'}}</td>
                          <td><a  ng-click='editsmtp(value.id)' class="edit-icons"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                          <td><span  id="{{'{{value.id}}'}}" ng-click="deleteconfirm(value.id)" class="delete-icons" ><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></span></td>
                        </tr>
                      </tbody>
                  </table>
                </div>
                  </div>
                  <div class="container-fluid pad-0 bg-pagination">
                      <ul class="pagination pull-right pagi_master ">
                        <li ng-class="{disabled: currentPage == 0}">
                            <a href ng-click="prevPage()">«</a>
                        </li>
                        <li ng-repeat="n in pagenos | limitTo:5"
                            ng-class="{active: n == currentPage}"
                        ng-click="setPage()">
                            <a href ng-bind="n + 1">1</a>
                        </li>
                        <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                            <a href ng-click="nextPage()">»</a>
                        </li>
                      </ul>
                    </div>
                </div>
              </div>




                </div>
                <!-- <div class="col-md-5">
                  <div class="card">
                    <div class="card-header">
                         <h3 class="card-title">Selected Theme</h3>
                    </div>
                      <div class="card-body px-3 py-3">
                          <div class="demo-item">
                            <div class="demo-thumb" style="background-image:url(assets/images/template_1.png)">
                              <a href="" class="image" target="_blank"></a>
                            </div>
                            <div class="demo-content">
                              <span class="change-theme"><a href="javascript://">Change Theme</a></span>
                              <span class="change-theme"><a href="https://www.apagreen.com/apadesign/catapult/theme1/" target="_blank">Demo</a></span>
                            </div>
                          </div>
                       </div>
                    </div>
                  </div> -->
                </div>

                </div>


           </div>
        </div>


<div id="myModal" class="modal fade">
<div class="modal-dialog modal-confirm">
  <div class="modal-content">
    <div class="">
      <div class="icon-box">
        <i class="material-icons">&#xE5CD;</i>
      </div>
      <h4 class="modal-title cclr">Are you sure?</h4>
        <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
      <p typess="aboutus"  id="confirms">Do you really want to delete these records?</p>
    </div>
    <div class="modal-footer svv">
      <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
      <button  id="delsmtpid" type="button" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
</div>

