<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
<div ng-app="postApp" ng-cloak ng-controller="postController">
<div class="content">
 <div class="container-fluid">
    <div class="page-title-box">
       <h4 class="page-title">Terms and Conditions</h4>
       <div  class="alert alert-success" {% if title == "" %} style="display:none" {% endif %}>
          {{title}}
        </div>
        <div  class="alert alert-danger" {% if error == "" %} style="display:none;color:red" {% endif %}>
          {{error}}
        </div>
        <div class="float-right">
             <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card mt-10">
          <div class="card-header card-header-toggle">
            <h3 class="card-title"><span>Click Here to Add </span><font id="updateterms"> Terms and Conditions</font></h3>
          </div>
            <div class="card-body card-body-toggle">
              <div class="row">
                <div class="col-md-12 col-lg-7">
               <form action="termsandcondition" id="resetform" method="post" enctype="multipart/form-data">
                <div class="form-group row">

                  <div class="col-md-3">
                     <label class="label-text">Heading<span class="red-text">*</span></label>
                  </div>
                  <div class="col-md-9">
                    <input id="headings" required="" maxlength="50" placeholder="Maximum 50 words" ng-model="heading"  autocomplete="off" required="" name="heading" pattern=".*\S+.*" type="text" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-3">
                    <label class="label-text">Content<span class="red-text">*</span></label>
                  </div>
                  <div class="col-md-9">
                    <textarea autocomplete="off" name="editor1" required="" type="text" ng-model="contents" class="form-control">
                    </textarea>
                  </div>
                </div>
                  <div class="form-group row">
                    <input type="hidden" id="postid" name="postid" value='{{postid}}'>
                  </div>
                  <div class="form-group row">
                    <input type="hidden" id="hidden_id" name="hidden_id">
                  </div>
                  <div class="form-group row">
                    <div class="col-md-3">
                       <label class="label-text">Sequence<span class="red-text">*</span></label>
                    </div>
                    <div class="col-md-2">
                       <input required="" type="number" id="sequencedata" name="sequence" autocomplete="off" class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-3"></div>
                  <div class="col-md-9">
                    <div>
                      <button class="button-normal btn-save-icon" name="terms" value="save" type="submit">Save</button>
                      <button class="button-normal btn-reset-icon" id="resets" type="reset">Reset</button>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="rel_lf mand">* All Inputs Should  Begin Without spaces</div>
                  </div>
              </form>
            </div>
              </div>
            </div>
        </div>

        <div class="col-md-12 pad-0">
          <div class="card">
            <div class="table-responsive">
              <table class="table-striped table-sort">
                <thead>
                <tr>
                  <th>Heading</th>
                  <th>Content</th>
                  <th>Sequence</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tfoot>
                  <tr>
                    <td rowspan="1" colspan="1">
                      <input ng-change="termsheadingsearch()" ng-model="termsheading_search" type="text" name="" class="search-table">
                    </td>
                    <td rowspan="1" colspan="1">
                      <input ng-change="termscontentsearch()" ng-model="termscontent_search" type="text" name="" class="search-table">
                    </td>
                    <td rowspan="1" colspan="1">
                      <input ng-change="termssequencesearch()" ng-model="termssequence_search" type="text" name="" class="search-table"></td>
                    <td rowspan="1" colspan="1"></td>
                    <td rowspan="1" colspan="1"></td>
                  </tr>
                </tfoot>
              <tbody>
              <tr ng-repeat="(key, value) in pagedItems[currentPage]">
                <td>{{'{{value.title}}'}}</td>
                <td>{{'{{value.body }}'}}</td>
                <td>{{'{{value.sequence}}'}}</td>
                <td><a  ng-click='editterms(value.id)' class="edit-icons"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                <td><span  id="{{'{{value.id}}'}}" ng-click="deleteterms(value.id)" class="delete-icons" ><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="container-fluid pad-0 bg-pagination">
          <ul class="pagination pull-right pagi_master ">
            <li ng-class="{disabled: currentPage == 0}">
              <a href ng-click="prevPage()">«</a>
            </li>
            <li ng-repeat="n in pagenos | limitTo:5" ng-class="{active: n == currentPage}" ng-click="setPage()">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
              <a href ng-click="nextPage()">»</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-content_in">
        <div class="icon-box">
            <i data-dismiss="modal" class="fa fa-close"></i>
        </div>
        <h4 class="modal-title cclr">Are you sure?</h4>
          <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p  id="confirms" typess="terms_and_conditions">Do you really want to delete these records?</p>
      </div>
      <div class="modal-footer svv">
        <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
        <button  id="termsdelid" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
  <script>
    CKEDITOR.replace('editor1');
  </script>
