
<!--
<div class="col-lg-3 col-md-3 col-sm-5 col-xs-12"">
            <h2 class="footer_title">LOCATIONS</h2>
            <div class="col-sm-12">
              <ul class="personal_info">
                {% for key,val in loca %}
                {% if  val[1] == '226' %}
                  {% set res = 'Riverview' %}
                {% endif %}

                {% if  val[1] == '227' %}
                  {% set res = 'Jacksonville' %}
                {% endif %}

                {% if  val[1] == '228' %}
                  {% set res = 'Slidell' %}
                {% endif %}

                {% if  val[1] == '229' %}
                  {% set res = 'Conley' %}
                {% endif %}

                {% if  val[1] == '230' %}
                  {% set res = 'Houston' %}
                {% endif %}

                {% if  val[1] == '231' %}
                  {% set res = 'Indianapolis' %}
                {% endif %}

                {% if  val[1] == '246' %}
                  {% set res = 'Dayton' %}
                {% endif %}

                {% if  val[1] == '248' %}
                  {% set res = 'Lebanon' %}
                {% endif %}

                {% if  val[1] == '250' %}
                  {% set res = 'Mobile' %}
                {% endif %}

                <li>
                  <a href="{{ url('<front>') }}our_location/{{res}}">{{val[0]}}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div> //-->


      <div class="col-sm-4 col-md-2 col-lg-2">
        <div class="footer-title">
          Location
        </div>
        <ul class="footer-listing">
          {% for key,val in loca %}
                {% if  val[1] == '226' %}
                  {% set res = 'Riverview' %}
                {% endif %}

                {% if  val[1] == '227' %}
                  {% set res = 'Jacksonville' %}
                {% endif %}

                {% if  val[1] == '228' %}
                  {% set res = 'Slidell' %}
                {% endif %}

                {% if  val[1] == '229' %}
                  {% set res = 'Conley' %}
                {% endif %}

                {% if  val[1] == '230' %}
                  {% set res = 'Houston' %}
                {% endif %}

                {% if  val[1] == '231' %}
                  {% set res = 'Indianapolis' %}
                {% endif %}

                {% if  val[1] == '246' %}
                  {% set res = 'Dayton' %}
                {% endif %}

                {% if  val[1] == '248' %}
                  {% set res = 'Lebanon' %}
                {% endif %}

                {% if  val[1] == '250' %}
                  {% set res = 'Mobile' %}
                {% endif %}

                <li>
                  <a href="{{ url('<front>') }}our_location/{{res}}">{{val[0]}}</a>
                </li>
                {% endfor %}
        </ul>
      </div>