<div class="col-sm-12 col-md-4 col-lg-4">
    <div class="footer-logo">
        <ul class="footer-logo-listing">
            <li><img src="{{ url('<front>') }}themes/RTS/images/footer-allison.png"></li>
            <li><img src="{{ url('<front>') }}themes/RTS/images/footer_logo.png"></li>
        </ul>
        <ul class="footer-social-listing">
            <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>