@import url(https://fonts.googleapis.com/css?family=Roboto:400,500|Sarabun:400,600,700);
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=devanagari,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

body {
	background-repeat: repeat;
	background-color: rgba(234, 249, 255, 0.04);
	font-family: Poppins, sans-serif;
	color: #5b626b;
	font-size: 14px
}

html {
	overflow-x: hidden;
	position: relative;
	min-height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 10px 0;
	font-family: Sarabun, sans-serif;
	font-weight: 600
}
button, input, optgroup, select, textarea {
	margin: 0;
	font-family: Poppins, sans-serif;
	font-size: inherit;
	line-height: inherit;
	font-weight: 500;
}
p {
	line-height: 1.7
}

svg {
	max-width: 100%
}

a {
	color: #6c757d
}

a:hover {
	outline: 0;
	text-decoration: none
}

a:active {
	outline: 0;
	text-decoration: none
}

a:focus {
	outline: 0;
	text-decoration: none
}

b,
strong {
	font-weight: 500
}

img{
	max-width: 100%;
}

ul, li{
	list-style: none;
}
.container-alt {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px
}

#wrapper {
	height: 100%;
	overflow: hidden;
	width: 100%
}

.slimScrollDiv {
	height: auto!important
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #626ed4
}

.social-links li a {
	border-radius: 50%;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center
}


.breadcrumb>li+li:before {
	padding: 0 5px;
	color: #9ca8b3;
	content: "\f105"!important;
	font-family: FontAwesome
}

.blockquote {
	padding: 10px 20px;
	margin-bottom: 20px;
	border-left: 4px solid #e9ecef
}

.blockquote-reverse {
	border-left: 0;
	border-right: 4px solid #e9ecef;
	text-align: right
}

.bg-primary {
	background-color: #626ed4!important
}

.bg-success {
	background-color: #02a499!important
}

.bg-info {
	background-color: #38a4f8!important
}

.bg-warning {
	background-color: #f8b425!important
}

.bg-danger {
	background-color: #ec4561!important
}

.bg-muted {
	background-color: #9ca8b3!important
}

.bg-white {
	background-color: #fff!important
}

.text-white {
	color: #fff!important
}

.text-danger {
	color: #ec4561!important
}

.text-muted {
	color: #9ca8b3!important
}

.text-primary {
	color: #626ed4!important
}

.text-warning {
	color: #f8b425!important
}

.text-success {
	color: #02a499!important
}

.text-info {
	color: #38a4f8!important
}

.text-dark {
	color: #2a3142!important
}

.badge {
	font-weight: 500
}

.badge-primary {
	background-color: #626ed4
}

.badge-success {
	background-color: #02a499
}

.badge-info {
	background-color: #38a4f8
}

.badge-warning {
	background-color: #f8b425;
	color: #fff
}

.badge-danger {
	background-color: #ec4561
}

.badge-dark {
	background-color: #2a3142
}

dt {
	font-weight: 500
}

.spinner-border,
.spinner-grow {
	margin-right: 10px;
	margin-top: 10px
}

.custom-control-input:checked~.custom-control-label:before {
	border-color: #626ed4;
	background-color: #626ed4
}

.p-0 {
	padding: 0
}

.pt-10 {
	padding-top: 10px!important;
}

.pb-10 {
	padding-bottom: 10px!important;
}

.m-0 {
	margin: 0!important;
}

.mr-5 {
	margin-right: 5px;
}

.mr-10 {
	margin-right: 10px;
}

.mr-15 {
	margin-right: 15px;
}

.ml-10 {
	margin-left: 10px;
}

.ml-15 {
	margin-left: 15px;
}

.mt-5 {
	margin-top: 5px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mb-5 {
	margin-bottom: 5px
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mb-50 {
	margin-bottom: 50px;
}


.w-30 {
	max-width: 30px;
}
.w-100{
	width: 100%;
}

.w-xs {
	min-width: 80px
}

.w-sm {
	min-width: 95px
}

.w-md {
	min-width: 110px
}

.w-lg {
	min-width: 140px
}

.lh-23 {
	line-height: 23px
}

.lh-34 {
	line-height: 34px
}
.lh-70 {
	line-height: 70px
}

.vl-m{
	vertical-align: middle;
}
.vl-t{
	vertical-align: top;
}
.vl-b{
	vertical-align: bottom;
}

.font-12 {
	font-size: 12px !important;
}

.font-14 {
	font-size: 14px !important;
}

.font-16 {
	font-size: 16px !important;
}

.font-18 {
	font-size: 18px !important;
}

.font-20 {
	font-size: 20px !important;
}

.font-24 {
	font-size: 24px !important;
}

.font-30 {
	font-size: 30px !important;
}

.thumb-sm {
	height: 32px;
	width: 32px
}

.thumb-md {
	height: 48px;
	width: 48px
}

.thumb-lg {
	height: 88px;
	width: 88px
}

.font-500 {
	font-weight: 500
}

.font-600 {
	font-weight: 600
}

.display_inlineblock{
	display: inline-block;
}

.h-100{
	height: 100%;
}


.header-title {
	font-size: 16px
}

.position_realtive{
	position: relative;
}



/*Login Page Css*/


.login-bg{
    background-color: #F1F4F5;
}
.login-fonts{
	font-family: 'Poppins', sans-serif;
}

.authincation-content {
    background: #fff;
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
    border-radius: 5px;
}

.welcome-content{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #f1f5ff;
}

.brand-logo{
	width: 300px;
}
.auth-form {
    padding: 40px 50px;
		position: relative;
    z-index: 1;
}

.auth-form h4{
	font-family: 'Poppins', sans-serif;
}

.auth-form .form-control {
    background: #fff;
    border: 1px solid #bdbbbb;
    height: 45px;
    color: #454545;
}

.auth-form .form-control:hover, .auth-form .form-control:focus, .auth-form .form-control.active {
    box-shadow: none;
    border-color: #dedbfb;
    color: #454545;
}
login-button{
	width: 100%;
    background: #0069d9;
    font-weight: bold;
    color: #fff!important;
    text-align: center;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px 5px;
    display: block;
}
/*progressbar*/
.progressbar {
  margin-bottom: 30px;
  display: inline-block;
    width: 100%;
}
.progressbar li {
  list-style-type: none;
  color: #0069d9;
  text-transform: uppercase;
  font-size: 14px;
  width: 33.33%;
  float: left;
  position: relative;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.progressbar li.active.complete:before {
 background: #0069d9;
  border: 4px solid transparent;
  border-radius: 100%;
  color: #fff;
  content: '\f00c';
  display: inherit;
  font-family: "FontAwesome";
  height: 24px;
  line-height: 17px;
  margin: 0 auto;
  margin-bottom: 10px;
  transition: border-color 40ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 24px;
  animation: inherit;
}
.progressbar li.active:before {
animation: pulse 2s infinite;
    border: 4px solid #0069d9;
}
.progressbar li:before {
  background: #ffffff;
  border-radius: 100%;
  border: 4px solid #9e9999;
  //color: rgba(255, 255, 255, 0.87);
  content: '';
  display: inherit;
  /*font-family: "FontAwesome";*/
  height: 24px;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 10px;
  transition: border-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 24px;
}
/*progressbar connectors*/
.progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #007bff;
  position: absolute;
  left: -50%;
  top: 13px;
  z-index: -1; /*put it behind the numbers*/
}
.progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
/*#progressbar li.active:before,  #progressbar li.active:after{
  background: #27AE60;
  color: white;
}*/
fieldset{
	width: 80%;
	margin:0 auto;
}
fieldset:not(:first-of-type){
	display: none;
}
fieldset h6{
	font-size: 16px;
	line-height: 26px;
  text-align: center;
}
.login-fieldset{
  width: 100%;
}
.login-fieldset .authincation-content{
  box-shadow: 0 0 5px 0 rgba(154, 161, 171, 0.15);
}
.login-fieldset .welcome-content{
      background: #fff;
}
.login-fieldset .auth-form{
  padding: 20px 50px;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(50, 68, 156, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(50, 68, 156, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(50, 68, 156, 0);
  }
}
.action-button {
  width: 100px;
  background: #0069d9;
  font-weight: bold;
  color: #fff!important;
  text-align: center;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px 5px;
  float: right;
}
.
.action-button:hover, .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #0069d9;
}
.header-login{
  float: right;
  margin: 15px auto;
  display: inline-block;
}
.menu-section{
  display: inline-block;
  /*margin-left: 30px;*/
}
.menu-section ul li{
  display: inline-block;
  padding: 0 10px;
}
.menu-section ul li a{
    font-size: 18px;
    color: #2171b9;
    font-family: Poppins;
    font-weight: 500;
}
.home-header .logo{
  display: inline-block;
}



/*Menu Css*/

.metismenu {
	padding: 0
}

.metismenu ul {
	padding: 0
}

.metismenu ul li {
	list-style: none
}

.submenu li{
	border-bottom: 1px solid #d1d1d2;
}

.submenu li a {
	padding: 8px 20px 8px 10px;
	color: #353535;
	display: block;
	-webkit-transition: all .5s;
	transition: all .5s;
	font-size: 15px;
}

.submenu li a:focus {
	background-color: left-bar
}

.submenu li a:hover {
	background-color: #333547;
	background: rgba(176, 229, 255, 0.28);
}

.submenu>li>a {
	padding-left: 50px
}

.submenu li.active>a {
	/*    color: #000000;
    background-color: #d8d8d8;*/
    color: #009efb;
    text-decoration: underline;
}

.submenu.collapse.in{
	background-color: #f3f3f3;
}


.topbar {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
	/*box-shadow: 0 5px 28px #d6def4;*/
	box-shadow: 0 5px 5px #d6def4;
    background: #fff;
}

.topbar .topbar-left {
    float: left;
    text-align: center;
    height: 70px;
    position: relative;
    width: 240px;
    z-index: 1;
    border-right: 1px solid #eaf6ff;

}

.topbar .topbar-left .logo {
	line-height: 70px
}

.topbar .topbar-left .logo i {
	display: none
}

.user-img {
    display: inline-block;
    position: relative;
    margin-right: 5px;
}

.user-img img {
    width: 24px;
}

.rounded-circle {
    border-radius: 50%!important;
}

.user-text{
	font-size: 16px;
}

.logout_text{
	font-size: 16px;
	color:;
}

.pt-17{
	padding-top: 17px;
}

.btn-purchase {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font-size: 16px;
    color: #fff;

}

.btn-purchase span.icon,
.btn-purchase span.title {
    display: block;
    position: relative;
    line-height: 40px;
    padding: 0 30px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.btn-purchase span.left {
    float: left;
    border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
}

.btn-purchase span.right {
    float: right;
    border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
}

.btn-purchase span.icon {
    font-size: 23px;
    background-color: #0972c5;
    -webkit-box-shadow: 0 3px 0 0 #0972c5;
    box-shadow: 0 3px 0 0 #0972c5;
}

.btn-purchase span.title {
    -webkit-box-shadow: 0 3px 0 0 #0371ca;
    box-shadow: 0 3px 0 0 #0371ca;
    background-color: #2399f7;
}

.btn-purchase span.arrow-left,
.btn-purchase span.arrow-right {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    -webkit-transition: all .15s;
    -transition: all .15s;
    -webkit-transition-property: left, right;
    transition-property: left, right;
}

.btn-purchase.left span.arrow-left {
    right: 0;
    -webkit-box-shadow: 10px 0 0 0 #00cdae, 10px 3px 0 0 #00ae94;
    box-shadow: 10px 0 0 0 #00cdae, 10px 3px 0 0 #00ae94;
    border-right: 10px solid #00cdae;
}

/*.btn-purchase.right span.arrow-left {
    right: 0;
    -webkit-box-shadow: 10px 0 0 0 #00967f, 10px 3px 0 0 #007261;
    box-shadow: 10px 0 0 0 #00967f, 10px 3px 0 0 #007261;
    border-right: 10px solid #00967f;
}
*/
.btn-purchase.left span.arrow-right {
    left: 0;
    -webkit-box-shadow: -10px 0 0 0 #0972c5, -10px 3px 0 0 #085c9e;
    box-shadow: -10px 0 0 0 #0972c5, -10px 3px 0 0 #0972c5;
    border-left: 10px solid #0972c5;
}

/*.btn-purchase.right span.arrow-right {
    left: 0;
    -webkit-box-shadow: -10px 0 0 0 #00cdae, -10px 3px 0 0 #00ae94;
    box-shadow: -10px 0 0 0 #00cdae, -10px 3px 0 0 #00ae94;
    border-left: 10px solid #00cdae;
}*/

.btn-purchase:hover{
	color: #fff;
}
.btn-purchase:hover span.arrow-left {
    right: 10px;
}

.btn-purchase:hover span.arrow-right {
    left: 10px;
}


.app-search {
    margin-top: 18px;
    position: relative;
}

.app-search .form-control{
    border: 1px solid #e0e0ea;
    font-size: 13px;
    height: 34px;
    padding-left: 18px;
    padding-right: 40px;
    margin-right: 20px;
    background: #e0e0ea;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 30px;
    width: 200px;
}

.app-search button {
    position: absolute;
    top: 8px;
    right: 30px;
    display: block;
    color: #9ca8b3;
    font-size: 11px;
    border: none;
    background-color: transparent;
}

.app-search .header-search {
    background: #f4f7fe;
    color: #56667a;
    border: 1px solid rgba(123, 65, 216,0.1) !important;
}

.app-search .header-search:focus {
    background: #fff;
    color: #56667a;
}

.form-control{
	height: calc(30px + 2px);
	padding: 0px 6px;
}

.form-control:focus {
    border-color: #4fa3ff;
    box-shadow: 0 0 0;
}

.navbar-custom {
	border-radius: 0;
	margin-bottom: 0;
	padding: 0 10px 0 0;
	min-height: 70px
	box-shadow: 0 5px 28px #d6def4;
    background: #fff;
}

.navbar-custom .nav-link {
	padding: 0 4px
}

.navbar-custom .navbar-right .dropdown-toggle:after {
	content: initial
}

.logo {
	color: #2399f7!important;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.logo img{
/*	width: 100%;*/
	max-width: 100%;
	padding:5px;
	/* height: 100%; */
}

.logo span span {
	color: #626ed4
}

.top_logout{
	margin: 20px 0 0 10px;
	display: inline-block;

}

.menu-toggler {
    line-height: 20px;
    cursor: pointer;
    /* opacity: .7; */
    filter: alpha(opacity=70);
    display: block;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    background: none;
    height: 18px;
    width: 25px;
    border-top: 2px solid #0088cc;
    border-bottom: 2px solid #0088cc;
    position: relative;
}

.menu-toggler:before {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 0px;
    height: 2px;
    width: 150%;
    background: #0088cc;
}



.side-menu {
	width: 240px;
    z-index: 10;
    background: #ffffff;
    bottom: 0;
    margin-top: 0;
    padding-bottom: 30px;
    position: fixed;
    top: 70px;
    box-shadow: 0 20px 28px #d6def4;
    -webkit-transition: left 0.3s ease, width 0.3s ease;
    -o-transition: left 0.3s ease, width 0.3s ease;
    transition: left 0.3s ease, width 0.3s ease;
    background: #fff;
    color: #56667a;
    border-top: 1px solid #eaf2f9;
}

.side-menu .waves-effect .waves-ripple {
	background-color: rgba(51, 53, 71, .4)
}

.enlarged .side-menu {
	position: absolute
}

.content-page {
	margin-left: 240px;
	overflow: hidden
}
.full-content-page{
}
.full-content-page .content{
padding: 0 15px 10px 15px;
margin-top: 75px;
margin-bottom: 60px
}
.content-page .content {
	padding: 0 15px 10px 15px;
	margin-top: 75px;
	margin-bottom: 60px
}

.button-menu-mobile {
	border: none;
	color: #525f80;
	display: inline-block;
	height: 70px;
	width: 60px;
	background-color: transparent;
	font-size: 24px;
	position: absolute;
    top: 20px;
    left: 10px;
    margin: 0px;
    z-index: 99999;
    text-align: center;
}

#sidebar-menu>ul>li{
	border-bottom: 1px solid #e9f8ff;
}
#sidebar-menu>ul>li>a {
	color: #545454;
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	position: relative;
	-webkit-transition: all .5s;
	transition: all .5s;
	font-family: 'Rubik', sans-serif;

}

#sidebar-menu>ul>li>a:active,
#sidebar-menu>ul>li>a:focus,
#sidebar-menu>ul>li>a:hover {
	color: #545454;
	text-decoration: none;
	/*background-color: rgba(0, 0, 0, 0.03);*/

}

#sidebar-menu>ul>li>a>span {
	vertical-align: middle;
	margin-left: 7px
}



#sidebar-menu .badge {
	margin-top: 7px
}



#sidebar-menu li.active .menu-arrow i {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	vertical-align: bottom;
}

#sidebar-menu ul li a i {
	vertical-align: middle;
	font-size: 14.7px;
	width: 20px;
	display: inline-block
}

#sidebar-menu>ul>li>a.active {
	color: #000!important;
	background: rgba(176, 229, 255, 0.28);
	border-left: 4px solid #1382e0;

}

.menu-title {
	padding: 12px 20px!important;
	letter-spacing: 1px;
	font-size: 10px;
	font-weight: 500;
	text-transform: uppercase;
	color: #b4bfcc
}

.enlarged .slimScrollDiv {
	overflow: inherit!important
}

.enlarged .slimScrollBar {
	visibility: hidden
}

/*.enlarged #wrapper .navbar-custom {
	margin-left: 70px
}
*/
.enlarged #wrapper #sidebar-menu .badge,
.enlarged #wrapper #sidebar-menu .menu-arrow,
.enlarged #wrapper #sidebar-menu .menu-title {
	display: none!important
}

.enlarged #wrapper #sidebar-menu .collapse.in {
	display: none!important
}

.enlarged #wrapper #sidebar-menu .nav.collapse {
	height: inherit!important
}

.enlarged #wrapper #sidebar-menu ul ul {
	margin-top: -2px;
	padding-bottom: 5px;
	padding-top: 5px;
	z-index: 9999;
	/*background-color: #333547*/
	background-color: #f3f3f3;
}

.enlarged #wrapper .left.side-menu {
	width: 70px;
	z-index: 5
}

.enlarged #wrapper .left.side-menu #sidebar-menu>ul>li>a {
	padding: 15px 20px;
	min-height: 56px;
	-moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.enlarged #wrapper .left.side-menu #sidebar-menu>ul>li>a:active,
.enlarged #wrapper .left.side-menu #sidebar-menu>ul>li>a:focus,
.enlarged #wrapper .left.side-menu #sidebar-menu>ul>li>a:hover {
	color: #545454;
	background-color: rgba(0, 0, 0, 0.03);
}

.enlarged #wrapper .left.side-menu #sidebar-menu>ul>li>a i {
	font-size: 18px;
	margin-left: 5px;
	margin-right: 20px!important
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul>li {
	position: relative;
	white-space: nowrap
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul>li:hover>a {
	position: relative;
	width: 260px;
	color: #000!important;
	background: rgb(202, 232, 255);
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul>li:hover>ul {
	display: block;
	left: 70px;
	position: absolute;
	width: 190px;
	height: auto!important
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul>li:hover>ul a {
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 8px 20px;
	position: relative;
	width: 190px;
	z-index: 6
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul>li:hover>ul a:hover {
	color: #fff
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul>li:hover a span {
	display: inline
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul ul li:hover>ul {
	display: block;
	left: 190px;
	margin-top: -36px;
	position: absolute;
	width: 190px
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul ul li>a span.float-right {
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	position: absolute;
	right: 20px;
	top: 12px;
	transform: rotate(270deg)
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul ul li.active a {
	color: #fff
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul>li>a span {
	display: none;
	padding-left: 10px
}

.enlarged #wrapper .left.side-menu .user-details {
	display: none
}

.enlarged #wrapper .content-page {
	margin-left: 70px
}

.enlarged #wrapper .footer {
	left: 70px
}

/*.enlarged #wrapper .topbar .topbar-left {
	width: 70px!important
}
*/

.enlarged #wrapper #sidebar-menu>ul>li:hover>a.open :after {
	display: none
}

.enlarged #wrapper #sidebar-menu>ul>li:hover>a.active :after {
	display: none
}
@media (max-width: 768px){
.enlarged .left.side-menu {
    margin-left: -70px;
}

}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid rgba(152, 166, 173, 0.1);
    border-radius: 4px;
    background-clip: padding-box;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #56667a;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-menu-right:before {
    content: "";
    position: absolute;
    right: 11px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #2399f7 transparent;
    z-index: 9999;
}


.dropdown-icon {
    color: #56667a;
    margin-right: .5rem;
    margin-left: -.5rem;
    width: 1em;
    display: inline-block;
    text-align: center;
    vertical-align: -1px;
}

.fe-user:before {
    content: "\e9ef";
}
li.right-side-menu{
    margin-right:10px;
    /*padding:0 10px;*/
}
li.right-side-menu a{
    font-size:16px;
    padding: 8px 10px;
    border-radius: 2px;
}
li.right-side-menu.active a {
    background: #2171B9;
    color:#fff;
}
li.right-side-menu:hover a{
  background: #2171B9;
    color:#fff;
}
.page-title-box {
    padding: 10px 0;
}

.page-title{
	display: inline-block;
	vertical-align: top;
	margin:0;
}

.card {
    border: none;
   /* -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);*/
    -webkit-box-shadow: 0 0 5px 0 rgba(239, 239, 239, 0.69);
    box-shadow: 0 0 5px 0 rgba(239, 239, 239, 0.69);
    margin-bottom: 30px;
   	border: 1px solid rgba(226, 226, 226, 0.69);
}


.card-body {
    padding: 10px;
}
.card-header{
	background: none;
    padding: 8px 10px;
    margin-bottom: 10px;

}
.gengral-title h5{
      font-weight: 600;
    color: #5b626b;
    font-size: 22px;
    margin-bottom:20px;
    display: inline-block;
    position: relative;
}
.gengral-title h5:after {
    content: '';
    width: 20%;
    height: 2px;
    background: #2171b9;
    position: absolute;
    bottom: -7px;
    left: 0;
}
.orstyle{
  font-size: 22px;
  font-weight: 800;
  margin: 20px 0;
}
.card-title {
    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 0;
    display: inline-block;
    vertical-align: top;
		color: #c30000;

}

.card-title:only-child {
    margin-bottom: 0;
}



.card-header-toggle{
	margin-bottom: 0;
	border-bottom: 0px solid transparent;
	cursor: pointer;
	/*background: #2399f7;*/
	/*background: #e3e8f7;*/
	color: #216fc1;
	position: relative;
	background: linear-gradient(to bottom, #feffff 0%,#f0fbff 100%);
}

.card-header-toggle.show-card{
	background: #2399f7;
	color: #fff;
}
.card-header-toggle .card-title span:before{
  content: url('../images/icons/add-to-queue-button.png');
  display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}
.card-header-toggle .card-title{
  text-decoration: underline;
}
.card-header-toggle.show-card .card-title{
 text-decoration: none;
 color: #fff;
}
.card-body-toggle{
	display: none;
	border-top: 1px solid rgba(0,0,0,.125);
	padding-top: 20px;
}
.card-header-toggle.show-card .card-title span{
	display: none;
}
.card-header-toggle .card-title:after {
    content: '\f067';
    font-family: 'FontAwesome';
    text-align: right;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    top: 25%;
    right: 20px;
}


.card-header-toggle.show-card .card-title:after {
    content: '\f068';
}


.edit-icons{
	color: #03983f;
	font-size: 16px;
}

.delete-icons{
	color: #bd2130;
	font-size: 16px;
}
.delete-icons:hover{
	color: #bd2130;
}
.edit-icons:hover{
	color: #03983f;
}

.button-div{
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 6px 10px;
    font-size: 0.9375rem;
    line-height: 1;
    border-radius: 1px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}



.button-div:hover{
	color: #fff;
}

.button-normal{
	display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
     font-size: 0.9375rem;
    line-height: 1;
    border-radius: 1px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
	color: #000;
	 padding: 6px 10px;
	border: 1px solid #e2e2e2;
    /*background-color: #fdfdfd;*/
    box-shadow: 0 0 1px #e6e6e6;
    background:linear-gradient(to bottom, #feffff 0%,#f0fbff 100%);
    /*background: linear-gradient(to bottom, #fcfcfc 0%,#f9f9f9 100%);*/

}
/* .button-normal:hover{
	color: #000;
} */


.button-save{
	color: #fff;
    background-color: #03983f;
    border-color: #03983f;
}

.button-cancel{
	color: #fff;
    background-color: #bd2130;
    border-color: #bd2130;
}

.button-seo{
	background-color: #03A9F4;
	border-color: #03A9F4;
	color: #fff;
}
.button-search{
	background-color: #035bf4;
	border-color: #035bf4;
    color: #fff;
}

.button-back{
	background-color: #717171;
	border-color: #717171;
	color: #fff;
}
.button-upload{
	background-color: #03A9F4;
	border-color: #03A9F4;
	color: #fff;
}

.button-purchase{
	background: 0 0;
	border: 2px solid #2399f7;
	color: #fff;
	padding: 0 18px;
	border: 2px solid #2399f7;
    margin: 2px 10px 0;
    border-radius: 20px;
    text-shadow: none;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
    white-space: nowrap;
    background: #2399f7;
    font-size: 16px!important;;
    color: #fff!important;
		line-height: 28px !important;
}

.btn-reset-icon{
	background: url('../images/icons/cancel.png'), linear-gradient(to bottom, #feffff 0%,#f0fbff 100%);
	background-repeat: no-repeat;
	background-position: 4px;
    padding-left: 26px;
		color: #DD1D1D;
}

.btn-save-icon{
	background-image: url('../images/icons/save.png'), linear-gradient(to bottom, #feffff 0%,#f0fbff 100%);
	background-repeat: no-repeat;
	background-position: 4px;
    padding-left: 26px;
		color: #0d843e;
}

.btn-add-icon{
	background-image: url('../images/icons/add.png'), linear-gradient(to bottom, #feffff 0%,#f0fbff 100%);
	background-repeat: no-repeat;
	background-position: 4px;
    padding-left: 26px;
		color: #269c00;
}
.btn-seo-icon{
	background-image: url('../images/icons/seo-icons.png'), linear-gradient(to bottom, #feffff 0%,#f0fbff 100%);
	background-repeat: no-repeat;
	background-position: 4px;
    padding-left: 26px;
}
.btn-back-icon{
	background-image: url('../images/icons/back.png'), linear-gradient(to bottom, #feffff 0%,#f0fbff 100%);
	background-repeat: no-repeat;
	background-position: 4px;
    padding-left: 26px;
}

.btn-search-icon{
	background-image: url('../images/icons/search-icon.png'), linear-gradient(to bottom, #feffff 0%,#f0fbff 100%);
	background-repeat: no-repeat;
	background-position: 4px;
    padding-left: 26px;
}

.btn-bulkupload-icon{
	background-image: url('../images/icons/bulk-upload.png'), linear-gradient(to bottom, #feffff 0%,#f0fbff 100%);
	background-repeat: no-repeat;
	background-position: 4px;
    padding-left: 26px;
}

.btn-download-icon{
	background-image: url('../images/icons/download.png'), linear-gradient(to bottom, #feffff 0%,#f0fbff 100%);
	background-repeat: no-repeat;
	background-position: 4px;
    padding-left: 26px;
}


.btn-upload-icon{
	background-image: url('../images/icons/upload-icon.png'), linear-gradient(to bottom, #feffff 0%,#f0fbff 100%);
	background-repeat: no-repeat;
	background-position: 4px;
    padding-left: 26px;
}



/*.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}*/

.label-text{
	font-size: 15px;
	vertical-align: middle;
}
.blue-highlight{
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	padding-left:5px;
}
.blue-highlight a{
	text-decoration: underline;
	color: #009efb;
}


.check-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.form-check {
    display: inline-block;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #333;
    width: auto;
    min-width: auto;
    max-width: 100%;
    height: 100%;
    padding: 6px 10px;
}
.form-check input[type="checkbox"] + .label-text:before {
    content: "\f096";
    font-family: "FontAwesome";
    speak: none;
    font-size:18px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
}


.form-check input[type="checkbox"]:checked + .label-text:before {
    content: "\f14a";
    color: #2980b9;
    animation: effect 250ms ease-in;
}

.form-check-new .label-text{
  font-size: 16px;
}
.radio-check-inline{
  display: inline-block;
}
.radio-check-inline label{
  margin-bottom: 0;
}
.radio-check{
  margin: 6px 10px;
}
.radio-check input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio-label{
  font-size: 16px;
}
.radio-check input[type="radio"] + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #3197EE;
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    top: 0;
    margin-right: 12px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}
.radio-check input[type="radio"]:checked + .radio-label:before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio-check input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3197EE;
}
.radio-check input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio-check input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}
.paypal-box{
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    width: 100%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    -webkit-box-shadow: 0 0 5px 0 rgba(239, 239, 239, 0.69);
    box-shadow: 0 0 5px 0 rgba(239, 239, 239, 0.69);
    margin-bottom: 30px;
    border: 1px solid rgba(226, 226, 226, 0.69);
    padding: 10px;
}
.paypal-box.not-active{
  background: #fdfdfd;
}
.form-hoztal label{
  font-size: 16px;
  margin-right: 10px;
}
.form-hoztal .paypal-dropdown{
    height: calc(30px + 2px);
    padding: 2px 6px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.form-hoztal .paypal-text{
  height: calc(30px + 2px);
    padding: 2px 6px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.paypal-active{
  color: #269c00;
}
.paypal-inactive{
  color: #DD1D1D;
}




.field-row-300{
	float: left;
    width: 300px;
    margin-right: 1.33%;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: sans-serif
}
.field-row{
	display: inline-block;
	float: left;
}

.field-row-200{
	float: left;
    width: 200px;
    margin-right: 1.33%;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: sans-serif
}


.lable-inline{
    display: inline;
    font-size: 15px;
    margin-right: 2px;
}

.form-control-150{
	float: right;
    width: 148px;
    height: calc(2.0rem + 2px);
    padding: .375rem .75rem;
    text-indent: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-200{
	float: right;
    width: 200px;
    height: calc(2.0rem + 2px);
    padding: .375rem .75rem;
    text-indent: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-100{
	float: right;
    width: 100px;
    height: calc(2.0rem + 2px);
    padding: .375rem .75rem;
    text-indent: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/*************************Dashboard Tabs************************************/

.tabs{
   margin: 0px;
   padding: 0px;
	list-style: none;
    /*background: #ededed;*/
	border-bottom: 5px #2399f7 solid;
}

.tabs li{
    display: inline-block;
    margin: 0;
    padding: 10px 20px 5px 20px;
    cursor: pointer;
    font-size: 1.2em;
    line-height: 2em;
    color: #2d5eaa;
}

.tabs li:hover {
   background:#2399f7;
   color: #ffffff;
   }

.tabs li.current{
   background: #2399f7;
    color: #ffffff;
}

.tab-content{
   display: none;
   background: #fff;
   padding: 15px;
   text-align: center;
   line-height:1.4;
   /*overflow: auto;
   max-height: 700px;*/
}

.tab-content.current{
   display: inherit;
}

.dashboard_images{
	max-width: 400px;
    max-height: 380px;
}

.display_inline{
	display: inline-block;
	vertical-align: top;
}



/***********************************Image hover effect in dashboard*****************************************************/
.snip0018 {
/*font-family: 'Raleway', Arial, sans-serif;*/
    color: #fff;
    position: relative;
    overflow: hidden;
    /* margin: 10px; */
    /* min-width: 220px; */
    max-width: 400px;
    /* max-height: 220px; */
    width: 100%;
    background: #100f0f;
    text-align: center;
}
.snip0018 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip0018 img {
  opacity: 0.9;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.snip0018 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.snip0018 figcaption > div {
  height: 50%;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.snip0018 figcaption::before {
  position: absolute;
  top: 50%;
  right: 50%;
  left: 50%;
  height: 2px;
  content: '';
  opacity: 0;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.snip0018 h2,
.snip0018 p {
  margin: 0;
  padding: 30px 35px;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s,-webkit-transform 0.4s,-moz-transform 0.4s,-o-transform 0.4s,transform 0.4s;
}
.snip0018 h2 {
  display: inline-block;
  word-spacing: -0.1em;
  font-weight: 300;
  text-transform: uppercase;
  bottom: 0;
  background: rgb(34, 153, 247, 0.9);
  -webkit-transform: translate3d(0%, 50%, 0);
  transform: translate3d(0%, 50%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  font-size: 22px;
}
.snip0018 h2 span {
  font-weight: 800;
}
.snip0018 p {
  font-weight: 300;
  top: 0%;
  color: #000;
  background: #fff;
  -webkit-transform: translate3d(0%, -50%, 0);
  transform: translate3d(0%, -50%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/*.snip0018 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}*/
.snip0018:hover img {
  opacity: 0.7;
}
.snip0018:hover figcaption h2,
.snip0018:hover figcaption p {
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.snip0018:hover figcaption h2 {
  opacity: 1;
}
.snip0018:hover figcaption p {
  opacity: 1;
}
.snip0018:hover figcaption::before {
  background: #ffffff;
  left: 0px;
  right: 0px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}


/** {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}


.buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}*/

/* GENERAL BUTTON STYLING */
.button_dash,
.button_dash::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.button_dash {
  background: none;
  border: 1px solid #2299f7;
  border-radius: 5px;
  color: #2299f7;
  display: block;
  font-size: 16px;
  /*margin: 1em auto;*/
  padding: 10px 25px;
  display: inline-block;
  margin: 0 10px;
  position: relative;
  text-transform: capitalize;
}

.button_dash::before,
.button_dash::after {
  background: #2299f7;
  content: '';
  position: absolute;
  z-index: -1;
}

.button_dash:hover {
  color: #fff;
  cursor: pointer;
}

/* BUTTON 5 */
.btn-5 {
  overflow: hidden;
}

.btn-5::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn-5:hover:after {
  height: 100%;
  width: 135%;
}






/*.btn {
  color: #fff;
  cursor: pointer;
  // display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  z-index: 999;

}

.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(58, 48, 48, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  color:#333;
}

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}*/



@keyframes effect{
    0%{transform: scale(0);}
    25%{transform: scale(1.3);}
    75%{transform: scale(1.4);}
    100%{transform: scale(1);}
}


.upoad-img-button-div p{
	display: inline-block;
    margin: 0;
}
.upoad-img-button{
	position: relative;

}
.upoad-img-button span{
	text-align: center;
}



.upoad-img-button input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    left: 0;
}

.upoad-img-div{
  position: relative;
  border: 2px dashed #b5b5b5;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.upoad-img-div p{
  text-align: center;
  line-height: 100px;
  color: #000;
  font-family: Arial;
}
.upoad-img-div input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  left: 0
}
.image-upload-button{
  margin: 0 auto;
  color: #fff;
  background: #077db3;
  border: none;
  width: 50%;
  height: 35px;
  margin-top: 10px;
  border-radius: 4px;
  transition: all .2s ease;
  outline: none;
  text-align: center;
  display: block;
}


.red-text{
	color:#cf0607;
}

.form-text{
	float: left;
    margin-right: 10px;
}
.form-input{
	float: left;
}
.form-control{
	border-radius: 2px;
}


.demo-item {
    box-shadow: 0 0 5px #ccc;
}

.demo-item .image {
    display: block;
    position: relative;
    transition: all 0.3s ease 0s;
}

.demo-item .image img {
    width: 100%;
}

.demo-content{
	display: block;
	margin: 0 auto;
	text-align: center;
}
.change-theme{
	display: inline-block;
	padding:10px;
	background: #2399f7;
	color: #fff;
}
.change-theme a{
	color: #fff;
}


.demo-item .demo-thumb {
    background-size: 100% auto;
    -webkit-transition: all 5s;
    -moz-transition: all 5s;
    -o-transition: all 5s;
    transition: all 5s;
    background-position: center top;
    position: relative;
    padding-bottom: 328px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-repeat: no-repeat;
}


.demo-item:hover .demo-thumb {
    background-position: center bottom;
}


.hint-text{
	margin-top: 5px;
    color: #bd2130;
    display: inline-block;
    font-size: 12px;
}

/*Tab design*/

.card-panel{
	margin-bottom: 10px;
}
/*.card-header-panel{
	background: #2399f7;
    border-radius: 3px 3px 0 0;

}*/

.card-header-panel a.collapsed {
    background: #e3e8f7;
    /*border-radius: 3px 3px 0 0;*/
    /* box-shadow: 0 0 5px #ccc; */
    border: 1px solid #d1d7e8;
    color: #0e0e0e;
}

.card-header-panel a {
    display: block;
    padding: 10px 55px 10px 10px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    border: none;
    margin: 0;
    position: relative;
    /*background: #dd7324;*/
    background-color: #2399f7;


}
.card-body-panel{
    /*border: 1px solid #dd7324;*/
    border: 1px solid #e2e2e2;
    border-radius: 0 0 3px 3px;
    padding: 10px;
}

.card-header-panel a{
    position:relative;
}
.card-header-panel a:after {
    content:'\f068';
    font-family:'FontAwesome';
    text-align:right;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    top: 25%;
    right: 20px;
}
.card-header-panel a.collapsed:after{
    content:'\f067';
}

.switch-activeno, .layer-activeno{
position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

}
.switch-activeno{
z-index: 2;
}
.layer-activeno {
	width: 100%;
	background-color: #ebf7fc;
	transition: 0.3s ease all;
	z-index: 1;
}
.switch-activeno-but{
position: relative;
	width: 120px;
	height: 36px;
	display: inline-block;
	vertical-align: top;
}
.switch-checkbox-activeno
{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 3;
}
.switch-activeno-but .switch-activeno:before, .switch-activeno-but .switch-activeno:after, .switch-activeno-but .switch-activeno span
{
	position: absolute;
	top: 4px;
	width: 60px;
	height: 26px;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	padding: 9px 4px;
	border-radius: 2px;
	transition: 0.3s ease all;
}
.switch-activeno-but .switch-activeno:before
{
	content: '';
	left: 4px;
	background-color: #03A9F4;
}
.switch-activeno-but .switch-activeno:after
{
	content: 'INACTIVE';
	right: 0px;
	color: #4e4e4e;
}
.switch-activeno-but .switch-activeno span
{
	display: inline-block;
	left: 0px;
	color: #fff;
	z-index: 1;
}
.switch-activeno-but .switch-checkbox-activeno:checked + .switch-activeno span
{
	color: #4e4e4e;
}
.switch-activeno-but .switch-checkbox-activeno:checked + .switch-activeno:before
{
	left: 60px;
	background-color: #F44336;
}
.switch-activeno-but .switch-checkbox-activeno:checked + .switch-activeno:after
{
	color: #fff;
}
.switch-activeno-but .switch-checkbox-activeno:checked ~ .layer
{
	background-color: #fcebeb;
}
.switch-yesno, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.switch-button
{
    position: relative;
   /* top: 50%;*/
    width: 74px;
    height: 36px;
    /*overflow: hidden;*/
    display: inline-block;
    vertical-align: top;
}

.switch-button.r, .switch-button.r .layer
{
    border-radius: 100px;
}

.switch-button
{
    border-radius: 2px;
}

.switch-checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.switch-yesno
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}



.switch-button .switch-yesno:before, .switch-button .switch-yesno:after, .switch-button .switch-yesno span
{
    position: absolute;
    top: 4px;
    width: 34px;
    height: 26px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 2px;
    transition: 0.3s ease all;
}

.switch-button .switch-yesno:before
{
    content: '';
    left: 4px;
    background-color: #03A9F4;
}

.switch-button .switch-yesno:after
{
    content: 'NO';
    right: 4px;
    color: #4e4e4e;
}

.switch-button .switch-yesno span
{
    display: inline-block;
    left: 4px;
    color: #fff;
    z-index: 1;
}

.switch-button .switch-checkbox:checked + .switch-yesno span
{
    color: #4e4e4e;
}

.switch-button .switch-checkbox:checked + .switch-yesno:before
{
    left: 38px;
    background-color: #F44336;
}

.switch-button .switch-checkbox:checked + .switch-yesno:after
{
    color: #fff;
}

.switch-button .switch-checkbox:checked ~ .layer
{
    background-color: #fcebeb;
}

.switch-input-box{
	width: 60%;
    display: inline-block;
    padding-left: 8px;
}

.switch-input-box-small-100{
width: 100px;
	display: inline-block;
	padding-left: 8px;
}
/*Table Design*/
.table-striped
{
	width: 100%;
}
.table-striped th
{
	color: #fff;
    background-color: #3b6096;
    font-weight: 500 !important;
}
.table-striped td, .table-striped th{
	padding: 8px;
    vertical-align: top;
    /* border: 1px solid #dee2e6; */
}
/*.table-striped td:nth-last-child(1) {
  text-align: center;
}
.table-striped td:nth-last-child(2) {
  text-align: center;
}*/


.table-sort th.sort-icons:after{
    content:url('../images/icons/sort.png');
    position: absolute;
    right: 0;
}

.table-sort th {
    padding: 8px 18px 8px 8px;
    position: relative;
    cursor: pointer;
}

.table-sort tfoot {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.search-table{
	padding: 5px 22px 5px 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d8e3ec;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-image: url('../images/icons/search.png');
    background-position: 95%;
    background-repeat: no-repeat;
    max-width: 100px;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color:#fbfbfb;
}
.table-striped td:first-child, .table-striped th:first-child{
    border-left:1px solid #f1efef;
}
.table-striped td:last-child, .table-striped th:last-child{
    border-right:1px solid #f1efef;
}
.table-striped td, .table-striped th{
    border-left:1px solid #f1efef;
    border-bottom: 1px solid #f1efef;
}
.pagination{
	/*background-color: #eee;*/
	margin-bottom: 0px;
	margin-right: 2px;
}
.pagination li{

	margin: 10px 2px;
}
.pagination a{
	padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
}
.bg-pagination{
	/*background-color: #eee;	*/
    float: right;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
	    z-index: 2;
    color: #23527c;
    background-color: #3b6096;
    border-color: #ddd;
    color: #fff;
}
.pad-0{
	padding: 0px !important;
}
.margin-top-bottom-10{
	margin: 10px 0px;
}
.table-search {
    position: relative;
    float: left;
}

.table-search .form-control{
    border: 1px solid #e0e0ea;
    font-size: 13px;
    height: 34px;
    padding-left: 18px;
    padding-right: 40px;
    margin-right: 20px;
    background: #e0e0ea;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 30px;
    width: 200px;
}

.table-search button {
    position: absolute;
    top: 8px;
    right: 30px;
    display: block;
    color: #9ca8b3;
    font-size: 11px;
    border: none;
    background-color: transparent;
}
.body-search {
    background: #f4f7fe;
    color: #56667a;
    border: 1px solid rgba(123, 65, 216,0.1) !important;
    border-radius: 6px !important;
    margin-left: 18px;
}

.body-search:focus {
    background: #fff;
    color: #56667a;
}
/*Table Design*/


.inline-label{
	display: inline-block;
	padding:8px;
}
.inline-label:first-child{
	padding-left: 0!important;
}

.bold{
	font-weight: bold;

}

.drag-drop{
	border: 1px solid #ccc;
	padding:15px;
	width: 100%;
}

.drag-drop-add{
	background: #d2d2d2;
    display: inline-block;
    padding: 5px 5px 5px 10px;
    color: #292929;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.drag-add {
    padding-left: 5px;
    color: #008234;
}
.drag-drop-remove {
    background: #86c9ff;
    display: inline-block;
    padding: 5px 5px 5px 10px;
    color: #292929;
    cursor: pointer;
}
.drag-close{
	padding-left: 5px;
	color: #bd2130;
}

.div-center{
	margin: 0 auto;
    text-align: center;
}

.key-feature-section{
	display: inline-block;
	width: 100%;
}

.key-feature-multi{
	box-shadow: 0 0 5px #eaeaea;
	padding: 10px 5px;
}

.border-bottom{
	border-bottom: 1px solid #ccc;
}
.inline-box {
    display: inline-block;
    background:#0072ce;
    /*padding:5px 10px;
    color:#fff;
    margin-right:5px;*/

}
.inline-box a{
    padding:5px 10px;
    color:#fff;
    margin-right:5px;
    display: block;

}

.width-100{
	width: 100%;
}


.border-right{
	border-right: 1px solid #ccc;
}
.sele-theme{
	font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    background-color: #0072ce;
}

.user-details{
	display: flex;
	float: right;
}

.user-details li:after{
	content:'';
	width: 2px;
	height: 10px;
	background-color: #ccc;

}

.theme-selected{
	font-size: 18px;
	text-transform: uppercase;
	color: #0072ce;
}
.theme-drop{
	background: #f4f7fe;
    color: #56667a;
    border: 1px solid rgba(123, 65, 216,0.1) !important;
    height: 34px;
    margin-left: 10px;
   	padding-left: 5px;
   	border-radius: 5px;
    width: 200px;

}

.dropdown-item.active, .dropdown-item:active{
	background-color: transparent;
}

.tab-seo-content{
	background-color: transparent;
	text-align: left;
}

.seo-select-title{
	font-size: 20px;
}

.select-new{
	background: #fff;
    color: #56667a;
    border: 1px solid #ccc;
    height: 34px;
    margin-left: 10px;
    padding-left: 5px;
    border-radius: 5px;
    width: 200px;
}

.theme-btn {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 53px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0px 1px 1px #888;
}
.btn span.icon {
    font-size: 23px;
    background-color: #00967f;
    -webkit-box-shadow: 0 3px 0 0 #007261;
    box-shadow: 0 3px 0 0 #007261;
    text-shadow: 0px 1px 1px #888;
}
.btn span.left {
    float: left;
    border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
}

.btn span.icon, .btn span.title {
    display: block;
    position: relative;
    line-height: 50px;
    padding: 0 30px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.icon-gear:before, .icon-cog:before {
    content: "\f013";
}

.btn span.title {
    -webkit-box-shadow: 0 3px 0 0 #00ae94;
    box-shadow: 0 3px 0 0 #00ae94;
    background-color: #00cdae;
}

.btn.left span.arrow-right {
    left: 0;
    -webkit-box-shadow: -10px 0 0 0 #00967f, -10px 3px 0 0 #007261;
    box-shadow: -10px 0 0 0 #00967f, -10px 3px 0 0 #007261;
    border-left: 10px solid #00967f;
}

.btn span.arrow-left, .btn span.arrow-right {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    -webkit-transition: all 0.15s;
    -transition: all 0.15s;
    -webkit-transition-property: left, right;
    transition-property: left, right;
}



.footer {
	bottom: 0;
	text-align: center!important;
	padding: 19px 30px 20px;
	position: absolute;
	background-color: #f1f2f5;
	right: 0;
	left: 240px;
	font-family: Sarabun, sans-serif
}


.select-site-drop .dropdown-toggle{
	display: block;
	font-size: 18px;
    text-transform: uppercase;
    color: #0072ce;
}
.select-site-drop .dropdown-toggle:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: ""!important;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}




@media (min-width:768px) and (max-width:991px) {
	body {
		overflow-x: hidden
	}
}

@media (max-width:768px) {
	body {
		overflow-x: hidden
	}
	/*.topbar-left {
		width: 70px!important
	}*/
	.topbar-left span {
		display: none!important
	}
	.topbar-left i {
		display: block!important;
		line-height: 70px!important
	}
	.navbar-custom {
		margin-left: 70px;
	}
	.topbar .topbar-left {
		height: 70px
	}
	.content-page {
		margin-left: 0!important
	}
	.content-page .content {
		padding: 0
	}
	/*.enlarged .left.side-menu {
		margin-left: -70px
	}*/
	.footer {
		left: 0!important
	}
}

@media (max-width:480px) {
	.side-menu {
		z-index: 10!important
	}
	/*.button-menu-mobile {
		display: block
	}*/
	.navbar-custom {
		margin-left: 0!important
	}
	.account-page-full.wrapper-page {
		width: 100%;
		position: relative
	}
}

@media (max-width:419px) {
	/*.topbar-left {
		width: 70px!important
	}*/
	.content-page {
		margin-left: 70px
	}
	.enlarged .side-menu.left {
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1)!important;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .1)!important
	}
	/*.topbar-left {
		display: none
	}*/
}

@media (min-width:768px) {
	.enlarged .slimscroll-menu {
		overflow: inherit!important
	}
}



@media (min-width:1000px) and (max-width:1400px) {
	.col-lt{
		-ms-flex-preferred-size: 0;
	    flex-basis: 0;
	    -ms-flex-positive: 1;
	    flex-grow: 1;
	    max-width: 100%;
	}
	.col-lp-6{
		-ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
	}
}



.modal-lgg{
	max-width: 70%;
}

.modal-content{
	border: 0px solid transparent;
}

.modal-title{
	margin-top: 0;
	color: #fff;
}
.modal-header{
	padding: 5px 10px;
	background-color: #0072CE;
}
.close {
    color: #fff;
    opacity: 1;
}

.close:hover{
	color: #fff;
}

.modal-footer{
	padding: 8px 10px;
}
.modal-body .form-group{
	margin-bottom: 8px;
}


@media (max-width: 1500px){
	.modal-lgg{
	max-width: 80%;

}
}




#header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	padding: 10px 60px;
	background: #fff;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}



.banner-sec {
	overflow: hidden;
	position: relative;
	padding: 240px 0 0;
	height: 900px;
	background: #000 url(../images/img01.jpg) repeat fixed top right;
	background-size: cover;
}

.banner-sec .caption h2 {
	font-size: 34px;
	line-height: 48px;
	color: #fff;
	margin: 0 0 40px;
}

.banner-sec .caption {
	padding-top: 30px;
}

.banner-sec .banner-img {
	overflow: hidden;
}

.banner-sec .banner-img .img-ab {
	position: absolute;
	top: 20%;
	width: 617px;
	right: 230px;
	-webkit-animation: ab 3s linear infinite;
	animation: ab 3s linear infinite;
}

.banner-sec .banner-img .img-cd {
	overflow: hidden;
	position: absolute;
	bottom: 180px;
	right: 665px;
	width: 485px;
	-webkit-animation: cd 3s linear infinite;
	animation: cd 3s linear infinite;
}

.banner-sec .banner-img .img-ef {
	overflow: hidden;
	position: absolute;
	bottom: 170px;
	right: 110px;
	width: 209px;
	-webkit-animation: ef 3s linear infinite;
	animation: ef 3s linear infinite;
}

.banner-sec .banner-img .img-gh {
	overflow: hidden;
	position: absolute;
	bottom: 118px;
	right: 260px;
	width: 109px;
	-webkit-animation: ab 3s linear infinite;
	animation: ab 3s linear infinite;
}

.links-bar {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;

}

.feature-col {
    position: relative;
    display:block;
    margin-bottom:0;
    padding:0;
}


.feature-col li {
    position: relative;
    float: left;
    width: 25%;
    font-size: 20px;
    line-height: 30px;
    color: #848484;
    font-weight: 500;
    text-align: center;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: -1px;
}

.feature-col li a {
    color: #848484;
    display: block;
    padding: 30px 15px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.feature-col li img{
	width: 30px;
	margin-right: 10px;
}

.feature-col li a:hover {
    color: #ffffff;
    background-color: #2399f7;
    border-color: #2399f7;
}


@keyframes ab{
	0%
		{-webkit-transform: translateY(0);}
		{-ms-transform: translateY(0);}
		{transform: translateY(0);}
	50%
		{-webkit-transform: translateY(10px);}
		{-ms-transform: translateY(10px);}
		{transform: translateY(10px);}
	100%
		{-webkit-transform: translateY(0);}
		{-ms-transform: translateY(0);}
		{transform: translateY(0);}
	}
	@keyframes cd{
	0%
		{-webkit-transform: translateY(0);}
		{-ms-transform: translateY(0);}
		{transform: translateY(0);}
	50%
		{-webkit-transform: translateY(-10px);}
		{-ms-transform: translateY(-10px);}
		{transform: translateY(-10px);}
	100%
		{-webkit-transform: translateY(0);}
		{-ms-transform: translateY(0);}
		{transform: translateY(0);}
	}
	@keyframes ef{
	0%
		{-webkit-transform: translateX(0) translate(0);}
		{-ms-transform: translateX(0) translateY(0);}
		{transform: translateX(0) translateY(0);}
	50%
		{-webkit-transform: translateX(-10px) translateY(-10px);}
		{-ms-transform: translateX(-10px) translateY(-10px);}
		{transform: translateX(-10px) translateY(-10px);}
	100%
		{-webkit-transform: translateX(0) translate(0);}
		{-ms-transform: translateX(0) translateY(0);}
		{transform: translateX(0) translateY(0);}
	}
	@keyframes box-image-pop{
	0
		{-webkit-transform: scale(1);}
		{-ms-transform: scale(1);}
		{transform: scale(1);}
	50%
		{-webkit-transform: scale(1.15);}
		{-ms-transform: scale(1.15);}
		{transform: scale(1.15);}
	100%
		{-webkit-transform: scale(1);}
		{-ms-transform: scale(1);}
		{transform: scale(1);}
	}


@media (max-width: 1450px) {
	.banner-sec {
		padding: 300px 0 0;
		height: 800px;
	}
	.banner-sec .banner-img .img-ab {
		width: 500px;
		right: 180px;
		top: 30%;
	}
	.banner-sec .banner-img .img-ef {
		right: 60px;
		bottom: 50px;
	}
	.banner-sec .banner-img .img-cd {
		right: 535px;
		width: 425px;
		bottom: 70px;
	}
	.banner-sec .banner-img .img-gh {
		bottom: 38px;
	}
}

@media (max-width: 1199px) {
	.banner-sec {
		padding: 250px 0 0;
		height: 600px;
	}
	.banner-sec .banner-img .img-ab {
		width: 380px;
		right: 130px;
		top: 40%;
	}
	.banner-sec .banner-img .img-ef {
		right: 40px;
		width: 140px;
	}
	.banner-sec .banner-img .img-cd {
		right: 375px;
		width: 360px;
	}
	.banner-sec .banner-img .img-gh {
		bottom: 58px;
		right: 150px;
		width: 90px;
	}
}

@media (max-width: 1023px) {
	#header {
		padding: 10px 15px;
	}
	.banner-sec {
		padding: 170px 0 0;
		height: 850px;
	}
	.banner-sec .caption h2 {
		margin: 0 0 25px;
	}
}

@media (max-width: 767px) {
	.btn-primary {
		padding: 10px 15px;
	}
	.logo {
		margin: 8px 0 0;
		width: 90px;
	}
	.banner-sec {
		padding: 100px 0 0;
		height: 580px;
	}
	.banner-sec .caption h2 {
		font-size: 24px;
		line-height: 35px;
	}
	.banner-sec .banner-img {
		width: 320px;
		margin: 0 auto;
	}
	.banner-sec .banner-img .img-ab {
		width: 290px;
		right: 13px;
		top: 49%;
	}
	.banner-sec .banner-img .img-ef {
		right: 0;
		width: 100px;
		bottom: 10px;
	}
	.banner-sec .banner-img .img-gh {
		bottom: 48px;
		right: 90px;
		width: 70px;
	}
	.banner-sec .banner-img .img-cd {
		bottom: 0;
		width: 210px;
		right: 115px;
	}
}

/*Price Css*/

.price-section{
	display: inline-block;
	width: 100%;
}


.price-box{
	position: relative;
}

.price_table {
    width: 100%;
    float: left;
    padding: 0;
    margin: 20px 0 0 0;
    text-align: center;
    background-color: #fff;
   	border-top: 6px solid #2399f7;
   	border-radius: 7.5px;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    box-shadow: 0 0 5px #ccc;
    padding-bottom: 20px;
}

.price_table .title {
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    padding: 20px 0 20px 0;
    color: #272727;
    text-align: center;
    margin: 0px 0 10px 0;
    border-bottom: 1px solid #e6e5e5;
}

.price_table .price {
    color: #272727;
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
    padding: 8px 0px 8px;
    border-bottom: 1px solid #e6e5e5;
}
.plan_info{
	display: inline-block;
	width: 100%;

}

.w-clearfix:after, .w-clearfix:before {
    display: table;
}

.w-checkbox:after, .w-checkbox:before, .w-clearfix:after, .w-clearfix:before, .w-embed:after, .w-embed:before, .w-radio:after, .w-radio:before {
    content: " ";
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.price_table ul.plan_features {
    width: 100%;
    float: left;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
}

.price_table ul.plan_features li {
    width: 80%;
    color: #727272;
    text-align: center;
    padding: 8px 0;
    margin: 0 auto;
    border-bottom: 1px solid #e6e5e5;
    font-size: 15px;
}
.pricing-button-box {
    text-align: center;
}




.button.long-blue {
    display: flex;
    border-radius: 4px;
    background-color: #4353ff;
    width: 80%;
    margin:0 auto;
    min-width: auto;
    text-decoration: none;
    cursor: pointer;
}

.button-left-long {
    display: flex;
    width: 84%;
    line-height: 40px;
    padding-right: 24px;
    padding-left: 24px;
    float: left;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.button-right, .text-button {
    display: inline-block;
    color: #fff;
}

.button-right-long {
    display: inline-block;
    width: 50px;
    height: 100%;
    float: right;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #3a48e6;
    line-height: 40px;
}
.long-yellow{
background-color: #ffce27!important;
color: #000;
}
.long-yellow .text-button{
color: #000;
font-weight: 600;
}
.button-right-yellow{
background-color: #deb116;
}
.button-arrow{
	transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
	transform-style: preserve-3d;
	transition: all 0.5s ease;
	border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.button.long-blue:hover .button-arrow{
	transform: translate3d(3px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.check{
	color: #0A9E01;
	padding-right: 10px;
}
.un-check{
	color:#E10000;
	padding-right: 10px;
}

@media (max-width: 1200px){
	.button-left-long{
		padding: 0;
	}
}
@media (max-width: 991px){
.price-section .container{
	max-width: 100%
}
.button-right-long{
	width: 35px;
}
}

.open-search-popup {
    font-size: 13px;
    line-height: 15px;
    color: #747474;
    font-weight: 400;
    display: inline-block;
    vertical-align: bottom;
    padding: 0 10px;
    /*border-right: 1px #d0d0d0 solid;*/
    white-space: nowrap;
    display: none;
}

.open-search-popup .fa {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 24px;
    color: #2f2f2f;
    text-align: center;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
.search-box-li{
	position: relative;
}





/*Demo Page Css*/

.nav-tabs {
    border: none;
    display: block;
}

.nav-tabs, .nav-tabs li, .nav-tabs a, .nav-tabs ul {
    transition: 0.3s ease;
}
.nav-tabs li {
    float: none;
    display: inline-block;
    vertical-align: bottom;
}

.nav-tabs li a {
    border: none;
    color: #3D3D3D;
    background-color: #F9F9F9;
    font-size: 15px;
    line-height: 13px;
    padding: 15px 35px;
    margin: 0 3px;
    position: relative;
    display: block;
   	text-transform: uppercase;
}

.nav-tabs li.active a {
    margin-left: 0 !important;
    font-size: 19px;
    line-height: 20px;
    padding: 16px 45px;
    font-weight: 600;
}

.nav-tabs li.active a, .nav-tabs li.active a:focus {
    color: #fff !important;
    border: none !important;
}

.nav-tabs li.active a, .nav-tabs li.active a:focus {
    background-color: #59B210 !important;
}




/*Responsive css*/

@media (max-width: 1360px){
	.theme-side{
		display: none;
	}
	.theme-setting{
		max-width: 100%!important;
		-ms-flex: 0 0 100%;
    	flex: 0 0 100%;
	}
}

@media (max-width: 1250px){
.open-search-popup{
	display: block;
}
.search-box-popup {
    position: absolute;
    border: 1px #ebebeb solid;
    background: #fff;
    padding: 10px;
    width: 400px;
    top: 100%;
    left: auto;
    right: 0;
    display: none;
    opacity: 0;
}

.search-box-popup:before {
    width: 28px;
    height: 15px;
    position: absolute;
    content: "";
    background: url(../images/icons/search-angle.png);
    top: -15px;
    right: 30px;
}


.search-box-popup.active{
	display: block;
	opacity: 1;
}

.app-search .form-control{
	width: 100%;
}
.app-search button {
    top: 8px;
    bottom: 8px;
}
}

@media (max-width: 1200px){
	.btn-add-mobile{
		margin-left: 15px;
		margin-top: 10px;
	}
}

@media (max-width: 1100px){
	.create-site{
		display: none;
	}
}

@media (max-width: 991px){
	.user-details{
	display: inline-block;
	width: 100%;
    margin: 0 auto;
    float: none;
    margin-left: 10px;
}
.topbar .topbar-left .logo {
    line-height: 50px;
}
.topbar .topbar-left {
    height: 55px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    border-right: 0px solid transparent;
}


.app-search{
	margin-top: 0;
}
.open-search-popup .fa{
	line-height: 20px;
	height: auto;
}
.user-details li{
	float: left;
}
.user-details .lh-70{
	line-height: 20px;
}
.side-menu{
	top: 95px;
}
.content-page .content{
	margin-top: 95px;
}
.navbar-custom{
	margin-left: 10px;
}
.topbar .topbar-left{
	width: 100%;
}
.menu-left{
	position: absolute;
}
.search-box-popup{
	width: 300px;
}
li.user-drop{
	float: right;
}
li.search-box-li{
	float: right;
}
}

@media (max-width: 768px){
.content-page {
    margin-left: 0!important;
}
}
/*Admin*/
.path-admin .button{
	margin-left: 0em;
    margin-right:0em;
}
.path-admin .form-control{
margin-bottom: 12px;
}
/*End Admin*/
/*Login*/
.login-banner {
    background-image: url(../images/login_bg.png);
    background-color: #fff;
    background-position: center center;
    padding: 80px 0 120px 0;
}
.text-center {
    text-align: center;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none!important;
}
.login-form-block {
    margin: -80px 0 0;
    background: #fff;
    -webkit-box-shadow: 1px 5px 20px rgba(0,0,0,.5);
    box-shadow: 1px 5px 20px rgba(0,0,0,.5);
    padding: 30px;
}
.login-text h1 {
    margin: 0;
}
.login-content {
    margin-top: 30px;
}
.form-group.with-addon {
    position: relative;
}
.form-group {
    margin-bottom: 15px;
}
.form-group.with-addon .input-addon {
    color: #bbb;
    border-right: 1px solid #ddd;
    padding-right: 10px;
    position: absolute;
    top: 14px;
    left: 15px;
    z-index: 2;
}
.form-group.with-addon .input-addon+.form-control {
    padding-left: 50px;
    border-width: 1px;
    border-radius: 4px;
    height: 46px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-group.with-addon {
    position: relative;
}
.form-group {
    margin-bottom: 15px;
}
.login-button {
    /* margin-top: 10px; */
    background-color: #48b14c;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    font-family: Raleway,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgba(0,0,0,.1);
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
}
.sign-up-text {
    font-size: 16px;
    font-family: Roboto,Arial,sans-serif;
}
.text-muted {
    color: #98a6ad!important;
}
body.simplelogin {
    background-color: unset !important;
}
.simplelogin{
  width: 100%;
    display: unset !important;
    flex-wrap: unset !important;
    justify-content:unset !important;
    align-items: unset !important;
    background-repeat: unset !important;
    background-position:unset !important;
    background-size: unset !important;
    -ms-background-size:unset !important;
    -o-background-size: unset !important;
    -moz-background-size:unset !important;
    -webkit-background-size: unset !important;
    background-attachment:unset !important;
    position: unset !important;
}
.path-user input#edit-submit{
      background-color: #48b14c;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    font-family: Raleway,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgba(0,0,0,.1);
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    border: none;
}
.path-user input[type=password],.path-user input[type=text]{

    font-size: 14px;
    border-width: 1px;
    border-radius: 4px;
    background-color: #fff;

}
.simplelogin h1{
  font-size: 36px;
    color: #545454;
    font-family: inherit;


}
@media screen and (max-width: 1000px){
.path-user .button {
     width: unset !important;
     height: unset !important;
     position:unset !important;
     right: unset !important;
     top: -56px;
     cursor: unset !important;
     z-index: unset !important;
}
}
input#edit-mail,input#edit-user-picture-0-upload{
  font-size: 14px;
    border-width: 1px;
    border-radius: 4px;
    height: 46px;
    background-color: #fff;
}
.path-user input#edit-user-picture-0-upload{
height: auto;
  }
.form-composite > .fieldset-wrapper > .description, .form-item .description {
    /* font-size: 14px; */
    font: 400 13px 'Open Sans', sans-serif;
    line-height: 18px;
}
.path-user input[type=checkbox],.path-user input[type=radio] {
    margin: -5px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
.simplelogin summary{
  font: 400 13px 'Open Sans', sans-serif !important;
}
.path-user optgroup, .path-user select, .path-user textarea {
    color: inherit;
    font-size: 15px;
    margin: 0;
}
.simplelogin .form-item label, .path-user .simplelogin .form-wrapper .label{
      font-size: 14px !important;
}
.path-user .block{
  width: 100% !important;
}
/*End Login*/

/*popup confirm delete */
.modal-confirm {
    color: #636363;
    width: 400px;
  }
  .modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
        text-align: center;
    font-size: 14px;
  }
  .modal-confirm .modal-header {
    border-bottom: none;
        position: relative;
  }
  .modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
  }
  .modal-confirm .close {
        position: absolute;
        top: 8px;
        right: 15px;
        color: #ccc;
  }
  .modal-confirm .modal-body {
    color: #999;
  }
  .modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
  }
  .modal-confirm .modal-footer a {
    color: #999;
  }
  .modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
  }
  .modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
  }
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
        line-height: normal;
    min-width: 120px;
        border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
    outline: none !important;
    }
  .modal-confirm .btn-info {
        background: #c1c1c1;
    }
    .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
        background: #a8a8a8;
    }
    .modal-confirm .btn-danger {
        background: #f15e5e;
    }
    .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
        background: #ee3535;
    }
  .trigger-btn {
    display: inline-block;
  }
  .cclr{
    color: #1e304b;
  }
  .svv{
    display: block;
  }
	.theme-name{
	  font-weight: 600;
	  font-size: 25px;
	  margin-bottom: 10px;
	  line-height: 22px;
	  font-family: Raleway;
	  color: #2171b9;
	}

	.theme-box-content{
	  padding: 10px 20px;
	}


	.theme-text{
	  font-size: 18px;
	  margin-bottom: 10px;
	  line-height: 22px;
	  font-family: Raleway;

	}

	/*.normal-text{
	  font-family: Roboto;
	  line-height: 23px;
	  font-size: 15px;
	}*/
	.listing-style{
	    padding-left: 15px;
	}
	.listing-style li{
	 font-family: Roboto;
	  line-height: 23px;
	  font-size: 15px;
	  padding: 5px 0;

	}
	.listing-style li:before{
	  content: '\f101';
	  font-family: FontAwesome;
	  padding-right: 10px;

	}


	.image-bg {
	    background-image: url(../images/bg-macbook.png);
	    width: 100%;
	    height: 340px;
	    display: inline-block;
	    position: relative;
	    background-repeat: no-repeat;
	}

	.image-bg .image-shop-scroll {
	    background-position: center 0;
	    background-repeat: no-repeat;
	    position: absolute;
	    width: 405px;
	    height: 255px;
	    top: 32px;
	    left: 79px;
	}


	.image-bg .image-shop-scroll {
	    transition: background 5s ease-out 0s;
	    -webkit-transition: background 5s ease-out 0s;
	    -moz-transition: background 5s ease-out 0s;
	    -ms-transition: background 5s ease-out 0s;
	    -o-transition: background 5s ease-out 0s;
	}

	.image-bg:hover .image-shop-scroll {
	    background-position: center 100%!important;
	}

	.image-bg-desktop{
	   background-image: url(../images/desktop.png);
	    width: 100%;
	    height: 340px;
	    display: inline-block;
	    position: relative;
	    background-repeat: no-repeat;
	}

	.image-bg-desktop .image-shop-scroll {
	    background-position: center 0;
	    background-repeat: no-repeat;
	    position: absolute;
	    width: 324px;
	    height: 181px;
	    top: 13px;
	    left: 12px;
	}


	.image-bg-desktop .image-shop-scroll {
	    transition: background 5s ease-out 0s;
	    -webkit-transition: background 5s ease-out 0s;
	    -moz-transition: background 5s ease-out 0s;
	    -ms-transition: background 5s ease-out 0s;
	    -o-transition: background 5s ease-out 0s;
	}

	.image-bg-desktop:hover .image-shop-scroll {
	    background-position: center 100%!important;
	}


	.current-theme{
	  margin: 20px 0;
	  background: transparent url(../images/demo_wrap.png) top center no-repeat;
	    background-size: 100% 18px;
	    border: 1px solid #f1f1f1;
	    border-radius: 3px;
	    display: block;
	    padding-top: 18px;
	    margin-bottom: 25px;
	}

	.current-theme .current-theme-item {
	    display: block;
	    width: 100%;
	    height: 300px;
	    position: relative;
	    background-position: top center;
	    background-repeat: no-repeat;
	    background-size: 100% auto;
	    border-radius: 0 0 3px 3px;
	    -webkit-transition: all 0.8s linear 0s;
	    -moz-transition: all 0.8s linear 0s;
	    -o-transition: all 0.8s linear 0s;
	    transition: all 0.8s linear 0s;
	}

	/*.current-theme-item .image {
	    display: block;
	    position: relative;
	    transition: all 0.3s ease 0s;
	}
	*/
	.current-theme:hover .current-theme-item {
	        background-position: center bottom;
	    -webkit-transition: all 2s linear 0s;
	    -moz-transition: all 2s linear 0s;
	    -o-transition: all 2s linear 0s;
	    transition: all 2s linear 0s;
	}



	.catapult-item {
	    background-color: #fff;
	    position: relative;
	    box-shadow: 0 0px 8px 0 rgba(60, 60, 60, 0.21);
	    margin-top: 20px;
	    transition: .5s;
	    -webkit-transition: .5s;
	    border: 1px solid #d8d6d6;
	}

	.catapult-item:hover {
	    box-shadow: 0 0 0 0 rgba(135,152,164,0.3);
	}

	.catapult-item > a {
	    position: relative;
	    display: block;
	    overflow: hidden;
	    height: 200px;

	}

	.catapult-item img {
	    width: 100%;
	    padding: 5px 6px 0;
	    transform: scale(1);
	    -webkit-transform: scale(1);
	    transition: .6s;
	    -webkit-transition: .6s;
	}

	.catapult-item img:hover {
	    transform: scale(1.1);
	    -webkit-transform: scale(1.1);
	}

	.catapult-item-caption {
	    padding: 10px;
	}

	.catapult-item-caption h5 {
	    font-size: 16px;
	    margin-bottom: 10px;
	    font-weight: 600;
	}

	.catapult-item-caption h3 a {
	    display: block;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    color: #333;
	}


	.catapult-item-author-ctg {
	    color: #333;
	    font-size: 13px;
	}

	.catapult-item-author-ctg span {
	    color: #848484;
	    font-weight: 600;
	    text-transform: capitalize;
	}

	.catapult-item-author-ctg a {
	    color: #848484;
	    font-weight: 600;
	    text-transform: capitalize;
	}

	.catapult-sales-count {
	    font-weight: 700;
	    display: inline-block;
	    width: 49%;
	    font-size: 15px;
	    color: #222;
	}

	.catapult-item-author-ctg a:hover {
	    color: #1754fa;
	}

	.catapult-item-author-ctg span:hover{
	  color: #1754fa;
	}


	.catapult-preview {
	    background: #e5e5e5;
	    display: block;
	    padding: 10px 0px;
	    color: #333;
	    font-weight: 600;
	    text-align:center;
	}
	.catapult-preview:hover{
	  color: #333;
	}

	.catapult-foot-right {
	  display: inline-block;
	  width: 50%;
	}


	.catapult-buy-now {
	    display: inline-block;
	    color: #fff;
	    background: #0a9e46;
	    font-size: 15px;
	    padding: 10px 0px;
	    font-weight: 600;
	    width: 100%;
	    text-align: center;
	}


	.catapult-buy-now:hover {
	    background: #2EBD65;
	    color: #fff;
	}

  /*end of confirm delete */


	      /* Outer */
	.popup {
		width:100%;
		height:100%;
		display:none;
		position:fixed;
		top:0px;
		left:0px;
		background:rgba(0,0,0,0.75);
	  z-index: 999;
	}

	/* Inner */
	.popup-inner {
		max-width:700px;
		width:90%;
		padding:40px;
		position:absolute;
		top:50%;
		left:50%;
		-webkit-transform:translate(-50%, -50%);
		transform:translate(-50%, -50%);
		box-shadow:0px 2px 6px rgba(0,0,0,1);
		border-radius:3px;
		background:#fff;
	}

	/* Close Button */
	.popup-close {
		width:30px;
		height:30px;
		padding-top:4px;
		display:inline-block;
		position:absolute;
		top:0px;
		right:0px;
		transition:ease 0.25s all;
		-webkit-transform:translate(50%, -50%);
		transform:translate(50%, -50%);
		border-radius:1000px;
		background:rgba(0,0,0,0.8);
		font-family:Arial, Sans-Serif;
		font-size:20px;
		text-align:center;
		line-height:100%;
		color:#fff;
	}

	.popup-close:hover {
		-webkit-transform:translate(50%, -50%) rotate(180deg);
		transform:translate(50%, -50%) rotate(180deg);
		background:rgba(0,0,0,1);
		text-decoration:none;
	}

	.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
	.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
	.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
	.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
	.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
	.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
	.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
	.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
	.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
	.file-upload .file-select.file-select-disabled{opacity:0.65;}
	.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
	.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
	.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
	.file-upload_2{
	    display: block;
	    text-align: center;
	    font-size: 12px;
	    margin-top: 25px;
	    border: none;
	}
	.file-upload_2 button{
	    border: none;
	    color: #fff;
	    background: #2399f7;
	    border-radius: 5px;
	    padding: 8px 12px;
	    font-size: 14px;
	}
